{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Paracetamol: other treatment options</h2>

      <p>Paracetamol is safe and effective but there are several other types of painkiller that you may be able to use instead of it including:</p>

      <ul>
        <li>non-steroidal anti-inflammatory drugs (NSAIDs), such as ibuprofen</li>
        <li>opioid analgesics, such as codeine</li>
      </ul>

      <p>Some NSAIDs have the advantage of being available as creams or gels which may be a good choice if you have aches and pains in a specific part of your body, for instance joint pain or back or muscle strain.</p>

      <p>As some painkillers that are an alternative to paracetamol are only available by prescription, it may be worth talking to your doctor or pharmacist about the best choices for you.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/treatment-options">
            <span class="prefix">Previous page:</span>
            <span class="title">Other treatment options</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
