<section class="u-section-separator">
  <h2 id="cautions" class="content__h2">Cautions with other medicines</h2>
  <p>Some medicines can interfere with the way salbutamol works.</p>
  <p>If you're taking other prescribed medicines that do not mix well with salbutamol your doctor will decide whether the benefits of taking both medicines outweighs the risks.</p>
  <h3>Mixing salbutamol with herbal remedies or supplements</h3>
  <p>There are no known problems with taking herbal remedies and supplements with salbutamol.</p>
  <p>However, for safety, speak to your pharmacist before taking any herbal or alternative remedies.</p>
  <p><span class="alertbanner">Tell your doctor and pharmacist if you're taking any other medicines including herbal remedies or supplements.</span></p>
</section>
