<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>How does salbutamol work?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Salbutamol is a type of medicine called a bronchodilator. It works by relaxing the muscles of the airways into the lungs which makes it easier to breathe.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>How long does salbutamol take to work?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>When you take a puff of your salbutamol inhaler it works almost straight away to make your breathing easier. It carries on working for about 5 hours.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>How long will I need to take to use my salbutamol inhaler for?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>Most people will use salbutamol for many years.</p>
          <p>Once your breathing is better, it may be possible for you or your child to use salbutamol less often.</p>
          <p>But you should always have your salbutamol inhaler with you so you can use it as soon as you have breathing problems.</p>
          <p>Don't stop taking salbutamol unless your doctor tells you to. If you stop taking salbutamol your breathing problems could get worse.</p>
          <p><span class="alertbanner">Even if you only have to use salbutamol occasionally, keep your inhaler with you all the time in case you have a sudden attack.</span></p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Is it safe to use a salbutamol inhaler for a long time?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>Salbutamol is a very safe medicine. There's no evidence that it does any lasting damage to your body even if you use it for many years.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Do I need to keep a salbutamol diary?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>It's a good idea to keep a diary of how often you need to use your salbutamol inhaler. That way you can discuss how it's helping your asthma or COPD with your doctor or nurse.</p>
          <p>Keeping a diary will also help you know when to order a replacement inhaler. Some inhalers contain a fixed number of 200 doses and it's not always obvious when they are empty.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol with it?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>Yes, you can drink alcohol with salbutamol.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Can I smoke if I use a salbutamol inhaler?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>Try not to smoke. Smoking irritates the lungs and will make your breathing problem worse.</p>
          <p>Speak to your doctor, nurse or pharmacist if you're finding it hard to stop smoking. There is help available on the NHS.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>Can I drive or ride a bike?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>Salbutamol can make you feel dizzy or shaky. If this happens, do not drive, cycle or use tools or machinery until you feel better.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>Are there other inhalers?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>Salbutamol is a type of medicine called a bronchodilator.</p>
          <p>Almost everyone who has asthma or COPD is prescribed a bronchodilator inhaler or 'reliever' inhaler to help their breathing.</p>
          <p>There are two main bronchodilators:</p>
          <ul>
            <li>salbutamol</li>
            <li>terbutaline</li>
          </ul>
          <p>Salbutamol and terbutaline work as well as each other. However, the inhalers may look different.</p>
          <p>If you have difficulty using a salbutamol inhaler talk to your doctor. Switching to a terbutaline inhaler may be an option for you.</p>
        </div>
      </details>

    </div>
  </div>
</section>
