<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">Coping with side effects</h2>
  <p>Some of the common side effects of salbutamol will gradually improve as your body gets used to it.</p>
  <ul>
    <li><strong>feeling shaky</strong> - see if your asthma or COPD symptoms get better with just 1 puff of your inhaler rather than 2. If you find you need 2 puffs for symptom relief, be reassured that the shakiness will wear off after a short time.</li>
    <li><strong>dizziness</strong> - if salbutamol makes you feel dizzy when you stand up, try getting up very slowly or staying sitting down until you feel better again</li>
  </ul>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
