<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">How to cope with side effects</h2>
  <p>Some of the common side effects of salbutamol will gradually improve as your body gets used to it.</p>
  <h3>What to do about feeling shaky</h3>
  <p>See if your asthma or COPD symptoms get better with just one puff of your inhaler rather than two. If you find you need two puffs for symptom relief, be reassured that the shakiness will wear off after a short time.</p>
  <h3>What to do about dizziness</h3>
  <p>If salbutamol makes you feel dizzy when you stand up, try getting up very slowly or staying sitting down until you feel better again.</p>
  <h3>Be careful when you drive or use tools or machines:</h3>
  <p>if you get side effects such as dizziness, a fast or uneven heart rate, muscle cramps or muscle pain, or if you simply feel a bit shaky, rest until these symptoms pass.</p>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
