<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>Only use your salbutamol when you need it. This may be when you notice symptoms, such as coughing, wheezing, shortness of breath and tightness in the chest or you know that you are going to do an activity that can make you breathless, for example climbing stairs or sport. You should feel a difference to your breathing within a few minutes.</p>
  <p>The normal way for adults and children to use their inhaler is:</p>
  <ul>
  <li>1 or 2 puffs of salbutamol when you need it</li>
  <li>up to a maximum of <strong>4<span class="strong"> times</span></strong> in 24 hours (regardless of whether you have 1 puff or 2 puffs at a time)</li>
  </ul>
  <section class="callout callout--diagram clear">
    <div class="callout__col callout__col--float callout__col--full u-align-centre">
      <div class="callout--diagram__box">
        <img src="/public/images/inhaler-icon.svg" class="inhaler__img" alt="inhaler">
        <p><strong>1 puff</strong></p>
      </div>
    </div>
    <div class="callout__col callout__col--float callout__col--float__middle">
      <p class="u-margintop40"><strong>OR</strong></p>
    </div>
    <div class="callout__col callout__col--float callout__col--full u-align-centre">
      <div class="callout--diagram__box">
        <img src="/public/images/inhaler-icon.svg" class="inhaler__img" alt="inhaler">
        <img src="/public/images/inhaler-icon.svg" class="inhaler__img" alt="inhaler">
        <p><strong>2 puffs</strong></p>
      </div>
    </div>
    <p class="icon-clock-bg u-clear">Up to a maximum of <strong>4</strong> times in 24 hours</p>
  </section>

  <p>Salbutamol is sometimes prescribed to prevent breathing symptoms happening in the first place. This could be before a trigger such as exercise or pets. In this situation, the normal dose is still 1 or 2 puffs at a time.</p>
  <p>In a sudden <a href="http://www.nhs.uk/Livewell/asthma/Pages/Asthmaattacks.aspx" class="link__external">serious asthma attack</a> you can take more salbutamol, up to 10 puffs, but you should wait 30 seconds and always shake the inhaler between doses. You can repeat this dose 10 minutes later.</p>
  <p>Asthma attacks can get worse very quickly. If you or your child are struggling to breathe or have asthma symptoms that are not getting better, go to hospital immediately or call an ambulance.</p>
  <p>If you need to use your inhaler more than 4 times in 24 hours:</p>
  <ul>
    <li>it may mean that your health problem is getting worse and that you need different treatment</li>
    <li>you are more likely to get side effects such as increased heart rate, jitteriness, nervousness and headaches</li>
  </ul>
  <div class="alertbanner">
    <p>Make an appointment to see your doctor, pharmacist or nurse if you need to use your inhaler:</p>
    <ul>
      <li>more than 4 times in 24 hours</li>
      <li>more than 2 days of each week</li>
      <li>in the middle of the night at least once a week</li>
    </ul>
  </div>
  <h3>What if I take too much?</h3>
  <p>You may notice that your heart beats more quickly than normal and that you feel shaky. These side effects usually pass within 30 minutes or a few hours at most and are not dangerous.</p>
  <h3>Serious asthma attacks</h3>
  <p>Salbutamol can be given through a nebuliser to treat severe asthma attacks. A nebuliser is a machine that delivers the medicine as a mist inhaled through a face mask. This will probably be given to you by your doctor.</p>
</section>
