<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>Use your salbutamol inhaler as soon as you notice breathing symptoms, such as coughing, wheezing, shortness of breath and tightness in the chest. You should feel a difference to your breathing within a few minutes.</p>
  <p>The normal way for adults and children to use their inhaler is:</p>
  <ul>
    <li>1 or 2 puffs of salbutamol when you need it</li>
    <li>up to a maximum of <strong>4 times</strong> in 24 hours (regardless of whether you have 1 puff or 2 puffs at a time)</li>
  </ul>


  <section class="callout callout--diagram clear">
    <div class="callout__col callout__col--float callout__col--full u-align-centre">
      <div class="callout--diagram__box">
        <img src="/public/images/inhaler-icon.svg" class="inhaler__img" alt="inhaler">
        <p><strong>1 puff</strong></p>
      </div>
    </div>
    <div class="callout__col callout__col--float callout__col--float__middle">
      <p class="u-margintop40"><strong>OR</strong></p>
    </div>
    <div class="callout__col callout__col--float callout__col--full u-align-centre">
      <div class="callout--diagram__box">
        <img src="/public/images/inhaler-icon.svg" class="inhaler__img" alt="inhaler">
        <img src="/public/images/inhaler-icon.svg" class="inhaler__img" alt="inhaler">
        <p><strong>2 puffs</strong></p>
      </div>
    </div>
    <p class="icon-clock-bg u-clear">Up to a maximum of <strong>4</strong> times in 24 hours</p>
  </section>

  <p>Salbutamol is sometimes prescribed to prevent breathing symptoms happening in the first place. This could be before a trigger such as exercise or pets. In this situation, the normal dose is still 1 or 2 puffs at a time.</p>
  <p>In a sudden, <a href="http://www.nhs.uk/Livewell/asthma/Pages/Asthmaattacks.aspx" class="link__external">serious asthma attack</a> you can take a larger dose of salbutamol of up to 10 puffs (waiting 15 to 30 seconds between puffs). You can repeat this dose 10 minutes later.</p>
  <p><span class="alertbanner">Asthma attacks can get worse very quickly. If you or your child are struggling to breathe or have asthma symptoms that are not getting better, go to hospital immediately or call an ambulance.</span></p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-how-when" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoHowWhen|default('More information') }}</span>
    </summary>
    <div id="details-content-how-when" aria-hidden="false">
      <p>If you need to use your inhaler more than 4 times in 24 hours:</p>
      <ul>
        <li> it probably means that your health problem is getting worse and that you may need additional treatment.</li>
        <li>you are more likely to get side effects such as increased heart rate, jitteriness, nervousness and headaches</li>
      </ul>
      <div class="alertbanner">
        <p>Make an appointment to see your doctor or nurse if you need:</p>
        <ul>
          <li>to use your inhaler more than 4 times in 24 hours</li>
          <li>more than 8 puffs of your inhaler in 24 hours</li>
          <li>to use your inhaler on more than 2 days of each week</li>
          <li>to use your inhaler in the middle of the night at least once a week</li>
        </ul>
      </div>
      <h3>What if I take too much?</h3>
      <p>You may notice that your heart beats more quickly than normal and that you feel shaky. These side effects usually pass within a few minutes or a few hours at most and are not dangerous.</p>
      <h3>Serious asthma attacks</h3>
      <p>Salbutamol can be given through a nebuliser to treat severe asthma attacks. A nebuliser is a machine that delivers the medicine as a mist inhaled through a face mask.</p>
      <h3>Salbutamol tablets and syrup</h3>
      <p>Salbutamol tablets or syrup don't work as quickly as an inhaler so you need to take them regularly to keep your airways open.</p>
    </div>
  </details>
</section>
