<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Salbutamol is used to relieve symptoms of <a href="http://www.nhs.uk/conditions/Asthma/Pages/Introduction.aspx" class="link__external">asthma</a> and <a href="http://www.nhs.uk/conditions/Chronic-obstructive-pulmonary-disease/Pages/Introduction.aspx" class="link__external">COPD</a> such as coughing, wheezing and feeling breathless. <span class="_Tgc">It works by relaxing the muscles of the airways into the lungs which makes it easier to breathe.</span></p>
  <p>Salbutamol comes in an inhaler (puffer). It's called a 'reliever' inhaler because it immediately relieves breathing problems. Salbutamol inhalers are usually blue.</p>
  <p>Salbutamol is sometimes given as tablets, capsules or syrup for people who can't use an inhaler very well.</p>
  <p>This medicine is available only on prescription.</p>
</section>
