<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Salbutamol is a medicine used to relieve symptoms of <a href="http://www.nhs.uk/conditions/Asthma/Pages/Introduction.aspx" class="link__external">asthma</a> and <a href="http://www.nhs.uk/conditions/Chronic-obstructive-pulmonary-disease/Pages/Introduction.aspx" class="link__external">COPD</a> such as coughing, wheezing and feeling breathless.</p>
  <p>Salbutamol is available only on prescription.</p>
  <p>It usually comes as an inhaler. It's sometimes given as tablets, capsules or syrup for people who can't use an inhaler very well.</p>
  <p>Salbutamol inhalers can be called by brand names including Airomir, Asmalal, Easyhaler, Pulvinal, Salamol, Easi-Breathe, Salbulin and Ventolin.</p>
</section>
