<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Salbutamol inhalers are safe and effective with few side effects if you use them properly.</li>
    <li>Salbutamol inhalers are called 'reliever' inhalers - they give you immediate relief from breathing problems.</li>
    <li>Adults and children can have 1 or 2 puffs of a salbutamol inhaler when they need it up to a maximum of 4 times in 24 hours.</li>
    <li>Salbutamol is safe to use in pregnancy and while breastfeeding.</li>
    <li>Common brand names for salbutamol inhalers include Airomir, Asmalal, Easyhaler, Pulvinal, Salamol, Easi-Breathe, Salbulin and Ventolin.</li>
  </ul>
</section>
