<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Salbutamol usually comes in a blue inhaler.</li>
    <li>Salbutamol inhalers are safe and effective with few side effects if used properly.</li>
    <li>Using a salbutamol inhaler gives you on-the-spot fast relief from breathing problems.</li>
    <li>Adults and children can have 1 or 2 puffs of a salbutamol inhaler up to a maximum of 4 times in 24 hours.</li>
    <li>Salbutamol is safe to use in pregnancy and while breastfeeding.</li>
  </ul>
  <p><span class="infobanner">Check the leaflet inside your medicine packet for information about the brand that you are taking.</span></p>
</section>
