<section class="u-section-separator">
  <h2 id="more" class="content__h2">More about salbutamol</h2>
  <div class="concertinas">
    <details role="group">
      <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
        <h3>How salbutamol works</h3>
      </summary>
      <div id="more-1" aria-hidden="true">
        <p>Salbutamol works by relaxing muscle spasm in the airways of the lungs. This opens up the airways to let air into the lungs more easily.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
        <h3>Taking salbutamol for a long time</h3>
      </summary>
      <div id="more-2" aria-hidden="true">
        <p>Salbutamol is a very safe medicine. There's no evidence that it does any lasting damage to your body even if you use it for many years.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
        <h3>Coming off salbutamol</h3>
      </summary>
      <div id="more-3" aria-hidden="true">
        <p>Don't stop taking salbutamol unless your doctor tells you to.</p>
        <p>If you stop taking salbutamol your breathing problems could get worse.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
        <h3>Keep a salbutamol diary</h3>
      </summary>
      <div id="more-5" aria-hidden="true">
        <p>It's a good idea to keep a diary of how often you need to use your salbutamol inhaler. That way you can discuss how it's helping your asthma or COPD with your doctor or nurse.</p>
        <p>Keeping a diary will also help you know when to order a replacement inhaler. Some inhalers contain a fixed number of 200 doses and it's not always obvious when they are empty.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
        <h3>Other treatment options</h3>
      </summary>
      <div id="more-6" aria-hidden="true">
        <p>Almost everyone that has asthma or COPD will be prescribed a bronchodilator medicine to help their breathing.</p>
        <p>There are two main bronchodilators:</p>
        <ul>
          <li>salbutamol</li>
          <li>terbutaline</li>
        </ul>
        <p>Salbutamol and terbutaline are very similar in terms of how well they work and their safety but there may be differences in the kind of inhalers they come in.</p>
        <p>If you have difficulty using a salbutamol inhaler talk to your doctor. Switching to a terbutaline inhaler may be an option for you.</p>
      </div>
    </details>

  </div>
</section>
