<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>Salbutamol is generally considered safe to use in pregnancy and while breastfeeding.</p>
  <p>If you have asthma, your doctor will most likely recommend that you continue to use your salbutamol inhaler during pregnancy to keep your asthma under control.</p>
  <p>The risks of having serious asthma attacks during pregnancy are much worse than the risks of using salbutamol. Asthma attacks in pregnancy can prevent your baby from getting enough oxygen.</p>
  <p><span class="alertbanner">Tell your doctor if you are trying to get pregnant or become pregnant to discuss your asthma medicine.</span></p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-pregnancy" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoPregnancy|default('More information') }}</span>
    </summary>
    <div id="details-content-pregnancy" aria-hidden="false">
      <h3>Salbutamol and breastfeeding</h3>
      <p>Salbutamol may pass into breast milk in very small amounts.</p>
      <p>In general though, you can use your salbutamol inhaler as normal while you're breastfeeding. The amount of medicine that passes into breast milk is so small that it's unlikely to harm the baby.</p>
      <p>However, for safety, talk to your doctor if you want to breastfeed while taking salbutamol.</p>
    </div>
  </details>

</section>
