<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Salbutamol is a safe and very effective medicine if you use it properly. It has very few side effects.</p>
  <h3>Common side effects</h3>
  <p>More than one in 100 people have these side effects after taking 1 or 2 puffs of their inhaler:</p>
  <ul>
    <li>feeling shaky</li>
    <li>faster heartbeat for a short while</li>
    <li>headache</li>
    <li>muscle cramps</li>
  </ul>
  <p>These side effects aren't dangerous. They should soon go away.</p>
  <p>Contact your doctor if these or any other side effects bother you or don’t go away.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-side-effects" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoSideEffects|default('More information') }}</span>
    </summary>
    <div id="details-content-side-effects" aria-hidden="false">
      <h3>Serious side effects</h3>
      <p>It happens rarely, but some people may have very serious side effects when taking salbutamol.</p>
      <p><span class="strong">Tell a doctor straight away if you develop:</span></p>
      <ul>
        <li>low potassium levels: warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that doesn't feel normal</li>
        <li>very bad dizziness or passing out</li>
        <li>chest pain, a fast heartbeat or a heartbeat that doesn't feel normal</li>
        <li>very bad headache</li>
      </ul>
      <h4>Serious allergic reaction</h4>
      <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx" class="link__external">serious allergic reaction</a> are:</p>
      <ul>
        <li>skin rash</li>
        <li>wheezing</li>
        <li>tightness in the chest or throat</li>
        <li>having trouble breathing or talking</li>
        <li>unusual hoarseness</li>
        <li>swelling of the mouth, face, lips, tongue or throat</li>
      </ul>
      <p><span class="infobanner">These are not all the side effects of salbutamol. For a full list see the leaflet inside your medicine packet.</span></p>
    </div>
  </details>
</section>
