<section class="u-section-separator">
  <h2 id="taking-with-others" class="content__h2">Taking salbutamol with other medicines</h2>
  <p>Some medicines can interfere with the way salbutamol works.</p>
  <p>If you're taking other prescribed medicines that may not mix well with salbutamol your doctor will decide whether the benefits of taking both medicines outweighs the risks.</p>
  <h3>Mixing salbutamol with herbal remedies or supplements</h3>
  <p>There are no known problems with taking herbal remedies and supplements with salbutamol.</p>
  <p>For safety, speak to your pharmacist before taking taking any herbal or alternative remedies.</p>
  <p><span class="alertbanner">Tell your doctor and pharmacist that you're taking any other medicines, including herbal remedies or supplements, before starting salbutamol.</span></p>
</section>
