<section class="u-section-separator">
  <h2 id="using-inhaler" class="content__h2">Using your inhaler</h2>
  <p>Your salbutamol inhaler works quickly to make your breathing easier.</p>
  <p>It's important that you get the most from your inhaler so you should have your technique checked regularly.</p>
  <h2>Using the inhaler properly</h2>
  <p>Inhalers can be difficult to use and mistakes in the technique can mean very little of it gets into your lungs where you need it. Before using your inhaler, read the manufacturer's printed information leaflet from inside the pack. This leaflet gives you information and diagrams to show you how to use the inhaler, how to keep it clean, and how long to use it before getting a replacement.</p>
  <p>It's very important that you use your <span class="strong">inhaler properly</span> so you <span class="strong">get the right amount of salbutamol into your lungs and the most benefit from it</span>.</p>
  <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/FqztOZLqFhE?rel=0" frameborder="0" allowfullscreen=""></iframe></div>
  <div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/fZPS_w54rfY?rel=0" frameborder="0" allowfullscreen=""></iframe></div>
  <p><span class="alertbanner">If you're not sure how to use your inhaler, or you have not had your technique checked for a year, ask your doctor, pharmacist or nurse to watch you use it.</span></p>
  <h3>Using a spacer with the inhaler</h3>
  <p>If you or your child find it difficult to use an inhaler, your doctor may give you a spacer to use with it.</p>
  <p>A spacer is a large metal or plastic container with a mouthpiece and a hole for the inhaler. When used with the inhaler it makes it easier to get the right amount of salbutamol into the lungs.</p>
  <p>Spacers are especially useful for giving salbutamol to young children. </p>
  <p>Your doctor, pharmacist or nurse can show you how to use a spacer with the inhaler.</p>
</section>
