<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take salbutamol</h2>
  <p>Salbutamol can be taken by adults and children.</p>
  <p>Salbutamol isn't suitable for people with certain health problems.</p>
  <p><strong>Check with your doctor before starting salbutamol if you:</strong></p>
  <ul>
    <li>have an allergy to another type of medicine</li>
    <li>take other medicines including ones you buy from a pharmacy, herbal remedies or supplements</li>
    <li>have a rare inherited digestive disorder of galactose intolerance, the Lapp lactase deficiency or glucose-galactase maladsorption. This is because many salbutamol products contain lactose. You should not have lactose if you have these illnesses. The amount of lactose in salbutamol products is too small to be a problem for people with lactose intolerance</li>
  </ul>
</section>
