{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="index">Citalopram</h1>
      <ul class="list-nav list-nav-bullets">
        <li><a href="/citalopram/side-effects">Side effects</a>
        <li><a href="/citalopram/how-to-take-it">How to take it</a>
        <li><a href="/citalopram/dosage">Dosage</a>
        <li><a href="/citalopram/when-will-i-feel-better/when-will-i-feel-better-sprint-3-A-subbed">When will I feel better?</a>
        <li><a href="/citalopram/how-long-to-take-it-for/how-long-to-take-citalopram-for-sprint-3-A-subbed">How long to take it for</a>
        <li><a href="/citalopram/single-page-jump">Interface 1</a></li>
        <li><a href="/citalopram/single-page-concertina">Interface 2</a></li>
        <li><a href="/citalopram/single-page-shrunk">Interface 3</a></li>
        <li><a href="/citalopram/multi-page-b">Interface 4</a></li>
        <li><a href="/citalopram/multi-page-a">Interface 5</a></li>
        <li><a href="/citalopram/all-content-pages">Interface 6</a></li>
        <li><a href="/citalopram/single-page-sticky-nav">Interface 7</a></li>
        <li><a href="/citalopram/single-page-layout1">Interface 8</a></li>
        <li><a href="/citalopram/single-page-layout2">Interface 9</a></li>
        <li><a href="/citalopram/quick-info/single-page-quick-info-1">Quick info 1</a></li>
        <li><a href="/citalopram/quick-info/single-page-quick-info-2">Quick info 2</a></li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/">
            <span class="prefix">Previous page:</span>
            <span class="title">Medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
