{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="index">Citalopram</h1>
      <ul>
        <li><a href="/citalopram/side-effects">Side effects</a>
        <li><a href="/citalopram/when-will-i-feel-better/when-will-i-feel-better-sprint-3-A-subbed">When will I feel better?</a>
        <li><a href="/citalopram/how-long-to-take-it-for/how-long-to-take-citalopram-for-sprint-3-A-subbed">How long to take it for</a>
        <li><a href="/citalopram/how-to-take-it">How to take it</a>
        <li><a href="/citalopram/dosage">Dosage</a>
        <li><a href="/citalopram/single-page-jump">Single page 1</a></li>
        <li><a href="/citalopram/single-page-concertina">Single page 2</a></li>
        <li><a href="/citalopram/single-page-shrunk">Single page 3</a></li>
        <li><a href="/citalopram/all-content-pages">All content pages</a></li>
        <li><a href="/citalopram/multi-page-a">Multi-page A</a></li>
        <li><a href="/citalopram/multi-page-b">Multi-page B</a></li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/">
            <span class="prefix">Previous page:</span>
            <span class="title">Medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
