{% extends "templates/layout.html" %}

{% block page_title %}
  Citalopram - NHS Medicines alpha
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container clear">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/citalopram" class="link__unstyled">Citalopram</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Citalopram</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Citalopram is a type of antidepressant known as an SSRI (selective serotonin reuptake inhibitor).</p>
      <p>It is often used to treat <a href="http://www.nhs.uk/conditions/depression/Pages/Introduction.aspx" class="link__external">depression</a> and also sometimes for <a href="http://www.nhs.uk/conditions/Panic-disorder/Pages/Introduction.aspx" class="link__external">panic attacks</a>.</p>
      <p>Citalopram helps many people recover from depression, and it has fewer unwanted effects than older antidepressants.</p>
      <p>It is also called Cipramil.</p>
      
      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>It usually takes 4-6 weeks to feel the full benefits of citalopram.</li>
        <li>Side effects, such as tiredness, dry mouth and sweating are common but tend to be mild and pass after a couple of weeks.</li>
        <li>Citalopram can affect an unborn baby. Tell your doctor straight away if you’re trying to get pregnant or become pregnant while taking it.</li>
        <li>Citalopram can cause withdrawal symptoms so don’t stop taking it unless your doctor asks you to.</li>
        <li>You can drink alcohol while taking citalopram.</li>
      </ul>


      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>

      <!--
      <div class="quick-info-nested">
        <ul class="ul-quick-info">
          <li><dl class="dl-quick-info">
            <dt class="strong">Drug class:</dt>
            <dd><abbr title="Selective serotonin reuptake inhibitor">SSRI</abbr></dd>
          </dl></li>
          <li><dl class="dl-quick-info">
            <dt class="strong">Availability:</dt>
            <dd>Prescription only</dd>
          </dl></li>
          <li><dl class="dl-quick-info">
            <dt class="strong">Available as:</dt>
            <dd>Tablets, oral drops</dd>
          </dl></li>
          <li><dl class="dl-quick-info">
            <dt class="strong">Common brand name:</dt>
            <dd>Cipramil</dd>
          </dl></li>
        </ul>
      </div>
      -->

      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Take citalopram once a day. You can choose to take it at any time, as long as you stick to the same time every day. You can take citalopram with or without food.</p>
      <p>The usual dose of citalopram is 20mg daily in adults.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Citalopram is not recommended for children under-12. In 12-18 years olds the usual dose is 10mg daily.</p>
          <p>If you are taking oral drops, four drops is equivalent to taking ONE 10mg tablet.</p>
          <p class="callout">If you take too much citalopram contact your doctor immediately. Overdose can be dangerous.</p>

          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take it as soon as you remember. If you don't remember until the following day, skip the missed dose.</p>

          <h3>What if I take too much?</h3>
          <p>Ask your doctor for advice straight away as overdose can lead to potentially serious symptoms such as vomiting, tremor, drowsiness, fast heart rate, seizures and coma.</p>
          <p>Never take two doses at the same time or extra doses.</p>

          <h3>Will my dose go up or down?</h3>
          <p>The usual dose of citalopram is 20mg daily in adults. However, it may be started at a lower dose and may be increased to a maximum dose of 40mg daily.</p>
          <p>If you are over 65 or have liver problems the maximum recommended dose is 20mg daily.</p>
          <p>The usual dose of citalopram in children aged 12-18 is 10mg daily, but this may be increased to 40mg daily as needed.</p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Not everyone will get side effects with citalopram, but common ones include sleep problems, dry mouth, sweating a lot and feeling tired.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>Like all medicines, citalopram can cause side effects in some people but many people have no side effects or only minor ones.</p>
          <p>These very common side effects affect more than one in 10 people. Keep taking the medicine, but <em class="strong">tell your doctor</em> if they bother you or don't go away:</p>

          <ul>
            <li>dry mouth</li>
            <li>sweating a lot</li>
            <li>being unable to sleep</li>
            <li>feeling sleepy</li>
            <li>feeling tired or weak</li>
          </ul>

          <h3>Serious side effects</h3>
          <p>It happens rarely, but some people may have serious side effects when taking citalopram.</p>

          <p><em class="strong">Tell a doctor straight away if you develop:</em></p>
          <ul>
            <li>serotonin syndrome: warning signs include dizziness, very severe headache, agitation, hallucinations, fever, fast or unusual heartbeat, flushing, seizures, shakiness, sweating a lot, change in thinking clearly, very upset stomach and vomiting, or severe diarrhoea</li>
            <li>low sodium levels: warning signs include headache, trouble focusing, memory problems, not thinking clearly, weakness, seizures, or losing your balance</li>
            <li>thoughts about harming yourself or ending your life</li>
            <li>chest pain or pressure or shortness of breath</li>
            <li>severe dizziness or passing out</li>
            <li>putting on or losing weight without trying to</li>
            <li>changes in your periods such as heavy bleeding, spotting, or bleeding between periods</li>
            <li>painful erections that last longer than four hours - this may happen even when you are not having sex</li>
          </ul>

          <p>Or, if you develop any signs of abnormal bleeding including:</p>
          <ul>
            <li>bleeding from the gut: warning signs include vomiting blood or dark vomit; coughing up blood; blood in your urine; black or red poo</li>
            <li>bleeding from the gums or bruises that appear without a reason or that get bigger</li>
            <li>any bleeding that is very bad or that you cannot stop</li>
          </ul>

          <h3>Serious allergic reaction</h3>
          <p class="callout">It's rare to have an allergic reaction to citalopram but if this happens to you, stop taking the medicine and contact a doctor straight away.</p>
          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx" class="link__external">serious allergic reaction</a> are:</p>
          <ul>
            <li>developing a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
            <li>wheezing</li>
            <li>tightness in the chest or throat</li>
            <li>having trouble breathing or talking</li>
            <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of citalopram. For a full list see the leaflet inside your medicines packet.</p>
          </div>

          <h3>Coping with side effects</h3>
          <p>Some of the common side effects of citalopram will gradually improve as your body gets used to it.</p>
          <ul>
            <li><span class="strong">What to do about nausea or indigestion:</span> take citalopram with food and plenty of water.</li>
            <li><span class="strong">What to do about feeling sleepy:</span> avoid driving or using tools or machinery until the sleepiness wears off. Reduce the amount of alcohol you drink.</li>
            <li><span class="strong">What to do if you’re unable to sleep:</span> take citalopram first thing in the morning</li>
            <li><span class="strong">What to do if you have a dry mouth:</span> chew sugar-free gum or sugar-free sweets</li>
            <li><span class="strong">What to do if you have anxiety:</span> some people who take citalopram for panic attacks find their anxiety worsens during the first few weeks of treatment. This usually wears off after a few weeks but speak to your doctor if it bothers you - a lower dose may help reduce your symptoms.</li>
          </ul>

          <p class="callout-less">You can lessen the chance of having a side effect if you take citalopram in the evening so that you're asleep when the level of medicine in your body is highest.</p>
          <p>If you have <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> citalopram can upset its control. Monitor your blood glucose more often for the first few weeks of treatment with citalopram and adjust your diabetes treatment if necessary.</p>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take citalopram</h2>
      <p>Check with your doctor before starting to take citalopram if you:</p>
      <ul>
        <li>have an allergy to citalopram or any of its ingredients (citalopram tablets contain lactose)</li>
        <li>are taking any other medicines, including any complementary medicines. Citalopram may not be suitable for you if you have a heart condition and take medicines that affect your heartbeat.</li>
        <li>have ever taken any other medicines for depression. Some rarely used antidepressants can interact with citalopram to cause very high blood pressure even when they have been stopped for a few weeks.</li>
        <li>have ever had any heart problems</li>
        <li>are trying to become pregnant, are already pregnant or breast feeding</li>
      </ul>

      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>
          <details role="group">
            <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol with citalopram?</h3>
            </summary>
            <div id="questions-1" aria-hidden="true">
              <p>You can drink alcohol in moderation while taking citalopram.</p>
              <p>You might find that alcohol makes you more sleepy, or makes you lose your focus, so during the first few days of taking citalopram, it might be best to stop drinking alcohol until you see how the medicine affects you.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
              <h3>Will I put on or lose weight?</h3>
            </summary>
            <div id="questions-2" aria-hidden="true">
              <p>Citalopram can make you feel less hungry, so you may lose weight when you first start taking it.</p>
              <p>In the long term you may gain a little weight as your appetite returns.</p>
              <p>If you start to have problems with your weight while taking citalopram, talk to your doctor or pharmacist.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Will it affect my sex life?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>The good effects of citalopram may, after a while, enhance your sex life as your mood lifts and become interested in life and relationships again.</p>
              <p>Some of the possible negative effects include:</p>
              <ul>
                <li>men might get painful erections, problems with getting an erection and problems with ejaculating</li>
                <li>women might have some vaginal bleeding and might not reach orgasm the same way as before</li>
                <li>you may have a lower sex drive</li>
              </ul>
              <p class="callout-less">Sexual side effects should pass after the first couple of weeks. If they don’t, and this a problem for you, go back to your doctor to see if there’s an alternative antidepressant for you to try.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>Will it be affected by street drugs?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>It can be potentially dangerous (even fatal!) to take stimulants like MDMA (ecstasy) or cocaine and hallucinogens like LSD with citalopram.</p>
              <p>The sleep-inducing effects of cannabis can add to those of citalopram, especially in people who have just started taking it. There's also a chance that using cannabis regularly while taking citalopram can cause depression and <a href="http://www.nhs.uk/conditions/anxiety/Pages/Introduction.aspx" class="link__external">anxiety</a>.</p>
              <p>There's a small risk that methadone can increase the risk of heart problems in people taking citalopram.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Can I drive or ride a bike while I'm taking it?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>Most people drive as normal while taking citalopram.</p>
              <p>Taking citalopram might affect your concentration to do things like driving a car, riding a bike or anything else that needs a lot of focus. It might be best to stop doing these things for the first few days until you know how it affects you.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will it affect my contraception?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>For women, citalopram will not affect contraceptive pills or the morning after pill.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking citalopram with other medicines</h2>
      <p class="callout">Tell your doctor and pharmacist that you are taking citalopram before starting or stopping any other prescription or over the counter medicine.</p>

      <details role="group">
        <summary  class="more-info" role="button" aria-controls="details-content-7" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-7" aria-hidden="false">
          <h3>Mixing citalopram with complementary remedies</h3>
          <p>Don't take the herbal remedy for depression, St John's wort, at the same time as citalopram as this will increase your risk of side effects.</p>
          <p class="callout">Tell your doctor and pharmacist that you're taking citalopram before starting any complementary medicine.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="pregnancy">Before, during and after pregnancy</h2>
      <p>No antidepressants are considered completely safe to take in pregnancy or while breastfeeding, but your doctor will want to prescribe citalopram when the benefits to you of taking the medicine outweigh the risks.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Taking citalopram in pregnancy</h3>
          <p>Citalopram and similar antidepressants have been linked with a small risk of problems for the unborn baby when they're taken in early or late pregnancy.</p>
          <p class="callout">Tell your doctor immediately if you’re trying to get pregnant or become pregnant while taking this medicine.</p>
          <h3>Citalopram and breastfeeding</h3>
          <p>Citalopram passes into breast milk and has been linked with side effects, including withdrawal symptoms, in breastfed babies.</p>
          <p>Talk to your doctor as there may be other antidepressants that are more suitable for you while you are breastfeeding.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about citalopram</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How citalopram works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Citalopram is one of a group of antidepressants called selective serotonin reuptake inhibitors, or SSRIs, which are thought to work by increasing the levels of a mood-enhancing chemical called serotonin in the brain.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>When will I feel better?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>You may not notice much improvement in your symptoms for a week or two until citalopram begins to take effect. It usually takes between four and six weeks before you will feel the full benefits.
            <p class="callout-less">Don't stop taking citalopram after a week or two just because you feel it is not helping your symptoms. Give the medicine at least six weeks to work.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>How long will I take citalopram for?</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Once your condition is under control it is likely that you will continue to take citalopram for several more months to prevent the symptoms returning.</p>
            <p>You will need to discuss with your doctor the pros and cons of continuing to take citalopram in the long term. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well citalopram works for you, and whether you have had any bothersome side effects.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p>Antidepressants, including citalopram, are just one of several approaches to treating depression. Other potential treatments include:</p>
            <ul>
              <li>talking therapy (such as cognitive behavioural therapy)</li>
              <li>exercise programmes</li>
              <li>help to get a good night's sleep</li>
            </ul>
            <p>Choosing a treatment that's most suitable for you depends on how long you have had depression, your symptoms, whether you have had any previous bouts of depression, whether previous treatment has worked, how likely you are to stick with your treatment, the potential side effects and your preferences and priorities.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Coming off citalopram</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p class="callout">Don't stop taking citalopram unless your doctor tells you to.</p>
            <p>If you stop taking citalopram suddenly you may get unpleasant withdrawal symptoms. These include dizziness, nausea, numbness or tingling in the hands or feet, feeling anxious, headaches, sweating and a pounding heartbeat.</p>
            <p>Withdrawal symptoms are usually harmless and over within a few days but it's possible to prevent them by reducing the dose gradually when you stop taking this medicine.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a href="http://www.nhs.uk/Conditions/Depression/Pages/introduction.aspx" class="link__external">Depression</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/conditions/Panic-disorder/Pages/Introduction.aspx" class="link__external">Panic disorder</a></li>
              </ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list module__list-nomarginbottom">
                <li class="module__list-item"><a href="https://healthunlocked.com/" class="link__external">HealthUnlocked online community</a></li>
                <li class="module__list-item"><a href="http://www.healthtalk.org/peoples-experiences/mental-health/depression/topics" class="link__external">healthtalk.org: depression real stories </a></li>
                <li class="module__list-item"><a href="http://www.depressionalliance.org/" class="link__external">Depression Alliance</a></li>
                <li class="module__list-item"><a href="http://www.depressionuk.org/" class="link__external">Depression UK</a></li>
                <li class="module__list-item"><a href="http://www.mentalhealth.org.uk/help-information/mental-health-a-z/D/depression/" class="link__external">Mental Health Foundation: depression</a></li>
                <li class="module__list-item"><a href="http://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/#.VzxuePkrLMw" class="link__external">Mind: depression</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
