<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Paracetamol is a common painkiller used to treat aches and pain. It can also be used to reduce fever (a temperature above 38C).</p>
  <p>It's also available combined with other painkillers and anti-sickness medicines. It is an ingredient in a wide range of cold and flu remedies.</p>
  <p>Paracetamol is available as tablets without a prescription from shops and pharmacies. It may be called by a brand name such as Disprol, Hedex, Medinol and Panadol.</p>
  <p>For young children, paracetamol also comes as a syrup (called Calpol). It is also available on prescription as suppositories (capsules inserted into the back passage).</p>
</section>
