<section class="u-section-separator u-margintop30">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Paracetamol takes up to an hour to work.</li>
    <li>The usual dose of paracetamol is one or two 500mg tablets at a time.</li>
    <li>Never take more than eight 500mg tablets in 24 hours.</li>
    <li>Do not take paracetamol with other medicines containing paracetamol.</li>
    <li>Paracetamol is generally safe to take in pregnancy and while breastfeeding at recommended doses.</li>
  </ul>
  <p><span class="infobanner">Check the leaflet inside your medicine packet for information about the brand that you are taking.</span></p>
</section>
