{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="index">Paracetamol</h1>
      <ul>
        <li><a href="/paracetamol/dosage">Dosage</a>
        <li><a href="/paracetamol/how-to-take-it">How to take it</a></li>
        <li><a href="/paracetamol/interactions">Interactions</a></li>
        <li><a href="/paracetamol/side-effects">Side effects</a></li>
        <li><a href="/paracetamol/when-will-i-feel-better">When will I feel better?</a></li>
        <li><a href="/paracetamol/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
        <li><a href="/paracetamol/overdose">Overdose</a></li>
        <li><a href="/paracetamol/treatment-options">Treatment options</a></li>
        <li><a href="/paracetamol/who-may-not-be-able-to-take">Who may not be able to take it</a></li>
        <li><a href="/paracetamol/about">About</a></li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/">
            <span class="prefix">Previous page:</span>
            <span class="title">Medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
