{% extends "templates/layout.html" %}

{% block page_title %}
  Paracetamol - NHS Medicines beta
{% endblock %}

{% block hotjar %}
<script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:265857,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/paracetamol" class="link__unstyled">Paracetamol</a></h1>
      </div>
    </div>

    <nav class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Paracetamol</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle" onclick="try {trackHTML('Burger menu toggle');} catch(e) {}"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link" onclick="try {trackHTML('Key facts - top nav');} catch(e) {}">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-much-to-take" class="nav__list-link" onclick="try {trackHTML('How much to take - top nav');} catch(e) {}">How much to take</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link" onclick="try {trackHTML('Taking with other medicines - top nav');} catch(e) {}">Taking with other medicines</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link" onclick="try {trackHTML('Side effects - top nav');} catch(e) {}">Side effects</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link" onclick="try {trackHTML('Common questions - top nav');} catch(e) {}">Common questions</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button"  onclick="try {trackHTML('More link to show more nav');} catch(e) {}">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#before-using-it" class="nav__list-link" onclick="try {trackHTML('Who can take it - top nav');} catch(e) {}">Who can take it</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more-info" class="nav__list-link" onclick="try {trackHTML('More about - top nav');} catch(e) {}">More about</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Paracetamol is a widely used painkiller that is available over the counter without a prescription to treat aches and pain. It can also be used to reduce fever.</p>
      <p>Paracetamol may also be called by a brand name such as Calpol, Disprol, Hedex, Medinol and Panadol.</p>
      <p>It's also available combined with other painkillers and anti-sickness medicines and is an ingredient in a wide range of cold and flu remedies.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>Paracetamol takes up to an hour to work</li>
        <li>The usual dose of paracetamol is one or two 500mg tablets</li>
        <li>Never take more than eight 500mg tablets in 24 hours</li>
        <li>Do not take paracetamol with other paracetamol-containing medicines</li>
        <li>Paracetamol is generally safe to take in pregnancy and while breastfeeding at recommended doses</li>
      </ul>


      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-much-to-take">How much to take</h2>
      <ul>
        <li>adults can take ONE or TWO 500mg tablets or capsules at a time</li>
        <li>up to a <em class="strong">maximum of four times in 24 hours</em></li>
        <li>space out doses at least four hours apart</li>
      </ul>

      <p><span class="strong">The total maximum dose of paracetamol for an adult is EIGHT 500mg doses in 24 hours.</span></p>

      <section class="callout callout--diagram">
        <h3>Standard dose <span class="u-font-16">(4 x 500mg tablets)</span></h3>
        <ul class="info-pills">
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
        </ul>
        <p class="u-margintop20 u-marginbottom30"><strong>OR</strong></p>
        <h3>Total maximum dose <span class="u-font-16">(8 x 500mg tablets)</span></h3>
        <ul class="info-pills">
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
          <li class="info-pills__item"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><img src="/public/images/pill.svg" class="info-pills__img" alt="have a pill"><span class="info-pills__time">wait 4 hours</span></li>
        </ul>
      </section>

      <p>For people who are in constant pain, paracetamol can be <span class="strong">taken regularly</span> up to four times in 24 hours with doses spread out as evenly as possible.</p>
      <p>Paracetamol can also be present in other medicines. Make sure you do not take any other medicines containing paracetamol at the same time.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true" onclick="try {trackHTML('How to take it - More');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">

          <p>You may be advised to take lower doses of paracetamol if you:</p>
          <ul>
            <li>have liver or kidney problems</li>
            <li>are very thin</li>
            <li>regularly drink more than the recommended amount of alcohol</li>
          </ul>

          <h3>For children</h3>
          <p>The total maximum dose for children depends on the child's age. You can find out the correct dose on the packet. If you aren't sure check with your pharmacist or doctor.</p>
          <p>If you're giving paracetamol to a child make sure you use the measuring spoon supplied with the medicine to correctly measure the amount of liquid.</p>

          <h3>What if I take too much?</h3>
          <p>An overdose of paracetamol can cause very serious and sometimes fatal liver problems.</p>
          <p>Accidental overdose happens most often in people taking more than the daily recommended dose.</p>
          <p>Even taking one or two more tablets than recommended can cause serious liver damage and possibly death.</p>
          <p>Overdose can also happen if you are not aware you are taking more than one medicine with paracetamol in it.</p>

          <p class="callout">Talk to your doctor or pharmacist if you are unsure whether any other medicine you are taking also contains paracetamol.</p>

          <p>Early symptoms of paracetamol overdose are:</p>

          <ul>
            <li>nausea and vomiting (which usually settles within 24 hours)</li>
            <li>pain and tenderness on the right side below the ribs (which may not appear until three or four days after the overdose)</li>
          </ul>

          <p class="callout">If you think you may have taken too much paracetamol, go straight to your nearest hospital A&amp;E department.</p>

          <h3>What if I miss a prescribed dose?</h3>
          <p>If you take paracetamol regularly and miss a dose take it as soon as you remember. If it's close to the time for your next dose when you remember, then skip the missed dose.</p>

          <p class="callout">Do not take double doses of paracetamol at the same time or extra doses to catch up.</p>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Mixing paracetamol with other medicines</h2>
      <p>In general, paracetamol is not affected by other medicines.</p>
      <p>It's important, though, that you do not take more than one medicine containing paracetamol at a time.</p>
      <p>For safety, talk to your doctor or pharmacist before adding in another type of medicine including ones you buy like herbal remedies and supplements.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true" onclick="try {trackHTML('Mixing paracetamol - More');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Paracetamol and other paracetamol-containing medicines</h3>
          <p>Do not take paracetamol with other medicines that contain paracetamol.</p>
          <p>Paracetamol is an ingredient in some over-the-counter remedies, including many cold and flu products.</p>
          <p>Paracetamol may also be combined with other painkillers which you may have been prescribed by your doctor such as:</p>
          <ul>
            <li>co-codamol (paracetamol and codeine)</li>
            <li>co-dydramol (paracetamol and dihydrocodeine)</li>
            <li>tramacet (paracetamol and tramadol)</li>
          </ul>

          <p class="callout">Before taking any other medicines, check the label to see whether they contain paracetamol.</p>

          <h3>Paracetamol and other types of painkiller</h3>
          <p>You can take paracetamol with other types of painkiller (that don't contain paracetamol) such as ibuprofen and aspirin if your pain isn't controlled by paracetamol alone.</p>

          <h3>Paracetamol and prescription medicines</h3>
          <p>Talk to your doctor if you take:</p>
          <ul>
            <li>warfarin</li>
            <li>anti-epilepsy medicine</li>
            <li>medicine to treat <a href="http://www.nhs.uk/conditions/Tuberculosis/Pages/Introduction.aspx" class="link__external">tuberculosis (TB)</a></li>
          </ul>
          <p>Taking paracetamol regularly over a long period of time may increase the blood-thinning (anticoagulant) effect of warfarin which could increase the risk of bleeding.</p>
          <p>If you take medicines for <a href="http://www.nhs.uk/conditions/Epilepsy/Pages/Introduction.aspx" class="link__external">epilepsy</a> or tuberculosis, you may need to take lower doses of paracetamol.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Side effects from paracetamol are rare as long as you don't take more than the recommended amount.</p>
      <p>Most people have no side effects. Very occasionally, you can get an upset stomach, bleeding problems or have an allergic reaction.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true" onclick="try {trackHTML('Side effects - More');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Side effects that can come on gradually</h3>
          <ul>
            <li>upset stomach or vomiting</li>
            <li>bruising or bleeding - rarely paracetamol may cause your blood to clot less well.</li>
            <li>infections - rarely paracetamol can reduce the number of your white blood cells. This makes you more likely to get infections.</li>
          </ul>

          <p>See your doctor if these or any other side effects don’t go away or get worse.</p>

          <h3>Serious side effects</h3>
          <p>It happens very rarely, but you can get very serious side effects from taking paracetamol.</p>

          <p><em class="strong">Stop taking paracetamol and contact a doctor URGENTLY if you have any of the following side effects while taking paracetamol:</em></p>
          <ul>
            <li><span class="strong">An allergic reaction:</span> warning signs include rash; itching or swelling (especially of the face, tongue or throat); trouble breathing or talking.</li>
            <li><span class="strong">Liver problems:</span> warning signs include dark urine, feeling tired, not hungry, upset stomach or stomach pain, light-coloured poo, vomiting, or yellow skin or eyes.</li>
            <li><span class="strong">Kidney problems:</span> warning signs are not being able to pass urine or a change in how much urine you pass.</li>
            <li><span class="strong">Skin reactions:</span> A very serious skin reaction called <a href="http://www.nhs.uk/conditions/stevens-johnson-syndrome/Pages/Introduction.aspx">Stevens-Johnson syndrome</a> can happen very occasionally. Warning signs include red, swollen, blistered, or peeling skin; red or irritated eyes; or sores in your mouth, throat, nose, or eyes.</li>
          </ul>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of paracetamol. For a full list see the leaflet inside your medicines packet.</p>
          </div>

        </div>
      </details>



      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>
          <details role="group">
            <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Can I drink alcohol');} catch(e) {}">
              <h3>Can I drink alcohol with paracetamol?</h3>
            </summary>
            <div id="questions-1" aria-hidden="true">
            <p>It's advised that you cut down or stop drinking alcohol completely while you take paracetamol.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Can I take ibuprofen');} catch(e) {}">
              <h3>Can I take ibuprofen with paracetamol?</h3>
            </summary>
            <div id="questions-2" aria-hidden="true">
            <p>Yes, you can take ibuprofen with paracetamol.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Take while pregnant or breastfeeding');} catch(e) {}">
              <h3>Can I take paracetamol while I'm pregnant or breastfeeding?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
            <p>Yes. Paracetamol is considered safe to take in pregnancy and while breastfeeding at the recommended doses.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Complementary remedies');} catch(e) {}">
              <h3>Can I take complementary remedies with paracetamol?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
            <p>Check with your doctor or pharmacist if you're taking the herbal medicine St John's Wort for <a href="http://www.nhs.uk/conditions/depression/Pages/Introduction.aspx" class="link__external">depression</a> as you may need to reduce your paracetamol dose.</p>
            <p>Otherwise, paracetamol is not generally affected by also taking complementary medicines.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Are there any foods to avoid');} catch(e) {}">
              <h3>Are there any foods I should avoid?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
            <p>No. Paracetamol is not affected by any foods.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="before-using-it">Who can take paracetamol</h2>
      <p>Paracetamol needs to be taken with extra care by some people.</p>
      <p>Check with your doctor or pharmacist what dose of paracetamol is safe if you:</p>
      <ul>
        <li>are very thin</li>
        <li>have a history of liver or kidney problems</li>
        <li>regularly drink more than the maximum recommended amount</li>
        <li>take medicine for epilepsy</li>
        <li>take medicine for tuberculosis (TB)</li>
      </ul>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more-info">More about paracetamol</h2>
      <div class="concertinas">

        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - How paracetamol works');} catch(e) {}">
            <h3>How paracetamol works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>It's not fully understood how paracetamol works but it's thought to interfere with naturally occurring hormones called prostaglandins which are important in changing the pain threshold and reducing fever.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - When will I feel better');} catch(e) {}">
            <h3>When will I feel better?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
          	<p>Paracetamol takes up to an hour to work as a painkiller and to bring down a high temperature.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Long-term dangers');} catch(e) {}">
            <h3>Long-term dangers</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
          	<p>Research has suggested that if you take paracetamol regularly for many years you are slightly more likely to have a heart attack, bleeding inside the digestive system or kidney problems.</p>
            <p>But it isn't clear whether the increased risk is due to other health or lifestyle differences rather than long-term use of paracetamol.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Other treatments');} catch(e) {}">
            <h3>Other treatments</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p>There are a number of different types of painkiller that you can use instead of paracetamol including:</p>
            <ul>
              <li>ibuprofen</li>
              <li>codeine</li>
            </ul>
            <p>Ibuprofen and ibuprofen-like painkillers are sometimes available as creams or gels that you rub onto a specific part of the body that is painful.</p>
            <p>Some painkillers are only available by prescription so talk to your doctor or pharmacist about the other treatment options that might be more suitable for you.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a href="http://www.nhs.uk/conditions/headache/Pages/Introduction.aspx" class="link__external">Headaches</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/Conditions/Migraine/Pages/Introduction.aspx" class="link__external">Migraines</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/livewell/pain/Pages/Painhome.aspx" class="link__external">Living with pain</a></li>
              </ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful links</h2>
              <ul class="module__list module__list-nomarginbottom">
                <li class="module__list-item"><a href="http://www.nhs.uk/Livewell/Pain/Pages/Whichpainkiller.aspx" class="link__external">Which painkiller should you use</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn3.userzoom.com/uz.js?cuid=AE08A9785B32E2119DA70022196C4538"></script>

{% endblock %}
