{% extends "templates/layout.html" %}

{% block page_title %}
  Paracetamol for adults - NHS Medicines beta
{% endblock %}

{% block hotjar %}
<script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:265857,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'More information on how and when to take' %}
{% set moreinfoSideEffects = 'More information on side effects' %}
{% set moreinfoWhoCanTake = 'More information on who can take isotretinoin' %}
{% set moreinfoTakingWithOther = 'More information on taking with other medicines' %}
{% set moreinfoPregnancy = 'More information on pregnancy and breastfeeding' %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main header__main--tabs"><a href="/paracetamol" class="link__unstyled">Paracetamol for adults</a></h1>
      </div>
    </div>
    <ul class="tabs tabs--bigger clear">
      <li class="tab"><a href="#content-tab" class="tab__link tab__link--current">Adults</a></li>
      <li class="tab"><a href="/paracetamol/tabbed-children" class="tab__link">Children</a></li>
    </ul>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Paracetamol for adults</h2>
        <ol class="page-nav-list page-nav-list--numbered list-numbered">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#taking-with-others">Taking with other painkillers</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Pregnancy and breastfeeding</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ol>
      </div>
    </div>

    <div class="column-two-thirds">

      <div id="content-tab" class="content tabs-content">
        {% include "./includes/adults/intro.html" %}
        <ol class="list-numbered">
          <li>
            {% include "./includes/adults/keyfacts.html" %}
          </li>
          <li>
            {% include "./includes/adults/how-when-to-take.html" %}
          </li>
          <li>
            {% include "./includes/adults/taking-with-others.html" %}
          </li>
          <li>
            {% include "./includes/adults/side-effects.html" %}
          </li>
          <li>
            {% include "./includes/adults/common-questions.html" %}
          </li>
          <li>
            {% include "./includes/adults/who-can-take.html" %}
          </li>
          <li>
            {% include "./includes/adults/pregnancy-breastfeeding.html" %}
          </li>
          <li>
            {% include "./includes/adults/more-about.html" %}
          </li>
        </ol>
        {% include "./includes/adults/links.html" %}
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/scroll-to-content.js"></script>

{% endblock %}
