{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/all-content-pages">What citalopram does</a></li>
          <li><a href="/citalopram/pages/side-effects">Possible side effects</a></li>
          <li><a href="/citalopram/pages/if-you-are-taking-other-medicines">If you are taking other medicines</a></li>
          <li><a href="/citalopram/pages/dosage">Dosage</a></li>
          <li><a href="/citalopram/pages/how-to-take-it">How to take citalopram</a></li>
          <li><a href="/citalopram/pages/how-long-to-take-it-for">How long to take citalopram for</a></li>
          <li><a href="/citalopram/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/citalopram/pages/pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/citalopram/pages/other-treatment-options">Other treatment options</a></li>
          <li><a href="/citalopram/pages/living-with">Living with citalopram</a></li>
          <li><a href="/citalopram/pages/ask-your-doctor">Ask your doctor before taking citalopram</a></li>
          <li>Taking complementary medicines with citalopram</li>
          <li><a href="/citalopram/pages/stopping">Stopping citalopram</a></li>
        </ol>
      </nav>

      <h2>Taking complementary medicines with citalopram</h2>
      <p>Make sure that your doctor and pharmacist know you are taking citalopram before starting or stopping <em class="strong">any</em> complementary medicine.</p>
      <p>Never take the herbal remedy St John's wort (Hypericum perforatum) at the same time as citalopram as this will increase your risk of side effects.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/pages/stopping">
            <span class="prefix">Next page:</span>
            <span class="title">Stopping citalopram</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/pages/ask-your-doctor">
            <span class="prefix">Previous page:</span>
            <span class="title">Ask your doctor before taking citalopram</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
