{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/all-content-pages">What citalopram does</a></li>
          <li><a href="/citalopram/pages/side-effects">Possible side effects</a></li>
          <li><a href="/citalopram/pages/if-you-are-taking-other-medicines">If you are taking other medicines</a></li>
          <li>Dosage</li>
          <li><a href="/citalopram/pages/how-to-take-it">How to take citalopram</a></li>
          <li><a href="/citalopram/pages/how-long-to-take-it-for">How long to take citalopram for</a></li>
          <li><a href="/citalopram/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/citalopram/pages/pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/citalopram/pages/other-treatment-options">Other treatment options</a></li>
          <li><a href="/citalopram/pages/living-with">Living with citalopram</a></li>
          <li><a href="/citalopram/pages/ask-your-doctor">Ask your doctor before taking citalopram</a></li>
          <li><a href="/citalopram/pages/complementary-medicines">Taking complementary medicines with citalopram</a></li>
          <li><a href="/citalopram/pages/stopping">Stopping citalopram</a></li>
        </ol>
      </nav>

      <h2>Dosage</h2>
      <p>Citalopram is available as 10mg, 20mg and 40mg strength tablets and as oral drops of 40mg/ml where four drops is equivalent to a 10mg tablet.</p>
      <p>The usual dose of citalopram is 20mg daily in adults. However, the starting dose of citalopram may be lower than 20mg daily and the dose can be increased to a maximum of 40mg daily (unless you are over 65 years of age or have liver problems, in which case you’re advised a maximum dose of 20mg daily).</p>
      <p>Citalopram is not licensed for use in children under 12 years old but in 12 to 18-years-olds the usual dose is 10mg daily that can be increased if necessary to a maximum of 40mg daily.</p>
      <p>With the oral drops (40mg/ml), four drops (8mg) is considered equal to taking a 10mg tablet as the liquid medicine is slightly better absorbed.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/pages/how-to-take-it">
            <span class="prefix">Next page:</span>
            <span class="title">How to take citalopram</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/pages/if-you-are-taking-other-medicines">
            <span class="prefix">Previous page:</span>
            <span class="title">If you are taking other medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
