{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/all-content-pages">What citalopram does</a></li>
          <li><a href="/citalopram/pages/side-effects">Possible side effects</a></li>
          <li><a href="/citalopram/pages/if-you-are-taking-other-medicines">If you are taking other medicines</a></li>
          <li><a href="/citalopram/pages/dosage">Dosage</a></li>
          <li><a href="/citalopram/pages/how-to-take-it">How to take citalopram</a></li>
          <li>How long to take citalopram for</li>
          <li><a href="/citalopram/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/citalopram/pages/pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/citalopram/pages/other-treatment-options">Other treatment options</a></li>
          <li><a href="/citalopram/pages/living-with">Living with citalopram</a></li>
          <li><a href="/citalopram/pages/ask-your-doctor">Ask your doctor before taking citalopram</a></li>
          <li><a href="/citalopram/pages/complementary-medicines">Taking complementary medicines with citalopram</a></li>
          <li><a href="/citalopram/pages/stopping">Stopping citalopram</a></li>
        </ol>
      </nav>

      <h2>How long to take citalopram for</h2>
      <p>Once your condition is under control it’s likely that you will continue to take citalopram for several more months to prevent the symptoms returning.</p>
      <p>You will need to discuss with your doctor the pros and cons of continuing to take citalopram as a longer-term treatment. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well citalopram worked for you, and whether you've had any bothersome side effects.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/pages/when-will-i-feel-better">
            <span class="prefix">Next page:</span>
            <span class="title">When will I feel better?</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/pages/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take citalopram</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
