{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/all-content-pages">What citalopram does</a></li>
          <li><a href="/citalopram/pages/side-effects">Possible side effects</a></li>
          <li><a href="/citalopram/pages/if-you-are-taking-other-medicines">If you are taking other medicines</a></li>
          <li><a href="/citalopram/pages/dosage">Dosage</a></li>
          <li>How to take citalopram</li>
          <li><a href="/citalopram/pages/how-long-to-take-it-for">How long to take citalopram for</a></li>
          <li><a href="/citalopram/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/citalopram/pages/pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/citalopram/pages/other-treatment-options">Other treatment options</a></li>
          <li><a href="/citalopram/pages/living-with">Living with citalopram</a></li>
          <li><a href="/citalopram/pages/ask-your-doctor">Ask your doctor before taking citalopram</a></li>
          <li><a href="/citalopram/pages/complementary-medicines">Taking complementary medicines with citalopram</a></li>
          <li><a href="/citalopram/pages/stopping">Stopping citalopram</a></li>
        </ol>
      </nav>

      <h2>How to take citalopram</h2>
      <p>Take citalopram once a day with or without food. You can take it at any time of day but make sure it's at the same time every day.</p>
      <p>If you miss a dose, take it as soon as you remember unless it’s close to the time for your next dose in which case you should skip the missed dose and go back to your normal time.</p>
      <p><em class="strong">Never take two doses at the same time or extra doses.</em></p>
      <h3>If you take too many tablets</h3>
      <p>Ask your doctor immediately for advice as an overdose can lead to potentially serious symptoms such as vomiting, tremor, drowsiness, an increased heart rate and sometimes seizures, coma and severe disturbances in heart rhythms.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/pages/how-long-to-take-it-for">
            <span class="prefix">Next page:</span>
            <span class="title">How long to take citalopram for</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/pages/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
