{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/all-content-pages">What citalopram does</a></li>
          <li><a href="/citalopram/pages/side-effects">Possible side effects</a></li>
          <li><a href="/citalopram/pages/if-you-are-taking-other-medicines">If you are taking other medicines</a></li>
          <li><a href="/citalopram/pages/dosage">Dosage</a></li>
          <li><a href="/citalopram/pages/how-to-take-it">How to take citalopram</a></li>
          <li><a href="/citalopram/pages/how-long-to-take-it-for">How long to take citalopram for</a></li>
          <li><a href="/citalopram/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/citalopram/pages/pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/citalopram/pages/other-treatment-options">Other treatment options</a></li>
          <li><a href="/citalopram/pages/living-with">Living with citalopram</a></li>
          <li><a href="/citalopram/pages/ask-your-doctor">Ask your doctor before taking citalopram</a></li>
          <li><a href="/citalopram/pages/complementary-medicines">Taking complementary medicines with citalopram</a></li>
          <li>Stopping citalopram</li>
        </ol>
      </nav>

      <h2>Stopping citalopram</h2>
      <p>Don't stop taking citalopram unless your doctor tells you to.</p>
      <p>If you stop taking citalopram suddenly you may get withdrawal symptoms especially if you've been taking it for a long time.</p>
      <p>Withdrawal symptoms include dizziness, nausea, numbness or tingling in the hands or feet, feeling anxious, palpitations and headaches.</p>
      <p>Although withdrawal symptoms are usually harmless and disappear within a few days you can avoid them completely by reducing your dose gradually when you stop taking this medicine.</p>

      <nav role="navigation" class="pagination">
        <div class="prev-page">
          <a href="/citalopram/pages/complementary-medicines">
            <span class="prefix">Previous page:</span>
            <span class="title">Taking complementary medicines with citalopram</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
