{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/all-content-pages">What citalopram does</a></li>
          <li><a href="/citalopram/pages/side-effects">Possible side effects</a></li>
          <li><a href="/citalopram/pages/if-you-are-taking-other-medicines">If you are taking other medicines</a></li>
          <li><a href="/citalopram/pages/dosage">Dosage</a></li>
          <li><a href="/citalopram/pages/how-to-take-it">How to take citalopram</a></li>
          <li><a href="/citalopram/pages/how-long-to-take-it-for">How long to take citalopram for</a></li>
          <li>When will I feel better?</li>
          <li><a href="/citalopram/pages/pregnancy-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/citalopram/pages/other-treatment-options">Other treatment options</a></li>
          <li><a href="/citalopram/pages/living-with">Living with citalopram</a></li>
          <li><a href="/citalopram/pages/ask-your-doctor">Ask your doctor before taking citalopram</a></li>
          <li><a href="/citalopram/pages/complementary-medicines">Taking complementary medicines with citalopram</a></li>
          <li><a href="/citalopram/pages/stopping">Stopping citalopram</a></li>
        </ol>
      </nav>

      <h2>When will I feel better?</h2>
      <p>You may not notice much improvement in your symptoms for a week or two until citalopram begins to take effect. It usually takes between four and six weeks before you will feel the full benefits.</p>
      <p><em class="strong">Don't stop taking citalopram after a week or two just because you feel it isn't helping your symptoms. Give the medicine at least six weeks to work.</em></p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/pages/pregnancy-breastfeeding">
            <span class="prefix">Next page:</span>
            <span class="title">Pregnancy and breastfeeding</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/pages/how-long-to-take-it-for">
            <span class="prefix">Previous page:</span>
            <span class="title">How long to take citalopram for</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
