{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Interactions</h2>
      <ul>
        <li><a href="/paracetamol/interactions/PIL-interactions">Option A <span class="print">- PIL Interactions</span></a>
        <li><a href="/paracetamol/interactions/sprint-1-interactions-ID">Option B <span class="print">- Sprint 1 interactions ID</span></a>
        <li><a href="/paracetamol/interactions/sprint-1-interactions-KB">Option C <span class="print">- Sprint 1 interactions KB</span></a>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol">
            <span class="prefix">Previous page:</span>
            <span class="title">Paracetamol topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
