{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Interactions</h2>

      <p>Paracetamol 500g tablets</p>

      <h3>Taking/using other medicines:</h3>

      <p>You should always make sure that you are not taking any other paracetamol-containing preparations.</p>

      <p>If you have been prescribed chloramphenicol, or are taking cholestyramine or anti-coagulants (blood thinning preparations), or preparations to counteract nausea or vomiting, particularly after radiotherapy or other anti-cancer treatment, you
should consult your doctor. Please note that these statements may also apply to products used some time ago or at some time in the future. </p>

      <p>Please inform your doctor or pharmacist if you are taking, or have recently taken any other medicine - even those not prescribed.</p>

      <h3>Taking Paracetamol Tablets with food and drink</h3>

      <p>You are advised NOT to drink alcohol whilst taking Paracetamol Tablets.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
