{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Interactions</h2>

      <h3>Will paracetamol mix badly with other medicines?</h3>
      <ul>
        <li><em class="strong">Warfarin.</em> Discuss with your doctor if you are taking warfarin and are planning to take paracetamol regularly (occasional use of paracetamol is ok and shouldn’t affect your anticoagulant control).</li>
        <li><em class="strong">Epilepsy/TB.</em> Tell your doctor if you are taking medicines for epilepsy or tuberculosis as this may mean that you should take lower doses of paracetamol.</li>
        <li><em class="strong">Other painkillers.</em> If the pain relief from paracetamol alone isn’t enough, it’s usually safe to take other types of painkillers alongside it. But tell your doctor or pharmacist before adding in another type of painkiller.</li>
      </ul>

      <h3>Will paracetamol interact with food or alcohol?</h3>
      <ul>
        <li>You don't have to change your diet while taking paracetamol. It is safe to take with any kind of food</li>
        <li>Paracetamol can interact with alcohol, so it may be advisable to reduce or preferably avoid alcohol while taking it.</li>
      </ul>

      <h3>Will paracetamol interact with complementary medicines?</h3>
      <ul>
        <li>If you take the herbal medicine, St John's wort, for depression check with your doctor or pharmacist as it may be necessary to reduce your paracetamol dose.</li>
        <li>It's generally safe to take paracetamol with other types of complementary medicines.</li>
      </ul>
      
      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
