{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Interactions</h2>

      <h3>What to avoid with paracetamol</h3>

      <p><em class="strong">Beware of paracetamol contained within other medicines.</em><br />
      You should not exceed the total recommended dose.</p>

      <h4>Warfarin</h4>
      <p>Avoid regularly use of paracetamol and discuss your options doctor if you are taking warfarin.
      Occasional use of paracetamol should not significantly affect its performance.</p>

      <h4>Epilepsy and tuberculosis medication</h4>
      <p>Talk to your doctor if you are taking medicines for epilepsy or tuberculosis, as this may mean that you should take lower doses of paracetamol.</p>

      <h4>St John's wort</h4>
      <p>You should check with your doctor or pharmacist if you are taking St John's wort as it may be necessary to reduce your paracetamol dose.</p>

      <h4>Alcohol</h4>
      <p>If you regularly drink more than the recommended amount of alcohol you should speak to your GP before taking paracetamol.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
