{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Other treatment options</h2>
      <ul>
        <li><a href="/prednisolone/treatment-options/sprint-2-treatment-options-A-subbed">Option A <span class="print">- Sprint 2 treatment options A subbed</span></a>
        <li><a href="/prednisolone/treatment-options/sprint-2-treatment-options-B-subbed">Option B <span class="print">- Sprint 2 treatment options B subbed</span></a>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone">
            <span class="prefix">Previous page:</span>
            <span class="title">Prednisolone topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
