{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Prednisolone: other treatment options</h2>

      <p>Prednisolone is usually only prescribed to treat serious health conditions where the choice of other treatments may be limited.</p>

      <p>There are other corticosteroids that you may be able to take instead of prednisolone such as:</p>

      <ul>
        <li>deflazacort</li>
        <li>dexamethasone</li>
        <li>methylprednisolone</li>
        <li>prednisone</li>
      </ul>

      <p>But for most medical conditions there is little to choose between prednisolone and other corticosteroids in terms of effectiveness or safety.</p>

      <p>Sometimes it's possible to reduce or stop treatment with prednisolone or switch to a locally-acting steroid once your condition is under control (for example if you have asthma you may be switched from prednisolone tablets to a steroid inhaler to reduce the risk of side effects).</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/treatment-options">
            <span class="prefix">Previous page:</span>
            <span class="title">Other treatment options</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
