{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Prednisolone: other treatment options</h2>

      <p>There are unlikely to be treatments available as an alternative to prednisolone.</p>

      <p>Other corticosteroids (for example deflazacort, dexamethasone, methylprednisolone and prednisone) are available but they are similar to prednisolone in terms of effectiveness or safety.</p>

      <p>Sometimes it is possible to switch from prednisolone tablets to a locally acting steroid medicine to reduce the risk of side effects, for example someone with asthma may be switched from tablets to a steroid inhaler.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/treatment-options">
            <span class="prefix">Previous page:</span>
            <span class="title">Other treatment options</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
