{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'Expand how and when to take' %}
{% set moreinfoSideEffects = 'Expand side effects' %}
{% set moreinfoWhoCanTake = 'Expand who can take' %}
{% set moreinfoTakingWithOther = 'Expand taking with other medicines' %}
{% set moreinfoPregnancy = 'Expand pregnancy and breastfeeding' %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/isotretinoin" class="link__unstyled">Isotretinoin</a></h1>
      </div>
    </div>

    <div class="grid-row">
      <div class="content-intro column-two-thirds u-margintop20">
        <p class="u-margintop10">Isotretinoin is a medicine for acne. It comes as a gel that you put on your skin and as capsules that you swallow. Choose the type of medicine that you want information on.</p>
      </div>
    </div>

    <ol class="nav-types nav-types--floating-nav">
      <li><a href="/isotretinoin/all-content-pages-gel-nav3-moreless">Isotretinoin gel</a></li>
      <li><strong>Isotretinoin capsules</strong></li>
    </ol>

  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav-tab1" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Isotretinoin capsules</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Important advice for women</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">

      <h2 class="content__h2 u-marginbottom20 u-margintop10">Isotretinoin capsules</h2>
      {% include "./includes/capsules/intro.html" %}

      <!-- start content 1 -->
      <div id="content-tab1" class="content1 tabs-content">

        <section class="u-section-separator u-margintop30">
          <h2 id="key-facts" class="content__h2">Key facts</h2>
          {% include "./includes/capsules/keyfacts.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="how-when" class="content__h2">How and when to take</h2>
          {% include "./includes/capsules/how-when-to-take.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="side-effects" class="content__h2">Side effects</h2>
          {% include "./includes/capsules/side-effects.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="taking-with-others" class="content__h2">Taking with other medicines</h2>
          {% include "./includes/capsules/taking-with-others.html" %}
        </section>

        <section class="u-section-separator">
          <div id="common-questions" class="concertinas">
          {% include "./includes/capsules/common-questions.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="who-can-take" class="content__h2">Who can take isotretinoin</h2>
          {% include "./includes/capsules/who-can-take.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
          {% include "./includes/capsules/pregnancy-breastfeeding.html" %}
        </section>

        <section class="u-section-separator module__wrap--bg">
          <h2 id="more" class="content__h2">More about isotretinoin capsules</h2>
          {% include "./includes/capsules/more-about.html" %}
        </section>

        {% include "./includes/capsules/links.html" %}

      </div>
      <!-- end content 1 -->

    </div>

  </div>
</main>

<script src="/public/javascripts/tabs.js"></script>

{% endblock %}
