{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/isotretinoin" class="link__unstyled">Isotretinoin</a></h1>
      </div>
    </div>

    <!-- <div class="grid-row">
      <div class="content-intro column-two-thirds u-margintop20">
        <p class="u-margintop10">Gabapentin is an anticonvulsant medicine that is often used to treat <a href="http://www.nhs.uk/Conditions/Epilepsy/Pages/Introduction.aspx">epilepsy</a>. </p>
        <p>It is also taken as a painkiller to treat long-lasting nerve pain known as <a href="http://www.nhs.uk/conditions/Peripheral-neuropathy/Pages/Introduction.aspx">peripheral neuropathy</a>. This type of pain can be caused by different illnesses including <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> and <a href="http://www.nhs.uk/conditions/shingles/Pages/Introduction.aspx">shingles</a>.</p>
        <p>Occasionally, gabapentin is used to prevent <a href="http://www.nhs.uk/conditions/migraine/pages/introduction.aspx">migraine headaches</a>.</p>
      </div>
    </div> -->

    <ol class="nav-types nav-types--floating-nav">
      <li><strong>Isotretinoin gel</strong></li>
      <li><a href="/isotretinoin/all-content-pages-capsules-nav3">Isotretinoin capsules</a></li>
    </ol>

  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav-tab1" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Page contents<span class="hidden"> for isotretinoin gel information</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Pregnancy advice</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">

      <h2 class="content__h2 u-marginbottom20 u-margintop10">Isotretinoin gel</h2>

      {% include "./includes/gel/intro.html" %}

      <!-- start content 1 -->
      <div id="content-tab1" class="content1 tabs-content">
        {% include "./includes/gel/keyfacts.html" %}
        {% include "./includes/gel/how-when-to-take.html" %}
        {% include "./includes/gel/side-effects.html" %}
        {% include "./includes/gel/taking-with-others.html" %}
        {% include "./includes/gel/common-questions.html" %}
        {% include "./includes/gel/who-can-take.html" %}
        {% include "./includes/gel/pregnancy-breastfeeding.html" %}
        {% include "./includes/gel/more-about.html" %}
        {% include "./includes/gel/links.html" %}
      </div>
      <!-- end content 1 -->

    </div>

  </div>
</main>

<script src="/public/javascripts/tabs.js"></script>

{% endblock %}
