{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/isotretinoin" class="link__unstyled">Isotretinoin</a></h1>
      </div>
    </div>

    <!-- <div class="grid-row">
      <div class="content-intro column-two-thirds u-margintop20">
        <p class="u-margintop10">Gabapentin is an anticonvulsant medicine that is often used to treat <a href="http://www.nhs.uk/Conditions/Epilepsy/Pages/Introduction.aspx">epilepsy</a>. </p>
        <p>It is also taken as a painkiller to treat long-lasting nerve pain known as <a href="http://www.nhs.uk/conditions/Peripheral-neuropathy/Pages/Introduction.aspx">peripheral neuropathy</a>. This type of pain can be caused by different illnesses including <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> and <a href="http://www.nhs.uk/conditions/shingles/Pages/Introduction.aspx">shingles</a>.</p>
        <p>Occasionally, gabapentin is used to prevent <a href="http://www.nhs.uk/conditions/migraine/pages/introduction.aspx">migraine headaches</a>.</p>
      </div>
    </div> -->

    <ol class="nav-types nav-types--floating-nav">
      <li>Isotretinoin gel</li>
      <li><a href="/isotretinoin/all-content-pages-capsules-nav3-moreless">Isotretinoin capsules</a></li>
    </ol>

  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav-tab1" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Page contents<span class="hidden"> for isotretinoin gel information</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#not-be-able">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Pregnancy advice</a></li>
          <li class=""><a href="#more">More info</a></li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">

      <h2 class="content__h2 u-marginbottom20 u-margintop10">Isotretinoin gel</h2>

      <p>Isotretinoin gel is a prescription-only treatment for <a href="http://www.nhs.uk/Conditions/Acne/Pages/Introduction.aspx">acne</a> (spots).</p>
      <p>It is a greenish-yellow gel that you apply to the affected skin. It can be used on its own or with other creams, gels or antibiotic tablets.</p>
      <p>Isotretinoin also comes as capsules. This is a more powerful treatment used only for severe acne.</p>
      <p>Isotretinoin gel is not suitable for children under 12 or who have not started puberty.</p>
      <p>Isotretinoin gel is also called by the brand name Isotrex.</p>

      <!-- start content 1 -->
      <div id="content-tab1" class="content1 tabs-content">

        <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
        <ul>
          <li>Isotretinoin gel is usually applied once or twice a day.</li>
          <li>It may take a couple of months before you see it working.</li>
          <li>The most common side effects of isotretinoin gel are red, sore or dry sensitive skin and skin being sensitive to sunlight. These side effects go away when you stop the treatment.</li>
          <li>Isotretinoin gel can make your skin sensitive to sunlight. For safety, stay out of bright sun and use a high factor sun cream even on cloudy days.</li>
          <li>If you are a woman, it’s really important not to become pregnant while using isotretinoin gel and for at least one month after stopping. This is because isotretinoin can harm an unborn baby.</li>
        </ul>

        <div class="disclaimer__info">
          <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
          <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
        </div>


        <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
        <p>Apply isotretinoin gel once or twice a day as instructed by your doctor.</p>
        <p>Put a thin layer of the gel on affected skin using your fingertips and smooth it in. Apply it to all areas of skin which have acne and not just each spot.</p>
        <p>Always wash and dry your skin and completely remove any make-up before applying the gel. This will help it work better. Wash your hands before and after using the gel.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
            <span>Expand how and when to take</span>
          </summary>
          <div id="details-content-1" aria-hidden="false">
            <p>Do not apply isotretinoin gel to irritated areas of skin, for example cuts, burns or sunburn, as it can make the irritation worse. Only ever use isotretinoin gel on your skin and keep it away from your mouth, lips and eyes.</p>
            <p>Isotretinoin gel is flammable so keep it away from fire.</p>
            <h3>How much will I take?</h3>
            <p>Use the amount of isotretinoin gel that your doctor has recommended.</p>
            <p>Apply only a thin layer of gel to affected skin. Take care not to use too much especially where the gel could run into your eyes or build up in folds of skin. Using more gel will not make your spots clear up more quickly.</p>
            <h3>What if I forget to take it?</h3>
            <p>If you forget to apply the gel, skip the missed dose and apply the next dose at the usual time. Do not apply a double dose or an extra dose to make up for a missed one.</p>
            <h3>What if I use too much?</h3>
            <p>If you use too much isotretinoin gel, or use it more often than you should, it may make you skin red or irritated. If this happens, use the gel less often or stop using it for a few days.</p>
            <h3>Will the amount I take go up or down?</h3>
            <p>The dose of isotretinoin gel will probably not change, although if your skin becomes irritated, your doctor may suggest that you use it less often for a while.</p>
          </div>
        </details>


        <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
        <p>Like all medicines, isotretinoin gel can cause side effects although not everyone gets them. Side effects will usually go away when you stop using the gel.</p>
        <p>The most common side effects of isotretinoin gel are red, sore or dry sensitive skin and skin sensitivity to sunlight.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
            <span>Expand side effects</span>
          </summary>
          <div id="details-content-3" aria-hidden="false">
            <h3>Common side effects</h3>
            <p>Common side effects of isotretinoin gel happen in around one in 10 people. They include:</p>
            <ul>
              <li>redness or peeling of skin</li>
              <li>skin stinging, pain or a feeling of burning</li>
              <li>skin irritation or itching</li>
              <li>dry skin</li>
              <li>skin becoming more sensitive to sunlight – for safety, stay out of bright sun and use a high factor sun cream (SPF 15 or above) even on cloudy days. Do not use a sun-lamp or sun-beds.</li>
            </ul>
            <h3>Serious side effects</h3>
            <p>A severe skin reaction can sometimes happen with isotretinoin gel.</p>
            <p>If you have severe burning, peeling, redness or itching of your skin stop using the gel and see a doctor straight away</p>

            <div class="disclaimer__info">
              <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
              <p class="disclaimer__info-text">These are not all the side effects of isotretinoin gel. For a full list see the leaflet inside your medicines packet.</p>
            </div>

            <h3>Coping with side effects</h3>
            <h4>What to do about dry skin or lips</h4>
            <p> Apply a moisturiser and lip balm regularly. If you get a rash or your skin becomes fragile, talk to your doctor.</p>

            <h4>What to do about skin irritation or pain</h4>
            <p>Try using the gel less often, maybe once a day instead of twice, or every other day. Or you could stop using the gel for a few days until the irritation goes away and then try using it again. If the irritation does not go away, stop using the gel and speak to your doctor.</p>

            <div class="disclaimer__info">
              <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
              <p class="disclaimer__info-text">If you have a side effect from any medicine, including isotretinoin gel, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
            </div>

          </div>
        </details>



        <h2 class="content__h2 content__h2--separator" id="taking-with-others">Mixing with other medicines</h2>
        <p>Some medicines and isotretinoin gel can interfere with each other and make it more likely that you will have side effects.</p>
        <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting treatment with isotretinoin gel.</span></p>
        <p>Tell your doctor if you’re taking these medicines before you start isotretinoin gel:</p>
        <ul>
          <li>other acne medicines as using both together may make skin irritation worse</li>
          <li>benzoyl peroxide cream or gel (another acne treatment) as it may make isotretinoin gel less effective.</li>
        </ul>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
            <span>Expand mixing with other medicines</span>
          </summary>
          <div id="details-content-9" aria-hidden="false">
            <h3>Mixing isotretinoin with complementary remedies</h3>
            <p>There is very little information about taking herbal and complementary remedies while you use isotretinoin gel.</p>
            <p>For safety, speak to your pharmacist before taking isotretinoin gel if you routinely take any herbal or alternative remedies.</p>
          </div>
        </details>



        <div class="concertinas concertinas--separator" id="common-questions">
          <div class="concertinas--bg">
            <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

            <details role="group">
              <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
                <h3>Can I drink alcohol?</h3>
              </summary>
              <div id="questions-3" aria-hidden="true">
                <p>Yes, you can drink alcohol with isotretinoin gel.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
                <h3>When will it start to work?</h3>
              </summary>
              <div id="questions-6" aria-hidden="true">
                <p>It may take six to eight weeks before your acne starts to improve. If your acne has not improved after eight weeks or gets worse, make an appointment to see your GP.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
                <h3>How long will I need to use it for?</h3>
              </summary>
              <div id="questions-7" aria-hidden="true">
                <p>You will probably need to use isotretinoin gel for longer than six months to stop the acne from coming back.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
                <h3>Will it affect my fertility?</h3>
              </summary>
              <div id="questions-7" aria-hidden="true">
                <p>Isotretinoin gel does not reduce a man's or woman’s fertility.</p>
              </div>
            </details>

          </div>
        </div>


        <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take isotretinoin gel</h2>
        <p>Isotretinoin gel may not be suitable for some people. Tell your doctor before starting treatment with isotretinoin gel if you:</p>
        <ul>
          <li>get eczema</li>
          <li>have had skin cancer</li>
          <li>you are pregnant or think you could be or you are breastfeeding</li>
        </ul>
        <p>Isotretinoin gel is not recommended for children under the age of 12 or before puberty.</p>



        <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
        <p>Don’t use isotretinoin gel if you are pregnant because this medicine can harm a baby.</p>
        <p>If you become pregnant during treatment with isotretinoin gel, stop using it and tell to your doctor as soon as possible.</p>
        <p>To prevent pregnancy while you take isotretinoin gel, it’s recommended that you use at least one - ideally two - types of contraception for one month before treatment begins, during treatment and for one month after treatment has finished.</p>
        <p>It’s unlikely that isotretinoin gel could harm your baby through breastfeeding, but there is not enough information to say for certain that is safe. Discuss with your doctor whether you should use isotretinoin gel if you are breastfeeding.</p>



        <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about isotretinoin gel</h2>
        <div class="concertinas">
          <details role="group">
            <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
              <h3>How isotretinoin gel works</h3>
            </summary>
            <div id="more-1" aria-hidden="true">
              <p>Isotretinoin gel is intended for mild to moderate acne. This is acne that is mostly on the face with spots that are mainly whiteheads and blackheads.</p>
              <p>Isotretinoin gel relieves acne by:</p>
              <ul>
                <li>reducing the amount of natural oil made by your skin so blocked pores are less likely</li>
                <li>killing the bacteria that cause acne</li>
                <li>relieving redness and soreness</li>
              </ul>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
              <h3>Food and drinks</h3>
            </summary>
            <div id="more-2" aria-hidden="true">
              <p>There are no foods or drinks you need to avoid. You can eat and drink normally while using isotretinoin gel.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
              <h3>Other acne medicines</h3>
            </summary>
            <div id="more-3" aria-hidden="true">
              <p>For mild acne, there are a range of medicines that you can rub-on your skin. These include other retinoid creams and gels, or benzoyl peroxide cream or gel.</p>
              <p>If these don’t work your doctor may prescribe a cream or gel that contains an antibiotic plus a retinoid or benzoyl peroxide. They might also choose another type of gel called azelaic acid.</p>
              <p>For some women, using the contraceptive pill helps their acne.</p>
              <p>For more severe acne, your doctor may prescribe antibiotic tablets plus a gel or cream before you are referred to a hospital specialist, or while you are waiting for an appointment with a hospital specialist.</p>
              <p>It can take two to three months for many of these treatments to work.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
              <h3>Self-help remedies</h3>
            </summary>
            <div id="more-4" aria-hidden="true">
              <p>There are several lifestyle steps that can relieve acne. It may help if you:</p>
              <ul>
                <li>Try not to wash affected areas of skin more than twice a day. Too much washing can irritate your skin and make spots worse</li>
                <li>Wash spotty skin with a mild soap or cleanser and lukewarm water. Very hot or cold water can make acne worse.</li>
                <li>Never ‘clean out’ blackheads or squeeze spots. This can make them worse and cause permanent scars.</li>
                <li>Don’t use too much make-up and cosmetics.</li>
                <li>Use water-based make-up and toiletries that are described as ‘non-comedogenic’ (this means the product is less likely to block the pores in your skin).</li>
                <li>Remove make-up before going to bed.</li>
                <li>Use a fragrance-free, water-based moisturiser if dry skin is a problem</li>
                <li>Shower as soon as possible after exercising as sweat can irritate acne.</li>
                <li>Wash your hair regularly and try to stop letting your hair fall across your face.</li>
              </ul>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
              <h3>If you're a blood donor</h3>
            </summary>
            <div id="more-4" aria-hidden="true">
              <p>Don't donate blood while using isotretinoin gel and for at least one month after stopping. If your blood is given to a pregnant woman it may harm her unborn baby.</p>
            </div>
          </details>

        </div>


        <div class="module module--separator module--links">
          <div class="module__wrap module__wrap--bg">
            <div class="module__row">
              <div class="module__col">
                <h2 class="module__header">Related health conditions</h2>
                <ul class="module__list">
                  <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Acne/Pages/Introduction.aspx">Acne</a></li>
                </ul>
              </div>
              <div class="module__col">
                <h2 class="module__header">Useful resources</h2>
                <ul class="module__list">
                  <li class="module__list-item"><a class="link__external" href="http://www.britishskinfoundation.org.uk/">British Skin Foundation</a></li>
                  <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/young-peoples-experiences/acne/topics">Healthtalk.org: acne real stories</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- end content 1 -->

    </div>

  </div>
</main>

<script src="/public/javascripts/tabs.js"></script>

{% endblock %}
