{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block hotjar %}
<script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:265857,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'Expand how and when to take' %}
{% set moreinfoSideEffects = 'Expand side effects' %}
{% set moreinfoWhoCanTake = 'Expand who can take' %}
{% set moreinfoTakingWithOther = 'Expand taking with other medicines' %}
{% set moreinfoPregnancy = 'Expand pregnancy and breastfeeding' %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/isotretinoin" class="link__unstyled">Isotretinoin</a></h1>
      </div>
    </div>

    <div class="grid-row">
      <div class="content-intro column-two-thirds u-margintop20">
        <p class="u-margintop10">Isotretinoin is a medicine for acne. It comes as a gel that you put on your skin and as capsules that you swallow. Choose the type of medicine that you want information on.</p>
      </div>
    </div>

    <ol class="nav-types nav-types--floating-nav">
      <li><strong>Isotretinoin gel</strong></li>
      <li><a href="/isotretinoin/all-content-pages-capsules-nav3-moreless">Isotretinoin capsules</a></li>
    </ol>

  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav-tab1" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Isotretinoin gel</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Important advice for women</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ul>
      </div>
    </div>

    <div class="column-two-thirds">

      <h2 class="content__h2 u-marginbottom20 u-margintop10">Isotretinoin gel</h2>

      {% include "./includes/gel/intro.html" %}

      <!-- start content 1 -->
      <div id="content-tab1" class="content1 tabs-content">
        {% include "./includes/gel/keyfacts.html" %}
        {% include "./includes/gel/how-when-to-take.html" %}
        {% include "./includes/gel/side-effects.html" %}
        {% include "./includes/gel/taking-with-others.html" %}
        {% include "./includes/gel/common-questions.html" %}
        {% include "./includes/gel/who-can-take.html" %}
        {% include "./includes/gel/pregnancy-breastfeeding.html" %}
        {% include "./includes/gel/more-about.html" %}
        {% include "./includes/gel/links.html" %}
      </div>
      <!-- end content 1 -->

    </div>

  </div>
</main>

<script src="/public/javascripts/tabs.js"></script>

{% endblock %}
