{% extends "templates/layout.html" %}

{% block page_title %}
  Isotretenoin - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/isotretinoin" class="link__unstyled">Isotretinoin</a></h1>
      </div>
    </div>

    <div class="grid-row">
      <div class="content-intro column-two-thirds u-margintop20">
        <p class="hidden show-mob">Isotretinoin is available as:</p>
      </div>
    </div>

    <ul class="tabs tabs--bigger clear">
      <li class="tab"><a href="#content-tab1" class="tab__link tab__link--current tab1"><span class="tab-med">Isotretinoin</span> <span class="tab-formulation">gel</span></a></li>
      <li class="tab"><a href="#content-tab2" class="tab__link tab2"><span class="tab-med">Isotretinoin</span> <span class="tab-formulation">capsules</span></a></li>
    </ul>

  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav-tab1" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Page contents<span class="hidden"> for isotretinoin gel information</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#not-be-able">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Pregnancy advice</a></li>
          <li class=""><a href="#more">More info</a></li>
        </ul>
      </div>
    </div>

    <div class="column-one-third page-nav-tab2 hidden" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Page contents<span class="hidden"> for isotretinoin capsules information</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts2">Key facts</a></li>
          <li class=""><a href="#how-when2">How and when to take</a></li>
          <li class=""><a href="#side-effects2">Side effects</a></li>
          <li class=""><a href="#taking-with-others2">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions2">Common questions</a></li>
          <li class=""><a href="#not-be-able2">Who can take it</a></li>
          <li class=""><a href="#pregnancy2">Pregnancy advice</a></li>
          <li class=""><a href="#more2">More info</a></li>
        </ul>
      </div>
    </div>


    <div class="column-two-thirds">

      <!-- start content 1 -->
      <div id="content-tab1" class="content1 tabs-content">

        <p class="u-margintop10">Isotretinoin gel is a prescription-only treatment for <a href="http://www.nhs.uk/Conditions/Acne/Pages/Introduction.aspx">acne</a> (spots).</p>
        <p>It is a greenish-yellow gel that you apply to the affected skin. It can be used on its own or with other creams, gels or antibiotic tablets.</p>
        <p>Isotretinoin also comes as capsules. This is a more powerful treatment used only for severe acne.</p>
        <p>Isotretinoin gel is not suitable for children under 12 or who have not started puberty.</p>
        <p>Isotretinoin gel is also called by the brand name Isotrex.</p>


        <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
        <ul>
          <li>Isotretinoin gel is usually applied once or twice a day.</li>
          <li>It may take a couple of months before you see it working.</li>
          <li>The most common side effects of isotretinoin gel are red, sore or dry sensitive skin and skin being sensitive to sunlight. These side effects go away when you stop the treatment.</li>
          <li>Isotretinoin gel can make your skin sensitive to sunlight. For safety, stay out of bright sun and use a high factor sun cream even on cloudy days.</li>
          <li>If you are a woman, it’s really important not to become pregnant while using isotretinoin gel and for at least one month after stopping. This is because isotretinoin can harm an unborn baby.</li>
        </ul>

        <div class="disclaimer__info">
          <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
          <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
        </div>


        <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
        <p>Apply isotretinoin gel once or twice a day as instructed by your doctor.</p>
        <p>Put a thin layer of the gel on affected skin using your fingertips and smooth it in. Apply it to all areas of skin which have acne and not just each spot.</p>
        <p>Always wash and dry your skin and completely remove any make-up before applying the gel. This will help it work better. Wash your hands before and after using the gel.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
            <span>Expand how and when to take</span>
          </summary>
          <div id="details-content-1" aria-hidden="false">
            <p>Do not apply isotretinoin gel to irritated areas of skin, for example cuts, burns or sunburn, as it can make the irritation worse. Only ever use isotretinoin gel on your skin and keep it away from your mouth, lips and eyes.</p>
            <p>Isotretinoin gel is flammable so keep it away from fire.</p>
            <h3>How much will I take?</h3>
            <p>Use the amount of isotretinoin gel that your doctor has recommended.</p>
            <p>Apply only a thin layer of gel to affected skin. Take care not to use too much especially where the gel could run into your eyes or build up in folds of skin. Using more gel will not make your spots clear up more quickly.</p>
            <h3>What if I forget to take it?</h3>
            <p>If you forget to apply the gel, skip the missed dose and apply the next dose at the usual time. Do not apply a double dose or an extra dose to make up for a missed one.</p>
            <h3>What if I use too much?</h3>
            <p>If you use too much isotretinoin gel, or use it more often than you should, it may make you skin red or irritated. If this happens, use the gel less often or stop using it for a few days.</p>
            <h3>Will the amount I take go up or down?</h3>
            <p>The dose of isotretinoin gel will probably not change, although if your skin becomes irritated, your doctor may suggest that you use it less often for a while.</p>
          </div>
        </details>


        <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
        <p>Like all medicines, isotretinoin gel can cause side effects although not everyone gets them. Side effects will usually go away when you stop using the gel.</p>
        <p>The most common side effects of isotretinoin gel are red, sore or dry sensitive skin and skin sensitivity to sunlight.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
            <span>Expand side effects</span>
          </summary>
          <div id="details-content-3" aria-hidden="false">
            <h3>Common side effects</h3>
            <p>Common side effects of isotretinoin gel happen in around one in 10 people. They include:</p>
            <ul>
              <li>redness or peeling of skin</li>
              <li>skin stinging, pain or a feeling of burning</li>
              <li>skin irritation or itching</li>
              <li>dry skin</li>
              <li>skin becoming more sensitive to sunlight – for safety, stay out of bright sun and use a high factor sun cream (SPF 15 or above) even on cloudy days. Do not use a sun-lamp or sun-beds.</li>
            </ul>
            <h3>Serious side effects</h3>
            <p>A severe skin reaction can sometimes happen with isotretinoin gel.</p>
            <p>If you have severe burning, peeling, redness or itching of your skin stop using the gel and see a doctor straight away</p>

            <div class="disclaimer__info">
              <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
              <p class="disclaimer__info-text">These are not all the side effects of isotretinoin gel. For a full list see the leaflet inside your medicines packet.</p>
            </div>

            <h3>Coping with side effects</h3>
            <h4>What to do about dry skin or lips</h4>
            <p> Apply a moisturiser and lip balm regularly. If you get a rash or your skin becomes fragile, talk to your doctor.</p>

            <h4>What to do about skin irritation or pain</h4>
            <p>Try using the gel less often, maybe once a day instead of twice, or every other day. Or you could stop using the gel for a few days until the irritation goes away and then try using it again. If the irritation does not go away, stop using the gel and speak to your doctor.</p>

            <div class="disclaimer__info">
              <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
              <p class="disclaimer__info-text">If you have a side effect from any medicine, including isotretinoin gel, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
            </div>

          </div>
        </details>



        <h2 class="content__h2 content__h2--separator" id="taking-with-others">Mixing with other medicines</h2>
        <p>Some medicines and isotretinoin gel can interfere with each other and make it more likely that you will have side effects.</p>
        <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting treatment with isotretinoin gel.</span></p>
        <p>Tell your doctor if you’re taking these medicines before you start isotretinoin gel:</p>
        <ul>
          <li>other acne medicines as using both together may make skin irritation worse</li>
          <li>benzoyl peroxide cream or gel (another acne treatment) as it may make isotretinoin gel less effective.</li>
        </ul>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
            <span>Expand mixing with other medicines</span>
          </summary>
          <div id="details-content-9" aria-hidden="false">
            <h3>Mixing isotretinoin with complementary remedies</h3>
            <p>There is very little information about taking herbal and complementary remedies while you use isotretinoin gel.</p>
            <p>For safety, speak to your pharmacist before taking isotretinoin gel if you routinely take any herbal or alternative remedies.</p>
          </div>
        </details>



        <div class="concertinas concertinas--separator" id="common-questions">
          <div class="concertinas--bg">
            <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

            <details role="group">
              <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
                <h3>Can I drink alcohol?</h3>
              </summary>
              <div id="questions-3" aria-hidden="true">
                <p>Yes, you can drink alcohol with isotretinoin gel.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
                <h3>When will it start to work?</h3>
              </summary>
              <div id="questions-6" aria-hidden="true">
                <p>It may take six to eight weeks before your acne starts to improve. If your acne has not improved after eight weeks or gets worse, make an appointment to see your GP.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
                <h3>How long will I need to use it for?</h3>
              </summary>
              <div id="questions-7" aria-hidden="true">
                <p>You will probably need to use isotretinoin gel for longer than six months to stop the acne from coming back.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
                <h3>Will it affect my fertility?</h3>
              </summary>
              <div id="questions-7" aria-hidden="true">
                <p>Isotretinoin gel does not reduce a man's or woman’s fertility.</p>
              </div>
            </details>

          </div>
        </div>


        <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take isotretinoin gel</h2>
        <p>Isotretinoin gel may not be suitable for some people. Tell your doctor before starting treatment with isotretinoin gel if you:</p>
        <ul>
          <li>get eczema</li>
          <li>have had skin cancer</li>
          <li>you are pregnant or think you could be or you are breastfeeding</li>
        </ul>
        <p>Isotretinoin gel is not recommended for children under the age of 12 or before puberty.</p>



        <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
        <p>Don’t use isotretinoin gel if you are pregnant because this medicine can harm a baby.</p>
        <p>If you become pregnant during treatment with isotretinoin gel, stop using it and tell to your doctor as soon as possible.</p>
        <p>To prevent pregnancy while you take isotretinoin gel, it’s recommended that you use at least one - ideally two - types of contraception for one month before treatment begins, during treatment and for one month after treatment has finished.</p>
        <p>It’s unlikely that isotretinoin gel could harm your baby through breastfeeding, but there is not enough information to say for certain that is safe. Discuss with your doctor whether you should use isotretinoin gel if you are breastfeeding.</p>



        <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about isotretinoin gel</h2>
        <div class="concertinas">
          <details role="group">
            <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
              <h3>How isotretinoin gel works</h3>
            </summary>
            <div id="more-1" aria-hidden="true">
              <p>Isotretinoin gel is intended for mild to moderate acne. This is acne that is mostly on the face with spots that are mainly whiteheads and blackheads.</p>
              <p>Isotretinoin gel relieves acne by:</p>
              <ul>
                <li>reducing the amount of natural oil made by your skin so blocked pores are less likely</li>
                <li>killing the bacteria that cause acne</li>
                <li>relieving redness and soreness</li>
              </ul>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
              <h3>Food and drinks</h3>
            </summary>
            <div id="more-2" aria-hidden="true">
              <p>There are no foods or drinks you need to avoid. You can eat and drink normally while using isotretinoin gel.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
              <h3>Other acne medicines</h3>
            </summary>
            <div id="more-3" aria-hidden="true">
              <p>For mild acne, there are a range of medicines that you can rub-on your skin. These include other retinoid creams and gels, or benzoyl peroxide cream or gel.</p>
              <p>If these don’t work your doctor may prescribe a cream or gel that contains an antibiotic plus a retinoid or benzoyl peroxide. They might also choose another type of gel called azelaic acid.</p>
              <p>For some women, using the contraceptive pill helps their acne.</p>
              <p>For more severe acne, your doctor may prescribe antibiotic tablets plus a gel or cream before you are referred to a hospital specialist, or while you are waiting for an appointment with a hospital specialist.</p>
              <p>It can take two to three months for many of these treatments to work.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
              <h3>Self-help remedies</h3>
            </summary>
            <div id="more-4" aria-hidden="true">
              <p>There are several lifestyle steps that can relieve acne. It may help if you:</p>
              <ul>
                <li>Try not to wash affected areas of skin more than twice a day. Too much washing can irritate your skin and make spots worse</li>
                <li>Wash spotty skin with a mild soap or cleanser and lukewarm water. Very hot or cold water can make acne worse.</li>
                <li>Never ‘clean out’ blackheads or squeeze spots. This can make them worse and cause permanent scars.</li>
                <li>Don’t use too much make-up and cosmetics.</li>
                <li>Use water-based make-up and toiletries that are described as ‘non-comedogenic’ (this means the product is less likely to block the pores in your skin).</li>
                <li>Remove make-up before going to bed.</li>
                <li>Use a fragrance-free, water-based moisturiser if dry skin is a problem</li>
                <li>Shower as soon as possible after exercising as sweat can irritate acne.</li>
                <li>Wash your hair regularly and try to stop letting your hair fall across your face.</li>
              </ul>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
              <h3>If you're a blood donor</h3>
            </summary>
            <div id="more-4" aria-hidden="true">
              <p>Don't donate blood while using isotretinoin gel and for at least one month after stopping. If your blood is given to a pregnant woman it may harm her unborn baby.</p>
            </div>
          </details>

        </div>


        <div class="module module--separator module--links">
          <div class="module__wrap module__wrap--bg">
            <div class="module__row">
              <div class="module__col">
                <h2 class="module__header">Related health conditions</h2>
                <ul class="module__list">
                  <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Acne/Pages/Introduction.aspx">Acne</a></li>
                </ul>
              </div>
              <div class="module__col">
                <h2 class="module__header">Useful resources</h2>
                <ul class="module__list">
                  <li class="module__list-item"><a class="link__external" href="http://www.britishskinfoundation.org.uk/">British Skin Foundation</a></li>
                  <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/young-peoples-experiences/acne/topics">Healthtalk.org: acne real stories</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- end content 1 -->

      <!-- start content 2 -->
      <div id="content-tab2" class="content2 tabs-content hidden">

        <p>Isotretinoin capsules are a very effective treatment for severe <a href="http://www.nhs.uk/Conditions/Acne/Pages/Introduction.aspx">acne</a> (spots).</p>
        <p>This medicine can have serious side effects so it must be prescribed and supervised by a skin specialist.</p>
        <p>Isotretinoin also comes as a gel for milder acne.</p>
        <p>Isotretinoin capsules are also called by the brand names Roaccutane or Rizuderm.</p>
        <p>Treatment with isotretinoin capsules is not suitable for children under 12 or who have not started puberty.</p>

        <h2 id="key-facts2" class="content__h2 noborder">Key facts</h2>
        <ul>
          <li>Isotretinoin capsules are usually taken once or twice a day straight after a meal or snack.</li>
          <li>Acne normally improves after taking isotretinoin capsules for a week to 10 days.</li>
          <li>Most people have clear skin after a four to five month course of isotretinoin capsules.</li>
          <li>The most common side effects of isotretinoin capsules are headaches, aching muscles and joints, dry sensitive skin and skin being sensitive to sunlight.</li>
          <li>If you are a woman, it’s very important not to become pregnant while using isotretinoin gel or capsules or for at least one month after stopping. This is because isotretinoin can harm an unborn baby.</li>
        </ul>

        <div class="disclaimer__info">
          <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
          <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
        </div>


        <h2 class="content__h2 content__h2--separator" id="how-when2">How and when to take</h2>
        <p>Isotretinoin is a strong medicine so it's important to take the capsules as instructed by your doctor.</p>
        <p>Usually, isotretinoin capsules are taken once or twice a day. Each capsule contains a dose of 10mg or 20mg of isotretinoin.</p>
        <p>Swallow the capsules whole with a drink of water. It’s best to take them straight after a meal or snack to make sure they work properly.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
            <span>Expand how and then to take</span>
          </summary>
          <div id="details-content-1" aria-hidden="false">
            <h3>How much will I take?</h3>
            <p>The dose of isotretinoin capsules varies from person to person and depends on your weight.</p>
            <p>As a general rule, the starting dose is 0.5 mg per kilogram body weight per day (0.5 mg/kg/day). So if you weigh 60 kg, your dose will usually start at 30 mg a day.</p>
            <h3>What if I forget to take it?</h3>
            <p>If you take the capsules once a day and remember you have missed a dose on that day, take it as soon as you remember. However, if it is the next day when you remember, skip the missed dose and have the next dose at the usual time.</p>
            <p>If you take the capsules twice a day and forget to take a dose, take it as soon as you remember unless this is within two hours of your next dose, in which case skip the missed dose and take the next dose at the usual time.</p>
            <p>Never take a double dose or an extra dose to make up for a missed one.</p>
            <h3>What if I take too much?</h3>
            <p>If you accidentally take too many isotretinoin capsules or someone else accidentally takes your medicine, contact your pharmacist, NHS 111, your GP, or your nearest hospital immediately.</p>
            <h3>Will the amount I take go up or down?</h3>
            <p>After a few weeks your doctor may change your dose of capsules. For example, you may need a higher dose if your acne is not getting better. If you have any side effects that bother you, your doctor may lower your dose.</p>
          </div>
        </details>


        <h2 class="content__h2 content__h2--separator" id="side-effects2">Side effects</h2>
        <p>Like all medicines, isotretinoin capsules can cause side effects although not everyone gets them. Side effects will usually go away when you stop treatment.</p>
        <p>The most common side effects of isotretinoin capsules are headaches, aching muscles and joints, dry sensitive skin and skin sensitivity to sunlight.</p>
        <p>It has been reported that isotretinoin capsules can cause or worsen <a href="http://www.nhs.uk/conditions/depression/Pages/Introduction.aspx">depression</a> and even make people feel suicidal. These reports are rare and it’s not clear if the medicine is the cause of the mental health illness or if it was there before. So far there is no clear link between this medicine and depression or suicidal behaviour.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
            <span>Expand side efffects</span>
          </summary>
          <div id="details-content-3" aria-hidden="false">
            <h3>Common side effects</h3>
            <p>The common side effects of isotretinoin capsules happen in around one in 10 people. They include:</p>
            <ul>
              <li>headaches, joint, muscle and back pain</li>
              <li>dry skin and lips – for safety, don’t have any waxing, dermabrasion or laser skin treatment while you are taking this medicine and for at least six months after you stop as this could cause scarring or skin irritation.</li>
              <li>skin becoming more sensitive to sunlight – for safety, try to stay out of bright sun and use a high factor sun cream (SPF 15 or above) even on cloudy days. Do not use a sun-lamp or sun-beds.</li>
              <li>dry eyes</li>
              <li>dry mouth</li>
              <li>dry nose and <a href="http://www.nhs.uk/conditions/Nosebleed/Pages/Introduction.aspx">nosebleeds</a></li>
            </ul>
            <h3>Serious side effects</h3>
            <p>Serious side effects are rare and happen in fewer than one in 1,000 people</p>
            <p>Stop taking isotretinoin capsules and tell a doctor straight away if you get:</p>
            <ul>
              <li><strong>depression or mood changes</strong>. Symptoms of depression can include anxiety, aggression and violence, changes in mood or suicidal thoughts.</li>
              <li><strong>stomach problems</strong> – severe pain in your tummy, with or without bloody diarrhoea, feeling sick and being sick can be signs of a serious and sometimes life-threatening problem called <a href="http://www.nhs.uk/conditions/Pancreatitis/Pages/Introduction.aspx">pancreatitis</a>.</li>
              <li><strong>a serious skin rash</strong> that peels or has blisters. The skin rash may come with eye infections, ulcers, a fever and headaches.</li>
            </ul>
            <ul>
              <li><strong>muscle weakness </strong>– including difficulty moving your arms or legs and painful, swollen or bruised areas of the body. Dark pee can also be a sign of muscle weakness.</li>
              <li><strong>yellow skin or eyes</strong>, difficulty peeing or feeling very tired. These are all signs of liver or kidney problems.</li>
              <li><strong>a bad headache</strong> that does not go away and makes you feel sick or vomit.</li>
              <li><strong>sudden changes in eyesight </strong>including not seeing as well at night</li>
            </ul>
            <h4>Serious allergic reaction</h4>
            <p><span class="alertbanner">It's rare to have an allergic reaction to isotretinoin capsules but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
            <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
            <ul>
              <li>skin rash</li>
              <li>wheezing</li>
              <li>tightness in the chest or throat</li>
              <li>having trouble breathing or talking</li>
              <li>unusual hoarseness</li>
              <li>swelling of the mouth, face, lips, tongue, or throat</li>
            </ul>

            <div class="disclaimer__info">
              <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
              <p class="disclaimer__info-text">These are not all the side effects of isotretinoin capsules. For a full list see the leaflet inside your medicines packet.</p>
            </div>

            <h3>Coping with side effects</h3>
            <h4>What to do about headache, joint, muscle and back pain</h4>
            <p>Ask your pharmacist to recommend a painkiller. Light exercise should not be a problem but try to avoid heavy exercise because it may make joint or muscle pain worse.</p>
            <h4>What to do about dry skin or lips</h4>
            <p>Apply a moisturiser and lip balm regularly. The best type of moisturiser is an oil-free face moisturiser for sensitive skin. Try and keep your showers shorter than two minutes and use lukewarm water rather than hot.</p>
            <h4>What to do about dry eyes</h4>
            <p>Ask your pharmacist or optician to recommend some eye drops. If you wear contact lenses and these become uncomfortable, you might have to wear glasses instead while you are taking this medicine.</p>
            <h4>What to do about dry mouth</h4>
            <p> Try chewing sugar free gum or sweets</p>
            <h4>What to do about dry nose and nosebleeds</h4>
            <p>Try applying a thin layer of Vaseline to the inside edges of your nose.</p>

            <div class="disclaimer__info">
              <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
              <p class="disclaimer__info-text">If you have a side effect from any medicine, including isotretinoin capsules, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
            </div>

          </div>
        </details>



        <h2 class="content__h2 content__h2--separator" id="taking-with-others2">Mixing with other medicines</h2>
        <p>Some medicines and isotretinoin capsules can interfere with each other and make it more likely that you will have side effects.</p>
        <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting treatment with isotretinoin capsules.</span></p>
        <p>Tell your doctor if you’re taking these medicines before you start treatment with isotretinoin capsules:</p>
        <ul>
          <li>supplements that contain vitamin A</li>
          <li>tetracycline antibiotics such as doxycycline, oxytetracycline, minocycline and lymecycline</li>
          <li>other acne medicines as using both together may make skin irritation worse.</li>
        </ul>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
            <span>Expand mixing with other medicines</span>
          </summary>
          <div id="details-content-9" aria-hidden="false">
            <h3>Mixing isotretinoin with complementary remedies</h3>
            <p>There is very little information about taking herbal and complementary remedies while you use isotretinoin capsules.</p>
            <p>For safety, speak to your pharmacist before taking isotretinoin capsules if you routinely take any herbal or alternative remedies.</p>
          </div>
        </details>



        <div class="concertinas concertinas--separator" id="common-questions2">
          <div class="concertinas--bg">
            <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

            <details role="group">
              <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
                <h3>Can I drink alcohol?</h3>
              </summary>
              <div id="questions-3" aria-hidden="true">
                <p>Yes, you can drink alcohol with isotretinoin capsules.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
                <h3>When will it start to work?</h3>
              </summary>
              <div id="questions-6" aria-hidden="true">
                <p>This can vary. Your acne may get worse when you first start treatment with isotretinoin capsules, but will then normally improve after seven to 10 days.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
                <h3>How long will treatment last?</h3>
              </summary>
              <div id="questions-7" aria-hidden="true">
                <p>A treatment course of isotretinoin capsules usually lasts for 16-24 weeks (around four to six months). Acne will normally keep improving for up to eight weeks after stopping. After that time most people have permanently clear skin, but a few will need another round of treatment.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
                <h3>Can I drive during treatment?</h3>
              </summary>
              <div id="questions-8" aria-hidden="true">
                <p>Isotretinoin capsules can make you feel sleepy and dizzy. You may also not see as well at night. If this happens to you, don’t drive or use machinery or tools until you have stopped treatment.</p>
              </div>
            </details>

            <details role="group">
              <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
                <h3>Will it affect my fertility?</h3>
              </summary>
              <div id="questions-9" aria-hidden="true">
                <p>Isotretinoin capsules do not reduce a man's or woman’s fertility.</p>
              </div>
            </details>

          </div>
        </div>


        <h2 class="content__h2 content__h2--separator" id="not-be-able2">Who can take isotretinoin capsules</h2>
        <p>Isotretinoin capsules contain soya. You should not take this medicine if you have an allergy to this ingredient.</p>
        <p>Isotretinoin capsules contain sorbitol. Don't take this medicine if you have an inherited digestive disorder called fructose intolerance.</p>
        <p>Isotretinoin capsules are not recommended for children under the age of 12 or before puberty.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
            <span>Expand who can take isotretenoin capsules</span>
          </summary>
          <div id="details-content-8" aria-hidden="false">
            <p>To make sure isotretinoin capsules are safe for you tell your doctor if:</p>
            <ul>
              <li>you are pregnant or think you could be or you are breastfeeding</li>
              <li>you have ever had an allergic reaction to isotretinoin or any other medicine</li>
              <li>you have liver or kidney disease</li>
              <li>you have high levels of cholesterol or other fats in your blood</li>
              <li>you have high levels of vitamin A</li>
              <li>you, or a close family member, have a mental health illness</li>
              <li>you have inflammatory bowel disease such as <a href="http://www.nhs.uk/conditions/Crohns-disease/Pages/Introduction.aspx">Crohn’s disease</a> or <a href="http://www.nhs.uk/conditions/Ulcerative-colitis/Pages/Introduction.aspx">ulcerative colitis</a></li>
            </ul>
            <p>If you have <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a>, talk to your doctor before beginning treatment with isotretinoin capsules. You may need extra monitoring while you take isotretinoin capsules as this medicine can cause a rise in blood sugar levels.</p>
          </div>
        </details>



        <h2 class="content__h2 content__h2--separator" id="pregnancy2">Pregnancy and breastfeeding</h2>
        <p>Isotretinoin capsules are not recommended if you are pregnant or breastfeeding because this medicine can harm a baby.</p>
        <p>If you become pregnant during treatment with isotretinoin capsules, stop taking the capsules and tell your doctor as soon as possible.</p>
        <p>To prevent pregnancy during treatment with isotretinoin capsules, it's recommended that you use at least one - ideally two - types of contraception for one month before treatment begins, during treatment and for one month after treatment has finished.</p>

        <details role="group">
          <summary class="more-info" role="button" aria-controls="details-content-7" tabindex="0" aria-expanded="true">
            <span>Expand pregnancy and breastfeeding</span>
          </summary>
          <div id="details-content-7" aria-hidden="false">
            <p>Isotretinoin capsules MUST NOT be used by women during pregnancy as this medicine can cause serious birth defects in the unborn baby.</p>
            <p>Women who are able to become pregnant and who are taking isotretinoin capsules must:</p>
            <ul>
              <li>Use at least one, but ideally two effective methods of contraception without interruption for one month before starting isotretinoin and continue until one month after treatment has stopped. The second contraceptive should be a barrier method of contraception (for example a condom) although you should not use barrier methods on their own. Discuss your contraception with the specialist.</li>
              <li>Have a pregnancy test before, during and five weeks after the end of treatment. Some doctors may require you to have monthly pregnancy tests.</li>
            </ul>
            <h3>Men taking isotretinoin capsules</h3>
            <p>It’s thought that isotretinoin does not damage sperm and that only very low amounts get into semen.</p>
            <p>Men can safely take isotretinoin capsules if they and their partner are trying for a baby.</p>
            <h3>Isotretinoin and breastfeeding</h3>
            <p>It’s recommended that you should not breastfeed while taking isotretinoin capsules. The medicine is likely to pass into your breast milk and may harm your baby.</p>
          </div>
        </details>



        <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more2">More about isotretinoin capsules</h2>
        <div class="concertinas">
          <details role="group">
            <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
              <h3>How isotretinoin capsules works</h3>
            </summary>
            <div id="more-1" aria-hidden="true">
              <p>Isotretinoin capsules are only for severe acne. This is acne with lots of pus-filled spots that also affects the back and chest as well as the face.</p>
              <p>Isotretinoin capsules help severe acne by reducing the amount of natural oil made by your skin so blocked pores are less likely. The medicine also kills the bacteria that cause acne and relieves redness and soreness.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
              <h3>Food and drinks</h3>
            </summary>
            <div id="more-2" aria-hidden="true">
              <p>There are no foods or drinks you need to avoid while taking isotretinoin. You can eat and drink normally.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
              <h3>Other acne medicines</h3>
            </summary>
            <div id="more-3" aria-hidden="true">
              <p>Isotretinoin in the form of capsules is a powerful medicine generally reserved for people whose acne doesn't improve with other treatments.</p>
              <p>But there are other options for some people with severe acne, for example treatments that use lasers and other light devices and chemical peels.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
              <h3>Self-help remedies</h3>
            </summary>
            <div id="more-4" aria-hidden="true">
              <p>There are several lifestyle steps that can relieve even severe acne:</p>
              <ul>
                <li>Try not to wash affected areas of skin more than twice a day. Too much washing can irritate your skin and make spots worse</li>
                <li>Wash spotty skin with a mild soap or cleanser and lukewarm water. Very hot or cold water can make acne worse.</li>
                <li>Never ‘clean out’ blackheads or squeeze spots. This can make them worse and cause permanent scars.</li>
                <li>Don’t use too much make-up and cosmetics. Use water-based products that are described as ‘non-comedogenic’ (this means the product is less likely to block the pores in your skin).</li>
                <li>Remove make-up before going to bed.</li>
                <li>Use a fragrance-free, water-based moisturiser if dry skin is a problem</li>
                <li>Shower as soon as possible after exercising as sweat can irritate acne.</li>
                <li>Wash your hair regularly and try to stop letting your hair fall across your face.</li>
              </ul>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
              <h3>If you're a blood donor</h3>
            </summary>
            <div id="more-4" aria-hidden="true">
              <p>Don't donate blood while taking isotretinoin capsules and for at least one month after stopping. If your blood is given to a pregnant woman it may harm her unborn baby.</p>
            </div>
          </details>

        </div>


        <div class="module module--separator module--links">
          <div class="module__wrap module__wrap--bg">
            <div class="module__row">
              <div class="module__col">
                <h2 class="module__header">Useful resources</h2>
                <ul class="module__list">
                  <li class="module__list-item"><a class="link__external" href="http://www.britishskinfoundation.org.uk/">British Skin Foundation</a></li>
									<li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/young-peoples-experiences/acne/topics">Healthtalk.org: acne real stories</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- end content 2 -->

    </div>

  </div>
</main>

<script src="/public/javascripts/tabs.js"></script>

{% endblock %}
