{% extends "templates/layout.html" %}

{% block page_title %}
  Isotretenoin - NHS Medicines beta
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'Expand how and when to take' %}
{% set moreinfoSideEffects = 'Expand side effects' %}
{% set moreinfoWhoCanTake = 'Expand who can take' %}
{% set moreinfoTakingWithOther = 'Expand taking with other medicines' %}
{% set moreinfoPregnancy = 'Expand pregnancy and breastfeeding' %}

<div class="header__nav-container header-tabs">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/isotretinoin" class="link__unstyled">Isotretinoin</a></h1>
      </div>
    </div>

    <div class="grid-row">
      <div class="content-intro column-two-thirds u-margintop20">
        <p class="u-margintop10">Isotretinoin is a medicine for acne. It comes as a gel that you put on your skin and as capsules that you swallow. Choose the type of medicine that you want information on.</p>
      </div>
    </div>

    <ul class="tabs tabs--bigger clear">
      <li class="tab"><a href="#content-tab1" class="tab__link tab__link--current tab1"><span class="tab-med">Isotretinoin</span> <span class="tab-formulation">gel</span></a></li>
      <li class="tab"><a href="#content-tab2" class="tab__link tab2"><span class="tab-med">Isotretinoin</span> <span class="tab-formulation">capsules</span></a></li>
    </ul>

  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav-tab1" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Isotretinoin gel</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Important advice for women</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ul>
      </div>
    </div>

    <div class="column-one-third page-nav-tab2 hidden" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Isotretinoin capsules</h2>
        <ul class="page-nav-list">
          <li class=""><a href="#key-facts2">Key facts</a></li>
          <li class=""><a href="#how-when2">How and when to take</a></li>
          <li class=""><a href="#side-effects2">Side effects</a></li>
          <li class=""><a href="#taking-with-others2">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions2">Common questions</a></li>
          <li class=""><a href="#who-can-take2">Who can take it</a></li>
          <li class=""><a href="#pregnancy2">Important advice for women</a></li>
          <li class=""><a href="#more2">More about</a></li>
        </ul>
      </div>
    </div>


    <div class="column-two-thirds">

      <!-- start content 1 -->
      <div id="content-tab1" class="content1 tabs-content">
        {% include "./includes/gel/intro.html" %}
        {% include "./includes/gel/keyfacts.html" %}
        {% include "./includes/gel/how-when-to-take.html" %}
        {% include "./includes/gel/side-effects.html" %}
        {% include "./includes/gel/taking-with-others.html" %}
        {% include "./includes/gel/common-questions.html" %}
        {% include "./includes/gel/who-can-take.html" %}
        {% include "./includes/gel/pregnancy-breastfeeding.html" %}
        {% include "./includes/gel/more-about.html" %}
        {% include "./includes/gel/links.html" %}
      </div>
      <!-- end content 1 -->

      <!-- start content 2 -->
      <div id="content-tab2" class="content2 tabs-content hidden">
        {% include "./includes/capsules/intro.html" %}

        <section class="u-section-separator u-margintop30">
          <h2 id="key-facts2" class="content__h2">Key facts</h2>
          {% include "./includes/capsules/keyfacts.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="how-when2" class="content__h2">How and when to take</h2>
          {% include "./includes/capsules/how-when-to-take.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="side-effects2" class="content__h2">Side effects</h2>
          {% include "./includes/capsules/side-effects.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="taking-with-others2" class="content__h2">Taking with other medicines</h2>
          {% include "./includes/capsules/taking-with-others.html" %}
        </section>

        <section class="u-section-separator">
          <div id="common-questions2" class="concertinas">
          {% include "./includes/capsules/common-questions.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="who-can-take2" class="content__h2">Who can take isotretinoin</h2>
          {% include "./includes/capsules/who-can-take.html" %}
        </section>

        <section class="u-section-separator">
          <h2 id="pregnancy2" class="content__h2">Pregnancy and breastfeeding</h2>
          {% include "./includes/capsules/pregnancy-breastfeeding.html" %}
        </section>

        <section class="u-section-separator module__wrap--bg">
          <h2 id="more2" class="content__h2">More about isotretinoin capsules</h2>
          {% include "./includes/capsules/more-about.html" %}
        </section>

        {% include "./includes/capsules/links.html" %}
      </div>
      <!-- end content 2 -->

    </div>

  </div>
</main>

<script src="/public/javascripts/tabs.js"></script>

{% endblock %}
