{% extends "templates/layout.html" %}

{% block page_title %}
  Salbutamol - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/salbutamol" class="link__unstyled">Salbutamol</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Salbutamol</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How much to take</a></li>
          <li class="nav__list-item"><a href="#using-inhaler" class="nav__list-link">Using your inhaler</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Before using it</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <!-- <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li> -->
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Salbutamol is a type of medicine known as a bronchodilator or 'reliever' because it opens up the airways.</p>
      <p>It works very quickly to relieve symptoms of asthma and <abbr title="Chronic obstructive pulmonary disease">COPD</abbr> such as coughing, wheezing and feeling breathless.</p>
      <p>Salbutamol is available only on prescription as an inhaler. It's sometimes given as tablets, capsules or syrup for people who can't use an inhaler very well.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts:</h2>
      <ul class="key-facts">
        <li>The salbutamol inhaler is usually blue</li>
        <li>Salbutamol can be inhaled on demand to rapidly ease breathing difficulties in lung problems like asthma and COPD</li>
        <li>Adults and children can have one or two puffs of a salbutamol inhaler up to a maximum of FOUR times in 24 hours</li>
        <li>The most common side effect of salbutamol is feeling shaky</li>
        <li>Salbutamol is generally considered safe to take as prescribed in pregnancy and while breastfeeding
      </ul>


      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking</p>
      </div>


      <h2 class="content__h2" id="how-when">How much to take</h2>
      <p>The normal dose is ONE to TWO puffs of salbutamol <span class="strong">whenever you need it</span>. One puff is equal to 100 micrograms of salbutamol.</p>
      <p>The maximum recommended dose of salbutamol for both adults and children is:</p>
      <ul>
        <li>Using the inhaler up to <em class="strong">FOUR times in 24 hours</em> (regardless of whether you have one puff or two puffs at a time)</li>
        <li>Up to EIGHT puffs (800 micrograms of salbutamol) in 24 hours</li>
      </ul>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Get to know the dose, how often and maximum number of puffs of salbutamol you can take.</p>
          <p>It’s very important that you use your salbutamol inhaler whenever you need it. However, if you regularly need more than the recommended dose contact your doctor for advice straight away. This could be a sign that your condition is getting worse and that you may need additional medicine.</p>

          <div class="callout">
            <p>Get medical advice if you need:</p>
            <ul>
              <li>to use your inhaler more than four times in 24 hours</li>
              <li>more than eight puffs of your inhaler in 24 hours</li>
              <li>to use your inhaler on more than two days each week</li>
              <li>to use your inhaler in the middle of the night at least once a week</li>
            </ul>
          </div>

          <p class="margintop20">Salbutamol is sometimes prescribed to prevent breathing symptoms happening in the first place. This could be before a trigger such as exercise or pets. In this situation, the normal dose is still ONE to TWO puffs at a time.</p>

          <h3>What if I take too much?</h3>
          <p>You may notice that your heart is beating more quickly than normal and that you feel shaky, but these effects should wear off after a few hours.</p>
          <p><em class="strong">Contact your doctor for advice if you’re worried.</em></p>

          <h3>In an emergency</h3>
          <p>In a sudden, serious asthma attack you can take a larger dose of salbutamol of up to 10 puffs (waiting 15 to 30 seconds between puffs). You can repeat this dose 10 minutes later.</p>
          <p>Salbutamol can be given through a nebuliser to treat severe asthma attacks. A nebuliser is a machine that delivers it as a mist inhaled through a face mask.</p>
          <p>Asthma attacks can get worse very quickly. If you or your child are struggling to breathe or have asthma symptoms that are not getting better, go to hospital immediately or call an ambulance.</p>

          <h3>Salbutamol tablets and syrup</h3>
          <p>Salbutamol tablets or syrup don't start to work very quickly so they have to be taken regularly to help keep the airways open all the time. </p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="using-inhaler">Using your inhaler</h2>
      <p>It's important that you're familiar with your inhaler and know how to use it properly so you're getting all the benefits from your medicine.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-using" tabindex="0" aria-expanded="false">
          <span>More information</span>
        </summary>
        <div id="details-content-using" aria-hidden="true">
            <h3>Using the inhaler properly</h3>
            <p>Before using your inhaler read the manufacturer's printed information leaflet from inside the pack. This leaflet gives you information and diagrams to show you how to use the inhaler, how to keep it clean, and how long to use it before getting a replacement.</p>
            <p>It's very important that you use your <span class="strong">inhaler properly</span> so you so you <span class="strong">get the right amount of salbutamol into your lungs</span>.</p>

            <div class="videoWrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/FqztOZLqFhE?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="videoWrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/5-HT9mt8GG0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <p class="callout">If you’re not sure how to use your inhaler, ask your doctor or nurse to show you.</p>
            <p>They might suggest you use a different type of inhaler or they may give you a spacer.</p>

            <h3>Using a spacer with the inhaler</h3>
            <p>If you or your child find it difficult to use an inhaler, your doctor may give you a 'spacer' device to use with it.</p>
            <p>A spacer is a large metal or plastic container with a mouthpiece and a hole for the inhaler. When used with the inhaler it makes it easier to get the right amount of salbutamol into the lungs.</p>
            <p>Spacers are especially useful for giving salbutamol to young children. They're also helpful for people who find it difficult to co-ordinate breathing in and pressing an inhaler at the same time.</p>
            <p>Your doctor or nurse can show you how to use a spacer with the inhaler.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="not-be-able">Before using it</h2>
      <p>Salbutamol isn't suitable for people with certain health problems. And sometimes it should only be used if extra care is taken.</p>
      <p class="strong">Check with your doctor before starting to take salbutamol if you:</p>
      <ul>
        <li>have an allergy to salbutamol or any other medicine or their ingredients</li>
        <li>take any other medicines including any pharmacy, herbal remedies or supplements</li>
        <li>have a rare inherited digestive disorder of galactose intolerance, the Lapp lactase deficiency or glucose-galactase maladsorption. This is because many salbutamol products contain lactose. You should not have lactose if you have these illnesses. The amount of lactose in salbutamol products is too small to be a problem for people with lactose intolerance.</li>
        <li>are trying to become pregnant, are already pregnant or breastfeeding</li>
      </ul>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Salbutamol is a safe medicine if you use it properly. As it's usually delivered directly to the lungs, it's less likely to cause side effects.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>It is possible, particularly after a lot of salbutamol, to:</p>
          <ul>
            <li>feel shaky</li>
            <li>feel nervous and excitable</li>
            <li>get a headache</li>
            <li>get muscle cramps</li>
          </ul>

          <p>These side effects should soon pass.</p>
          <p>Contact your doctor or get medical help if these or any other side effects bother you or don’t go away.</p>

          <h3>Serious side effects</h3>
          <p>It happens rarely, but some people may have very serious side effects when taking salbutamol.</p>

          <p><em class="strong">Tell a doctor straight away if you develop:</em></p>
          <ul>
            <li>low potassium levels: warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that doesn't feel normal</li>
            <li>very bad dizziness or passing out</li>
            <li>chest pain, a fast heartbeat or a heartbeat that doesn't feel normal</li>
            <li>very bad headache</li>
          </ul>

          <h3>Serious allergic reaction</h3>
          <p class="callout">It’s rare to have an allergic reaction to salbutamol but if this happens, stop taking the medicine and contact a doctor straight away.</p>
          <p>The warning signs of an allergic reaction are:</p>
          <ul>
            <li>skin rash</li>
            <li>wheezing</li>
            <li>tightness in the chest or throat</li>
            <li>having trouble breathing or talking</li>
            <li>unusual hoarseness</li>
            <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>

          <h3>Coping with side effects</h3>
          <p>Some of the common side effects of salbutamol will gradually improve as your body gets used to it.</p>
          <p><span class="strong">What to do about feeling shaky:</span> see if your asthma or COPD symptoms get better with just one puff of your inhaler rather than two. If you find you need two puffs for symptom relief, be reassured that the shakiness will wear off after a short time.</p>
          <p><span class="strong">What to do about dizziness:</span> if salbutamol makes you feel dizzy when you stand up, try getting up very slowly or staying seated until you feel better again.</p>
          <p><span class="strong">Take care driving or using tools or machines:</span> if you get side effects such as dizziness, a fast or uneven heart rate, muscle cramps or muscle pain, or if you simply feel a bit shaky, until these symptoms pass.</p>
        </div>
      </details>

      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>
          <details role="group">
            <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
              <h2>Can I drink alcohol with salbutamol?</h2>
            </summary>
            <div id="questions-1" aria-hidden="true">
              <p>Yes. Salbutamol is not affected by alcohol.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h2>Can I smoke if I use a salbutamol inhaler?</h2>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Try not to smoke. Smoking irritates the lungs and will make your condition worse.</p>
              <p>Speak to your GP, nurse or pharmacist for advice if you're finding it hard to stop smoking. There is help available on the NHS.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h2>Can I drive or ride a bike while I’m taking salbutamol?</h2>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>Salbutamol will normally not affect your ability to drive or operate machinery, but if you experience side effects such as dizziness, an increased or uneven heart rate, muscle cramps or muscle pain or if you feel a little shaky, it’s best to avoid driving, cycling or operating machinery until these symptoms pass.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h2>Can I take complementary medicines while I take salbutamol?</h2>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>Some complementary medicines may be affected by salbutamol.</p>
              <p>Tell your doctor and pharmacist that you're taking salbutamol before starting or stopping any complementary medicines.</p>
            </div>
          </details>
        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking salbutamol with other medicines</h2>
      <p>Some medicines can be affected by salbutamol.</p>
      <p>If you're taking other prescribed medicine that may interact with salbutamol your doctor will decide whether the benefits of taking both medicines outweighs the risks.</p>
      <p class="callout">Tell your doctor and pharmacist that you're taking salbutamol before starting or stopping any other prescription or over the counter medicines.</p>


      <h2 class="content__h2 content__h2--separator" id="pregnancy">Before, during and after pregnancy</h2>
      <p>Although salbutamol isn't officially approved for use during pregnancy and while breastfeeding, it's generally considered safe to use.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Taking salbutamol in pregnancy</h3>
          <p>If you have asthma, it's likely that your doctor will recommend that you use your salbutamol inhaler during pregnancy to keep your asthma under control.</p>
          <p>The risks of uncontrolled asthma during pregnancy are much higher than the risks of using medicines to prevent asthma attacks.</p>
          <p>Although most women with asthma have healthy babies, having uncontrolled asthma attacks can prevent your baby from getting enough oxygen and increase your risk of problems during pregnancy.</p>
          <p class="callout">See your doctor as soon as possible if you intend to become pregnant or if you have found out that you are pregnant to discuss your asthma medicine.</p>

          <h3>Salbutamol and breastfeeding</h3>
          <p>Salbutamol may pass into breast milk in very small amounts.</p>
          <p>In general salbutamol inhalers can be used as normal while breastfeeding because the amount of medicine that passes into breast milk after using the inhaler is so small that it's unlikely to harm the baby.</p>
          <p>For safety, consult your doctor for advice if you intend to breastfeed while taking salbutamol.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about salbutamol</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h2>How salbutamol works</h2>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Salbutamol works as a bronchodilator by stimulating receptors in the lung called beta2-receptors. This has the effect of relaxing the lung muscles, which opens up the airways to let air get into the lungs more easily.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h2>When should salbutamol start working?</h2>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>Salbutamol works almost straight away to make breathing easier. It should continue to work for up to 5 hours</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h2>How long will I need to take salbutamol for?</h2>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Once your symptoms are under control it may be possible for you or your child to use the inhaler less often.</p>
            <p>Most people will use salbutamol for many years.</p>
            <p>It is likely that you will continue to have a salbutamol inhaler to deal with a sudden attack should it happen.</p>
            <p class="callout">Even if you only have to use salbutamol occasionally, keep your inhaler with you all the time in case you have a sudden attack.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h2>Stopping salbutamol</h2>
          </summary>
          <div id="more-4" aria-hidden="true">
          	<p>Don't stop taking salbutamol unless your doctor tells you to. </p>
            <p>If you stop taking salbutamol to treat the symptoms of asthma or COPD they will carry on and could get worse and need stronger treatment to get your condition back under control.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h2>Keeping a salbutamol diary</h2>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>It's a good idea to keep a diary of how often you need to use salbutamol inhaler so that you can discuss how it's helping your asthma or COPD with your doctor or nurse.</p>
            <p>Keeping a diary will also help you know when you need to order a replacement inhaler. Some inhalers contain a fixed number of 200 doses and it's not always obvious when they are empty.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h2>Other treatment options</h2>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>Almost everyone that has asthma or COPD will be prescribed a bronchodilator medicine to use for symptom relief.</p>
            <p>There are two main bronchodilators available:</p>
            <ul>
            <li>Salbutamol</li>
            <li>Terbutaline</li>
            </ul>
            <p>Salbutamol and terbutaline are very similar in terms of how well they work and their safety but there may be differences in the kind of inhalers they come in.</p>
            <p>If you have difficulty using a salbutamol inhaler talk to your doctor as switching to a terbutaline inhaler may be an option.</p>
          </div>
        </details>
      </div>

    </div>

  </div>
</main>

<script type="text/javascript">

  var init = (function() {

    // duplicate nav for sticky version
    var navInjected = $('.nav').clone().addClass('nav--injected').removeClass('nav').insertAfter('.nav');

    // Move 'more' items
    if ( ($(window).width() >= 1024) && ($(window).width() <= 1279) ) {
      $('.nav .nav__list-more-item').appendTo($('.nav .nav__list-more'));
      $('.nav--injected .nav__list-more-item').appendTo($('.nav--injected .nav__list-more'));
    }

    // show nav at bigger screen size
    if ($(window).width() >= 1280) {
      $('.nav .nav__list-wrap').show();
    }

  }());


  // toggle the dropdown menu from the burger menu
  var toggleMenu = (function() {

    var $navToggle = $('.nav__toggle'),
        navSticky = '.nav--sticky';

    $navToggle.on('click', function() {
      if ($(navSticky).length) {
        $navWrap = $('.nav--sticky .nav__list-wrap');
      } else {
        $navWrap = $('.nav .nav__list-wrap');
      }
      $navWrap.slideToggle();
    });

    $(window).resize(function() {

      // Move 'more' items
      if ( ($(window).width() >= 1024) && ($(window).width() <= 1279) ) {

        // non sticky, move items from first list to more list
        if ($('.nav .nav__list-nomore .nav__list-more-item').length) {
          $('.nav .nav__list-nomore .nav__list-more-item').appendTo($('.nav .nav__list-more'));
        }

        // injected menu, move items from first list to more list
        if ($('.nav--injected .nav__list-nomore .nav__list-more-item').length) {
          $('.nav--injected .nav__list-more-item').appendTo($('.nav--injected .nav__list-more'));
        }

        // if menu is sticky, move items from first list to more list
        if ($('.nav--sticky .nav__list-nomore .nav__list-more-item').length) {
          $('.nav--sticky .nav__list-nomore .nav__list-more-item').appendTo($('.nav--sticky .nav__list-more'));
        }

      } else {

        // non sticky, move items from more list to the first list
        if ($('.nav .nav__list-more .nav__list-more-item').length) {
          $('.nav .nav__list-more .nav__list-more-item').appendTo($('.nav .nav__list-nomore'));
        }

        // injected menu, move items from more menu to the first list
        if ($('.nav--injected .nav__list-more .nav__list-more-item').length) {
          $('.nav--injected .nav__list-more .nav__list-more-item').appendTo($('.nav--injected .nav__list-nomore'));
        }

        // if menu is sticky, more items from more menu to the first list
        if ($('.nav--sticky .nav__list-more .nav__list-more-item').length) {
          $('.nav--sticky .nav--list-more .nav__list-more-item').appendTo($('.nav--sticky .nav__list-nomore'));
          $('.nav--sticky .nav__list-wrap').hide();
        }

        // reset the more/less link
        if ($('.nav__more').hasClass('arrow-up')) {
          $('.nav__more').removeClass('arrow-up').addClass('arrow-down').find('.nav__more-link').text('More');
        }

        // hide the more list
        $('.nav__list-more').hide();
      }


      // if resizing menu
      if ($(window).width() < 1024) {
        if ( ($('.nav__list-more-item').css('display') === 'none') || ($('.nav__list-more-item').css('display') == 'inline') ) {
          $('.nav__list-more-item').css('display', 'block');
        }
      }
      if ($(window).width() >= 1280) {
        if ( ($('.nav__list-more-item').css('display') === 'none') || ($('.nav__list-more-item').css('display') == 'block') ) {
          $('.nav__list-more-item').css('display', 'inline');
        }
      }


      // show nav at bigger screen size
      if ($(window).width() >= 1024) {
        $('.nav__list-wrap').show();
      }
    });

  }());


  // scroll to internal content
  var scrollToContent = (function() {

    var navSticky = '.nav--sticky',
        $navListWrap = $('.nav__list-wrap');

    $('a.nav__list-link[href^="#"]').on('click', function(e) {
      e.preventDefault();
      var target = $(this.hash);
      var $target = $(target);

      if ($target.hasClass('noborder')) {
        extraOffset = 55;
      } else {
        extraOffset = 20;
      }

      if ( ($(navSticky).length) && ($(window).width() < 1024) ) {
        $navListWrap.hide();
      }

      // scroll to
      $('html, body').animate({
        scrollTop: target.offset().top - extraOffset
      }, 1000);
    });
  }());


  // make the nav sticky
  var stickyNav = (function() {
    var $navToggle = $('.nav__toggle'),
        $navListWrapNonSticky  = $('.nav .nav__list-wrap'),
        $navInjected = $('.nav--injected'),
        navStickyClass = 'nav--sticky',
        headerNavContainer = '.header__nav-container',
        headerDislaimerHeights = $('header').height() + $('.disclaimer').height();
        topOffset = headerDislaimerHeights  + $(headerNavContainer).height();

    $navToggle.on('click', function() {
      // reset offset height if menu has been toggled. Need to let the animation finish first before measuring heights
      interval = setTimeout(function() {
        topOffset = headerDislaimerHeights  + $(headerNavContainer).height();
      }, 1000);
    });

    $(window).resize(function() {
      // reset offset height if window has been resized
      topOffset = headerDislaimerHeights  + $(headerNavContainer).height();
    });


    $(window).scroll(function() {

      // reset offset height if menu has been opened
      if ($navListWrapNonSticky.css('display') === 'block') {
        topOffset = headerDislaimerHeights  + $(headerNavContainer).height();
      }

      if( $(this).scrollTop() > topOffset ) {
        $navInjected.addClass(navStickyClass);
      } else {
        $navInjected.removeClass(navStickyClass);
      }

    });

  }());

  // Show/hide more menu at tablet landscape/small desktop view (1024-1279px)
  var moreNav = (function() {
    var navList = '.nav__list',
        $navMorelink = $('.nav__more-link'),
        arrowDownClass = 'arrow-down',
        arrowUpClass = 'arrow-up';

    $navMorelink.on('click', function(e) {
      e.preventDefault();
      if ($(this).text() === 'More') {
        $(this).closest(navList).next(navList).show();
        $(this).text('Less');
        $(this).parent().removeClass(arrowDownClass).addClass(arrowUpClass);
      } else {
        $(this).closest(navList).next(navList).hide();
        $(this).text('More');
        $(this).parent().removeClass(arrowUpClass).addClass(arrowDownClass);
      }

    });

  }());

</script>

{% endblock %}
