$separator: #999;
$section-margin: 60px;
$section-padding: 60px;

@media (max-width:640px) {
  .u-section-separator {
    border-bottom: 1px solid $separator;
    margin-bottom: $section-margin - 20;
    padding-bottom: $section-padding - 20;
  }
}

@media (min-width:641px) {
  .u-section-separator {
    border-bottom: 1px solid $separator;
    margin-bottom: $section-margin;
    padding-bottom: $section-padding;
  }
}

section :last-child {
  margin-bottom:0;
}
