$separator: #999;
$section-margin: 30px;
$section-padding: 30px;

.u-section-separator {
  margin-bottom: $section-margin;
  padding-bottom: $section-padding;
}

section :last-child {
  margin-bottom:0;
}

td {
  vertical-align: top;
}

.u-clear {
  clear:both;
}

.u-relative {
  position:relative;
}

.u-nomargintop {
  margin-top:0;
}

.u-font16 {
  font-size:16px;
}

.u-font14 {
  font-size:14px;
}

.u-font-small {
  font-size:16px;
}


@media (max-width: 640px) {
  .u-font-small {
    font-size:14px;
  }
}

.u-floatleft {
  float:left;
}

.u-floatright {
  float:right;
}

.u-alignright {
  text-align:right;
}

.u-centre {
  text-align:center;
}

.u-table {
  display:table;
}

.u-tablerow {
  display:table-row;
}

.u-100pc {
  width:100%;
}

.u-marginleft30 {
  margin-left:30px;
}

.u-marginbottom20 {
  margin-bottom:20px;
}

.u-marginbottom35 {
  margin-bottom:35px !important;
}

.u-marginbottom40 {
  margin-bottom:40px;
}

.u-noborder {
  border:0 !important;
}

.u-inline {
  display:inline;
}

@media (max-width: 640px) {
  .u-hide-mobile {
    display:none;
  }
}

.list-nobullet {
  list-style:none;
}

.list-item-dash {
  margin-left:1em;
  margin-bottom:5px;
}

.list-item-dash:before {
  content:"–";
  display:block;
  float:left;
  margin-left:-15px;
  width:15px;
}
