{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/gabapentin" class="link-no-style">Gabapentin</a></h1>

      <nav class="list-nav list-nav--nocols" role="navigation">
        <ol>
          <li><a href="/gabapentin/pages/epilepsy">Gabapentin for epilepsy</a></li>
          <li><a href="/gabapentin/pages/nerve-pain">Gabapentin for nerve pain</a></li>
          <li><a href="/gabapentin/pages/migraine">Gabapentin for migraine</a></li>
        </ol>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
