{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>When will I feel better?</h2>
      <ul>
        <li><a href="/paracetamol/when-will-i-feel-better/when-will-i-feel-better-KB">Option A <span class="print">- When will I feel better KB</span></a>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol">
            <span class="prefix">Previous page:</span>
            <span class="title">Paracetamol topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
