{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>When will I feel better?</h2>

      <p>Paracetamol takes up to one hour to reduce pain or fever.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/when-will-i-feel-better">
            <span class="prefix">Previous page:</span>
            <span class="title">When will I feel better?</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
