{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Side effects</h2>

      <p>Paracetamol 500g tablets</p>

      <h3>Possible side effects</h3>

      <p>Like all medicines, paracetamol can have side effects. Adverse effects of paracetamol are rare but hypersensitivity including skin rash can occur.</p>
      <p>There are usually no ill effects due to paracetamol being used in the recommended dosage during pregnancy, but patients should follow the advice of their doctor regarding its use.</p>
      <p><em class="strong">If you are concerned about these or if you notice any side effects not mentioned in this leaflet, please inform your doctor or pharmacist.</em></p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
