{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Side effects</h2>

      <p><em class="strong">Stop taking the medicine</em> and seek <em class="strong">urgent medical help</em> if you experience:</p>
      <ul>
        <li>allergic reactions</li>
        <li>liver problems</li>
        <li>kidney problems</li>
        <li>skin reactions</li>
      </ul>

      <p><em class="strong">Call your doctor or get medical help</em> if you have any of these side effects:</p>
      <ul>
        <li>upset stomach or vomiting</li>
        <li>bruising or bleeding</li>
        <li>suspect an infection</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
