{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Side effects</h2>

      <h3>How likely am I to have side effects?</h3>
      <p>Most people who take paracetamol have no side effects or only minor ones. Serious side effects are rare.</p>

      <h3>What are the side effects?</h3>
      <ul>
        <li>upset stomach or vomiting</li>
        <li>bruising or bleeding - occasionally paracetamol may cause your blood to clot less well</li>
        <li>prone to infections - rarely paracetamol can cause a severe reduction in the number of white blood cells, which makes infections more likely</li>
      </ul>

      <h4>What to do:</h4>
      <ul>
        <li>These side effects tend to come on gradually. See your doctor if they persist or get worse or if you have any other side effects that bother you or do not go away.</li>
      </ul>

      <h3>Serious side effects</h3>
      <ul>
        <li><span class="underline">Allergic reactions</span>: warning signs include rash; hives; itching; red, swollen, blistered, or peeling skin with or without fever; wheezing; tightness in the chest or throat; trouble breathing or talking; unusual hoarseness; or swelling of the mouth, face, lips, tongue, or throat.</li>
        <li><span class="underline">Liver problems</span>: warning signs of liver problems are dark urine, feeling tired, not hungry, upset stomach or stomach pain, light-coloured stools, vomiting, or yellow skin or eyes.</li>
        <li><span class="underline">Kidney problems</span>: warning signs are not being able to pass urine or a change in how much urine is passed.</li>
        <li><span class="underline">Skin reactions</span>: A very serious skin reaction (Stevens-Johnson syndrome/toxic epidermal necrolysis) may happen. Warning signs include red, swollen, blistered, or peeling skin (with or without fever); red or irritated eyes; or sores in your mouth, throat, nose, or eyes.</li>
      </ul>

      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">Stop taking paracetamol and seek medical help URGENTLY</em> if you have any of these potentially serious side effects</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
