{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Side effects</h2>

      <h3>Serious side effects</h3>
      <p><em class="strong">Stop taking paracetamol and seek medical help URGENTLY</em> if you have any of these  potentially serious side effects:</p>

      <h4>Allergic reactions:</h4>
      <p>Warning signs of a dangerous allergic reaction include:</p>
      <ul>
        <li>rash; hives; itching</li>
        <li>red, swollen, blistered, or peeling skin with or without fever</li>
        <li>wheezing; tightness in the chest or throat; trouble breathing or talking; unusual hoarseness</li>
        <li>swelling of the mouth, face, lips, tongue, or throat</li>
      </ul>
      <h4>Liver problems:</h4>
      <p>Warning signs of liver problems include:</p>
      <ul>
        <li>dark urine</li>
        <li>feeling tired</li>
        <li>not hungry</li>
        <li>upset stomach or stomach pain</li>
        <li>light-coloured stools</li>
        <li>vomiting</li>
        <li>yellow skin or eyes</li>
      </ul>
      <h4>Kidney problems:</h4>
      <p>Warning signs include:</p>
      <ul>
        <li>not being able to pass urine or a change in how much urine you pass</li>
      </ul>
      <h4>Skin reactions:</h4>
      <p>A very serious skin reaction (Stevens-Johnson syndrome/toxic epidermal necrolysis) may happen. Warning signs include:</p>
      <ul>
        <li>red, swollen, blistered, or peeling skin (with or without fever)</li>
        <li>red or irritated eyes</li>
        <li>sores in your mouth, throat, nose, or eyes</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
