{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Dosage</h2>

      <p>Different illnesses require different doses of prednisolone. Depending on your illness your daily dose may be between 5 and 60mg. In some cases you may be instructed to take it every other day. Your doctor will decide when and how to treat you with prednisolone.</p>

      <p>Once your condition starts to get better, your doctor may change your dosage to a lower one. Your doctor may also reduce your dosage before stopping treatment completely. This may depend on your illness, your dosage and how long you have been taking this medicine. In all cases you should be careful to follow any changes.</p>

      <p>If you accidentally take too many prednisolone tablets or someone else takes any of your medicine, you should tell your doctor at once or contact your nearest accident and emergency department. Show any leftover medicines or the empty packet to the doctor.</p>

      <h3>If you forget to take prednisolone</h3>
      <p>Do not worry. If you forget to take a dose, take it as soon as possible, unless it is almost time to take the next dose. Do not take a double dose. Then go on as before.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
