{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Dosage</h2>

      <p>In an adult the dose of prednisolone can vary between 5mg and 60mg every day depending on the condition being treated and whether the medicine is prescribed as a short course or as a regular medicine.</p>
      <p>In children and adolescents the dose depends on both the condition being treated and either weight or surface area (which reflects both weight and height).</p>
      <p>Prednisolone may be prescribed to be taken as a short course of treatment and sometimes the dose prescribed may be reduced over that course as your symptoms improve. In some cases, prednisolone may be prescribed to take regularly over a longer period.</p>

      <p><em class="strong">What to do:</em></p>
      <ul>
        <li>for a short course of prednisolone, follow the dosage instructions you have been given and complete the course as prescribed even if you feel better before the course is complete</li>
        <li>if you’re taking prednisolone for longer, take the medicine regularly until your doctor tells you to stop</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
