{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Dosage</h2>

      <p>The daily dose may be between 5 and 60mg in adults depending on the illness and whether the medicine should be used as a short course or over a longer period.</p>

      <p>Your doctor may change your dosage to a lower one over time or before stopping treatment.</p>

      <p><em class="strong">If you take too many prednisolone tablets, tell your doctor at once or contact your nearest accident and emergency department.</em></p>

      <h3>For children</h3>

      <p>Dosages for children and adolescents depend on the condition and the weight, or a combination of weight and height, of the patient. Follow the doctor’s instructions on the correct dosage.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
