{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Living with prednisolone</h2>

      <p>Taking prednisolone shouldn't affect your normal daily routine too much although it's a good idea to cut down on or avoid alcohol completely while you’re taking it.</p>

      <p>Be prepared to experience some troublesome side effects, particularly if you take a high dose and/or for longer than a couple of weeks. Here are some simple lifestyle changes you can make to lessen side effects and help you stay healthy while taking prednisolone:</p>

      <ul>
        <li><span class="strong">Prevent stomach problems</span><span class="hidden"> - </span> Try taking prednisolone with food to reduce the chances that it will give you indigestion, nausea or vomiting. It may also help if you avoid rich or spicy food while you’re taking this medicine. If symptoms persist, ask your doctor if you may benefit from taking an additional medicine to help protect your stomach.</li>
        <li><span class="strong">Limit weight gain</span><span class="hidden"> - </span> Prednisolone can make you hungrier so it can be quite challenging to avoid putting on weight while you’re taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don’t gain too much weight. Regular exercise will also help to keep your weight stable.</li>
        <li><span class="strong">Protect your bones</span><span class="hidden"> - </span> Taking prednisolone for a long time can increase your risk of osteoporosis. Osteoporosis is when bones become thin and have a higher chance of breaking. Take regular exercise and make sure you get enough calcium in your diet to help strengthen your bones. Calcium-rich foods include milk, cheese and leafy greens.</li>
      </ul>

      <h3>Blue steroid treatment card</h3>

      <p>If you're likely to be taking prednisolone for longer than three weeks (or you've been prescribed a high dose of more than 40mg daily) you will be given a blue steroid treatment card. Carry this card around with you and show it to any healthcare professional treating you. The card has advice on how to reduce the risks of side effects and provides details of the prescriber, drug, dosage and the duration of treatment.</p>

      <h3>Tests and monitoring</h3>

      <p>If you will be taking prednisolone for a long time, you'll probably have regular tests to monitor your blood pressure, weight, blood sugar and potassium levels.</p>
      <p>Your doctor may also arrange for you to have an occasional bone scan to check for any bone loss.</p>
      <p>If you have diabetes you may need to have your blood sugar measured more frequently, as prednisolone tablets may affect the levels of sugar in your blood.</p>
      <p>Prednisolone can increase your risk of eyesight problems over time, so if you're taking prednisolone long-term, it's important to visit an optometrist every 6-12 months to check for high pressure in your eye (glaucoma) and cataract.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/living-with">
            <span class="prefix">Previous page:</span>
            <span class="title">Living with prednisolone</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
