{% extends "templates/layout.html" %}

{% block page_title %}
  Nitrofurantoin - NHS Medicines alpha
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/nitrofurantoin" class="link__unstyled">Nitrofurantoin</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Nitrofurantoin</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who can take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More about</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">
      <p>Nitrofurantoin is a type of medicine known as an antibiotic.</p>
      <p>It is used to treat or prevent <a href="http://www.nhs.uk/Conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">urine infections</a>, including <a href="http://www.nhs.uk/conditions/Cystitis/Pages/Introduction.aspx">cystitis,</a> and <a href="http://www.nhs.uk/conditions/Kidney-infection/Pages/Introduction.aspx">kidney infections</a>.</p>
      <p>When you take nitrofurantoin, your body quickly filters it out of your blood, and into your urine. This is useful if you have a urine infection because it means the medicine is concentrated at the site of infection. But it means that nitrofurantoin won’t work for any other types of infections.</p>
      <p>Nitrofurantoin is available on prescription as capsules, tablets and as a liquid that you drink.</p>
      <p>It is also called by the brand names Aratoin, Macrobid, Macrodantin and Furadantin.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul>
        <li>The most common side effect is an upset stomach. Taking nitrofurantoin with or straight after food will help to prevent stomach upset.</li>
        <li>For most infections you will feel better within a few days.</li>
        <li>You can drink alcohol while taking nitrofurantoin.</li>
        <li>Nitrofurantoin may turn urine dark yellow or brown. This is quite normal. Urine will return to normal after you finish taking the medicine.</li>
        <li>It’s unlikely that drinking cranberry juice or taking cranberry supplements helps to treat or prevent urine infections.</li>
      </ul>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>



      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>The usual dose of nitrofurantoin to treat or prevent a urine infection is either 100mg taken twice a day or 50mg taken four times a day . Severe infections may need a higher dose of 100mg four times a day.</p>
      <p>Try to space your doses evenly throughout the day. If you’re taking nitrofurantoin twice a day, leave 12 hours between each dose at for example 8am and 8pm. If you’re taking it four times a day, this will usually be first thing in the morning, at about midday, late in the afternoon and at bedtime.</p>
      <p>Generally, it’s better to take nitrofurantoin with or after a meal or snack. This will help to prevent stomach upset.</p>
      <p><span class="alertbanner">Carry on taking this medicine until the course is completed, even if you feel better. If you stop your treatment early your problem could come back.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow nitrofurantoin tablets and capsules whole. Do not chew or break them.</p>
          <p>Nitrofurantoin is available as a liquid for people who find it difficult to swallow tablets.</p>
          <p>If you are taking nitrofurantoin as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a dose-measuring plastic syringe or spoon to help you take the right amount. If you don’t have a dose-measuring device, ask your pharmacist for one.</p>
          <p>The dose of nitrofurantoin that you need to take depends on whether it is being used to treat or prevent a urine infection, your age, and how bad the infection is.</p>
          <h3>How long will I take it for?</h3>
          <p>If you are taking nitrofurantoin to treat a urine infection, then you usually need to take it for three to seven days.</p>
          <p>If you are taking nitrofurantoin to stop urine infections coming back, you may need to take it for several months.</p>
          <p>If you are taking nitrofurantoin to prevent an infection before having surgery, you will usually need take it on the day of the operation and for the next three days.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take one as soon as you remember, unless it is within 30 to 60 minutes of the next dose. Try to take the correct number of doses each day, but never take two doses at the same time or an extra dose to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of nitrofurantoin is unlikely to harm you.</p>
          <p>Call 111 or speak to your pharmacist or doctor if:</p>
          <ul>
            <li>you are worried or get severe side effects</li>
            <li>you have taken more than one extra dose</li>
          </ul>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Like all medicines, nitrofurantoin can cause side effects although not everyone gets them.</p>
      <p>The most common side effect is an upset stomach. This can include feeling sick, vomiting, diarrhoea and loss of appetite.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>These common side effects of nitrofurantoin happen in around one in 10 people. Keep taking the medicine but tell your doctor if they bother you or don’t go away:</p>
          <ul>
            <li>feeling sick and vomiting</li>
            <li>diarrhoea</li>
            <li>loss of appetite</li>
            <li>headaches</li>
            <li>dizziness or feeling sleepy</li>
          </ul>
          <p>Nitrofurantoin may cause your urine to turn dark yellow or a brownish colour. This is normal and not a reason to stop taking the medicine. Your urine will return to normal once you stop taking nitrofurantoin.</p>
          <h3>Serious side effects</h3>
          <p>Serious side effects are rare and happen in fewer than one in 10,000 people.</p>
          <p>Tell a doctor or call 111 straight away if you get:</p>
          <ul>
            <li>lung problems: warning signs include chest pains, difficulty breathing, coughing, chills, or a high temperature over 38C</li>
            <li>liver or gall bladder problems: warning signs include yellowing of the skin and/or eyes</li>
            <li>nerve problems: warning signs include pins and needles, tingling sensations, numbness or weakness</li>
            <li>blood problems: warning signs include bruising or bleeding which you can’t explain (including nose bleeds), sore throat, a high temperature above 38C, feeling tired or generally unwell</li>
            <li>bad headaches </li>
          </ul>
          <h3>Serious allergic reaction</h3>
          <p><span class="alertbanner">It’s rare to have a serious allergic reaction to nitrofurantoin but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>The warning signs of a serious allergic reaction are:</p>
          <ul>
            <li>difficulty breathing</li>
            <li>swelling of the face, lips or throat</li>
            <li>severe skin reactions including large fluid-filled blisters, sores and ulcers</li>
            <li>ulcers in the throat and mouth</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of nitrofurantoin. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>Coping with side effects</h3>
          <h4>What to do about feeling sick</h4>
          <p>Taking nitrofurantoin with or after a meal or a snack may ease feelings of sickness. It may also help if you avoid rich or spicy food while you're taking this medicine.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water or other fluids if you have <a href="http://www.nhs.uk/conditions/Diarrhoea/Pages/Introduction.aspx">diarrhoea</a> or are being sick. You may also consider taking <a href="http://www.nhs.uk/Conditions/Diarrhoea/Pages/Treatment.aspx">oral rehydration solutions</a> which you can buy from a pharmacy to prevent <a href="http://www.nhs.uk/conditions/dehydration/Pages/Introduction.aspx">dehydration</a>.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
          <h4>What to do about headaches</h4>
          <p>Make sure you rest and drink plenty of fluids. Don’t drink too much alcohol.</p>
          <p>Painkillers that you can buy without a prescription such as <a href="http://www.nhs.uk/conditions/painkillers-paracetamol/pages/introduction.aspx">paracetamol</a> and <a href="http://www.nhs.uk/conditions/Painkillers-ibuprofen/Pages/Introduction.aspx">ibuprofen</a> are safe to take with nitrofurantoin. Speak to your doctor if these don’t help with the headaches or if the headaches are severe.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including nitrofurantoin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take nitrofurantoin</h2>
      <p>Nitrofurantoin can be taken by:</p>
      <ul>
        <li>pregnant and breastfeeding women but tell your doctor before starting this medicine</li>
      </ul>
      <p>To make sure nitrofurantoin is safe for you, tell your doctor if you have:</p>
      <ul>
        <li>ever had an allergic reaction to nitrofurantoin</li>
        <li>either of the rare inherited conditions: porphyria (a blood disorder) or glucose-6-phosphate dehydrogenase (G6PD) deficiency</li>
        <li>severe kidney disease</li>
        <li>diabetes</li>
        <li>any illness causing severe weakness</li>
        <li>anaemia or vitamin B deficiency</li>
      </ul>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol with nitrofurantoin.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>Can I drive?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>Nitrofurantoin can sometimes make people feel dizzy or sleepy. If this happens to you, do not drive until you feel better.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>You should feel better within a few days.</p>
              <p>It’s important that you continue taking nitrofurantoin until your course is finished, even if you feel better, to stop the infection coming back.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it give me thrush?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>Some people get a fungal infection called thrush after taking a course of antibiotics like nitrofurantoin. Antibiotics kill the normal harmless bacteria which help to defend against thrush. Symptoms include redness and itching in the mouth. Women may get vaginal itching. If this happens to you, speak with your doctor or pharmacist for advice.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it stop my contraception working?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>No, nitrofurantoin doesn’t stop contraceptive pills, or any other type of contraceptive, from working.</p>
              <p>However, if nitrofurantoin makes you vomit or have diarrhoea for more than 24 hours, your contraceptive pills (but not other types of contraceptive) may not protect you from pregnancy. If this happens, follow the instructions in the leaflet provided with your contraceptive pills.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
              <h3>Will it reduce my fertility?</h3>
            </summary>
            <div id="questions-8" aria-hidden="true">
              <p>For men, nitrofurantoin may temporarily reduce fertility. This is because it can reduce and slow down sperm. After finishing the medicine, fertility returns to normal.</p>
              <p>If you and your partner are trying for a baby, talk to your doctor about how nitrofurantoin will affect your fertility and whether there is an alternative antibiotic you can take.</p>
              <p>For women, nitrofurantoin does not reduce fertility.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking nitrofurantoin with other medicines</h2>
      <p>There are some medicines that do not mix well with nitrofurantoin and can change the way it works.</p>
      <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting nitrofurantoin.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Tell your doctor if you’re taking these medicines before you start nitrofurantoin treatment:</p>
          <ul>
            <li>indigestion remedies known as antacids, particularly those that contain magnesium</li>
            <li>certain medicines for gout, including probenecid or sulfinpyrazone</li>
            <li>cystitis remedies that you can buy from a pharmacy</li>
            <li>antibiotics known as quinolones. Theses include nalidixic acid, ciprofloxacin, levofloxacin, norfloxacin, ofloxacin and moxifloxacin</li>
          </ul>
          <p>Typhoid vaccine given by mouth may not work properly if you’re taking nitrofurantoin. This doesn’t apply to typhoid vaccines given by injection.</p>
          <h3>Mixing nitrofurantoin with complementary remedies</h3>
          <p>There are no known problems with taking herbal and complementary remedies with nitrofurantoin.</p>
          <p>For safety, speak to your pharmacist before taking nitrofurantoin if you routinely take any herbal or alternative remedies.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Nitrofurantoin is generally safe to take during pregnancy.</p>
      <p>For safety, tell your doctor if you are pregnant or breastfeeding before taking nitrofurantoin.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <p>It is very unlikely that nitrofurantoin is harmful during pregnancy. It goes straight into your urine so very little of the medicine passes through to the unborn baby.</p>
          <p>However, nitrofurantoin should be not be taken right at the end of pregnancy (during labour and childbirth) as there is a chance of it affecting the baby’s blood.</p>
          <h3>Nitrofurantoin and breastfeeding</h3>
          <p>Tell your doctor before taking nitrofurantoin if you are breastfeeding. Although it is generally safe to take this medicine while breastfeeding, it may not be suitable for all breastfed babies.  </p>
          <p>Do not take nitrofurantoin while breastfeeding if your baby has a rare condition called glucose 6 phosphate dehydrogenase (G6PD) deficiency.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about nitrofurantoin</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How nitrofurantoin works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Nitrofurantoin works in a different way to other antibiotics.</p>
            <p>When you take it by mouth, high levels get filtered out of the blood and into the urine. This concentrates the medicine right among the bacteria that are causing the urine infection.</p>
            <p>Nitrofurantoin kills the bacteria by entering their cells and damaging their genetic material.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>If symptoms don't improve</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>Tell your doctor if you don’t start feeling better after taking nitrofurantoin for three days, or at any time if you start to feel worse.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Food and drink to avoid</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>There are no food or drinks you need to avoid while taking nitrofurantoin.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p>It’s possible that a straightforward urine infection may clear up on its own without any treatment. However, it’s usually best to treat a urine infection with an antibiotic or it could spread to the kidneys and lead to more serious problems.</p>
            <p>Once treated, there are many non-medical things you can try to stop urine infections coming back:</p>
            <ul>
              <li>avoid perfumed bubble bath, soap or talcum powder around your genitals – use plain, unperfumed varieties, and have a shower rather than a bath</li>
              <li>go to the toilet as soon as you need to pee and always empty your bladder fully</li>
              <li>stay well hydrated. Aim to drink six to eight glasses of fluid a day. Water, lower fat milk and sugar-free drinks including tea and coffee all count</li>
              <li>wipe your bottom from front to back when you go to the toilet</li>
              <li>empty your bladder as soon as possible after having sex</li>
              <li>don’t use a contraceptive diaphragm or condoms with spermicidal lubricant on them - use another method of contraception instead</li>
              <li>wear underwear made from cotton, rather than synthetic material such as nylon. Avoid tight jeans and trousers</li>
            </ul>
            <p>Although they won’t do any harm, there is little evidence to show that drinking cranberry juice or taking cranberry supplements helps to treat or prevent urinary tract infections.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/cystitis/Pages/Introduction.aspx">Cystitis</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Kidney-infection/Pages/Introduction.aspx">Kidney infections</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">Urine infections in adults</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Urinary-tract-infection-children/Pages/Introduction.aspx">Urine infections in children</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.cobfoundation.org/">The Cystitis and Overactive Bladder Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.eric.org.uk/">ERIC: the children's continence charity</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.britishkidney-pa.co.uk/">British Kidney Patient Association</a></li>
							</ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
