{% extends "templates/layout.html" %}

{% block page_title %}
  Flucloxacillin - NHS Medicines alpha
{% endblock %}

{% block hotjar %}
<script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:265857,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/flucloxacillin" class="link__unstyled">Flucloxacillin</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Flucloxacillin</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">
      <p>Flucloxacillin is a type of medicine known as an antibiotic.</p>
      <p>It is often used to treat skin and wound infections, <a href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx">chest infections</a> and <a href="http://www.nhs.uk/conditions/Osteomyelitis/Pages/Introduction.aspx">bone infections</a>.</p>
      <p>The medicine is available as capsules or as a liquid that you drink. It can also be given by injection, but this is usually done in hospital.</p>
      <p>Flucloxacillin is also called by the brand name Floxapen.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul>
        <li>Take flucloxacillin four times a day before a meal or snack.</li>
        <li>For most infections you will start to feel better after two or three days.</li>
        <li>The most common side effects are feeling sick and diarrhoea.</li>
        <li>You can drink alcohol while taking flucloxacillin.</li>
      </ul>

      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>The usual dose of flucloxacillin is 250 to 500mg taken four times a day. In children, the dose may be lower.</p>
      <p>It is best to take it 30 to 60 minutes before you have a meal or snack.</p>
      <p>Try to space your doses evenly throughout the day. This is usually first thing in the morning (before breakfast), at about midday (before lunch), late in the afternoon (before tea) and at bedtime.</p>
      <p><span class="alertbanner">Carry on taking this medicine until you have completed the course even if you feel better. If you stop your treatment early your problem could come back.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow flucloxacillin capsules whole with a drink of water. Do not chew or break them.</p>
          <p>Flucloxacillin is available as a liquid for children and people who find it difficult to swallow tablets.</p>
          <p>If you or your child are taking flucloxacillin as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a dose-measuring syringe or spoon to help you take the right amount. If you don’t have a dose-measuring device, ask you pharmacist for one.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take one as soon as you remember. Try to take the correct number of doses each day, leaving at least three hours between doses. Never take two doses at the same time or an extra dose to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of flucloxacillin is unlikely to harm you.</p>
          <p>Call NHS 111 or speak to your pharmacist or doctor if you are worried or take more than one extra dose.</p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Not everyone will get side effects with flucloxacillin but common ones include feeling sick, diarrhoea and vomiting.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
<p>Like all medicines, flucloxacillin can cause side effects in some people.</p>
<p>These common side effects of flucloxacillin happen in fewer than one in 10 people. Keep taking the medicine, but tell your doctor if they bother you or don't go away:</p>
<ul>
<li>feeling sick</li>
<li>vomiting</li>
<li>diarrhoea</li>
<li>upset stomach</li>
<li>bloating and indigestion</li>
</ul>
<h3>Serious side effects</h3>
<p>Serious side effects are rare and happen in fewer than one in 10,000 people.</p>
<p>Tell a doctor straight away if you get: </p>
<ul>
<li>severe, bloody diarrhoea</li>
<li>yellowing of the whites of the eyes and skin</li>
<li>a severe skin rash including flushing, fever, blisters or ulcers, circular red pataches or skin that looks like it has been burnt</li>
<li>bruising or skin discolouration</li>
<li>joint or muscle pain that comes on after two days of taking the medicine</li>
<li>dark urine</li>
</ul>
<p>Some side effects can be delayed for up to two months after finishing the course of flucloxacillin.</p>
<h3>Serious allergic reaction</h3>
<p><span class="alertbanner"><strong>It's rare to have an allergic reaction to flucloxacillin but if this happens to you, stop taking the medicine and contact a doctor straight away.</strong></span></p>
<p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
<ul>
<li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
<li>wheezing</li>
<li>tightness in the chest or throat</li>
<li>having trouble breathing or talking</li>
<li>swelling of the mouth, face, lips, tongue or throat</li>
</ul>
<p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

<div class="disclaimer__info">
  <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
  <p class="disclaimer__info-text">These are some of the side effects of flucloxacillin. For a full list see the leaflet inside your medicine packet.</p>
</div>

<h3>Coping with side effects</h3>
<p><strong>What to do about feeling sick</strong></p>
<p><strong> </strong>Stick to simple meals and try not to eat rich or spicy food while you’re taking this medicine.</p>
<p><strong> </strong><strong>What to do about diarrhoea and vomiting</strong></p>
<p> Drink plenty of water or other fluids. It may also help to take oral rehydration solutions which you can buy from a pharmacy to prevent dehydration.</p>
<p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from flucloxacillin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

            </div>
          </details>

      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take flucloxacillin</h2>
      <p>Flucloxacillin isn’t suitable for some people.</p>
<p>To make sure flucloxacillin is safe for you, tell your doctor if you:</p>
<ul>
<li>have an allergy to penicillin or flucloxacillin</li>
<li>have liver or kidney problems</li>
<li>are trying to become pregnant, are already pregnant or breastfeeding</li>
<li>have recently had, or are about to have, any vaccinations</li>
</ul>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol while taking flucloxacillin.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>This can vary but for most infections you can expect to feel better after two or three days.</p>
              <p>It’s very important that you continue taking flucloxacillin until you have finished the course prescribed by your doctor, even if you feel better, to stop the infection coming back.</p>
              <p>Finishing the course will also help to prevent antibiotic resistance. This is when bacteria stop responding to treatment with antibiotics and the treatment no longer works.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it give me thrush?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>Some people get thrush after taking a course of antibiotics like flucloxacillin. Antibiotics kill the normal harmless bacteria which help your body’s defence against thrush. Symptoms of thrush include redness and itching in the mouth or vagina. If this happens to you, talk to your pharmacist or doctor for advice.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it stop my contraception working?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>No, flucloxacillin doesn’t stop contraceptive pills, or any other type of contraceptive, from working.</p>
              <p>However, if flucloxacillin makes you vomit or have diarrhoea for more than 24 hours, your contraceptive pills (but not other types of contraceptive) may not protect you from pregnancy as well as they should. from working. If this happens, follow the instructions in the leaflet provided with your contraceptive pills.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
              <h3>Will it reduce my fertility?</h3>
            </summary>
            <div id="questions-8" aria-hidden="true">
              <p>For men and women, flucloxacillin will not reduce fertility.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
              <h3>What if my symptoms don't improve?</h3>
            </summary>
            <div id="questions-9" aria-hidden="true">
              <p>Tell your doctor if you don’t feel any better after taking flucloxacillin for 3 days, or at any time if you start to feel worse.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking flucloxacillin with other medicines</h2>
      <p>There are some medicines that do not mix well with flucloxacillin and can change the way it works.</p>
      <p><span class="alertbanner"><strong>Tell your doctor and pharmacist if you are taking any other prescription medicine or a medicine you buy including herbal remedies and supplements before starting flucloxacillin.</strong></span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Tell your doctor if you are taking these medicines before you start flucloxacillin:</p>
          <ul>
          <li>methotrexate</li>
          <li>warfarin</li>
          <li>other antibiotics</li>
          </ul>
          <p>You should also let your doctor know if you have recently had, or are about to have, any vaccinations.</p>
          <h3>Mixing flucloxacillin with complementary remedies</h3>
          <p>There are no known problems with taking herbal and complementary remedies with flucloxacillin.</p>
          <p>For safety, speak to your pharmacist or doctor before taking flucloxacillin if you routinely take any herbal or alternative remedies.</p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Flucloxacillin can generally be taken in usual doses during pregnancy and while breastfeeding.</p>
      <p>For safety, tell your doctor if you're pregnant or breastfeeding, so they can prescribe the most suitable antibiotic for you.</p>

      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about flucloxacillin</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How flucloxacillin works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Flucloxacillin is one of a group of antibiotics called penicillins. It works by damaging the cell walls of bacteria which kills them.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>There are no non-medical options available for treating infections.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx">Chest infections</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Osteomyelitis/Pages/Introduction.aspx">Bone infections</a></li>              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
