{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Dosage</h2>

      <p>The total maximum dosage of paracetamol for an adult <em class="strong">should not exceed EIGHT 500mg doses (4000 milligram of paracetamol) in any 24 hours</em>.</p>

      <p>This includes any paracetamol that is present in any other medicines you are taking.</p>

      <p>The usual dose of paracetamol for an adult is to take ONE or TWO 500mg tablets or capsules as a single dose.</p>

      <p>People with liver or kidney problems or who regularly drink more than the recommended amount of alcohol may be advised to take lower doses.</p>

      <h3>For children</h3>

      <p>Children between 6 and 12 years can be given a half to one tablet up to four times a day, never less than four hours apart.</p>
      <p><em class="strong">Do not exceed four tablets in one day.</em></p>
      <p>Paracetamol should NOT be given to children under 6 years old.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
