{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>Dosage</h2>

      <p>The usual dose of paracetamol for an adult is to take ONE or TWO 500mg tablets or capsules as a single dose.</p>
      <p>The total maximum recommended dose of paracetamol for an adult is EIGHT 500mg doses (4000 milligram of paracetamol) in any 24 hours including any paracetamol that is present in any other medicines you are taking.</p>
      <p>The maximum dose in children depends on the child’s age and that dose should not be taken more than four times in 24 hours and doses should never be less than four hours apart. The recommended dose for children can be found on the packaging. If you’re not sure, check with your pharmacist or doctor.</p>
      <p>You may be advised to take lower doses than this, particularly if you have liver or kidney problems, regularly drink more than the recommended amount of alcohol, or are very thin.</p>

      <h3>Take care with paracetamol doses</h3>
      <ul>
        <li>Make sure that you do not take more than the recommended dose of paracetamol. Make sure also that you know if any of the other medicines you take also contain paracetamol.</li>
        <li>If you are very thin, have a history of liver or kidney problems, regularly drink more than the maximum recommended amount of alcohol or take medicines for epilepsy or tuberculosis, checking with your doctor or pharmacist what dose of paracetamol it is safe for you to take.</li>
        <li>When giving paracetamol to a child make sure you use the measuring device given with the medicine to correctly measure the amount of liquid to be given.</li>
        <li>If you are using paracetamol liquid make sure you check the strength of the medicine, as it comes in a number of different strengths and that affects the amount of liquid you need to take.</li>
      </ul>

      <h3>Paracetamol overdose</h3>
      <p>An overdose of paracetamol can cause very serious and sometimes fatal liver problems.  Some people have needed a liver transplant to overcome the damage caused by taking too much paracetamol. These problems have happened most often in people taking more than the recommended dose in 24 hours and sometimes involved people who were not aware that they were taking more than one medicine with paracetamol in it.</p>
      <p>If you have taken an overdose of paracetamol (accidentally or intentionally), you may require urgent admission to hospital, depending upon the amount of paracetamol you’ve taken and whether there are other risk factors which increase the chances of liver damage.</p>

      <p><em class="strong">Early symptoms of paracetamol toxicity are:</em></p>
      <ul>
        <li>nausea and vomiting, which usually settles within 24 hours</li>
      </ul>

      <p><em class="strong">The symptoms of liver damage include:</em></p>
      <ul>
        <li>pain and tenderness on the right side below the ribs which may not appear until three or four days after the paracetamol overdose</li>
      </ul>

      <p><em class="strong">What to do:</em></p>
      <ul>
        <li>talk with your doctor or pharmacist about your medicines if you’re unsure about whether any other medicine you are taking also contains paracetamol (including any you have bought over the counter)</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
