{% extends "templates/layout.html" %}

{% block page_title %}
  Lactulose - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/lactulose" class="link__unstyled">Lactulose</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Lactulose</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Lactulose is a laxative taken to treat <a href="http://www.nhs.uk/conditions/constipation/Pages/Introduction.aspx">constipation</a>. It is also sometimes used to treat a complication of severe liver disease called hepatic encephalopathy.</p>
      <p>Lactulose comes as a sweet syrupy liquid that you swallow.</p>
      <p>It is available on prescription and to buy from pharmacies.</p>
      <p>It is also called by the brand names Duphalac and Lactugal.</p>
      <p>Lactulose isn’t usually for children unless recommended by a doctor.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>Lactulose relieves constipation by drawing water into the bowel to make poo softer</li>
        <li>The most common side effects are diarrhoea, bloating and wind. These are usually mild and short-lived.</li>
        <li>Lactulose takes at least 48 hours to work. You should start to poo normally again after two to three days.</li>
        <li>If you find the taste of lactulose too sweet, you can dilute it with fruit juice or water.</li>
      </ul>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Take lactulose once or twice a day. You can take it with or without food.</p>
      <p>The usual dose of lactulose varies between 15mls and 45mls taken once or twice a day. Doses are lower for children.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>The normal dose for constipation in:</p>
          <ul>
          <li>adults and children aged 14 and over is between 15mls and 45mls once or twice a day. This dose can be cut down to between 15mls and 30mls once or twice a day after it starts working.</li>
          <li>children aged 7 to 14 is 15mls once or twice a day. This dose can be cut down to between 10mls and 15mls once or twice a day after it starts working</li>
          <li>children aged 1 to 6 is between 5mls and 10mls once or twice a day</li>
          <li>babies under one year old is up to 5mls once or twice a day</li>
          </ul>
          <p>For adults with hepatic encephalopathy, the normal dose is between 30mls and 45mls three to four times a day.</p>
          <h3>How to take it</h3>
          <p>The medicine comes with a plastic measuring cup or spoon to help you take the right amount. Do not use a kitchen spoon as it will not give the right amount. If you don’t have a dose measuring device, ask your pharmacist for one.</p>
          <p>Some people don’t like the sweet taste of lactulose. To improve the taste, you can mix your dose with half a glass or water or fruit juice.</p>
          <p>Aim to drink 6 to 8 glasses of fluid during the day while you are taking lactulose or your constipation may get worse.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget a dose of lactulose, don’t worry, just take the next dose at the usual time.</p>
          <p>Never take two doses at the same time or an extra dose to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of lactulose is unlikely to harm you. You may get diarrhoea and stomach pain but this should ease off within a day or two.</p>
          <p>If you are worried, talk to your doctor or pharmacist for advice.</p>
        </div>
      </details>




      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>The most common side effects are diarrhoea, bloating and wind. These are usually mild and short-lived.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>Like all medicines, lactulose may cause side effects in some people, but many people have no side effects or only minor ones.</p>
          <p>The most common side effect is diarrhoea which affects more than one in 10 people.</p>
          <p>Other common side effects of lactulose, which affect up to one in 10 people are:</p>
          <ul>
          <li>bloating</li>
          <li>wind (farting and burping)</li>
          <li>feeling sick</li>
          <li>vomiting</li>
          <li><a href="http://www.nhs.uk/conditions/stomach-ache-abdominal-pain/Pages/Introduction.aspx">stomach pain</a></li>
          </ul>
          <p>Common side effects are mild and usually go away after a couple of days. If they carry on, or if you are worried, talk to your doctor or pharmacist.</p>
          <h3>Serious side effects</h3>
          <p>Tell your doctor straight away if these unlikely but serious side effects happen to you:</p>
          <ul>
          <li>severe diarrhoea or vomiting</li>
          <li>muscle cramps or weakness</li>
          <li>irregular heartbeat</li>
          </ul>
          <h3>Serious allergic reaction</h3>
          <p><span class="alertbanner">It's rare to have an allergic reaction to lactulose but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are: </p>
          <ul>
          <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
          <li>wheezing</li>
          <li>tightness in the chest or throat</li>
          <li>having trouble breathing or talking</li>
          <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of lactulose. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>Coping with side effects</h3>
          <h4>What to do about bloating</h4>
          <p>Take lactulose between meals instead of before or after them.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water or other fluids. It may also help to take oral rehydration solutions which you can buy from a pharmacy to prevent <a href="http://www.nhs.uk/conditions/Dehydration/Pages/Introduction.aspx">dehydration</a>.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
          <h4>What to do about feeling sick</h4>
          <p>Try taking lactulose with meals, or mixing your dose with some water or fruit juice.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including lactulose, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking lactulose with other medicines</h2>
      <p>There are no known problems mixing lactulose with other medicines, or herbal or complementary remedies.</p>
      <p><span class="alertbanner">For safety, tell your doctor or pharmacist if you take any other medicines, including herbal remedies and supplements, before starting lactulose.</span></p>



      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>It takes a couple of days for lactulose to work so it may be two or three days before you are able to poo normally.</p>
              <p>Talk to your doctor if you don't feel any better after three days.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>Are there any foods I shouldn't eat?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>There aren't any foods or drinks that don't mix with lactulose treatment.</p>
              <p>But it might be a good idea to stop eating pastries, puddings, sweets, cheese and cake for a while as these foods can make constipation worse.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Can people with IBS take it?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>It's not a good idea for people with <a href="http://www.nhs.uk/conditions/Irritable-bowel-syndrome/Pages/Introduction.aspx">IBS</a> (irritable bowel syndrome) to take lactulose.</p>
              <p>Lactulose increases gas and bloating in the stomach, which can make IBS worse. Other types of laxative may be more suitable if you have IBS.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Can people with diabetes take it?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>Yes, usually they can.</p>
              <p>People with <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> often think that lactulose is the same as lactose - a sugar that can raise blood sugar readings.</p>
              <p>But lactulose is very different. It's is a man-made sugar that is broken down in the bowel so very little gets into the bloodstream.</p>
              <p>If you have diabetes and are taking normal doses of lactulose for constipation, the medicine will have little, if any, effect on your blood sugar levels.</p>
              <p>If you have diabetes and  need to take high doses of lactulose for many months, for example if you have had hepatic encephalopathy, the medicine may affect your blood sugar levels. Monitor your blood sugar levels carefully and share the results with your doctor. Your diabetes treatment or diet may need to be adjusted.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol with it?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>Yes, you can drink alcohol with lactulose.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Can I take two laxatives together?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>For most people, one type of laxative will be enough to relieve constipation.</p>
              <p>Occasionally, you may need to combine two types of laxatives that work in different ways to get your bowels moving again. Only take two laxatives together on the advice of your doctor or pharmacist as there is an increased chance of side effects.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take lactulose</h2>
      <p>To make sure lactulose is safe for you, tell your doctor or pharmacist if you:</p>
      <ul>
      <li>have ever had an allergic reaction to this or any other medicine</li>
      <li>have <a href="http://www.nhs.uk/conditions/Lactose-intolerance/Pages/Introduction.aspx">lactose intolerance</a> (where your body can't digest the sugar, lactose)</li>
      <li>have galactosaemia (a rare health problem where your body cannot process a sugar called galactose)</li>
      <li>have diabetes (as this medicine may affect your blood sugar levels)</li>
      </ul>
      <p>Tell your doctor if it this medicine is meant for a child. Lactulose should only be given to children on the advice of a doctor</p>



      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Lactulose is generally safe to take during pregnancy and while breastfeeding.</p>
      <p>For safety, tell your doctor if you are pregnant or breastfeeding before starting lactulose.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <p>Constipation is common at the end of pregnancy and just after having a baby.</p>
          <p>If you're pregnant or breastfeeding, it's always better to try to safely treat constipation without taking a medicine.</p>
          <p>Your doctor or midwife will first advise that you eat more fibre and drink plenty of fluids. You'll also be encouraged to do gentle exercise.</p>
          <p>If dietary and lifestyle changes don't work, you may be recommended a laxative such as lactulose.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about lactulose</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How lactulose works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Lactulose is broken down in the bowel into products that pull water out from the body and into the bowel to soften poo and make it easier to pass. It's called an 'osmotic laxative'.</p>
            <p>People with liver disease can sometimes get problems in their brain (hepatic encephalopathy). This happens because the liver isn't clearing toxins properly. In this situation, lactulose clears the bowels and helps the body remove the toxins that build up when the liver is failing.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>How long will I take lactulose for?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>You can take lactulose for as long as the constipation lasts, or for as long as your doctor has recommended. For straightforward constipation, this will usually be for up to a week.</p>
            <p>For more serious constipation, and if you are taking laxatives to prevent hepatic encephalopathy coming back, you may need to take lactulose for many months.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Are other laxatives any better?</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>There are other types of laxatives. They work in a different way to lactulose but are equally good at treating constipation. Some work more quickly than lactulose.</p>
            <ul>
            <li>bulk-forming laxatives, for example Fybogel and methylcellulose. These increase the 'bulk' or weight of poo which in turn stimulates your bowels to push it out. They take two or three days to work.</li>
            <li>stimulant laxatives, for example senna and bisacodyl. These speed up your bowels by stimulating the nerves that control the muscles lining your gut. They work more quickly than other laxatives. If you take them at bedtime, they work overnight.</li>
            <li>surface-wetting laxatives, for example arachis oil and docusate sodium. These let water get into poo to soften it and make it easier to pass.</li>
            </ul>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>It's often possible to improve constipation without having to use laxatives. Before trying lactulose, or to stop constipation coming back, it may help to make some lifestyle changes, such as:</p>
            <ul>
            <li>eating more fibre – you should aim for about 30g of fibre a day. High-fibre foods include fruit, vegetables and cereals. If you are not used to a high-fibre diet, it may be best to increase the amount of fibre you eat gradually.</li>
            <li>adding bulking agents, such as wheat bran, to your diet. These will help make your poo softer and easier to pass (although bran and fibre can sometimes make bloating worse)</li>
            <li>drinking plenty of water – to keep poo soft</li>
            <li>exercising regularly - keeping your body active will help to keep your digestive system moving</li>
            </ul>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Constipation/Pages/Introduction.aspx">Constipation in adults</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/pregnancy-and-baby/pages/constipation-and-soiling.aspx">Constipation in children</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/irritable-bowel-syndrome/Pages/Introduction.aspx">Irritable bowel syndrome</a></li>
              </ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://corecharity.org.uk/wp-content/uploads/2016/06/CORE-PATIENT-INFORMATION-CONSTIPATION.pdf">Core (constipation charity)</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.eric.org.uk/">Eric (childhood constipation charity)</a></li>
								<li class="module__list-item"><a class="link__external" href="https://www.theibsnetwork.org/">The IBS Network</a></li>
								<li class="module__list-item"><a class="link__external" href="https://www.diabetes.org.uk/">Diabetes UK</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
