{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>When will I feel better?</h2>

      <p>As prednisolone is used to treat many different conditions, it’s difficult to say when you might expect to benefit. For some inflammatory conditions, such as arthritis, you would expect to see improvement within a couple of days. However, for some conditions, such as after an organ transplant, you may be taking prednisolone to stop your symptoms getting worse or to prevent a problem, such as organ rejection, happening.</p>
      <p><em class="strong">Please ask your doctor what to expect for your particular medical condition.</em></p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/when-will-i-feel-better">
            <span class="prefix">Previous page:</span>
            <span class="title">When will I feel better?</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
