{% extends "templates/layout.html" %}

{% block page_title %}
  Venlafaxine - NHS Medicines alpha
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/venlafaxine" class="link__unstyled">Venlafaxine</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Venlafaxine</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Venlafaxine is a type of antidepressant that is often used to treat <a href="http://www.nhs.uk/conditions/depression/Pages/Introduction.aspx">depression</a>. It is also sometimes used to treat <a href="http://www.nhs.uk/conditions/anxiety/Pages/Introduction.aspx">anxiety</a> and <a href="http://www.nhs.uk/conditions/Panic-disorder/Pages/Introduction.aspx">panic attacks</a>.</p>
      <p>Venlafaxine helps many people recover from depression, and has fewer unwanted effects than older antidepressants.</p>
      <p>It has lots of different brand names including Efexor XL.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>It usually takes 4-6 weeks to feel the full benefits of venlafaxine.</li>
        <li>Side effects such as feeling sick, headache, sweating, and dry mouth are common, but tend to pass after a couple of weeks.</li>
        <li>Venlafaxine can affect an unborn baby. Tell your doctor straight away if you’re trying to get pregnant or become pregnant while taking it. </li>
        <li>Venlafaxine can cause withdrawal symptoms so don’t stop taking it unless your doctor asks you to.</li>
        <li>You can drink alcohol while taking venlafaxine but it may make you feel sleepy.</li>
      </ul>


      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Venlafaxine comes as tablets or capsules. There are two types - immediate release and extended release. How you take them depends on the type you've been prescribed.</p>
      <p>Immediate release tablets release the venlafaxine into your system as soon as you swallow them. Take them twice a day, once in the morning and once in the evening. The usual dose is 37.5mg twice daily.</p>
      <p>Extended release tablets and capsules are released into your system gradually so you only need to take them once a day. You can choose to take them at any time as long as you stick to the same time every day. Venlafaxine capsules are all extended release. The usual dose is 75mg once a day.</p>


      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Whether you take venlafaxine once or twice a day, it's best to take it with food so it doesn't make you feel sick.</p>
          <h3>Will my dose go up or down?</h3>
          <p>The usual starting dose of venlafaxine is 75mg daily in adults. This might be gradually increased to a maximum dose of 375mg daily.</p>
          <p>If you have problems with your liver or kidneys your doctor might prescribe a lower dose of venlafaxine for you. </p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, don't worry. Take your next dose the next day at the usual time. Never take two doses at the same time to make up for a forgotten one.. </p>
          <h3>What if I take too much?</h3>
          <p>Ask your doctor for advice straight away as overdose can lead to potentially serious symptoms such as:</p>
          <ul>
            <li>sleepiness</li>
            <li>vomiting</li>
            <li>a racing heart</li>
            <li>seizures</li>
          </ul>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Not everyone will get side effects with venlafaxine, but common ones include feeling sick, headaches, sweating, and dry mouth.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
<p>Like all medicines, venlafaxine can cause side effects in some people, but many people have no side effects or only minor ones.</p>
<p>These very common side effects affect more than one in 10 people. Keep taking the medicine, but tell your doctor if they bother you or don't go away: </p>
<ul>
<li>feeling sick</li>
<li>headache</li>
<li>sweating</li>
<li>dry mouth</li>
<li>trouble sleeping</li>
<li>dizziness</li>
<li>feeling sleepy</li>
<li>constipation</li>
</ul>
<h3>Serious side effects</h3>
<p>It happens rarely, but some people may have serious side effects when taking venlafaxine.</p>
<p><strong>Tell a doctor straight away if you develop: </strong></p>
<ul>
<li>serotonin syndrome: warning signs include dizziness, very severe headache, agitation, hallucinations, fever, fast or unusual heartbeat, flushing, seizures, shakiness, sweating a lot, not thinking clearly, very upset stomach and vomiting, or severe diarrhoea</li>
<li>low sodium levels: warning signs include headache, trouble focusing, memory problems, not thinking clearly, weakness, seizures, or losing your balance</li>
<li>thoughts about harming yourself or ending your life</li>
<li>chest pain or pressure, shortness of breath, or a fast or irregular heart beat</li>
<li>severe dizziness or passing out</li>
<li>feelings of euphoria, excessive enthusiasm or excitement, or a feeling of restlessness that means you can’t sit or stand still</li>
<li>unexplained muscle pain or weakness</li>
<li>unexplained itchiness, or yellow skin or eyes</li>
<li>any changes in your eyesight, like blurred vision or dilated pupils</li>
<li>putting on or losing weight without trying to</li>
<li>changes in your periods such as heavy bleeding, spotting, or bleeding between periods</li>
</ul>
<p>Or, if you get any signs of abnormal bleeding including:</p>
<ul>
<li>bleeding from the gut: warning signs include vomiting blood or dark vomit; coughing up blood; blood in your urine; black or red poo</li>
<li>bleeding from the gums or bruises that appear without a reason or that get bigger</li>
<li>any bleeding that is very bad or that you cannot stop</li>
</ul>
<h3>Serious allergic reaction</h3>
<p><span class="alertbanner">It's rare to have an allergic reaction to venlafaxine but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
<p>The warning signs of a <a href="http://www.nhs.uk/Conditions/anaphylaxis/Pages/Introduction.aspx" title="Anaphylaxis">serious allergic reaction</a> are:</p>
<ul>
<li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
<li>wheezing</li>
<li>tightness in the chest or throat</li>
<li>having trouble breathing or talking</li>
<li>swelling of the mouth, face, lips, tongue or throat</li>
</ul>

<div class="disclaimer__info">
  <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
  <p class="disclaimer__info-text">These are not all the side effects of venlafaxine. For a full list see the leaflet inside your medicine packet.</p>
</div>

<h3>Coping with side effects</h3>
<p>Some of the common side effects of venlafaxine will gradually improve as your body gets used to it. </p>
<ul>
<li>What to do about nausea or indigestion: take venlafaxine with food and plenty of water.</li>
<li>What to do about feeling sleepy: avoid driving or using tools or machinery until the sleepiness wears off. Reduce the amount of alcohol you drink.</li>
<li>What to do if you’re unable to sleep: take venlafaxine first thing in the morning.</li>
<li>What to do if you have a dry mouth: chew sugar-free gum or sugar-free sweets.</li>
</ul>
<p>You can lessen the chance of having a side effect if you take venlafaxine in the evening so that you're asleep when the level of medicine in your body is highest.</p>
<p>If you have <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx" title="Diabetes">diabetes </a>venlafaxine can upset its control. Monitor your blood glucose more often for the first few weeks of treatment with venlafaxine and adjust your diabetes treatment if necessary.</p>
<p>If you have a side effect from any medicine, including venlafaxine, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx" title="Yellow Card Scheme">Yellow Card Scheme</a>. </p>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take venlafaxine</h2>
      <p>Venlafaxine may not be suitable for everyone. Check with your doctor before starting to take venlafaxine if you:</p>
      <ul>
        <li>have an allergy to venlafaxine or any of its ingredients</li>
        <li>are taking any other medicines, including any complementary medicines. Venlafaxine may not be suitable for you if you have a heart condition or take medicines that affect your heartbeat</li>
        <li>have ever taken any other medicines for depression. Some rarely used antidepressants can interact with venlafaxine to cause very high blood pressure even when they have been stopped for a few weeks</li>
        <li>are trying to become pregnant, are already pregnant or breast feeding</li>
        <li>have an eye condition called glaucoma</li>
      </ul>

      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>
          <details role="group">
            <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
              <h3>Is venlafaxine better than other antidepressants?</h3>
            </summary>
            <div id="questions-1" aria-hidden="true">
              <p>Venlafaxine isn't any better or worse than other antidepressant. However, sometimes people respond better to one antidepressant than to another. If you aren’t feeling any better after six weeks, talk to your doctor.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>You can drink alcohol while taking venlafaxine but you might find that it makes you more sleepy or lose your focus. So during the first few days of taking venlafaxine, it might be best to stop drinking alcohol until you see how the medicine affects you.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>Will I gain or lose weight?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>Venlafaxine can make you feel less hungry than usual, so you may lose weight when you start taking it. Some people might find they gain weight. </p>
              <p>If you start to have problems with your weight while taking venlafaxine, talk to your doctor or pharmacist.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Will it affect my sex life?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>The good effects of venlafaxine may, after a while, enhance your sex life as your mood lifts and you become interested in life and relationships again.</p>
              <p>Some of the possible negative effects include:</p>
              <ul>
              <li>men might have problems with getting an erection, or with ejaculating</li>
              <li>women might have some vaginal bleeding </li>
              <li>both men and women might find they don't reach orgasm the same way as before</li>
              <li>you may have a lower sex drive</li>
              </ul>
              <p>Any mild sexual side effects might pass after the first couple of weeks. If they don't, and this a problem for you, go back to your doctor to see if there's an alternative antidepressant for you to try.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will street drugs affect it?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>It can be potentially dangerous (even fatal) to take venlafaxine with:</p>
              <ul>
                <li>stimulants like MDMA (ecstasy) or cocaine</li>
                <li>hallucinogens like LSD</li>
                <li>some legal highs like mephedrone</li>
              </ul>
              <p>The sleep-inducing effects of cannabis can add to those of venlafaxine, especially in people who have just started taking it.</p>
              <p>Methadone can increase the risk of side effects in people taking venlafaxine.</p>
              <p>Venlafaxine has not been properly tested with street drugs. Talk to your doctor if you think you might use any street drugs while taking venlafaxine.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Can I drive or ride a bike while I'm taking it?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>Most people drive as normal while taking venlafaxine.</p>
              <p>Taking venlafaxine might affect your concentration to do things like driving a car, riding a bike or anything else that needs a lot of focus. It might be best to stop doing these things for the first few days until you know how it affects you. </p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it affect my contraception?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>For women, venlafaxine will not affect contraceptive pills or the morning after pill.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking venlafaxine with other medicines</h2>
      <p>Tell your doctor and pharmacist that you are taking venlafaxine before starting or stopping any other prescription or medicine brought from a pharmacy or shop.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <h3>Mixing venlafaxine with complementary remedies</h3>
          <p>Don't take the herbal remedy for depression, St John's wort, at the same time as venlafaxine as this will increase your risk of side effects.</p>
          <p>Tell your doctor and pharmacist that you're taking venlafaxine before starting any complementary medicine.</p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>No antidepressants are considered completely safe to take in pregnancy or while breastfeeding, but your doctor will want to prescribe venlafaxine when the benefits to you outweigh the risks.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Taking venlafaxine in <strong>pregnancy</strong></h3>
          <p>Venlafaxine and similar antidepressants have been linked with a small risk of problems for the unborn baby when they're taken in early or late pregnancy.</p>
          <p><span class="alertbanner">Tell your doctor immediately if you’re trying to get pregnant or become pregnant while taking this medicine.</span></p>
          <h3>Venlafaxine and breastfeeding</h3>
          <p>Venlafaxine passes into breast milk and has been linked with side effects in breastfed babies.</p>
          <p>Talk to your doctor, as there may be other antidepressants that are more suitable for you while you are breastfeeding.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about venlafaxine</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How venlafaxine works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Venlafaxine is one of a group of antidepressants called serotonin and noradrenaline reuptake inhibitors, or SNRIs. SNRIs are thought to work by increasing the levels of mood-enhancing chemicals called serotonin and noradrenaline in the brain.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>When will I feel better?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>You may see an improvement in your symptoms after a week or two although it usually takes between four and six weeks before you feel the full benefits. That's because it takes around a week for venlafaxine levels to build up in your body, and then a few weeks longer for your body to adapt and get used to it. </p>
            <p><span class="alertbanner">Don't stop taking venlafaxine after a week or two just because you feel it is not helping your symptoms. Give the medicine at least 6 weeks to work.</span></p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>How long will I take venlafaxine for?</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Once your condition is under control it is likely that you will continue to take venlafaxine for several more months to prevent the symptoms returning.</p>
            <p>You will need to discuss with your doctor the pros and cons of continuing to take venlafaxine in the long term. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well venlafaxine works for you, and whether you have had any serious side effects.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h3>What else can venlafaxine be used for?</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p>Venlafaxine is used to treat depression in adults. Extended release venlafaxine can also treat anxiety, social anxiety and panic attacks. </p>
            <p>Venlafaxine is occasionally used to treat <a href="http://www.nhs.uk/conditions/Peripheral-neuropathy/Pages/Introduction.aspx" title="Peripheral neuropathy">neuropathic pain</a>, but only when a specialist recommends it.</p>
            <p>Venlafaxine is not suitable for children.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>Antidepressants, including venlafaxine, are just one of several approaches to treating depression. Other potential treatments include:</p>
            <ul>
              <li>talking therapy (such as cognitive behavioural therapy)</li>
              <li>exercise programmes</li>
              <li>help to get a good night's sleep</li>
            </ul>
            <p>Choosing a treatment that's most suitable for you depends on how long you have had depression, your symptoms, whether you have had any previous bouts of depression, whether previous treatment has worked, how likely you are to stick with your treatment, the potential side effects and your preferences and priorities.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h3>Coming off venlafaxine</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>Don't stop taking venlafaxine unless your doctor tells you to.</p>
            <p>If you stop taking venlafaxine suddenly you may get unpleasant withdrawal symptoms. These include:</p>
            <ul>
            <li>dizziness</li>
            <li>feeling sick</li>
            <li>numbness or tingling in the hands or feet</li>
            <li>trouble sleeping</li>
            <li>feeling agitated or anxious</li>
            <li>headaches</li>
            <li>shaking</li>
            </ul>
            <p>Withdrawal symptoms are usually harmless and over within a few days but it's possible to prevent them by reducing the dose gradually when you stop taking this medicine.</p>
          </div>
        </details>
      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Depression/Pages/introduction.aspx">Depression</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Obsessive-compulsive-disorder/Pages/Introduction.aspx">Anxiety</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/bulimia/Pages/Introduction.aspx">Social anxiety</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Panic-disorder/Pages/Introduction.aspx">Panic attacks</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/">HealthUnlocked online community</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/mental-health/depression/topics">healthtalk.org: depression real stories</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.depressionalliance.org/">Depression Alliance</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.depressionuk.org/index.shtml">Depression UK</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.mentalhealth.org.uk/a-to-z/d/depression">Mental Health Foundation: depression</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/#.WCC6sHkSGM-">Mind: depression</a></li>
							</ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
