<section class="u-section-separator">
  <h2 class="content__h2">Common questions</h2>
  <div id="common-questions" class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Yes, you can drink alcohol with gabapentin. However, it may make you feel sleepy or tired. During the first few days of taking gabapentin, it might be best to stop drinking alcohol until you see how the medicine affects you.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>Can I drive or ride a bike?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>You may feel sleepy, tired or dizzy when you first start taking gabapentin. This may also happen if your dose has increased. If this happens to you, don't drive or ride a bike until you feel more alert.</p>
          <p>If you have epilepsy, you are not allowed to drive until you have had no seizures for 1 year, or if you only have seizures while you are asleep. You are also not supposed to drive if your epilepsy medicine has changed and for 6 months after.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>When will I feel better?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>It takes at least a few weeks for gabapentin to work properly. You may still have seizures or pain during this time.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Are there similar medicines to gabapentin?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>Pregabalin (also called Lyrica) is a medicine that works in a similar way to gabapentin. Like gabapentin, it is taken for epilepsy and nerve pain. It can also be taken for anxiety.</p>
          <p>However, there are differences between pregabalin and gabapentin. Pregabalin can be taken less often and in different doses to gabapentin.</p>
          <p>If you need to change to pregabalin treatment, your doctor will explain how to safely swap from gabapentin.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Should I stick to the same brand of gabapentin?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>Most people don’t have to stay on the same brand of gabapentin as there is very little difference between brands. Talk to your doctor if you have been asked to switch to a different brand and you are worried about that.</p>
          <p>If you are taking gabapentin to treat epilepsy, your doctor may tell you to always take the same brand. For example, if you have not had a seizure in a long time and the brand is working well for you.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Is it safe to take for a long time?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>There's no evidence that gabapentin has lasting harmful effects even if you take it for many months or years.</p>
        </div>
      </details>

    </div>
  </div>
</section>
