<section class="u-section-separator">
  <h2 id="how-when" class="content__h2" >How and when to take</h2>
  <p>Gabapentin is a prescription medicine. It's important to take it as instructed by your doctor.</p>
  <p>You can take gabapentin with or without food, but it’s best to be consistent day after day.</p>
  <p>Most people need to take gabapentin 3 times a day. Try to space your doses evenly through the day. For example, first thing in the morning, early afternoon and at bedtime.</p>
  <p>The usual dose of gabapentin to:</p>
  <ul>
    <li>treat epilepsy in adults and older children (aged 12 years and over) is between 900mg and 3,600mg a day. Your doctor may recommend that you take more than this</li>
    <li>treat nerve pain in adults is between 900mg and 3,600mg a day</li>
    <li>prevent migraine in adults varies but can be up to 2,400mg a day</li>
  </ul>
  <p>The dose of gabapentin used to treat epilepsy in younger children (aged 6 to 12 years) varies depending on their weight.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-how-when" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoHowWhen|default('More information') }}</span>
    </summary>
    <div id="details-content-how-when" aria-hidden="false">
      <p>The dose of gabapentin you have been prescribed depends on your illness, your age, and how well your kidneys work. Doses are usually lower for children, elderly people and people with kidney problems.</p>
      <p>To prevent side effects, your doctor will prescribe a low dose to start with and then increase it over a few days.</p>
      <p>Swallow gabapentin capsules and tablets whole with a drink of water or juice. Do not chew them.</p>
      <p>Depending on your dose, you may need to split the tablets in half.</p>
      <p>If you break a tablet and take only half of it, take the other half at your next dose. Always use a broken tablet as soon as possible, or within a few days. Never chew a broken tablet.</p>
      <p>Only ever break tablets in half – capsules need to be swallowed whole.</p>
      <p>There is a liquid gabapentin for children and people who find it difficult to swallow tablets.</p>
      <p>If you or your child are taking a liquid, it will come with a plastic syringe or spoon to measure your dose. If you don’t have a syringe or spoon, ask your pharmacist for one.</p>
      <h3>How long will I take it for?</h3>
      <p>If you have epilepsy, it is likely that once your illness is under control you will continue to take gabapentin for many years.</p>
      <p>If you have nerve pain, it is likely that once the pain has gone you will continue to take gabapentin for several months to stop it coming back.</p>
      <h3>What if I forget to take it?</h3>
      <p>If you forget a dose, take it as soon as you remember. If it is within 2 hours of the next dose, it is better to leave out the missed dose and take your next dose as normal.</p>
      <p>Never take 2 doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
      <p>If you have epilepsy, it’s important to take the medicine regularly as recommended by your doctor. Missing doses may trigger a seizure. If you forget doses often, it may help to get a special pillbox or a watch with an alarm to remind you.</p>
      <h3>What if I take too much?</h3>
      <p>Taking too much gabapentin by accident may cause unpleasant side effects. These include feeling dizzy or sleepy, seeing double, slurring your words, diarrhoea and passing out.</p>
      <p>If this happens, call your doctor straight away, or go to the nearest hospital accident and emergency department.</p>
      <p>Take with you any gabapentin that you have left, and the labelled container so the hospital can see what you have taken.</p>
    </div>
  </details>
</section>
