<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Gabapentin is used to treat <a href="http://www.nhs.uk/Conditions/Epilepsy/Pages/Introduction.aspx">epilepsy</a>. </p>
  <p>It is also taken for nerve pain. This type of pain can be caused by different illnesses including <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> and <a href="http://www.nhs.uk/conditions/shingles/Pages/Introduction.aspx">shingles</a> or an injury.</p>
  <p>Occasionally, gabapentin is used to treat <a href="http://www.nhs.uk/conditions/migraine/pages/introduction.aspx">migraine headaches</a>.</p>
  <p>Gabapentin is available on prescription as capsules, tablets and as a liquid that you drink.</p>
  <p>The most common brand name is Neurontin.</p>
</section>
