<section class="">
  <div class="module module--links">
    <div class="module__wrap module__wrap--bg">
      <div class="module__row">
        <div class="module__col">
          <h2 class="module__header">Related conditions</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">Diabetes</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/epilepsy/Pages/Introduction.aspx">Epilepsy</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/migraine/pages/introduction.aspx">Migraine</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Peripheral-neuropathy/Pages/Introduction.aspx">Peripheral neuropathy</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/postherpetic-neuralgia/Pages/Introduction.aspx">Post-herpetic neuralgia</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Shingles/Pages/Introduction.aspx">Shingles</a></li>
          </ul>
        </div>
        <div class="module__col">
          <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="https://www.diabetes.org.uk/">Diabetes UK</a></li>
            <li class="module__list-item"><a class="link__external" href="https://www.epilepsy.org.uk/">Epilepsy Action</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.migraine.org.uk/">Migraine Action</a></li>
            <li class="module__list-item"><a class="link__external" href="http://herpes.org.uk/shingles-support-society/">Shingles Support Society</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/nerves-brain/epilepsy/topics">healthtalk.org: epilepsy real stories</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/long-term-conditions/chronic-pain/medication-antidepressants-and-antiepileptics">healthtalk.org: nerve pain medicine real stories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
