<section class="u-section-separator">
  <h2 id="more" class="content__h2">More about gabapentin</h2>
  <div class="concertinas">
    <details role="group">
      <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
        <h3>How gabapentin works</h3>
      </summary>
      <div id="more-1" aria-hidden="true">
        <p>In epilepsy, it’s thought that it stops seizures by reducing the abnormal electrical activity in the brain.</p>
        <p>With nerve pain and migraine, it’s thought to interfere with pain messages travelling through the brain and down the spine to block pain.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
        <h3>Gabapentin withdrawal</h3>
      </summary>
      <div id="more-2" aria-hidden="true">
        <p><span class="alertbanner">Don't stop taking gabapentin without talking to your doctor – you will need to take less bit by bit.</span></p>
        <p>Do not stop taking gabapentin suddenly even if you feel fine. Stopping gabapentin suddenly can cause serious problems. If you have epilepsy, stopping gabapentin suddenly can cause seizures that will not stop.</p>
        <p>Gabapentin can also build up in the body so that if you are taking it (for epilepsy, pain or migraine) and stop suddenly, you may have a severe withdrawal syndrome. This can have unpleasant symptoms that include:</p>
        <ul>
          <li>anxiety</li>
          <li>difficulty sleeping</li>
          <li>feeling sick</li>
          <li>pain</li>
          <li>sweating</li>
        </ul>
        <p>It's possible to prevent withdrawal seizures and other symptoms by reducing the dose of gabapentin bit by bit.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
        <h3>Gabapentin and street drugs</h3>
      </summary>
      <div id="more-3" aria-hidden="true">
        <p>Gabapentin can make you feel relaxed, calm and ‘high’. It can also intensify the highs of street drugs like cannabis and heroin. So, if you use street drugs alongside gabapentin, there may be more chance of unpleasant side effects like panic attacks, anxiety and memory loss.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
        <h3>Gabapentin and addiction</h3>
      </summary>
      <div id="more-5" aria-hidden="true">
        <p>Some people have become addicted to gabapentin after taking it for a long time. If this happens, you will have withdrawal symptoms after you stop taking the medicine. Talk to your doctor if you’re concerned about becoming physically dependent on gabapentin.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
        <h3>Gabapentin and contraception</h3>
      </summary>
      <div id="more-6" aria-hidden="true">
        <p>Gabapentin doesn't stop contraception working. You can safely use any type of contraception, including contraceptive pills, alongside gabapentin.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false">
        <h3>Gabapentin and fertility</h3>
      </summary>
      <div id="more-7" aria-hidden="true">
        <p>Gabapentin does not reduce fertility in men or women.</p>
      </div>
    </details>

  </div>
</section>
