<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>There is no firm evidence that gabapentin is harmful to an unborn baby but for safety women are usually advised to take it in pregnancy only if the benefits of the medicine outweigh the potential risks.</p>
  <p>You can generally breastfeed as normal while taking gabapentin</p>
  <p><span class="alertbanner"><strong>Tell your doctor immediately if you are trying to get pregnant or become pregnant while taking this medicine.</strong></span></p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-pregnancy" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoPregnancy|default('More information') }}</span>
    </summary>
    <div id="details-content-pregnancy" aria-hidden="false">
      <p>If you take gabapentin for epilepsy and become pregnant, do not stop the medicine without talking to your doctor first. It is very important that epilepsy is treated during pregnancy as seizures can harm you and your unborn baby.</p>
      <p>Women who are trying to get pregnant or have become pregnant are routinely recommended to take at least 400mcg of a vitamin called folic acid everyday. It helps the unborn baby grow normally.</p>
      <p>Gabapentin has been linked with low folic acid levels. So, if you take gabapentin, your doctor will prescribe a high dose of folic acid (5mg a day) for you to take during the first 12 weeks of pregnancy.</p>
      <p>If you take gabapentin around the time of giving birth, your baby may need extra monitoring for a few days after they’re born because they may have gabapentin withdrawal symptoms.</p>
      <h3>Gabapentin and breastfeeding</h3>
      <p>Tiny amounts of gabapentin get into breast milk but generally, you can breastfeed as normal while taking it.</p>
      <p>Check with your doctor first if your baby is premature or has kidney problems.</p>
    </div>
  </details>

</section>
