<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take gabapentin</h2>
  <p>Gabapentin capsules contain gelatin so they are not suitable for vegetarians and vegans.</p>
  <p>Some brands of gabapentin capsules contain small amounts of lactose, so they may be unsuitable for people with a digestive problem called <a href="http://www.nhs.uk/conditions/Lactose-intolerance/Pages/Introduction.aspx">lactose intolerance</a>.</p>
  <p>Gabapentin tablets and liquid do not contain gelatin or lactose.</p>
  <p>Gabapentin liquid contains sodium and potassium. If you are on a controlled sodium or potassium diet, or your kidneys don’t work well, speak to your doctor before taking this liquid.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-who-take" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoWhoCanTake|default('More information') }}</span>
    </summary>
    <div id="details-content-who-take" aria-hidden="false">
      <p>Gabapentin isn't suitable for some people. To make sure gabapentin is safe for you, tell your doctor if you:</p>
      <ul>
        <li>have ever had an allergic reaction to gabapentin or another medicine</li>
        <li>have kidney problems</li>
        <li>have ever abused or been addicted to a medicine</li>
        <li>are trying to get pregnant, are already pregnant or are breastfeeding</li>
      </ul>
    </div>
  </details>

</section>
