{% extends "templates/layout.html" %}

{% block page_title %}
  Omeprazole - NHS Medicines alpha
{% endblock %}

{% block hotjar %}
<script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:265857,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/omeprazole" class="link__unstyled">Omeprazole</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Omeprazole</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Omeprazole is a type of medicine known as a proton pump inhibitor (PPI). It works by reducing the amount of acid your stomach makes. </p>
      <p>It’s widely used to treat stomach acid problems such as <a href="http://www.nhs.uk/conditions/indigestion/pages/introduction.aspx">indigestion</a> and <a href="http://www.nhs.uk/conditions/Gastroesophageal-reflux-disease/Pages/Introduction.aspx">acid reflux</a>. Omeprazole is also taken to prevent and treat <a href="http://www.nhs.uk/conditions/peptic-ulcer/pages/introduction.aspx">stomach ulcers</a>.  </p>
      <p>Sometimes, omeprazole is taken for a rare illness caused by a tumour in the pancreas or gut called Zollinger-Ellison syndrome.</p>
      <p>Omeprazole comes as capsules, tablets and as a liquid that you swallow. It’s available on prescription and to buy from pharmacies.</p>
      <p>It’s also called by the brand names Losec or Losec MUPS.</p>
      <p>Children can take omeprazole if it’s been prescribed by a doctor.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>It’s usual to take omeprazole once a day in the morning.</li>
        <li>For severe illness, you can take it twice a day - in the morning and in the evening.</li>
        <li>Common side effects include headache, diarrhoea and stomach pain. These tend to be mild and go away when you stop taking the medicine.</li>
        <li>You can drink alcohol while taking omeprazole, but be aware that alcohol can make your digestive symptoms worse.</li>
        <li>If you’re self-treating with omeprazole, don’t take it for longer than two weeks without checking with a doctor.</li>
      </ul>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>It’s usual to take omeprazole once a day, first thing in the morning.</p>
      <p>If you take omeprazole twice a day, take one dose in the morning and one dose in the evening.</p>
      <p>Omeprazole doesn’t upset the stomach so you can take it with or without food.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <h3>Tablets and capsules</h3>
          <p>Swallow tablets and capsules whole with a glass of water or juice.</p>
          <p>If you have problems swallowing capsules, you can open some brands of omeprazole capsules and mix the granules inside with a small amount of water or fruit juice, or sprinkle them onto soft food, such as yogurt or apple puree, to help you swallow them.</p>
          <p>Some brands of capsules (like those made by Dexel) have a special coating and should not be opened. Talk to your pharmacist if you are not sure whether you can open your capsules.</p>
          <p>Omeprazole also comes as a 'dispersible' tablet that melts in your mouth.</p>
          <h3>Liquid medicine</h3>
          <p>Omeprazole is available as a liquid for children and people who find it difficult to swallow capsules or tablets.</p>
          <p>If you or your child are taking omeprazole as a liquid, the medicine will come with a dose-measuring plastic syringe or spoon to help you take the right amount. If you don’t have a dose-measuring device, ask your pharmacist for one.</p>
          <h3>How much will I take?</h3>
          <p>Each tablet or capsule contains 10mg, 20mg or 40mg of omeprazole.</p>
          <p>Your dose of omeprazole depends on the reason why you are taking it, your age, how well your liver works and how well it helps your symptoms. </p>
          <p>As a general rule the usual dose to treat:</p>
          <ul>
          <li>indigestion is 10mg to 20mg a day</li>
          <li>acid reflux disease is 20mg to 40mg a day</li>
          <li>or prevent stomach ulcers is 20mg to 40mg a day</li>
          <li>Zollinger-Ellison syndrome is 20mg to 120mg a day</li>
          </ul>
          <p>Doses are usually lower for children, and people with liver problems.</p>
          <p>For babies and children, the doctor will use your child’s weight to work out the right amount.</p>
          <p>You can buy omeprazole 10mg tablets and capsules from pharmacies. These are the same as omeprazole 10mg tablets and capsules that you get on prescription, but they are meant to be taken only by adults and only for up to four weeks.</p>
          <h3>Will my dose go up or down?</h3>
          <p>Sometimes your doctor will increase your dose of omeprazole if it isn’t working well enough.</p>
          <p>Depending on the reason you take omeprazole, you may take a higher dose to begin with, usually for a month or two. After this, your doctor may recommend that you take a lower dose.</p>
          <h3>How long will I take it for?</h3>
          <p>Depending on your illness or the reason you are taking omeprazole, you may only take it for a few weeks or months. Sometimes you might need to take it for longer, even for many years.</p>
          <p>Some people don’t need to take omeprazole every day and take it only when they have symptoms. Once you feel better (often after a few days or weeks), you can stop taking it. Taking omeprazole in this way is not suitable for everyone as it depends on your illness. Discuss with your doctor what is best for you.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you usually take it once a day, take the missed dose as soon as you remember, unless it is within 12 hours of your next dose in which case skip the missed dose.</p>
          <p>If you usually take it twice a day, take the missed dose as soon as you remember, unless it is within four hours of your next dose in which case skip the missed dose.</p>
          <p>Do not take a double dose to make up for a forgotten dose.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking too much omeprazole may cause side effects such as feeling dizzy or sleepy, seeing double, slurring your words, diarrhoea or passing out.   </p>
          <p>If this happens, call your doctor straight away, or go to the nearest hospital accident and emergency department.</p>
          <p>Take with you any omeprazole that you have left, and the medicine packet so the hospital can see what you have taken.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Most people who take omeprazole do not have any side effects. If you do get a side effect, it is usually mild and will go away when you stop taking omeprazole.</p>
      <p>The most common side effects of omeprazole include headaches, diarrhoea and stomach pain.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>Like all medicines, omeprazole can cause side effects in some people but most people have no side effects or only minor ones.</p>
          <p>These side effects may happen in more than one in 10 people:</p>
          <ul>
          <li>headache</li>
          <li>diarrhoea</li>
          <li>stomach pain</li>
          <li>constipation</li>
          <li>wind</li>
          <li>feeling sick or vomiting</li>
          </ul>
          <p>Omeprazole may also make you feel dizzy or sleepy. Some people might find it difficult to fall asleep.</p>
          <p>It may also cause an itchy or lumpy skin rash or make your feet or ankles swell.</p>
          <h3>Serious side effects</h3>
          <p>Serious side effects are rare and happen in fewer than one in 1,000 people. Tell a doctor straight away if you have:</p>
          <ul>
          <li>joint pain along with a red skin rash, especially in parts of your body exposed to the sun, such as your arms, cheeks and nose. These can be signs of a rare condition called subacute cutaneous lupus erythematosus that can happen weeks even years after taking omeprazole</li>
          <li>yellow skin, dark urine and tiredness. These can be signs of liver problems. It happens in fewer than one in 1,000 people taking omeprazole</li>
          <li>reddening, blisters and peeling of the skin. There may also be severe blisters and bleeding in the lips, eyes, mouth, nose and genitals. This could be <a href="https://www.google.co.uk/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=3&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjq_sexhuXQAhUHK8AKHSg_BfEQFggjMAI&amp;url=http%3A%2F%2Fwww.nhs.uk%2Fconditions%2Fstevens-johnson-syndrome&amp;usg=AFQjCNFWQ47IeZ6TSbHG29xKIcyHVpl75A&amp;sig2=JWCzxp_nXhRu8rkSxmevZg&amp;bvm=bv.140915558,d.d24">Stevens-Johnson syndrome</a> or toxic epidermal necrolysis. It happens in fewer than one in 10,000 people taking omeprazole</li>
          </ul>
          <h3>Serious allergic reaction</h3>

          <p><span class="alertbanner">It's rare to have an allergic reaction to omeprazole but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>

          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
          <ul>
          <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
          <li>wheezing</li>
          <li>tightness in the chest or throat</li>
          <li>having trouble breathing or talking</li>
          <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of omeprazole. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>How to cope with side effects</h3>
          <h4>What to do about feeling sick</h4>
          <p>Try taking omeprazole with or after a meal or snack to see if that helps to ease feelings of sickness. It may also help if you don’t eat rich or spicy food while you're taking this medicine.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water if you have <a href="http://www.nhs.uk/conditions/Diarrhoea/Pages/Introduction.aspx">diarrhoea</a> or you are being sick – have small, frequent sips. It may also help to take oral rehydration solutions which you can buy from a pharmacy or supermarket to prevent <a href="http://www.nhs.uk/conditions/dehydration/Pages/Introduction.aspx">dehydration</a>.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor. </p>
          <h4>What to do about constipation</h4>
          <p>If you have <a href="http://www.nhs.uk/conditions/constipation/Pages/Introduction.aspx">constipation</a>, eat more high-fibre foods such as fresh fruit and vegetables and cereals, and drink plenty of water. Also exercise more regularly, for example, by going for a daily walk or run. If this does not help, talk to your pharmacist or doctor.</p>
          <h4>What to do about wind</h4>
          <p>Don’t eat foods known to cause wind (like pulses, lentils, beans and onions).</p>
          <p>It might also help to eat smaller and more frequent meals, eat and drink slowly, and exercise regularly.</p>
          <p>There are also some pharmacy remedies that can help, such as charcoal tablets or simethicone.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including omeprazole, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking with other medicines</h2>
      <p>Some medicines and omeprazole can interfere with each other and make it more likely that you will have side effects.</p>
      <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking other medicines, including herbal remedies and supplements, before starting omeprazole.</span></p>


      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-6" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-6" aria-hidden="false">
          <p>Tell your doctor if you’re taking these medicines before your start omeprazole treatment:</p>
          <ul>
          <li>heart medicines such as cilostazol and digoxin</li>
          <li>anti-fungal medicines such as itraconazole, ketoconazole, posaconazole and voriconazole</li>
          <li>methotrexate (treats psoriasis and rheumatoid arthritis)</li>
          <li>HIV medicines</li>
          <li>the anti-epilepsy medicine, phenytoin</li>
          <li>the antibiotic, rifampicin</li>
          <li>blood thinning medicines like clopidogrel and warfarin</li>
          </ul>
          <h3>Mixing omeprazole with complementary remedies</h3>
          <p>Don't take the herbal remedy for depression, St John's wort, at the same time as omeprazole. St John's wort may stop omeprazole working as well as it should.</p>
          <p>For safety, speak to your pharmacist or doctor before taking omeprazole if you routinely take any herbal or alternative remedies.</p>
        </div>
      </details>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol with omeprazole. However, drinking alcohol makes your stomach produce more acid than normal. This can irritate your stomach lining and make your symptoms worse.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>You should start to feel better within two to three days. However, it may take up to four weeks for omeprazole to work properly so you may still have some acid symptoms during this time.</p>
              <p>If you are self-treating, tell your doctor if you feel no better after taking omeprazole for two weeks. They may want to do tests or change you to a different medicine.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Can I drive with omeprazole?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>Occasionally, omeprazole can make you feel dizzy, sleepy, or get blurred vision. If this happens to you, don’t drive or use machinery or tools until you feel better.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Can I take paracetamol with it?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>Yes, it’s safe to take paracetamol at the same time as omeprazole.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Are there similar medicines?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>There are four other medicines that are similar to omeprazole. They are:</p>
              <ul>
              <li>lansozaprole</li>
              <li>esomeprazole</li>
              <li>pantoprazole</li>
              <li>rabeprazole</li>
              </ul>
              <p>Like omeprazole, these medicines are proton pump inhibitors. They work in the same way as omeprazole to reduce acid in your stomach. They generally work as well as and have similar side effects to omeprazole. However, they may be given in different doses to omeprazole.</p>
              <p>Sometimes, if omeprazole does not work or agree with you, your doctor may suggest that you try taking another proton pump inhibitor. Like omeprazole, you can buy esomeprazole and pantoprazole directly from pharmacies. You can also buy esomeprazole from supermarkets.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
              <h3>Are there other indigestion medicines?</h3>
            </summary>
            <div id="questions-8" aria-hidden="true">
              <p>There are a variety of other pharmacy and prescription medicines for indigestion and heartburn.</p>
              <p><strong>Antacids</strong>, like calcium carbonate (Tums), sodium bicarbonate (Alka Seltzer) Maalox and Milk of Magnesia, relieve indigestion and heartburn by neutralising the acid in your stomach. They give quick relief that lasts for a few hours. They’re ideal for occasional bouts of stomach acid symptoms.</p>
              <p>Some antacids, such as Gaviscon, have an extra ingredient called alginic acid. They work by lining your stomach so that juices from it don’t splash up into your foodpipe. They’re especially good for relieving acid reflux.</p>
              <p>Antacids are available from pharmacies and supermarkets.</p>
              <p><strong>Histamine antagonists</strong> (commonly called H2 blockers) reduce the amount of acid made in your stomach, but they do this in a different way to PPIs.</p>
              <p>They include ranitidine (Zantac), cimetidine (Tagamet), famotidine (Pepcid) and nizatidine (Axid).</p>
              <p>In general, proton pump inhibitors like omeprazole are used first because they are better than H2 blockers at reducing stomach acid. However, if you don't get on with a proton pump inhibitor (for example, because of side effects), your doctor may prescribe an H2 blocker.</p>
              <p>You can buy famotidine and ranitidine over the counter from pharmacies.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
              <h3>Can I take omeprazole with an antacid?</h3>
            </summary>
            <div id="questions-9" aria-hidden="true">
              <p>You can take omeprazole with an antacid, for example Gaviscon, if you need to but leave a gap of two hours between them.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take omeprazole</h2>
      <p>Some omeprazole capsules contain gelatin so they are not suitable for vegetarians and vegans.</p>
      <p>Some omeprazole capsules contain small amounts of lactose, so they may be unsuitable for people with a digestive problem called <a href="http://www.nhs.uk/Conditions/lactose-intolerance/Pages/Introduction.aspx">lactose intolerance</a>.</p>
      <p>Omeprazole tablets and liquid do not contain gelatin or lactose.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Omeprazole isn't suitable for some people.</p>
          <p>To make sure omeprazole is safe for you, tell your doctor if you have:</p>
          <ul>
          <li>had an allergic reaction to omeprazole or any other medicine</li>
          <li>liver problems</li>
          </ul>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Omeprazole is generally safe to take during pregnancy and while breastfeeding.</p>
      <p>For safety, tell your doctor if you are pregnant or breastfeeding before starting omeprazole.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <p>Indigestion is very common in pregnancy.</p>
          <p>If you're pregnant, it's always better to try to treat your indigestion without taking a medicine.</p>
          <p>Your doctor or midwife will first advise that you try to ease your symptoms by eating smaller meals more often, not eating fatty and spicy foods, and raising the head of your bed a little.</p>
          <p>If lifestyle changes don't work, you may be recommended a medicine like omeprazole.</p>
          <h3>Omeprazole and breastfeeding</h3>
          <p>General advice is that you can breastfeed as normal while taking omeprazole.</p>
          <p>Omeprazole passes into breast milk, but only in small amounts which are not harmful to the baby.</p>
          <p>However, if your baby is premature or has health problems, check first with your doctor.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about omeprazole</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How omeprazole works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Omeprazole is a type of medicine called a proton pump inhibitor (PPI). Proton pumps are found on cells lining the stomach. They are used by these cells to make stomach acid.</p>
            <p>Omeprazole prevents proton pumps from working properly. This reduces the amount of acid the stomach makes.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>Taking omeprazole for a long time</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>There are some serious side effects that are more likely to happen if you take omeprazole for more than a year. These side effects are more likely the longer you take omeprazole. They include:</p>
            <ul>
            <ul>
            <li>bone fractures</li>
            <li>gastrointestinal infections </li>
            <li><a href="http://www.nhs.uk/Conditions/Anaemia-vitamin-B12-and-folate-deficiency/Pages/Introduction.aspx">vitamin B12 deficiency</a>. Symptoms include feeling very tired, a sore and red tongue, mouth ulcers and pins and needles.</li>
            <li>low levels of magnesium in your blood. This is more likely if you take omeprazole for more than three months. Low magnesium can make you feel tired, confused, dizzy and cause muscle twitches, tremors and an irregular heartbeat</li>
            </ul>
            </ul>
            <p>To reduce the chance of getting these side effects, your doctor will prescribe the lowest dose of omeprazole needed to ease your symptoms for the shortest length of time.</p>
            <p>If you take omeprazole for a long time, your doctor will regularly check if you still need it.</p>
            <p>It's not known if omeprazole works less well the longer you take it. If you feel like omeprazole is not working any longer, talk to your doctor.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>It may be possible to ease symptoms caused by too much stomach acid by making a few simple changes to your diet and lifestyle:</p>
            <ul>
            <li>lose excess weight</li>
            <li>don’t eat foods that can make your symptoms worse, such as rich, spicy and fatty foods, and acidic foods like tomatoes, citrus fruits, salad dressings and fizzy drinks</li>
            <li>cut down on caffeinated drinks, such as tea, coffee and cola, as well as alcohol and smoking</li>
            <li>if you have symptoms at night, try not to eat for at least three hours before you go to bed</li>
            <li>raise the head of your bed a little</li>
            </ul>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Coming off omeprazole</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>Most people can stop taking omeprazole without reducing the dose first.</p>
            <p>If you have taken omeprazole for a long time speak to your doctor first. Stopping suddenly could make your stomach produce a lot more acid, and make your symptoms return. Reducing the dose gradually before stopping completely will prevent this happening.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h3>Omeprazole and dementia</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>Research has suggested that people over the age of 75 who take omeprazole and similar medicines are more likely to get <a href="http://www.nhs.uk/conditions/dementia-guide/Pages/dementia-choices.aspx">dementia</a>. However, the research didn’t prove omeprazole causes dementia.</p>
            <p>If you are worried, talk to your doctor but do not stop taking omeprazole.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Indigestion/Pages/Introduction.aspx">Indigestion</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/gastroesophageal-reflux-disease/pages/introduction.aspx">Acid reflux</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/peptic-ulcer/pages/introduction.aspx">Stomach ulcer</a></li>
              </ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.barrettscampaign.org.uk/">Barrett&#39;s Oesophagus Campaign</a></li>
                <li class="module__list-item"><a class="link__external" href="http://corecharity.org.uk/">Core: digestive disorders charity</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.cardcharity.co.uk/index.html">Campaign against reflux disease</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
