{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Who may not be able to take prednisolone?</h2>

      <h3>Check with your doctor first if:</h3>

      <ul>
        <li><span class="strong">you have ever had severe depression or manic-depression</span> (bipolar disorder). This includes having had depression before while taking steroid medicines like prednisolone.</li>
        <li><span class="strong">any of your close family</span> has had these illnesses</li>
      </ul>

      <h3>Do not take prednisolone if you are:</h3>

      <ul>
        <li>allergic to prednisolone</li>
        <li>suffering from a serious infection that is not being treated</li>
        <li>suffering from a herpes infection of the eye</li>
        <li>suffering from galactose or lactose intolerance or glucose-galactose malabsorption.</li>
      </ul>

      <h3>Warnings and precautions</h3>

      <p>Before you take prednisolone tell your doctor if you:</p>

      <ul>
        <li>suffer from or have ever been treated for tuberculosis (TB)</li>
        <li>have high blood pressure</li>
        <li>have a heart condition</li>
        <li>have liver or kidney problems</li>
        <li>suffer from diabetes or diabetes runs in your family</li>
        <li>have osteoporosis (thinning of the bone), particularly if you are past the menopause (the change of life)</li>
        <li>are going through or are past the menopause</li>
        <li>suffer from epilepsy (fits)</li>
        <li>suffer from stomach ulcers</li>
        <li>have taken prednisolone (or other steroids) before and had muscular problems (steroid myopathy)</li>
        <li>are receiving treatment for a condition called myasthenia gravis (a rare muscle weakness disorder)</li>
        <li>have ever had blood clots, (for example, deep vein thrombosis [DVT], or thromboembolism)</li>
        <li>are planning to have a vaccination</li>
        <li>have Cushing's disease (a hormone disorder that can cause symptoms including gaining weight very quickly, especially on the trunk and face, thinning of the skin and sweating)</li>
        <li>suffer from hypothyroidism (an underactive thyroid gland that can cause tiredness or weight gain)</li>
        <li>have Duchenne's muscular dystrophy</li>
        <li>have inflammatory bowel disease such as Crohn's disease</li>
        <li>have an eye disease caused by fluid build-up at the back of the eye that causes visual impairment.</li>
        <li>are undergoing immunosuppression therapy for example in the treatment of cancer</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/who-may-not-be-able-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">Who may not be able to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
