{% extends "templates/layout.html" %}

{% block page_title %}
  Gliclazide - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/gliclazide" class="link__unstyled">Gliclazide</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Gliclazide</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who can take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Gliclazide is a medicine used to treat type 2 diabetes.</p>
      <p>Type 2 diabetes is a condition where the body doesn’t make enough insulin, or the body can’t use insulin in the right way. This causes high blood sugar levels (hyperglycemia).</p>
      <p>Gliclazide works by lowering your blood sugar. It’s available as tablets on prescription.</p>
      <p>Gliclazide may also be called by the brand names Bilxona, Dacadis, Diamicron, Laaglyda, Nazdol, Vamju, Vitile, Ziclaseg, and Zicron.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>If you take gliclazide once a day, it’s best to take it in the morning before breakfast.</li>
        <li>If you take it more than once a day, always take it before a meal so that your blood sugar level doesn’t go too low.</li>
        <li>Gliclazide can sometimes make your blood sugar level too low. Carry some sweets or fruit juice with you to help when this happens.</li>
        <li>Gliclazide may cause you to gain weight.</li>
        <li>You can drink alcohol while taking gliclazide but be aware that it can make your blood sugar level dip too low.</li>
      </ul>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>The dose of gliclazide can vary. Take this medicine as prescribed by your doctor.</p>
      <p>It’s usual to take the tablets once a day before breakfast.</p>
      <p>If you’re on a higher dose you may take gliclazide tablets up to four times a day. Try to always take them before a meal.</p>
      <p>Swallow your gliclazide tablets whole with a glass of water, do not chew them.</p>


      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Gliclazide comes as two different types of tablets – normal (standard release) and long-acting (extended release).</p>
          <p>Standard release tablets release gliclazide into your body quickly so you may need to take them several times a day depending on your dose.</p>
          <p>Extended release tablets dissolve slowly which means you don’t have to take them as regularly as the standard ones, one dose in the morning is usually enough.</p>
          <p>Your doctor or pharmacist will explain what type of gliclazide tablets you are on and how to take them.</p>
          <h3>How much will I take?</h3>
          <p>For extended release gliclazide, the maximum daily dose is 120mg taken once a day before breakfast.</p>
          <p>For standard release gliclazide, the maximum daily dose is 320mg which may be split into up to four doses. Don’t take more than 160mg as a single dose and try to  take the tablets before a meal so your blood sugar level doesn’t go too low.</p>
          <h3>Will my dose go up or down?</h3>
          <p>Your doctor will check your blood sugar levels regularly and may adjust your dose of gliclazide if necessary.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you miss a dose of gliclazide, take the next dose at the usual time. Do not take a double dose to make up for a forgotten dose.</p>
          <h3>What if I take too much?</h3>
          <p>If you take too many gliclazide tablets, contact your doctor or the nearest hospital straight away. An overdose of gliclazide can cause low blood sugar.</p>
          <p>If you think you have some of these symptoms, have some food or drink that quickly gets sugar into your bloodstream such as sugar cubes or fruit juice. You may also need to eat a starchy carbohydrate, like a sandwich or a biscuit.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Like all medicines, gliclazide can cause side effects although not everyone gets them.</p>
      <p>The most common side effects of gliclazide are tummy upsets. If they happen, side effects are usually mild and happen in fewer than one in 10 people.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>These common side effects happen in up to one in 10 people:</p>
          <ul>
            <li>stomach ache</li>
            <li>feeling sick</li>
            <li>vomiting</li>
            <li>indigestion</li>
            <li>diarrhoea</li>
            <li>constipation</li>
          </ul>
          <p>Side effects can be less if you take gliclazide tablets before a meal.</p>
          <h3>Serious side effects</h3>
          <p>These serious side effects are rare and affect fewer than one in 10,000 people.</p>
          <p>Tell your doctor straight away if you get:</p>
          <ul>
            <li>liver disorder - warning signs include yellowing of the skin or whites of the eye</li>
            <li>blood disorder - warning signs include paleness, prolonged bleeding, bruising, sore throat and fever</li>
            <li>skin disorders such as rash, redness, itching, hives; you can also have rapid swelling of eyelids, face, lips, mouth, tongue or throat that may result in breathing difficulty</li>
            <li>eye disorders - your vision may be affected for a short time especially at the start of treatment due to changes in your blood sugar levels</li>
          </ul>
          <h3>Low blood sugar</h3>
          <p>Gliclazide can sometimes cause your blood sugar to go too low. The medical name for this is hypoglycaemia. Early warning signs of low blood sugar include:</p>
          <ul>
            <li>feeling hungry</li>
            <li>trembling or shaking</li>
            <li>sweating</li>
            <li>confusion</li>
            <li>difficulty concentrating</li>
          </ul>
          <p>It’s also possible for your blood sugar to go too low while you’re asleep. If this happens, it can cause make you feel sweaty, tired and confused when you wake up.</p>
          <p>Low blood sugar may happen if you:</p>
          <ul>
            <li>eat meals irregularly or skip meals</li>
            <li>are fasting</li>
            <li>don’t eat a healthy diet with enough nutrients in</li>
            <li>change what you eat</li>
            <li>increase your physical activity without eating more to compensate</li>
            <li>drink alcohol, especially after skipping a meal</li>
            <li>take other medicines or natural remedies at the same time</li>
            <li>take too much gliclazide</li>
            <li>suffer from a hormone disorder such as hypothyroidism</li>
            <li>have kidney or liver problems</li>
          </ul>
          <h4>What to do about low blood sugar</h4>
          <p>Have regular meals, including breakfast, and never miss or delay a meal.</p>
          <p>If you are planning to increase your physical activity, eat carbohydrates (bread, pasta, cereals) before, during or after exercise.</p>
          <p>Always carry a rapid-acting carbohydrate with you, like sugar cubes, fruit juice, or some sweets in case your blood sugar level gets low. Artificial sweeteners won’t help. You may also need to eat a starchy carbohydrate, like a sandwich or a biscuit</p>
          <p>If taking sugar does not help or if the symptoms come back, contact your doctor or the nearest hospital.</p>
          <p>Make sure your friends and family know about your diabetes and the symptoms of low blood sugar level.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of gliclazide. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>How to cope with side effects</h3>
          <h4>What to do about feeling sick</h4>
          <p>Take your tablets after a meal (should we say this when it may mean your blood sugar drops? Plus it contradicts what we’ve said before – perhaps leave out?). Stick to simple meals and avoid rich or spicy food.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water if you have diarrhoea or you are being sick – have small, frequent sips. It may also help to take oral rehydration solutions which you can buy from a pharmacy or supermarket to prevent dehydration.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
          <h4>What to do about constipation</h4>
          <p>If you have constipation, eat more high-fibre foods such as fresh fruit and vegetables and cereals, and drink plenty of water. Also exercise more regularly, for example, by going for a daily walk or run. If this does not help, talk to your pharmacist or doctor.</p>
          <h4>What to do about weight gain</h4>
          <p>Gliclazide can make you hungrier and retain water so it can be quite challenging to keep from putting on weight while you're taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don't gain too much weight. Regular exercise will also help to keep your weight stable.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including gliclazide, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take gliclazide</h2>
      <p>Gliclazide can be taken by:</p>
      <ul>
        <li>children over the age of 12 - on advice of a doctor</li>
      </ul>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Tell your doctor before starting the medicine if you:</p>
          <ul>
            <li>have had an allergic reaction to gliclazide or its ingredients, to other medicines from the same group (sulfonylureas), to other related medicines (sulfonamides)</li>
            <li>have <a href="http://www.nhs.uk/Conditions/Diabetes-type1/Pages/Introduction.aspx">insulin-dependent diabetes (type 1)</a></li>
            <li>have <a href="http://www.nhs.uk/Conditions/diabetic-ketoacidosis/Pages/Introduction.aspx">ketone bodies and sugar in your urine</a></li>
            <li>have severe kidney or liver disease</li>
            <li>have a health problem called porphyria</li>
            <li>are taking miconazole (a treatment for fungal infections)</li>
            <li>are breastfeeding</li>
            <li>suffer from a condition called G6PD-deficiency</li>
            <li>need to have surgery</li>
          </ul>
        </div>
      </details>




      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol while taking gliclazide but try not to have more than two glasses (two units) a day as it can increase the risk of low blood sugar level. Don’t drink on an empty stomach.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>You may not have had any symptoms of diabetes so you won’t necessarily feel any different when you take gliclazide. This doesn’t mean that gliclazide isn’t working and it is important to keep taking it. Gliclazide will help keep your blood sugar level stable and reduce your chances of complications in the future.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>How long will I take gliclazide for?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>Treatment for diabetes is usually for life. Don’t stop taking your gliclazide tablets without talking to your doctor.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Can I take painkillers?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>It’s safe to take paracetamol with gliclazide. Don’t take aspirin or ibuprofen, though, as these can interfere with gliclazide to lower your blood sugar levels too much.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Can I drive?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>If your blood sugar levels are well controlled, your ability to drive or use machines or tools should not be affected. However, if your blood sugar levels become too low, this can affect your concentration.</p>
              <p><span class="alertbanner">Do not drive or use machines or tools if you start to feel the symptoms of low blood sugar.</span></p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
              <h3>Will it affect my fertility?</h3>
            </summary>
            <div id="questions-8" aria-hidden="true">
              <p>For men and women, gliclazide will not affect your fertility.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
              <h3>Will it affect my contraception?</h3>
            </summary>
            <div id="questions-9" aria-hidden="true">
              <p>For women, gliclazide will not affect contraceptive pills or the morning after pill.</p>
              <p>However, some women might need a small adjustment in their gliclazide dose after starting contraceptive pills as in rare cases they can increase blood sugar levels.</p>
            </div>
          </details>

        </div>
      </div>



      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking gliclazide with other medicines</h2>
      <p>There are some medicines that interfere with the way gliclazide works.</p>
      <p>Tell your doctor and pharmacist that you're taking gliclazide before starting or stopping any other prescription medicine or a medicine you buy including herbal remedies and supplements.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-6" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-6" aria-hidden="false">
          <p>There are some medicines that interfere with the way gliclazide works.</p>
          <p>Tell your doctor and pharmacist that you're taking gliclazide before starting or stopping any other prescription medicine or a medicine you buy including herbal remedies and supplements.</p>
          <p>If you are taking any of the following medicines, your blood sugar levels may need to be checked more often and your dose adjusted:</p>
          <ul>
            <li>steroid tablets such as prednisolone</li>
            <li>some medicines used to treat heart problems and high blood pressure</li>
            <li>medicines to treat bacterial or fungal infections such as clarithromycin or fluconazole</li>
            <li>painkillers such as ibuprofen and aspirin (but not paracetamol)</li>
            <li>medicines used to treat asthma such as salbutamol</li>
            <li>male and female hormones such as testosterone, oestrogen and progesterone</li>
            <li>other diabetes medicines</li>
          </ul>
          <p>Gliclazide may also increase the effects of medicines that thin your blood such as warfarin.</p>
          <h3>Mixing gliclazide with complementary remedies</h3>
          <p>Avoid the herbal remedy for depression, St John's wort, as it may have an effect on the metabolism of gliclazide.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p><span class="alertbanner">Tell your doctor if you plan to get pregnant or become pregnant while taking this medicine.</span></p>
      <p>It’s not clear whether gliclazide affects an unborn baby. For safety, your doctor will most likely change your medicine to insulin before you become pregnant or as soon as you find out you’re pregnant.</p>
      <p>There is a risk of your baby getting low blood sugar if you take gliclazide while breastfeeding. Talk to your doctor if you want to breastfeed.</p>



      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about gliclazide</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How gliclazide works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Gliclazide is a type of medicine known as a sulfonylurea. Sulfonylureas increase the amount of insulin that’s produced by your pancreas. Insulin is the hormone that controls the level of sugar in your blood.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>Taking gliclazide for a long time</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>Gliclazide is safe to take for a long time, even many years. There’s no evidence it harms your pancreas or your general health.</p>
            <p>However, gliclazide may stop working properly after a while. Your doctor may then want to stop it or add a different medicine to help keep your blood sugar level stable.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Coming off gliclazide</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Don't stop taking gliclazide without talking to your doctor.</p>
            <p>If you stop taking gliclazide suddenly you may reduce the control over your diabetes.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Food and drink</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>Karela (also known as bitter melon, bitter gourd, balsam pear, cundeamor) is used to flavour foods such as curries. It may lower blood sugar levels. </p>
            <p>Irregular consumption of karela could cause unexplained changes in the control of diabetes.</p>
            <p>Check nutrition labels as many foods and drinks are high in sugar. Try to cut down on foods with added sugar such as:</p>
            <ul>
              <li>sweets</li>
              <li>cakes</li>
              <li>biscuits</li>
              <li>chocolate</li>
              <li>some fizzy drinks</li>
              <li>juice drinks</li>
            </ul>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h3>Taking gliclazide before surgery</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>If you are going to have an operation, tell your doctor you are taking gliclazide.</p>
            <p>Don’t take gliclazide on the morning of surgery, your doctor may temporarily switch you to insulin instead.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false">
            <h3>Are other diabetes medicines better?</h3>
          </summary>
          <div id="more-7" aria-hidden="true">
            <p>There are other groups of medicines that can lower blood sugar levels:</p>
            <ul>
              <li>biguanides such as metformin</li>
              <li>pioglitazone</li>
              <li>DPP-4 inhibitors such as saxagliptin</li>
              <li>SGLT2 inhibitors such as dapagliflozin</li>
              <li>GLP-1 agonists such as exenatide</li>
              <li>insulin</li>
            </ul>
            <p>Gliclazide is usually prescribed if you can't take metformin, or if metformin is no longer keeping your blood sugar level under control when used by itself.</p>
            <p>Gliclazide is a sulfonylurea. There are four other sulfonylureas available – they all work in the same way – by increasing the amount of insulin your body produces:</p>
            <ul>
              <li>glibenclamide</li>
              <li>glimepiride</li>
              <li>glipizide</li>
              <li>tolbutamide</li>
            </ul>
            <p>Gliclazide can be prescribed on its own or in combination with the above medicines.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-8" tabindex="0" aria-expanded="false">
            <h3>Lifestyle changes</h3>
          </summary>
          <div id="more-8" aria-hidden="true">
            <p>If you’re at risk of type 2 diabetes or already living with it, there are some lifestyle changes you can make to prevent it or control your symptoms. These are:</p>
            <ul>
              <li>eat a healthy diet</li>
              <li>lose any excess weight</li>
              <li>stop smoking</li>
              <li>don’t drink too much alcohol – no more than two glasses a day</li>
              <li>exercise regularly – up to 30 minutes a day, five times a week is ideal</li>
            </ul>
          </div>
        </details>


      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Diabetes-type2/Pages/Introduction.aspx">Type 2 diabetes</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Diabetes-type1/Pages/Introduction.aspx">Type 1 diabetes</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/hypoglycaemia/Pages/Introduction.aspx">Low blood sugar (hypoglycaemia)</a></li>
              </ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.diabetes.org.uk/">Diabetes UK</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.drwf.org.uk/">Diabetes Research and Wellness Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/long-term-conditions/diabetes-type-2/topics">Type 2 diabetes: patient stories</a></li>
                <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/metformin">Metformin: forum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
