{% extends "templates/layout.html" %}

{% block page_title %}
  Gliclazide - NHS Medicines beta
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'Show more on how to take and forgetting doses' %}
{% set moreinfoSideEffects = 'Show serious side effects' %}
{% set moreinfoCautions = 'Show more on cautions with other medicines and herbal remedies' %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/gliclazide" class="link__unstyled">Gliclazide</a></h1>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Gliclazide</h2>
        <ol class="page-nav-list page-nav-list--numbered list-numbered">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#how-to-cope">How to cope with side effects</a></li>
          <li class=""><a href="#who-can-take">Who can take gliclazide</a></li>
          <li class=""><a href="#cautions">Cautions with other medicines</a></li>
          <li class=""><a href="#pregnancy">Pregnancy and breastfeeding</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
        </ol>
      </div>
    </div>

    <div class="column-two-thirds tabs-content">
{% include "./includes/intro.html" %}
<ol class="list-numbered">
<li>{% include "./includes/keyfacts.html" %}</li>
<li>{% include "./includes/how-when-to-take.html" %}</li>
<li>{% include "./includes/side-effects.html" %}</li>
<li>{% include "./includes/how-to-cope.html" %}</li>
<li>{% include "./includes/who-can-take.html" %}</li>
<li>{% include "./includes/cautions.html" %}</li>
<li>{% include "./includes/pregnancy-breastfeeding.html" %}</li>
<li>{% include "./includes/common-questions.html" %}</li>
</ol>
{% include "./includes/links.html" %}
    </div>
  </div>
</main>

<script src="/public/javascripts/scroll-to-content.js"></script>

{% endblock %}
