{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Extra precautions with prednisolone</h2>
      <p>If you've been given a blue steroid treatment card, make sure that you keep the information on the card up to date and show it to anyone that treats you, including your doctor, nurse, pharmacist or dentist.</p>
      <p>If you've been taking prednisolone for longer than three weeks don't ever stop the medicine suddenly.</p>
      <p>If you've not had chickenpox or measles, avoid close contact with people who have chickenpox, shingles, or measles and seek urgent medical advice if you are exposed.</p>
      <p>Tell your doctor or nurse that you're taking prednisolone before having any vaccinations. Steroids affect your immune response and you shouldn’t be given any 'live' vaccines while taking prednisolone without checking with your doctor first. Examples of live vaccines include the shingles, MMR and BCG (TB) vaccines.</p>
      <p>Your doctor is likely to monitor your blood pressure, weight, blood sugar and potassium levels more closely if you are taking prednisolone on a long-term basis.</p>
      <p>Your doctor may arrange for you to have a bone scan if you are taking prednisolone on a long-term basis as the medicine can cause bone loss.</p>
      <p>If you have diabetes you may need to check your blood glucose more frequently, as prednisolone tablets may affect the levels of sugar in your blood. Your doctor will be able to advise you about this.</p>
      <p>To reduce the long-term effects of prednisolone on eyesight visit an optometrist every 6-12 months to check for high pressure in your eye (glaucoma) and cataract.</p>
      <p>Prednisolone treatment can stunt growth, so children and teenagers on prolonged treatment should have their height monitored regularly so that any slowing of growth can be identified and their steroid treatment reviewed.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/extra-precautions">
            <span class="prefix">Previous page:</span>
            <span class="title">Extra precautions with prednisolone</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
