{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>When will I feel better?</h2>

      <p>You may not notice much improvement in your symptoms for a week or two until citalopram begins to take effect and it usually takes between four and six weeks before you will feel the full benefits.</p>
      <p><em class="strong">Don't stop taking citalopram after a week or two just because you feel it isn't helping your symptoms. Give the medicine at least six weeks to work.</em></p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram">
            <span class="prefix">Previous page:</span>
            <span class="title">Citalopram topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
