{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Paracetamol overdose</h2>

      <p><em class="strong">Taking more than the maximum recommended daily dose of 4g of paracetamol can put you at risk of serious health problems.</em></p>

      <p>Sticking to the recommended dose of paracetamol is a safe and effective method of pain relief. However, an overdose of paracetamol can cause very serious and sometimes fatal liver problems. Some people have needed a liver transplant to overcome the damage caused by taking too much paracetamol.</p>

      <ul>
        <li><em class="strong">If you know you've taken an overdose of paracetamol – even if you have no symptoms - go immediately to a hospital accident and emergency department.</em></li>
        <li><em class="strong">If you are not sure if you have taken an overdose of paracetamol but you have symptoms of paracetamol poisoning or liver damage, go immediately to a hospital accident and emergency department.</em></li>
      </ul>

      <h3>What is a paracetamol overdose?</h3>
      <p>Liver problems usually happen in people who have either taken more than the recommended dose of paracetamol in 24 hours or have unintentionally taken more than one medicine with paracetamol in it. There have also been cases of accidental paracetamol poisoning in children.</p>
      <p>You may be at higher risk of liver damage after paracetamol overdose if you’re underweight, an alcoholic or you’re taking certain prescribed medicines.</p>

      <h3>Symptoms of paracetamol overdose</h3>
      <p>Early symptoms of paracetamol poisoning are nausea and vomiting, which usually settles within 24 hours.</p>
      <p>Symptoms of liver damage include pain and tenderness on the right side below your ribs (which may not appear until 3 or 4 days after the paracetamol overdose).</p>

      <h3>Treatment of paracetamol overdose</h3>
      <p>Paracetamol poisoning can be effectively treated. The vast majority of people recover fully from a paracetamol overdose with no lasting liver damage.</p>

      <p>Talk with your doctor or pharmacist about your medicines if you are unsure about whether any other medicine you are taking also contains paracetamol (including any you have bought over the counter).</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/overdose">
            <span class="prefix">Previous page:</span>
            <span class="title">Overdose</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
