{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Paracetamol overdose</h2>

      <p>An overdose of paracetamol can cause very serious and sometimes fatal liver problems.</p>

      <p>Liver problems caused by paracetamol overdose generally happen when people take more than the recommended dose in 24 hours or are unaware that they are taking more than one medicine with paracetamol in it.</p>

      <p>Early symptoms of paracetamol toxicity are nausea and vomiting, which usually settle within 24 hours. Liver damage symptoms include pain and tenderness on the right side below the ribs, sometimes three or four days after the paracetamol overdose.</p>

      <p><em class="strong">Anyone who has taken an overdose of paracetamol (accidentally or intentionally) should seek urgent medical attention at hospital.</em></p>

      <p>Talk with your doctor or pharmacist if you are unsure about whether any other medicine you are taking also contains paracetamol, including any you have bought over the counter.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/overdose">
            <span class="prefix">Previous page:</span>
            <span class="title">Overdose</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
