{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/prednisolone/all-content-pages">About prednisolone</a></li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li>Dosage</li>
          <li><a href="/prednisolone/pages/how-to-take-it">How to take it</a></li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li><a href="/prednisolone/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/prednisolone/pages/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/living-with">Living with prednisolone</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Who may not be able to take it?</a></li>
          <li><a href="/prednisolone/pages/stopping">Stopping prednisolone</a></li>
        </ol>
      </nav>

      <h2>Dosage</h2>

      <p>The daily dose may be between 5 and 60mg in adults depending on the illness and whether the medicine should be used as a short course or over a longer period.</p>

      <p>Your doctor may change your dosage to a lower one over time or before stopping treatment.</p>

      <p><em class="strong">If you take too many prednisolone tablets, tell your doctor at once or contact your nearest accident and emergency department.</em></p>

      <h3>For children</h3>

      <p>Dosages for children and adolescents depend on the condition and the weight, or a combination of weight and height, of the patient. Follow the doctor’s instructions on the correct dosage.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/prednisolone/pages/how-to-take-it">
            <span class="prefix">Next page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
        <div class="previous-page">
          <a href="/prednisolone/pages/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
