{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header">Prednisolone</h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/prednisolone/all-content-pages">About prednisolone</a></li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li><a href="/prednisolone/pages/dosage">Dosage</a></li>
          <li>How to take it</li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li><a href="/prednisolone/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/prednisolone/pages/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/living-with">Living with prednisolone</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Who may not be able to take it?</a></li>
          <li><a href="/prednisolone/pages/stopping">Stopping prednisolone</a></li>
        </ol>
      </nav>

      <h2>How to take it</h2>

      <p><em class="strong">Take as a single dose in the morning with food.</em></p>

      <p><em class="strong">Take your dose at a similar time each day.</em></p>

      <p>If your dose is 40mg daily, for example, it is usual to take eight tablets (8 x 5mg tablets) all at the same time. Doing this can reduce the chances that you will experience side effects.</p>

      <ul>
        <li>enteric coated tablets these can be taken with or without food.</li>
        <li>sometimes prednisolone is prescribed to be taken on alternate days only</li>
      </ul>

      <p><em class="strong">Do not take two doses at the same time or extra doses.</em></p>

      <p>If you miss a dose then you should take it as soon as you think about it unless it is close to the time for your next dose. If it is too close wait for your next dose instead.</p>

      <h3>If you take too much</h3>
      <p>Taking too much prednisolone on a one-off basis is unlikely to cause any significant side effects but if you are at all concerned contact your doctor or pharmacist for advice.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/prednisolone/pages/how-long-to-take-it-for">
            <span class="prefix">Next page:</span>
            <span class="title">How long to take it for</span>
          </a>
        </div>
        <div class="previous-page">
          <a href="/prednisolone/pages/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
