{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header">Prednisolone</h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/prednisolone/all-content-pages">About prednisolone</a></li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li><a href="/prednisolone/pages/dosage">Dosage</a></li>
          <li><a href="/prednisolone/pages/how-to-take-it">How to take it</a></li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li><a href="/prednisolone/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li>Pregnancy/breastfeeding</li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/living-with">Living with prednisolone</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Who may not be able to take it?</a></li>
          <li><a href="/prednisolone/pages/stopping">Stopping prednisolone</a></li>
        </ol>
      </nav>

      <h2>Taking prednisolone in pregnancy and when breastfeeding</h2>

      <p><em class="strong">Prednisolone may not be safe to take in pregnancy.</em></p>

      <p>Prednisolone may cause problems when used in the first trimester of pregnancy and may also affect the growth of the unborn baby.</p>
      <p>Consult with your doctor immediately if you intend to become pregnant or become pregnant whilst taking this medicine.</p>

      <p><em class="strong">Prednisolone may not be safe to take while breastfeeding.</em></p>

      <p>If prednisolone is taken in high doses by a breastfeeding mother, the baby may need to be monitored for signs of side effects.</p>

      <p>It may help to wait four hours between taking a dose of prednisolone and breastfeeding. Alternatively, express sufficient breast milk just before taking a dose of prednisolone to cover the four-hour period after taking the dose.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/prednisolone/pages/treatment-options">
            <span class="prefix">Previous page:</span>
            <span class="title">Other treatment options</span>
          </a>
        </div>
        <div class="previous-page">
          <a href="/prednisolone/pages/when-will-i-feel-better">
            <span class="prefix">Previous page:</span>
            <span class="title">When will I feel better</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
