{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/prednisolone/all-content-pages">About prednisolone</a></li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li><a href="/prednisolone/pages/dosage">Dosage</a></li>
          <li><a href="/prednisolone/pages/how-to-take-it">How to take it</a></li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li><a href="/prednisolone/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/prednisolone/pages/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Living with prednisolone</a></li>
          <li><a href="/prednisolone/pages/stopping">Who may not be able to take it?</a></li>
          <li>Stopping prednisolone</li>
        </ol>
      </nav>

      <h2>Stopping prednisolone</h2>

      <p>If you have taken prednisolone for more than three weeks or have taken more than 40mg every day for more than a week <em class="strong">do not stop taking the medicine suddenly</em>.</p>
      <p>Stopping the medicine suddenly may cause your condition to flare up again or lead to potentially dangerous withdrawal symptoms including:</p>
      <ul>
        <li>severe fatigue</li>
        <li>weakness</li>
        <li>body aches</li>
        <li>joint pain</li>
      </ul>

      <p><em class="strong">Gradually reduce the prednisolone dose</em> over a few weeks so that you're less likely to experience withdrawal symptoms.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/pages/who-may-not-be-able-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">Who may not be able to take it?</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
