{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/prednisolone/all-content-pages">About prednisolone</a></li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li><a href="/prednisolone/pages/dosage">Dosage</a></li>
          <li><a href="/prednisolone/pages/how-to-take-it">How to take it</a></li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li>When will I feel better?</li>
          <li><a href="/prednisolone/pages/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/living-with">Living with prednisolone</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Who may not be able to take it?</a></li>
          <li><a href="/prednisolone/pages/stopping">Stopping prednisolone</a></li>
        </ol>
      </nav>

      <h2>When will I feel better?</h2>

      <p>The period in which you can expect to see some effect will depend on what you have been prescribed prednisolone for. Ask your doctor what to expect from your prescription.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/prednisolone/pages/pregnancy-breastfeeding">
            <span class="prefix">Next page:</span>
            <span class="title">Pregnancy/breastfeeding</span>
          </a>
        </div>
        <div class="previous-page">
          <a href="/prednisolone/pages/how-long-to-take-it-for">
            <span class="prefix">Previous page:</span>
            <span class="title">How long to take it for</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
