{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/prednisolone/all-content-pages">About prednisolone</a></li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li><a href="/prednisolone/pages/dosage">Dosage</a></li>
          <li><a href="/prednisolone/pages/how-to-take-it">How to take it</a></li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li><a href="/prednisolone/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/prednisolone/pages/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Living with prednisolone</a></li>
          <li>Who may not be able to take it?</li>
          <li><a href="/prednisolone/pages/stopping">Stopping prednisolone</a></li>
        </ol>
      </nav>

      <h2>Who may not be able to take prednisolone?</h2>

      <p>Some health conditions may interact with prednisolone so <em class="strong">tell your doctor</em> before starting the medicine if:</p>

      <ul>
        <li>you have had an allergic reaction to prednisolone or any other medicine or their ingredients</li>
        <li>you have an ongoing infection (including eye infections), and any treatment that you are taking for it</li>
        <li>you are trying to become pregnant, are already pregnant or breastfeeding</li>
        <li>you have recently been in contact with anyone with shingles, chickenpox or measles unless you are sure you are immune to these infections</li>
        <li>you have recently had, or are about to have, any vaccinations</li>
      </ul>

      <p>Prednisolone treatment can make some health conditions worse if you're not monitored closely so <em class="strong">make your doctor aware</em> if you have:</p>

      <ul>
        <li>any history of liver problems</li>
        <li>any history of mental health problems (either you or close family members)</li>
        <li>any unhealed wounds</li>
        <li>any of the following conditions that they might not be aware of: heart failure, recent heart attack, high blood pressure, diabetes mellitus, epilepsy, glaucoma, underactive thyroid, osteoporosis, obesity, or stomach ulcers</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/prednisolone/pages/stopping">
            <span class="prefix">Next page:</span>
            <span class="title">Stopping prednisolone</span>
          </a>
        </div>
        <div class="previous-page">
          <a href="/prednisolone/pages/living-with">
            <span class="prefix">Previous page:</span>
            <span class="title">Living with prednisolone</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
