<section class="u-section-separator">
  <h2 id="cautions" class="content__h2">Cautions with other medicines</h2>
  <p>There are some medicines that interfere with the way naproxen works. Tell your doctor if you're taking:</p>
  <ul>
    <li>other anti-inflammatory medicines such as aspirin or ibuprofen</li>
    <li>medicines that thin the blood such as warfarin or rivaroxaban</li>
    <li>steroids such as prednisolone</li>
    <li>water tablets such as furosemide</li>
    <li>medicines used to treat heart problems and high blood pressure</li>
    <li>antidepressants such as citalopram</li>
    <li>medicine used to treat rheumatoid arthritis such as methotrexate</li>
  </ul>
  <p><span class="alertbanner">Tell your doctor and pharmacist if you’re taking any other medicines, including herbal remedies and supplements</span></p>
</section>
