<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>How does naproxen work?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Naproxen is a non-steroidal anti-inflammatory drug (NSAID). It works by reducing hormones that cause inflammation and pain in the body.</p>
          <p>Paracetamol is usually the best treatment for most types of pain, but naproxen is better for some types, such as period pain or back pain.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>When will I feel better?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>You should start to feel better 1 hour after taking naproxen. However, it might take up to 3 days for naproxen to work properly if you take it regularly twice a day.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>How long will I take naproxen for?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>Depending on why you are taking naproxen, you may only need to take it for a short time. For example, if you have a sore back or period pain, you may only need to take naproxen for a day or two.</p>
          <p>You may need to take it for longer if you have a long-term condition such as rheumatoid arthritis.</p>
          <p>If you need to take naproxen for a long time, your doctor may prescribe a medicine to protect your stomach from side effects. </p>
          <p>It’s best to take the lowest dose of naproxen for the shortest time to control your symptoms.</p>
          <p>Talk to your doctor if you are unsure how long you need to take naproxen for.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Can I take naproxen for a long time?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>Naproxen can cause an ulcer in your stomach or gut if you take it for a long time or in big doses.</p>
          <p>There is also a small risk that people taking very big doses (at least twice the usual daily dose) for a long time may get <a href="http://www.nhs.uk/conditions/Heart-failure/Pages/Introduction.aspx">heart failure</a>.</p>
          <p>It’s best to take the lowest dose that works for the shortest possible time.</p>
          <p>If you need to take naproxen very often, or you're taking a big dose, talk to your doctor about your pain.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Are there other painkillers I can try?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>The type of painkiller that is best depends on what type of pain you have and the cause of your pain.</p>
          <p>If naproxen doesn’t get rid of your pain, you can try painkillers that you can buy from shops and pharmacies such as paracetamol, ibuprofen and co-codamol (paracetamol combined with low-dose codeine). Do not take naproxen and ibuprofen at the same time.</p>
          <p>If the medicine you buy is not controlling your pain, your doctor may be able to prescribe a stronger painkiller, such as higher-dose co-codamol or codeine. Your doctor may also recommend another type of treatment to help your pain such as <a href="http://www.nhs.uk/livewell/fitness/Pages/Fitnesshome.aspx">exercise</a> or <a href="http://www.nhs.uk/conditions/physiotherapy/Pages/Introduction.aspx">physiotherapy</a>.</p>
          <p>Naproxen doesn't work for some types of pain, for example, nerve pain. Your doctor will have to prescribe a different medicine if your pain is related to your nerves.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Why do I need to be careful of stomach ulcers?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>Naproxen can cause an ulcer in your stomach or gut if you take it for a long time or in big doses, or if you're elderly or in poor general health.</p>
          <p>Your doctor may tell you not to take naproxen if you have a stomach ulcer or if you have had one in the past. If you need to take naproxen but you are at risk of getting a stomach ulcer, your doctor may prescribe another medicine for you to take alongside naproxen to protect your stomach.</p>
          <p>The most common symptom of a stomach ulcer is a burning or gnawing pain in the centre of the tummy. However, stomach ulcers aren't always painful and some people may have other symptoms, such as indigestion, heartburn and feeling sick.</p>
          <p>If you are prone to stomach ulcers or have had one before, take paracetamol instead of naproxen as it's gentler on your stomach. </p>
          <p><span class="alertbanner">If you think you may have symptoms of a stomach ulcer, stop taking naproxen and contact your doctor.</span></p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Can naproxen cause heart failure?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>It's been said that taking anti-inflammatory medicines increases the chances of getting heart failure. However, the risk is very small for most people. The possibility of heart failure is only a problem if you have been taking very big doses (twice the usual daily dose) of naproxen for a long time.</p>
          <p>If you find you need to take naproxen very often, or you're taking doses higher than recommended, talk to your doctor about your pain.</p>
          <p>Some anti-inflammatory medicines are less risky than others. Your doctor will be able to help you decide which is the best one for you.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>Does naproxen cause an irregular heart beat?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>It is thought that some anti-inflammatory medicines, including naproxen, can increase the chance of you getting an irregular heart beat (such as <a href="http://www.nhs.uk/Conditions/Atrial-fibrillation/Pages/Introduction.aspx">atrial fibrillation</a> or atrial flutter).</p>
          <p>However, the chances of getting an irregular heart beat is small and not enough to recommend people stop taking these medicines.</p>
          <p>If you are prescribed naproxen for a long-term condition, keep taking it and talk to your doctor if you are worried. If you buy naproxen from a shop, occasional doses or short courses (2 or 3 days) are safe.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>Does naproxen cause hearing loss?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>It has been reported that women taking some anti-inflammatory medicines, including naproxen, twice a week for more than a year have a higher chance of losing their hearing.</p>
          <p>However, there's no proof that naproxen and similar anti-inflammatory medicines cause hearing loss.</p>
          <p>Hearing loss is common as people get older. There are ways to protect your hearing – for example, limiting your exposure to loud noise, wearing hearing protection in noisy places, and keeping the volume down on personal headphones.</p>
          <p>If you find you have to take naproxen on several days a week, talk to your doctor about what's causing your pain and whether there are better ways to manage it.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-10" tabindex="0" aria-expanded="false">
          <h3>Will it affect my fertility?</h3>
        </summary>
        <div id="questions-10" aria-hidden="true">
          <p>Taking anti-inflammatory medicines, like naproxen, in large doses or for a long time can affect ovulation in women. This may make it more difficult to get pregnant. </p>
          <p>Do not take naproxen if you are trying to get pregnant or you are having tests for infertility. Paracetamol is a better painkiller in these situations.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Will it affect my contraception?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>For women, naproxen will not affect contraceptive pills or the morning after pill.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>Yes, you can drink alcohol while taking naproxen. However, drinking too much alcohol may irritate your stomach.</p>
        </div>
      </details>

    </div>
  </div>
</section>
