<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>Always take your naproxen tablets with or just after a meal so you don't get an upset stomach.</p>
  <p>As a general rule in adults, the dose to treat:</p>
  <ul>
    <li>diseases of joints is 500mg to 1000mg daily in 1 to 2 divided doses</li>
    <li>muscle, bone disorders and painful periods is 500mg at first, then 250mg every 6 to 8 hours as required</li>
    <li>attacks of gout is 750mg, then 250mg every 8 hours until the attack has passed</li>
  </ul>
  <p>Doses are usually lower for elderly people and people with heart, liver or kidney problems.</p>
  <p>The doctor will use your child's weight to work out the right dose.</p>
  <p>If you get naproxen on prescription, the dose depends on the reason why you're taking it, your age, how well your liver and kidneys work and how well it helps your symptoms.</p>
  <p>If you buy naproxen from a pharmacy for painful menstrual periods:</p>
  <ul>
    <li>on the first day - take 2 tablets when the pain starts, then after 6 to 8 hours one more tablet that day if you need to</li>
    <li>on the second and following days - take one tablet every 6 to 8 hours if needed</li>
  </ul>
  <p>Do not take more than 3 tablets a day.</p>
  <h3>How to take it</h3>
  <p>Naproxen on prescription comes as 2 different tablets - effervescent and gastro-resistant tablets.</p>
  <p>Effervescent tablets are dissolved in water before you take them.</p>
  <p>Gastro-resistant tablets have a coating to protect them from being broken down by the acid in your stomach. Instead, the medicine is released further down the gut in your intestine.</p>
  <p>If you take gastro-resistant tablets, swallow them whole with or after food. Do not crush or chew them.</p>
  <p>If you take effervescent tablets, dissolve 1 to 2 tablets in a glass (150ml) of water and drink.</p>
  <p>Doses of 3 tablets should be dissolved in 300ml. To make sure there is no medicine left, rinse the empty glass with a small amount of water and drink it. Take with or after food.</p>
  <h3>What if I forget to take it? </h3>
  <p>Take your forgotten dose as soon as you remember, unless it is nearly time for your next dose. Do not take a double dose to make up for a forgotten dose.</p>
  <p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways that are suitable for you and your medicines.</p>
  <h3>What if I take too much?</h3>
  <p>If you take too many naproxen tablets by accident, you are more likely to get some of the common side effects. If this happens, contact your doctor straight away.</p>
</section>
