<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Naproxen is a medicine that reduces inflammation and pain in joints and muscles. It is used to treat diseases of joints such as <a href="http://www.nhs.uk/Conditions/Rheumatoid-arthritis/Pages/Introduction.aspx">rheumatoid arthritis</a>, <a href="http://www.nhs.uk/Conditions/Osteoarthritis/Pages/Introduction.aspx">osteoarthritis</a> and <a href="http://www.nhs.uk/conditions/Gout/Pages/Introduction.aspx">gout.</a> It is also used for <a href="http://www.nhs.uk/conditions/Periods-painful/Pages/Introduction.aspx">period pain</a> and muscle and bone disorders such as <a href="http://www.nhs.uk/Conditions/Back-pain/Pages/Introduction.aspx">back pain</a> and <a href="http://www.nhs.uk/Conditions/Sprains/Pages/Introduction.aspx">sprains and strains</a>.</p>
  <p>Naproxen is available on prescription as tablets or as a liquid that you drink. You can buy it without a prescription from a pharmacy for period pain.</p>
  <p>Naproxen can only be taken by children with a prescription.</p>
</section>
