<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Take naproxen tablets with or just after a meal or snack.</li>
    <li>If you buy naproxen for period pain, you can take one tablet up to 3 times a day (every 6 to 8 hours).</li>
    <li>Take the lowest dose of naproxen for the shortest time to control your symptoms.</li>
    <li>The most common side effects of naproxen are confusion, headache, ringing in the ears, changes in vision, tiredness, drowsiness, dizziness and rashes.</li>
    <li>Naproxen is also called by the brand names Naprosyn or Stirlescent. Naproxen tablets you buy from a pharmacy to treat <a href="http://www.nhs.uk/Conditions/Periods-painful/Pages/Introduction.aspx">period pain</a> are called Feminax Ultra.</li>
  </ul>
</section>
