<section class="">
  <div class="module module--links module--border">
    <div class="module__wrap">
      <div class="module__row">
        <div class="module__col">
          <h2 class="module__header">Related conditions</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Gout/Pages/Introduction.aspx">Gout</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Indigestion/Pages/Introduction.aspx">Indigestion</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Periods-painful/Pages/Introduction.aspx">Period pain</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Peptic-ulcer/Pages/Introduction.aspx">Stomach ulcer</a></li>
          </ul>
        </div>
        <div class="module__col">
          <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="https://www.britishpainsociety.org/">British Pain Society</a></li>
            <li class="module__list-item"><a class="link__external" href="https://www.womens-health-concern.org/help-and-advice/factsheets/period-pain/">Women’s Health Concern: period pain</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.arthritisresearchuk.org/arthritis-information/conditions/rheumatoid-arthritis.aspx">Arthritis Research UK: rheumatoid arthritis</a></li>
            <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/naproxen">Naproxen: Healthunlocked forum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
