<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>Naproxen is not normally recommended in pregnancy unless prescribed by a doctor, especially if you are 30 or more weeks pregnant. This is because there might be a link between taking naproxen in pregnancy and some birth defects, in particular damage to the baby's heart and blood vessels.</p>
  <p>There may also be a link between taking naproxen in early pregnancy and miscarriage. </p>
  <p>Talk to your doctor about the benefits and possible harms of taking naproxen, some of which will depend on how many weeks pregnant you are and the reason you need to take it. There may be other treatments that are safer for you.</p>
  <p>Paracetamol is usually recommended as the first choice of painkiller for pregnant women.</p>
  <h3>Naproxen and breastfeeding</h3>
  <p>Naproxen is not usually recommended during breastfeeding. Other anti-inflammatory medicines, such as ibuprofen, are safer.</p>
  <p>However, if your baby is premature, had a low birth weight or has an underlying medical condition, talk to your doctor before taking any painkillers.</p>
  <p><span class="alertbanner">Tell your doctor if you plan to get pregnant or become pregnant while taking this medicine.</span></p>
</section>
