<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, naproxen can cause side effects although not everyone gets them.</p>
  <h3>Common side effects</h3>
  <p>Common side effects of naproxen happen in more than 1 in 100 people. They include:</p>
  <ul>
    <li>confusion</li>
    <li>headache</li>
    <li>ringing in the ears</li>
    <li>changes in vision</li>
    <li>tiredness, feeling sleepy</li>
    <li>dizziness</li>
    <li>rashes</li>
  </ul>
  <p>Less common side effects of naproxen happen in more than 1 in 1000 people. They include:</p>
  <ul>
    <li>depression</li>
    <li>irregular heartbeat (palpitations)</li>
    <li>abnormal dreams</li>
    <li>forgetfulness</li>
    <li>difficulty concentrating</li>
    <li>sensitivity of the skin to light (may cause blistering)</li>
    <li>difficulty sleeping</li>
  </ul>
  <p>Rarely, naproxen can cause some side effects that happen in less than 1 in 1000 people:</p>
  <ul>
    <li>hair loss</li>
    <li>problems with hearing</li>
    <li>inflammation of blood vessels - causing fever, swelling and generally not feeling well</li>
    <li>asthma getting worse</li>
    <li>muscle weakness and pain</li>
    <li>ulcers on the inner cheeks, gums and tongue</li>
  </ul>
  <h3>Serious side effects</h3>
  <p>Tell your doctor straight away if you have:</p>
  <ul>
    <li>a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> - warning signs include a rash, swelling of the face, mouth, tongue, difficulty breathing or wheezing</li>
    <li>ulcer or inflammation in the stomach or gut - warning signs include severe indigestion, heartburn, pains in your stomach, feeling sick or vomiting, diarrhoea</li>
    <li>bleeding and perforation of the stomach and gut - warning signs include vomiting blood or dark particles that look like coffee grounds, blood in your poo or black tarry looking poo</li>
    <li>abnormalities in your blood cells (agranulocytosis) - warning signs include frequent sore throat, nose bleeds, and infections</li>
    <li>anaemia - warning signs include fainting, chest pain, breathlessness</li>
    <li>aseptic meningitis - warning signs include fever, feeling sick or vomiting, confusion, headache, neck stiffness and sensitivity to light</li>
    <li>Stevens-Johnson syndrome - warning signs include severe skin rash with flushing, blisters or ulcers</li>
    <li>kidney damage or infection - warning signs include blood in your pee, decrease in amount of pee passed, feeling sick or vomiting</li>
    <li>jaundice or inflammation of the liver - warning signs include feeling tired, loss of appetite, feeling sick or vomiting, pale coloured poo and yellowing of the skin or whites of the eyes.</li>
    <li>irregular, slow heart beats caused by high levels of potassium in the blood.</li>
    <li>inflammation of the pancreas - warning signs include fever, stomach pain and vomiting.</li>
  </ul>
  <p><span class="infobanner">These are not all the side effects of naproxen. For a full list see the leaflet inside your medicine packet.</span></p>
</section>
