<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take naproxen</h2>
  <p>Naproxen can be taken by adults.</p>
  <p>It can also be taken under medical supervision by children, to treat:</p>
  <ul>
    <li>muscle and bone disorders for babies from 1 month</li>
    <li>diseases of the joints for children from 2 years</li>
    <li>period pain - for girls of any age</li>
  </ul>
  <p><strong>Naproxen isn't suitable for certain people. Tell your doctor or pharmacist if you:</strong></p>
  <ul>
    <li>are allergic to naproxen</li>
    <li>are allergic to aspirin or other anti-inflammatory medicines (like ibuprofen), or if you have developed signs of asthma (wheezing), runny nose, swelling of the skin (angioedema) or a skin rash</li>
    <li>have or have had stomach ulcers, bleeding in the stomach or intestines, or a hole in your stomach</li>
    <li>have high blood pressure</li>
    <li>have severe liver, kidney, or heart failure</li>
    <li>have Crohn's disease or ulcerative colitis</li>
    <li>have lupus</li>
    <li>have a blood clotting disorder</li>
    <li>are pregnant, planning to become pregnant, or breastfeeding</li>
  </ul>
</section>
