{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Side effects</h2>

      <p><em class="strong">Prednisolone can cause side effects in some people</em> (see below). Some problems such as mood changes (feeling depressed, or ‘high’), or stomach problems can happen straight away. If you feel unwell in any way, keep taking your tablets, <em class="strong">but see your doctor straight away</em>.</p>

      <p><em class="strong">Some side effects only happen after weeks or months.</em> These include weakness of arms and legs, developing a rounder face (see below).</p>

      <h3>Possible side effects</h3>

      <p>Do not worry. Like all medicines, prednisolone can cause side effects, although not everyone gets them.</p>

      <p><em class="strong">Stop taking prednisolone and contact your doctor straight away</em> if the following allergic reaction happens: puffy, swollen face, tongue or body, which may cause shortness of breath, shock and collapse</p>
      　
      <h3>Serious effects: tell a doctor straight away</h3>
      <ul>
        <li>inflammation of the pancreas (very severe abdominal pains)</li>
        <li>painful skin ulcers</li>
      </ul>

      <p>Steroids including prednisolone can cause serious mental health problems. These are common in both adults and children. They can affect about 5 in every 100 people taking medicines like prednisolone.</p>

      <ul>
        <li>Feeling depressed, including thinking about suicide.</li>
        <li>Feeling high (mania) or moods that go up and down.</li>
        <li>Feeling anxious, having problems sleeping, difficulty in thinking or being confused and losing your memory.</li>
        <li>Feeling, seeing or hearing things which do not exist. Having strange and frightening thoughts, changing how you act or having feelings of being alone.</li>
      </ul>

      <p>If you notice any of these problems <em class="strong">talk to a doctor straight away</em>.</p>

      <h3>Other side effects you may experience</h3>
      <ul>
        <li>tiredness</li>
        <li>increased number of white blood cells</li>
        <li>blood clotting</li>
        <li>nausea and vomiting</li>
        <li>heart problems which can cause shortness of breath</li>
        <li>convulsions</li>
        <li>dizziness</li>
        <li>vertigo</li>
        <li>headache</li>
        <li>raised pressure in the brain (which can cause headaches, nausea and vomiting)</li>
        <li>sleeplessness</li>
        <li>vision problems</li>
        <li>worsening of schizophrenia</li>
        <li>worsening of epilepsy</li>
        <li>risk of stroke is increased in Horton disease</li>
        <li>increased pressure in the eyeball (glaucoma)</li>
        <li>whitening or clouding of the lens (cataracts)</li>
        <li>pressure on the nerve to the eye, thinning of the tissues of the eye (sclera and cornea)</li>
        <li>bulging eyes
      </ul>
      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
