{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Possible side effects</h2>

      <p>Like all medicines, prednisolone can cause side effects in some people but don't worry, not everyone gets them.</p>

      <p>You're more likely to experience side effects if you take prednisolone as tablets and in a higher dose (more than 10mg/day).</p>

      <p>Some side effects such as mood changes or stomach problems can happen straight away. Others, like weight gain, only happen after weeks or months.</p>

      <p>If you feel unwell while taking prednisolone, keep taking your tablets, but tell your doctor straight away.</p>

      <h3>Common side effects</h3>

      <p>Tell your doctor if these common side effects bother you or do not go away:</p>

      <ul>
        <li>upset stomach, indigestion, feeling sick</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>significant weight gain</li>
      </ul>

      <h3>Common and serious side effects</h3>

      <p>Mood changes are a common, potentially serious side effect of prednisolone. Tell your doctor straight away if you experience:</p>

      <ul>
        <li>feeling depressed (including having suicidal thoughts)</li>
        <li>feeling anxious</li>
        <li>feeling elated or 'high'</li>
        <li>having strange or frightening thoughts</li>
      </ul>

      <h3>Rare but serious side effects</h3>

      <p>Continue taking your medication but tell a doctor straight away if you experience any of these serious side effects:</p>

      <ul>
        <li><span class="underline">infections</span>: warning signs include fever, chills, very sore throat, ear or sinus pain, cough, more sputum or change in colour of sputum, pain with passing urine, mouth sores, or wound that will not heal</li>
        <li><span class="underline">high blood sugar levels</span>: warning signs include confusion, feeling sleepy, increased thirst, increased hunger, passing urine more often, flushing, fast breathing, or breath that smells like fruit</li>
        <li><span class="underline">development of Cushing's disease</span>: warning signs include weight gain in the upper back or belly, moon face, very bad headache, and slow wound healing</li>
        <li><span class="underline">adrenal gland problems</span>: warning signs include a very upset stomach or vomiting, very bad dizziness or passing out, muscle weakness, feeling very tired, mood changes, loss of appetite and weight loss</li>
        <li><span class="underline">low potassium levels</span>: warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that does not feel normal</li>
        <li><span class="underline">pancreas problems</span>: warning signs include severe stomach pain, severe back pain, or severe upset stomach or vomiting</li>
        <li><span class="underline">any of the following</span>: Shortness of breath, significant weight gain, swelling in the arms or legs, skin changes (pimples, stretch marks, slow healing, hair growth), chest pain or pressure, period (menstrual) changes, bone or joint pain, change in eyesight, change in the way you behave, seizures, burning, numbness, or tingling feeling that is not normal, any bruising or bleeding that is not normal, black, tarry, or bloody stools, vomiting blood or vomit that looks like coffee grounds</li>
      </ul>

      <h3>Severe allergic reaction</h3>
      <p><em class="strong">It’s extremely rare to have an allergic reaction to prednisolone  but if this happens to you, stop taking your medication and contact a doctor straight away.</em></p>
      <p>The warning signs of allergic reaction include rash; itching; red, swollen, blistered, or peeling skin; wheezing; having trouble breathing or talking; tightness in the chest or throat; unusual hoarseness; or swelling of your mouth, face, lips, tongue or throat.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
