{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Side effects</h2>

      <p><em class="strong">Stop taking prednisolone and seek urgent medical help</em> if you experience any of the following:</p>

      <ul>
        <li>allergic reactions</li>
        <li>low mood or depression</li>
        <li>changes in the way you behave</li>
        <li>adrenal gland problems</li>
        <li>infections</li>
        <li>high blood sugar levels</li>
        <li>chest pain or pressure</li>
        <li>black, tarry, or bloody stools</li>
        <li>vomit blood or vomit that looks like coffee grounds</li>
        <li>development of Cushing's disease</li>
        <li>low potassium levels</li>
        <li>pancreas problems</li>
        <li>shortness of breath</li>
        <li>problematic weight gain</li>
        <li>swelling in the arms or legs</li>
        <li>skin changes</li>
        <li>period changes</li>
        <li>bone or joint pain</li>
        <li>change in eyesight</li>
        <li>seizures</li>
        <li>burning, numbness, or tingling feeling</li>
        <li>bruising or bleeding that is not normal</li>
      </ul>

      <h3>Common side effects</h3>

      <p><em class="strong">Contact your doctor or get medical help</em> if any of these side effects bother you or do not go away</p>

      <ul>
        <li>upset stomach, indigestion, feeling sick</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>significant weight gain</li>
      </ul>

      <h3>After stopping taking prednisolone</h3>

      <p>If you have recently stopped taking prednisolone and you experience any of the following <em class="strong">contact your doctor immediately</em>.</p>

      <ul>
        <li>feel very tired</li>
        <li>weak</li>
        <li>trembling</li>
        <li>having a fast heartbeat</li>
        <li>confused</li>
        <li>sweating</li>
        <li>dizziness</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
