{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Possible side effects</h2>

      <h3>Common side effects</h3>
      <ul>
        <li>weight gain</li>
        <li>indigestion</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>any other side effects that bother you or don’t go away</li>
        <li>bone problems</li>
      </ul>

      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">Call your doctor or get medical help if any of these side effects bother you or don't go away</em></li>
        <li>These are not all of the side effects that you may have while taking prednisolone. If you have questions about side effects, call your doctor or pharmacist for further advice.</li>
      </ul>

      <h3>Serious side effects</h3>
      <ul>
        <li><span class="underline">allergic reactions</span>: warning signs include rash; hives; itching; red, swollen, blistered, or peeling skin with or without fever; wheezing; tightness in the chest or throat; trouble breathing or talking; unusual hoarseness; or swelling of the mouth, face, lips, tongue, or throat</li>
        <li><span class="underline">infections</span>: warning signs include fever, chills, very sore throat, ear or sinus pain, cough, more sputum or change in colour of sputum, pain with passing urine, mouth sores, or wound that will not heal</li>
        <li><span class="underline">high blood sugar levels</span>: warning signs include confusion, feeling sleepy, increased thirst, increased hunger, passing urine more often, flushing, fast breathing, or breath that smells like fruit</li>
        <li><span class="underline">development of Cushing’s disease</span>: warning signs include weight gain in the upper back or belly, moon face, very bad headache, and slow wound healing</li>
        <li><span class="underline">adrenal gland problems</span>: warning signs include a very upset stomach or vomiting, very bad dizziness or passing out, muscle weakness, feeling very tired, mood changes, loss of appetite and weight loss</li>
        <li><span class="underline">low potassium levels</span>: warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that does not feel normal</li>
        <li><span class="underline">pancreas problems</span>: warning signs include severe stomach pain, severe back pain, or severe upset stomach or vomiting</li>
        <li><span class="underline">any of the following</span>: Shortness of breath, significant weight gain, swelling in the arms or legs, skin changes (pimples, stretch marks, slow healing, hair growth), chest pain or pressure, period (menstrual) changes, bone or joint pain, change in eyesight, change in the way you behave, low mood (depression), seizures, burning, numbness, or tingling feeling that is not normal, any bruising or bleeding that is not normal, black, tarry, or bloody stools, vomiting blood or vomit that looks like coffee grounds</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">stop taking prednisolone and seek medical help URGENTLY</em> if you have any of these side effects</li>
      </ul>
      <h3>Side effects after stopping prednisolone</h3>
      <p><em class="strong">Call your doctor or get medical help URGENTLY if</em> you have recently stopped taking prednisolone and you:</p>
      <ul>
        <li>start to feel very tired, weak, trembling</li>
        <li>have a fast heartbeat and feel confused, sweaty or dizzy</li>
      </ul>

      <h3>Coping with side effects</h3>
      <p><span class="strong">What to do about weight gain</span>: It can be quite challenging to maintain your normal body weight because you are likely to find that prednisolone will make you want to eat more than normal. To keep weight gain to a minimum, try to eat a healthy balanced diet including foods that contain calcium, and exercise regularly.</p>
      <p><span class="strong">What to do about indigestion</span>: Take prednisolone with food to reduce the chances that it will cause indigestion, nausea or vomiting. It may also help if you avoid rich or spicy food while you are taking this medicine. If symptoms persist talk with your doctor as it is possible that you will also need another type of medicine prescribed to help protect your stomach.</p>
      <p><span class="strong">What to do about bone loss</span>: Although you may not feel any different, prednisolone, if used for more than a few months, can lead to bone loss and this in turn increases your risk of fractures. If you take prednisolone long term, your bones may be monitored with occasional hospital scans. To reduce the chance of bone problems, try to eat a healthy balanced diet including foods that contain calcium, and exercise regularly.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
