{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>How long to take prednisolone for</h2>

      <h3>Short courses</h3>
      <p>You may be prescribed a short course of prednisolone treatment, for up to a week or so. Sometimes the dose prescribed may be reduced over a short course as your symptoms improve.</p>
      <p>If you're taking a short course of prednisolone, take care to closely follow the dosage instructions you've been given by your doctor or pharmacist. It’s important to complete the full course as prescribed even if you feel better before it's complete.</p>

      <h3>Long courses</h3>
      <p>In some cases, you may be prescribed a longer course of prednisolone treatment. If this is the case, take the medicine regularly until your doctor tells you to stop.</p>
      <p>If you take prednisolone at doses of more than 40mg daily or for more than three weeks, stopping treatment suddenly can cause side effects, so your doctor is likely to advise you to reduce your dose gradually before you stop taking the medicine.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/how-long-to-take-it-for">
            <span class="prefix">Previous page:</span>
            <span class="title">How long to take prednisolone for</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
