{% extends "templates/layout.html" %}

{% block page_title %}
  Erythromycin - NHS Medicines alpha
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/erythromycin" class="link__unstyled">Erythromycin</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Erythromycin</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who can take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More about</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">
      <p>Erythromycin is a type of medicine known as an antibiotic.</p>
      <p>It is widely used to treat <a href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx" title="Chest infections">chest infections</a>, such as <a href="http://www.nhs.uk/conditions/Pneumonia/Pages/Introduction.aspx">pneumonia</a>; skin problems such as <a href="http://www.nhs.uk/conditions/Acne/Pages/Introduction.aspx">acne</a> and <a href="http://www.nhs.uk/conditions/Rosacea/Pages/Introduction.aspx">rosacea;</a> <a href="http://www.nhs.uk/conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx" title="Urine infections">urine infections;</a> <a href="http://www.nhs.uk/conditions/Dental-abscess/Pages/Introduction.aspx">dental abscess</a> and <a href="http://www.nhs.uk/conditions/sexually-transmitted-infections/pages/introduction.aspx" title="Ssxually transmitted infections">sexually transmitted infections</a>.</p>
      <p>Erythromycin is used in children, often to treat <a href="http://www.nhs.uk/conditions/Otitis-media/Pages/Introduction.aspx">ear infections</a> or chest infections.</p>
      <p>The medicine is available on prescription as tablets, capsules or as a liquid that you drink.</p>
      <p>It is also available as skin solutions to treat skin infections like acne. It can be given by injection but this is usually only done in hospital.</p>
      <p>Erythromcyin is also called by the brand names Erythrocin, Erythrolar, Erymax, Tiloryth, Rommix, Erythroped A and Erythroped.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul>
        <li>Take erythromycin two or four times a day as prescribed by your doctor.</li>
        <li>For most infections, you should feel better within a few days. For skin conditions like acne and rosacea it may take a couple of months before you see an improvement.</li>
        <li>The most common side effects of erythromycin are feeling sick, vomiting, stomach cramps and diarrhoea.</li>
        <li>Taking erythromycin after food means it is less likely to cause stomach upsets.</li>
        <li>Be wary of drinking alcohol with erythromycin as it may slightly reduce or delay the medicine’s benefits.</li>
      </ul>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>The usual dose of erythromycin varies between 250mg and 1000mg taken four times a day. Sometimes it is taken twice a day. Doses are usually lower for children.</p>
      <p>Try to space your doses evenly throughout the day. For example, first thing in the morning, at about midday, late in the afternoon and at bedtime.</p>
      <p>Generally, it’s better to take erythromycin after food so it doesn’t upset your stomach. The food helps to protect the lining of your stomach from any irritation.</p>
      <p><span class="alertbanner">Carry on taking this medicine until the course is completed, even if you feel better. If you stop your treatment early your problem could come back.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow erythromycin tablets or capsules whole with a drink of water. Do not chew or break them.</p>
          <p>Erythromycin is available as a liquid for children and people who find it difficult to swallow tablets.</p>
          <p>If you or your child are taking erythromycin as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a dose-measuring plastic syringe or spoon to help you take the right amount. If you don’t have a dose-measuring device, ask your pharmacist for one.</p>
          <p>The dose and length of time you need to take it for depends on your age and the type and severity of infection you have. Doses may be higher if you have a severe infection.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take one as soon as you remember, unless it is within 30 to 60 minutes of the next dose. Never take two doses at the same time to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of erythromycin is unlikely to harm you or your child but it may increase the chance of temporary side effects such as hearing loss, feeling sick, vomiting and diarrhoea.</p>
          <p>Call NHS 111 or speak to your pharmacist or doctor if you are worried or if you or your child accidentally take more than one extra dose.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Like all medicines, erythromycin can cause side effects although not everyone gets them. The most common side effects are feeling sick, vomiting, diarrhoea and stomach cramps.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>These common side effects of erythromycin happen in around one in 10 people. Keep taking the medicine but tell your doctor if they bother you or don’t go away:</p>
          <ul>
            <li>feeling sick</li>
            <li>vomiting</li>
            <li>stomach cramps</li>
            <li>diarrhoea</li>
            <li>loss of appetite</li>
            <li>bloating and indigestion</li>
          </ul>
          <h3>Serious side effects</h3>
          <p>Serious side effects are rare and happen in fewer than one in 10,000 people.</p>
          <p><strong>Tell a doctor or call 111 straight away if you get:</strong></p>
          <ul>
            <li>chest pains or your heart is beating abnormally</li>
            <li>skin rash</li>
            <li>pancreas problems: warning signs include severe stomach pain</li>
            <li>liver or gall bladder problems: warning signs include yellowing of the skin and/or eyes or pale poo with dark urine</li>
            <li>seizures</li>
            <li>hallucinations (seeing or hearing things that aren’t there)</li>
            <li>ringing in the ears, temporary hearing loss or feeling unsteady on your feet</li>
            <li>fever – a temperature higher than 38C</li>
            <li>poor appetite</li>
            <li>feeling generally unwell</li>
          </ul>
          <h3>Serious allergic reactions</h3>
          <p><span class="alertbanner">It’s rare to have a serious allergic reaction to erythromycin but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>The warning signs of a serious allergic reaction are:</p>
          <ul>
            <li>difficulty breathing</li>
            <li>swelling of the face, lips or throat</li>
            <li>severe skin reactions including large fluid-filled blisters, sores and ulcers</li>
            <li>ulcers in the throat and mouth</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of erythromycin. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>Coping with side effects</h3>
          <h4>What to do about feeling sick</h4>
          <p>Stick to simple meals and don’t eat rich or spicy food while you’re taking this medicine. It might help to take your erythromycin after you've had a meal or snack.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water or other fluids if you have diarrhoea or you are being sick. It may also help to take oral rehydration solutions which you can buy from a pharmacy to prevent dehydration.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor. </p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including amoxicillin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take erythromycin</h2>
      <p>Erythromycin can be taken by:</p>
      <ul>
        <li>pregnant women</li>
        <li>breastfeeding women</li>
        <li>children</li>
      </ul>
      <p>To make sure erythromycin is safe for you, tell your doctor if you have:</p>
      <ul>
        <li>an allergy to erythromycin or other antibiotics</li>
        <li>porphyria (a rare inherited blood disorder)</li>
        <li>liver or kidney problems</li>
        <li>had diarrhoea when you’ve taken antibiotics before</li>
        <li>fast, pounding, or irregular heartbeats</li>
        <li>a sexually transmitted infection called syphilis and you are pregnant (erythromycin may not be able to prevent your baby getting the infection)</li>
        <li>myasthenia gravis (erythromycin can worsen the symptoms of this illness)</li>
      </ul>



      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>There is no specific warning to stop drinking alcohol with erythromycin but there’s some evidence that alcohol may slow down or delay the medicine working. So you might want to stop or limit alcohol while you are taking erythromycin.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>For most infections, you should feel better within a few days.</p>
              <p>For skin problems such as acne and rosacea, expect to take the medicine for at least two months before you see much improvement.</p>
              <p>It’s very important that you continue taking erythromycin until your course is finished, even if you feel better, to stop the infection coming back.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will it give me thrush?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>Some people get a fungal infection called thrush after taking a course of antibiotics like erythromycin. Antibiotics kill the normal harmless bacteria which help to defend against thrush. Symptoms include redness and itching in the mouth. Women may get vaginal itching. If this happens to you, speak with your doctor or pharmacist for advice.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it stop my contraception working?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>No, erythromycin doesn’t stop contraceptive pills, or any other type of contraceptive, from working.</p>
              <p>However, if erythromycin makes you vomit or have diarrhoea for more than 24 hours, your contraceptive pills (but not other types of contraceptive) may not protect you from pregnancy. If this happens, follow the instructions in the leaflet provided with your contraceptive pills.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it reduce my fertility?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>For men, erythromycin may temporarily reduce fertility. This is because it can reduce and slow down sperm. After finishing the medicine, fertility returns to normal.</p>
            <p>If you and your partner are trying for a baby, talk to your doctor about how erythromycin will affect your fertility and whether there is an alternative antibiotic you can take.</p>
            <p>For women, erythromycin does not reduce fertility.</p>
            </div>
          </details>

        </div>
      </div>



      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking erythromycin with other medicines</h2>
      <p>There are some medicines that do not mix well with erythromycin and can affect the way it works.</p>
      <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting erythromcycin.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Erythromycin may slow down how quickly some medicines are broken down by the body, which may increase the risk of their side effects.</p>
          <p>Some medicines may speed up how quickly erythromycin is broken down by the body which means it doesn’t work as well as it should.</p>
          <p>Some medicines can slow down how quickly erythromycin is broken down by the body which means you are more likely to have side effects.</p>
          <p>Some of the possible side effects of erythromycin, such as diarrhoea and vomiting, may mean that other medicines do not work as well as they should.</p>
          <p>Tell your doctor if you’re taking these medicines before you start erythromycin treatment:</p>
          <ul>
            <li>astemizole, terfenadine or mizolastine (used to treat allergies such as hayfever)</li>
            <li>domperidone (used to treat sickness and vomiting)</li>
            <li>pimozide or amisulpride (medicines for mental health problems)</li>
            <li>ergotamine or dihrydroergotamine (migraine medicines)</li>
            <li>cisapride (used to treat stomach disorders)</li>
            <li>simvastatin (for high cholesterol)</li>
            <li>tolterodine (a medicine for bladder weakness)</li>
          </ul>
          <h3>Mixing erythromycin with complementary remedies</h3>
          <p>There are no known problems with taking herbal and complementary remedies with erythromycin.</p>
          <p>For safety, speak to your pharmacist before taking erythromycin if you routinely take any herbal or alternative remedies.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Erythromycin can generally be taken at the usual doses during pregnancy and while breastfeeding.</p>
      <p>For safety, tell your doctor if you are pregnant or breastfeeding before starting erythromycin.</p>



      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about erythromycin</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How erythromycin works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Erythromycin is one of a group of medicines called macrolide antibiotics. Macrolide antibiotics work by killing the bacteria causing the infection.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>If symptoms don’t improve</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>Tell your doctor if you don’t start feeling better after taking erythromycin for three days, or at any time if you start to feel worse.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Food and drink to avoid</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Don't eat grapefruit or drink grapefruit juice while you’re taking erythromycin. The fruit may increase the amount of erythromycin in your body and mean you are more likely to have side effects.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>There are no non-medical options available for treating infections.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx">Chest infection</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/sexually-transmitted-infections/pages/introduction.aspx">Sexually transmitted infection</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">Urine infection</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/search/urinary%20tract%20infections">Health Unlocked online community</a></li>
                <li class="module__list-item"><a class="link__external" href="https://www.blf.org.uk">British Lung Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.cobfoundation.org/">The Cystitis and Overactive Bladder Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.britishskinfoundation.org.uk/">British Skin Foundation</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
