{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>How to take it</h2>
      <ul>
        <li>Take prednisolone tablets or solution as a single dose in the morning with food. If you are taking enteric coated tablets you can take them with or without food. Sometimes prednisolone is prescribed to be taken on alternate days only.</li>
        <li>If you miss a dose of prednisolone, take it as soon as you remember to unless it is close to the time for your next dose in which case skip the missed dose and go back to your normal time. Do not take two doses at the same time or extra doses.</li>
        <li>Taking too much prednisolone on a one-off basis is unlikely to be harmful, but if you’re concerned contact your doctor or pharmacist for advice.</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
