{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>How to take it</h2>

      <p><em class="strong">Always take prednisolone exactly as your doctor has told you to. You should check with your doctor or pharmacist if you are not sure.</em></p>

      <p>Different illnesses require different doses of prednisolone. Depending on your illness your daily dose may be between 5 and 60 mg. In some cases you may be instructed to take it every other day. Your doctor will decide when and how to treat you with prednisolone.</p>

      <p>Once your condition starts to get better, your doctor may change your dosage to a lower one. Your doctor may also reduce your dosage before stopping treatment completely. This may depend on your illness, your dosage and how long you have been taking this medicine. In all cases you should be careful to follow any changes.</p>

      <p><em class="strong">Stopping taking prednisolone:</em> It is important to discuss your treatment with your doctor before stopping treatment. Sudden stopping of treatment can cause the following symptoms: fever, painful muscles and joints, inflammation of the eyes and nasal passages, painful and itchy skin lumps, loss of weight.</p>

      <p><em class="strong">Treatment of children:</em> The use of steroids can slow down normal growth of children and adolescents. In order to lessen this effect the tablets are often taken in a single dose every other day.</p>

      <p><em class="strong">Treatment of the elderly:</em> When steroids are taken by elderly patients some of the unwanted side effects can be more serious especially brittle bone disease, diabetes, high blood pressure, infections and thinning of the skin.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
