{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="index">Ibuprofen</h1>
      <ul class="list-nav list-nav-bullets list-nav--nocols">
        <li><a href="/ibuprofen/single-page-adults">Interface 1 AI</a>
        <li><a href="/ibuprofen/single-page-children">Interface 2 CI</a>
        <li><a href="/ibuprofen/single-page-adults-expanded">Interface 3 AIX</a>
        <li><a href="/ibuprofen/single-page-children-expanded">Interface 4 CIX</a>
        <li><a href="/ibuprofen/single-page-adults2">Interface 5 AL</a>
        <li><a href="/ibuprofen/single-page-children2">Interface 6 CL</a>
        <li><a href="/ibuprofen/single-page-adults2-expanded">Interface 7 ALX</a>
        <li><a href="/ibuprofen/single-page-children2-expanded">Interface 8 CLX</a>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/">
            <span class="prefix">Previous page:</span>
            <span class="title">Medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
