{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="index">Ibuprofen</h1>
      <ul class="list-nav list-nav-bullets list-nav--nocols">
        <li><a href="/ibuprofen/single-page-adults">Interface 1 (Adults)</a>
        <li><a href="/ibuprofen/single-page-children">Interface 2 (Children)</a>
        <li><a href="/ibuprofen/single-page-adults-expanded">Interface 3 (Adults expanded)</a>
        <li><a href="/ibuprofen/single-page-children-expanded">Interface 4 (Children expanded)</a>
        <li><a href="/ibuprofen/single-page-adults-share-print">Interface 5 (Adults share print)</a>
        <li><a href="/ibuprofen/single-page-children-share-print">Interface 6 (Children share print)</a>
        <li><a href="/ibuprofen/single-page-adults2">Interface 7 (Adults 2)</a>
        <li><a href="/ibuprofen/single-page-children2">Interface 8 (Children 2)</a>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/">
            <span class="prefix">Previous page:</span>
            <span class="title">Medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
