{% extends "templates/layout.html" %}

{% block page_title %}
  Ibuprofen - NHS Medicines beta
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'Show more on how to take and forgetting doses' %}
{% set moreinfoSideEffects = 'Show serious side effects' %}
{% set moreinfoCautions = 'Show more on other medicines' %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap u-noborder clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/ibuprofen" class="link__unstyled">Ibuprofen for adults <span class="u-block">(including Nurofen)</span></a></h1>
      </div>
    </div>
    <ul class="tabs tabs--bigger u-marginbottom20 clear">
      <li class="tab"><a href="#content-tab" class="tab__link tab__link--current">Adults</a></li>
      <li class="tab"><a href="/ibuprofen/single-page-children-share-print" class="tab__link">Children</a></li>
    </ul>
    <div class="u-alignright u-hide-mobile">
    {% include "./includes/share-print.html" %}
    </div>
  </div>
</div>

<main id="content" role="main" class="content u-margintop20">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Ibuprofen for adults <span class="u-block">(including Nurofen)</span></h2>
        <ol class="page-nav-list page-nav-list--numbered list-numbered">
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#how-to-cope">How to cope with side effects</a></li>
          <li class=""><a href="#who-can-take">Who can take ibuprofen</a></li>
          <li class=""><a href="#cautions">Cautions with other medicines</a></li>
          <li class=""><a href="#pregnancy">Pregnancy and breastfeeding</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
        </ol>
      </div>
    </div>

    <div class="column-two-thirds tabs-content">
{% include "./includes/adults/intro.html" %}
{% include "./includes/adults/keyfacts.html" %}
<ol class="list-numbered">
<li>{% include "./includes/adults/how-when-to-take.html" %}</li>
<li>{% include "./includes/adults/side-effects.html" %}</li>
<li>{% include "./includes/adults/how-to-cope.html" %}</li>
<li>{% include "./includes/adults/who-can-take.html" %}</li>
<li>{% include "./includes/adults/cautions.html" %}</li>
<li>{% include "./includes/adults/pregnancy-breastfeeding.html" %}</li>
<li>{% include "./includes/adults/common-questions.html" %}</li>
</ol>

<div class="u-font16 u-hide-mobile list-nobullet u-relative">
{% include "./includes/share-print.html" %}
</div>

{% include "./includes/adults/links.html" %}
    </div>
  </div>
</main>

<script src="/public/javascripts/scroll-to-content.js"></script>

{% endblock %}
