{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Stopping prednisolone</h2>

      <p>Don't stop taking this medicine without talking to your doctor - you may need to reduce the dose gradually.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/stopping">
            <span class="prefix">Previous page:</span>
            <span class="title">Stopping prednisolone</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
