{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Stopping prednisolone</h2>

      <p>If you've taken prednisolone for more than three weeks or have taken more than 40mg every day for more than a week it's very important that you do not go 'cold turkey' and stop taking the medicine suddenly.</p>
      <p>This is because:</p>

      <ul>
        <li>suddenly stopping the medicine may lead to your condition flaring up again even though it appears to be under control</li>
        <li>you may have dangerous withdrawal symptoms such as severe fatigue, weakness, body aches and joint pain</li>
      </ul>

      <p>Prednisolone is similar to cortisol, a hormone naturally made by your adrenal glands. If you take prednisolone for more than a few weeks, your adrenal glands decrease cortisol production.</p>
      <p>To prevent withdrawal symptoms, gradually reduce the prednisolone dose over a few weeks. By tapering the dose in this way your adrenal glands have time to resume their normal function.</p>
      <p>If you were on prednisolone for less than three weeks it’s alright to stop suddenly.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/stopping">
            <span class="prefix">Previous page:</span>
            <span class="title">Stopping prednisolone</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
