{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>How to take citalopram</h2>
      <p>Citalopram should be taken once a day, at the same time every day with or without food.</p>
      <p>If you miss a dose, take it as soon as you remember unless it’s close to the time for your next dose, in which case skip the missed dose and go back to your normal time.</p>
      <p><em class="strong">Never take two doses at the same time or extra doses.</em></p>
      <p><em class="strong">Don't stop taking citalopram unless your doctor tells you to.</em></p>
      <p>If you stop taking citalopram suddenly you may get unpleasant withdrawal symptoms.</p>
      <p>Withdrawal symptoms are usually harmless and over within a few days but it's possible to prevent them by reducing the dose gradually when you stop taking this medicine.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
