{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>How to take citalopram</h2>
      <ul>
        <li>take citalopram once a day with or without food</li>
        <li>take it at any time of day but make sure it’s at the same time every day</li>
        <li>If you miss a dose, take it as soon as you remember unless it’s close to the time for your next dose, in which case skip the missed dose and go back to your normal time</li>
        <li>never take two doses at the same time or extra doses</li>
      </ul>

      <h3>If you take too many tablets</h3>
      <p>Ask your doctor for advice straight away as overdose can lead to potentially serious symptoms such as vomiting, tremor, drowsiness, fast heart rate, seizures and coma.</p>

      <h3>Stopping citalopram</h3>
      <p><em class="strong">Don't stop taking citalopram unless your doctor tells you to.</em></p>
      <p>If you stop taking citalopram suddenly you may get unpleasant withdrawal symptoms especially if you've been taking it for a long time.</p>
      <p>Withdrawal symptoms include dizziness, nausea, numbness or tingling in the hands or feet, feeling anxious, headaches, sweating and a pounding heartbeat.</p>
      <p>Withdrawal symptoms are usually harmless and go away within a few days but your doctor will probably want to prevent them by reducing your dose gradually when you stop taking this medicine.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
