{% extends "templates/layout.html" %}

{% block page_title %}
  Amoxicillin - NHS Medicines alpha
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/amoxicillin" class="link__unstyled">Amoxicillin</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Amoxicillin</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who can take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More about</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">
      <p>Amoxicillin is a type of medicine known as an antibiotic.</p>
      <p>It is widely used to treat bacterial infections such as <a href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx">chest infections</a> (including <a href="http://www.nhs.uk/conditions/Pneumonia/Pages/Introduction.aspx">pneumonia</a>), <a href="http://www.nhs.uk/conditions/Dental-abscess/Pages/Introduction.aspx">dental abscess</a> and <a href="http://www.nhs.uk/conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx" title="Urine infections">urine infections</a>.</p>
      <p>It is used in children, often to treat <a href="http://www.nhs.uk/conditions/Otitis-media/Pages/Introduction.aspx">ear infections</a> and chest infections.</p>
      <p>The medicine is available as tablets, capsules or as a liquid that you drink. It is also given by injection, but this is usually only done in hospital.</p>
      <p>Amoxicillin is also called by the brand name Amoxil.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul>
        <li>Take amoxicillin three times a day.</li>
        <li>For most infections you will feel better within a few days.</li>
        <li>The most common side effects of amoxicillin are feeling sick and diarrhoea.</li>
        <li>Amoxicillin can cause teeth staining. This is temporary and is removed by brushing.</li>
        <li>You can drink alcohol while taking amoxicillin.</li>
      </ul>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>The usual dose of amoxicillin is 250mg to 500mg taken three times a day. The dose may be lower for children.</p>
      <p>Try to space your doses evenly throughout the day. If you take it three times a day this could be first thing in the morning, mid-afternoon and at bedtime. You can take amoxicillin before or after food.</p>
      <p><span class="alertbanner">Carry on taking this medicine until you have completed the course even if you feel better. If you stop your treatment early your problem could come back.</span></p>


      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow amoxicillin tablets or capsules whole with a drink of water. Do not chew or break them.</p>
          <p>Amoxicillin is available as a liquid for children and people who find it difficult to swallow tablets.</p>
          <p>If you or your child are taking amoxicillin as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a dose-measuring plastic syringe or spoon to help you take the right amount. If you don’t have a dose-measuring device, ask your pharmacist for one.</p>
          <p>The dose and length of time you need to take it for depends on your age, and the type and severity of the infection you have.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take one as soon as you remember, unless it is within 30 to 60 minutes of the next dose. Try to take the correct number of doses each day, leaving at least four hours between doses. Never take two doses at the same time or an extra dose to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of amoxicillin is unlikely to harm you or your child.</p>
          <p>Call NHS 111 or speak to your pharmacist or doctor if you are worried or if you take more than one extra dose.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Like all medicines, amoxicillin can cause side effects although not everyone gets them. The most common side effects are feeling sick, an upset stomach or diarrhoea.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>These common side effects happen in around one in 10 people. Keep taking the medicine, but tell your doctor if they bother you or don't go away:</p>
          <ul>
          <li>feeling sick</li>
          <li>being sick</li>
          <li>diarrhoea</li>
          <li>upset stomach</li>
          <li>bloating and indigestion</li>
          </ul>
          <h3>Serious side effects</h3>
          <p>Serious side effects are rare and happen in fewer than one in 10,000 people.</p>
          <p><strong>Tell a doctor straight away if you get:</strong></p>
          <ul>
          <li>severe, bloody diarrhoea</li>
          <li>liver or gall bladder problems: warning signs are yellowing of the whites of the eyes and skin</li>
          <li>a bad skin rash that may include flushing, fever, blisters or ulcers, or skin that looks like it has been burnt</li>
          <li>bruising or skin discolouration</li>
          <li>joint or muscle pain that comes on after two days of taking the medicine</li>
          <li>skin rash with circular red patches</li>
          <li>dark urine</li>
          </ul>
          <p>Some of these serious side effects can be delayed for up to two months after finishing the course of amoxicillin.</p>
          <h3>Allergic reactions</h3>
          <p><span class="alertbanner">It's rare to have a serious allergic reaction to amoxicillin but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>Around one in 15 people have an allergic reaction to amoxicillin. In most cases the allergic reaction is mild and can take the form of:</p>
          <ul>
          <li>a raised, itchy skin rash</li>
          <li>coughing</li>
          <li>wheezing</li>
          </ul>
          <p>Mild allergic reactions can usually be successfully treated by taking antihistamines.</p>
          <p>In rare cases, amoxicillin can cause a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a><u>.</u> The warning signs are:</p>
          <ul>
          <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
          <li>wheezing</li>
          <li>tightness in the chest or throat</li>
          <li>having trouble breathing or talking</li>
          <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are some of the side effects of amoxicillin. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>Coping with side effects</h3>
          <h4>What to do about feeling sick</h4>
          <p>Stick to simple meals and don’t eat rich or spicy food while you’re taking this medicine. It might help to take your amoxicillin after a meal or snack.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water or other fluids if you have diarrhoea or you are being sick. It may also help to take oral rehydration solutions which you can buy from a pharmacy to prevent dehydration.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor. </p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including amoxicillin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take amoxicillin</h2>
      <p>Amoxicillin isn’t suitable for some people.</p>
      <p>To make sure amoxicillin is safe for you, tell your doctor if you:</p>
      <ul>
        <li>have an allergy to penicillin or amoxicillin</li>
        <li>have liver or kidney problems</li>
        <li>have recently had, or are about to have, any vaccinations</li>
      </ul>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol with amoxicillin.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>For most infections, you should feel better within a few days.</p>
              <p>It’s very important that you continue to take amoxicillin until your course is finished, even if you feel better, to stop the infection coming back.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
              <h3>Can I drive?</h3>
            </summary>
            <div id="questions-2" aria-hidden="true">
              <p>Yes, amoxicillin should not affect your ability to drive.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Will it stop my contraception working?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>No, amoxicillin doesn’t stop contraceptive pills, or any other type of contraceptive, from working.</p>
              <p>However, if amoxicillin makes you vomit or have diarrhoea for more than 24 hours, your contraceptive pills (but not other types of contraceptive) may not protect you from pregnancy. If this happens, follow the instructions in the leaflet provided with your contraceptive pills.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will it give me thrush?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>Some people get a fungal infection called thrush after taking a course of antibiotics like amoxicillin. Antibiotics kill the normal harmless bacteria which help to defend against thrush. Symptoms include redness and itching in the mouth. Women may get vaginal itching. If this happens to you, speak to your doctor or pharmacist for advice.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it affect my fertility?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>Amoxicillin will not affect your fertility, but speak to a pharmacist or your doctor before taking it if you are trying to get pregnant.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking amoxicillin with other medicines</h2>
      <p>There are some medicines that do not mix well with amoxicillin and can change the way it works.</p>
      <p><span class="alertbanner">Tell your doctor or pharmacist if you are taking any other medicines, including herbal remedies and supplements, before starting amoxicillin.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Tell your doctor if you're taking these medicines before you start taking amoxicillin treatment:</p>
          <ul>
            <li>methotrexate</li>
            <li>a blood thinner called warfarin</li>
            <li>gout medicines called probenecid and allopurinol</li>
            <li>other antibiotics</li>
          </ul>
          <h3>Mixing amoxicillin with complementary remedies</h3>
          <p>There are no known problems with taking herbal and complementary remedies with amoxicillin.</p>
          <p>For safety, speak to your pharmacist before taking amoxicillin if you routinely take any herbal or alternative remedies.</p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Amoxicillin can generally be taken at the usual doses during pregnancy and while breastfeeding.</p>
      <p>For safety, tell your doctor if you are pregnant or breastfeeding before starting amoxicillin.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Breastfeeding</h3>
          <p>Amoxicillin passes into breast milk but it’s not linked with any major side effects in breastfed babies.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about amoxicillin</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How amoxicillin works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Amoxicillin is a similar antibiotic to penicillin. It works by killing the bacteria causing the infection.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>Tooth staining</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>If you or your child take amoxicillin as a liquid medicine, you may find that it causes some teeth staining. This is temporary and should go after brushing your teeth well.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>If symptoms don't improve</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Tell your doctor if you don’t start feeling better after taking amoxicillin for three days, or at any time if you start to feel worse.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h3>Food and drink to avoid</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p>There are no food or drinks you need to avoid while taking amoxicillin.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>There are no non-medical options available for treating infections.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Chest-infection-adult/Pages/Introduction.aspx">Chest infections</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">Urinary tract infections</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/">HealthUnlocked online community</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.cobfoundation.org/">The Cystitis and Overactive Bladder Foundation</a></li>
								<li class="module__list-item"><a class="link__external" href="https://www.blf.org.uk/">British Lung Foundation</a></li>
							</ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
