{% extends "templates/layout.html" %}

{% block page_title %}
  Fluoxetine - NHS Medicines alpha
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/fluoxetine" class="link__unstyled">Fluoxetine</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Fluoxetine</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who can take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More about</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Fluoxetine is a type of antidepressant known as an SSRI (selective serotonin reuptake inhibitor).</p>
      <p>It is often used to treat <a href="http://www.nhs.uk/conditions/Depression/Pages/Introduction.aspx" title="Depression">depression</a>, and also sometimes <a href="http://www.nhs.uk/Conditions/Obsessive-compulsive-disorder/Pages/Introduction.aspx" title="Obsessive compulsive disorder">obsessive compulsive disorder</a> and <a href="http://www.nhs.uk/Conditions/Bulimia/Pages/Introduction.aspx">bulimia</a>.</p>
      <p>Fluoxetine helps many people recover from depression, and it has fewer unwanted effects than older antidepressants.</p>
      <p>Fluoxetine comes as tablets and capsules which are available only on prescription.</p>
      <p>It can be taken by children aged eight and over.</p>
      <p>It is also called Prozac.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>It usually takes four to six weeks for fluoxetine to work.</li>
        <li>Common side effects include feeling sick, headache and trouble sleeping. They are usually mild and go away after a couple of weeks.</li>
        <li>Fluoxetine can affect an unborn baby. Tell your doctor straight away if you’re trying to get pregnant or become pregnant while taking it.</li>
        <li>Fluoxetine can cause withdrawal symptoms so don’t stop taking it without talking to your doctor.</li>
        <li>You can drink alcohol while taking fluoxetine but it might make you feel sleepy.</li>
      </ul>

      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Take fluoxetine once a day.</p>
      <p>The usual dose of fluoxetine is 20mg a day. The dose may be lower for children. </p>
      <p>You can choose to take fluoxetine at any time, as long as you stick to the same time every day. If you have trouble sleeping, it's best to take it in the morning.</p>
      <p>Fluoxetine doesn't upset the stomach so you can take it with or without food.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <h3>Will my dose go up or down?</h3>
          <p>The usual dose of fluoxetine is 20mg a day in adults. However, it may be started at a lower dose and may be gradually increased to a maximum dose of 60mg a day.</p>
          <p>Some people might need to take a lower dose of fluoxetine, or to take it less often. This includes people with liver problems, and elderly people. </p>
          <p>The usual dose of fluoxetine in children is 10mg a day but this may be increased to 20mg a day.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, don’t worry. Take your next dose the next day at the usual time. Never take two doses at the same time to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Ask your doctor for advice straight away as overdose can lead to potentially serious symptoms such as:</p>
          <ul>
            <li>vomiting</li>
            <li>tremor</li>
            <li>feeling sleepy</li>
            <li>agitation</li>
            <li>heart problems</li>
            <li>lung problems</li>
            <li>seizures</li>
          </ul>
        </div>
      </details>




      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Not everyone will get side effects with fluoxetine, but common ones include feeling sick, headaches, sleep problems, feeling tired, and diarrhoea.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>Like all medicines, fluoxetine can cause side effects in some people, but many people have no side effects or only minor ones.</p>
          <p>These very common side effects affect more than one in 10 people. Keep taking the medicine, but <strong>tell your doctor </strong>if they bother you or don't go away:</p>
          <ul>
            <li>feeling sick</li>
            <li>headache</li>
            <li>being unable to sleep</li>
            <li>diarrhoea</li>
            <li>feeling tired or weak</li>
          </ul>
          <h3>Serious side effects</h3>
          <p>It happens rarely (in fewer than one in 1,000 people), but some people may have serious side effects when taking fluoxetine.</p>
          <p>Tell a doctor straight away if you develop: </p>
          <ul>
            <li>low sodium levels - warning signs include headache, trouble focusing, memory problems, not thinking clearly, weakness, seizures, or losing your balance</li>
            <li>thoughts about harming yourself or ending your life</li>
            <li>chest pain or pressure or shortness of breath</li>
            <li>severe dizziness or passing out</li>
            <li>fits, feelings of euphoria, excessive enthusiasm or excitement, or a feeling of restlessness that means you can’t sit or stand still</li>
            <li>putting on or losing weight without trying to</li>
            <li>changes in your periods such as heavy bleeding, spotting, or bleeding between periods</li>
            <li>painful erections that last longer than four hours - this may happen even when you are not having sex</li>
          </ul>
          <p>Or, if you get any signs of abnormal bleeding including:</p>
          <ul>
            <li>bleeding from the gut: warning signs include vomiting blood or dark vomit; coughing up blood; blood in your urine; black or red poo</li>
            <li>bleeding from the gums or bruises that appear without a reason or that get bigger</li>
            <li>any bleeding that is very bad or that you cannot stop</li>
          </ul>
          <h3>Serious allergic reaction</h3>
          <p><span class="alertbanner">It’s rare to have an allergic reaction to fluoxetine but if this happens to you, stop taking the medicine and <strong>contact a doctor</strong> straight away.</span></p>
          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx" title="Serious allergic reaction">serious allergic reaction</a> are:</p>
          <ul>
            <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
            <li>wheezing</li>
            <li>tightness in the chest or throat</li>
            <li>having trouble breathing or talking</li>
            <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of fluoxetine. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>Coping with side effects</h3>
          <p>Some of the common side effects of fluoxetine will gradually improve as your body gets used to it.</p>
          <h4>What to do about feeling sick</h4>
          <p>Try taking fluoxetine with or after food to see if that eases feelings of sickness. It may also help if you avoid rich or spicy food while you're taking this medicine.</p>
          <h4>What to do about feeling sleepy</h4>
          <p>Cut down the amount of alcohol you drink.</p>
          <h4>What to do if you’re unable to sleep</h4>
          <p>Take fluoxetine first thing in the morning.</p>
          <p>You can lessen the chance of having a side effect if you take fluoxetine in the evening so that you're asleep when the level of medicine in your body is highest.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including fluoxetine, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101" title="Yellow Card Scheme">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take fluoxetine</h2>
      <p>Fluoxetine can be taken by:</p>
      <ul>
        <li>children aged 8 or older to treat moderate or severe depression</li>
      </ul>
      <p>Check with your doctor before starting to take fluoxetine if you:</p>
      <ul>
        <li>have an allergy to fluoxetine or any of its ingredients</li>
        <li>have a heart problem as fluoxetine can speed up or change your heartbeat</li>
        <li>have ever taken any other medicines for depression. Some rarely used antidepressants can interact with fluoxetine to cause very high blood pressure even when they have been stopped for a few weeks.</li>
        <li>are trying to become pregnant, are already pregnant or are breastfeeding. Fluoxetine is not recommended in pregnancy or while breastfeeding.</li>
        <li>have an eye condition called glaucoma because venlafaxine can increase the pressure in your eye</li>
      </ul>
      <p>If you have diabetes, fluoxetine can make it more difficult to keep your blood sugarstable. Monitor your blood sugar more often for the first few weeks of treatment with fluoxetine and adjust your diabetes treatment if necessary.</p>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>
          <details role="group">
            <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
              <h3>What will happen when I come off it?</h3>
            </summary>
            <div id="questions-1" aria-hidden="true">
              <p><span class="alertbanner">Don’t stop taking fluoxetine unless your doctor tells you to.</span></p>
              <p>If you stop taking fluoxetine suddenly you may get unpleasant withdrawal symptoms. These include:</p>
              <ul>
                <li>dizziness</li>
                <li>nausea</li>
                <li>numbness or tingling in the hands or feet</li>
                <li>trouble sleeping</li>
                <li>>feeling agitated or anxious </li>
                <li>headaches</li>
                <li>shaking</li>
              </ul>
              <p>Withdrawal symptoms are usually harmless and over within a few days but it's possible to prevent them by reducing the dose gradually when you stop taking this medicine.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>You can drink alcohol while taking fluoxetine but it may make you feel sleepy. It might be best to stop drinking alcohol for the first few days of treatment until you see how the medicine affects you.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>Will I gain or lose weight?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>Fluoxetine can make you feel less hungry than usual, so you may lose weight when you start taking it.</p>
              <p>If you start to have problems with your weight while taking fluoxetine, talk to your doctor or pharmacist.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Will it affect my sex life?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>The good effects of fluoxetine may, after a while, enhance your sex life as your mood lifts and you become interested in life and relationships again.</p>
              <p>Some of the possible negative effects include:</p>
              <ul>
                <li>men might get painful erections, problems with getting an erection and problems with ejaculating</li>
                <li>women might have some vaginal bleeding and might not reach orgasm the same way as before</li>
                <li>you may have a lower sex drive</li>
              </ul>
              <p>Sexual side effects should pass after the first couple of weeks. If they don’t, and this causes a problem for you, go back to your doctor to see if there’s an another antidepressant for you to try.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will street drugs affect it?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>It can be potentially dangerous (even fatal) to take fluoxetine with:</p>
              <ul>
                <li>stimulants like MDMA (ecstasy) or cocaine </li>
                <li>hallucinogens like LSD</li>
                <li>some legal highs like mephedrone</li>
              </ul>
              <p>The sleep-inducing effects of cannabis can add to those of fluoxetine, especially in people who have just started taking it. </p>
              <p>Methadone can increase the risk of side effects in people taking fluoxetine.</p>
              <p>Fluoxetine has not been properly tested with street drugs so tell your doctor if you think you might use any street drugs while taking fluoxetine. </p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Can I drive or ride a bike?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>Most people drive as normal while taking fluoxetine. However, fluoxetine may reduce your concentration. It might be best to stop driving or cycling for the first few days of treatment until you know how this medicine affects you.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it affect my contraception?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>For women, fluoxetine will not affect contraceptive pills or the morning after pill.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking fluoxetine with other medicines</h2>
      <p>Some medicines and fluoxetine can interfere with each other and increase the chances of you having side effects.</p>
      <p><span class="alertbanner">Tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies and supplements, before starting fluoxetine.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Tell your doctor if you're taking these medicines before you start fluoxetine:</p>
          <ul>
            <li>any medicines that affect your heartbeat - as fluoxetine can speed up or change your heartbeat</li>
            <li>any other medicines for depression. Some rarely used antidepressants can interfere with fluoxetine to cause very high blood pressure even when they have been stopped for a few weeks</li>
          </ul>
          <h3>Mixing fluoxetine with complementary remedies</h3>
          <p>Don't take the herbal remedy for depression, St John's wort, at the same time as fluoxetine as this will increase your risk of side effects.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>No antidepressants are considered completely safe to take in pregnancy or while breastfeeding, but your doctor will want to prescribe fluoxetine when the benefits to you of taking the medicine outweigh the risks.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Taking fluoxetine in pregnancy</h3>
          <p>Fluoxetine and similar antidepressants have been linked with a small risk of problems for the unborn baby when they're taken in early or late pregnancy.</p>
          <p><span class="alertbanner">Tell your doctor if you’re trying to get pregnant or become pregnant while taking this medicine.</span></p>
          <h3>Fluoxetine and breastfeeding</h3>
          <p>Fluoxetine passes into breast milk and has been linked with side effects in breastfed babies.</p>
          <p>Talk to your doctor, as there may be other antidepressants that are more suitable for you while you are breastfeeding.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about fluoxetine</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How fluoxetine works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Fluoxetine is one of a group of antidepressants called selective serotonin reuptake inhibitors, or SSRIs, which are thought to work by increasing the levels of a mood-enhancing chemical called serotonin in the brain.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false">
            <h3>How will it make me feel?</h3>
          </summary>
          <div id="more-7" aria-hidden="true">
            <p>Antidepressants like fluoxetine help to jump start your mood so you feel better. You may notice that you sleep better and get on with people more easily because you’re less anxious. You will hopefully take in your stride little things that used to worry you.</p>
            <p>Fluoxetine won’t change your personality or make you feel euphorically happy. It will simply help you feel like yourself again.</p>
            <p>Don’t expect to feel better overnight, though. Some people feel worse during the first few weeks of treatment before they begin to feel better.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>When will I feel better?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>You may see an improvement in your symptoms after a week or two although it usually takes between four and six weeks before you feel the full benefits. That’s because it takes around a week for fluoxetine levels to build up in your body, and then a few weeks longer for your body to adapt and get used to it. </p>
            <p>Don't stop taking fluoxetine after a week or two just because you feel it is not helping your symptoms. Give the medicine at least six weeks to work.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>How long will I take fluoxetine for?</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>Once you are feeling better it is likely that you will continue to take fluoxetine for several more months to prevent the symptoms returning.</p>
            <p>You will need to discuss with your doctor the pros and cons of continuing to take fluoxetine for longer than a few months. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well fluoxetine works for you, and whether you have had any serious side effects.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h3>Is fluoxetine better than other antidepressants?</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p>Fluoxetine isn't any better or worse than other antidepressants. However, sometimes people respond better to one antidepressant than to another. Talk to your doctor if you aren’t feeling any better after six weeks.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Food and drinks to avoid</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>There are no food or drinks you need to avoid while taking fluoxetine.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
            <p>Antidepressants, including fluoxetine, are just one of several approaches to treating depression. Other potential treatments include:</p>
            <ul>
              <li>talking therapy (such as cognitive behavioural therapy)</li>
              <li>exercise programmes</li>
              <li>help to get a good night's sleep</li>
            </ul>
            <p>Choosing a treatment that's most suitable for you depends on how long you have had depression, your symptoms, whether you have had any previous bouts of depression, whether previous treatment has worked, how likely you are to stick with your treatment, the potential side effects and your preferences and priorities.</p>
          </div>
        </details>
      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Depression/Pages/introduction.aspx">Depression</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Obsessive-compulsive-disorder/Pages/Introduction.aspx">Obsessive compulsive disorder</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/bulimia/Pages/Introduction.aspx">Bulimia</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/body-dysmorphia/Pages/Introduction.aspx">Body dysmorphic disorder</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Bipolar-disorder/Pages/Introduction.aspx">Bipolar disorder</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/mental-health/experiences-antidepressants/topics">Antidepressants: patient stories</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/mental-health/depression/topics">Depression: patient stories</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/mental-health/young-adults-experiences-depression-us/depression-and-obsessive-compulsive-disorder-ocd">Depression and OCD: patient stories</a></li>
                <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/actionondepression/posts">Action on depression: forum</a></li>
                <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/ocduk/posts">OCD UK: forum</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.depressionalliance.org/">Depression Alliance</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.depressionuk.org/index.shtml">Depression UK</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.mentalhealth.org.uk/a-to-z/d/depression">Mental Health Foundation: depression</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.mind.org.uk/information-support/types-of-mental-health-problems/depression/#.WBy9UXkSGM9">Mind: depression</a></li>
							</ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
