{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal content-multi">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/multi-page-b">About citalopram</a></li>
          <li>How to take it</li>
          <li><a href="/citalopram/multi-page-b/how-it-may-affect-you">How it may affect you</a></li>
          <li><a href="/citalopram/multi-page-b/more-info">More info</a></li>
        </ol>
      </nav>

      <h2>How to take it</h2>

      <h3>How to take citalopram</h3>

      <p>Take citalopram once a day with or without food. You can take it at any time of day but make sure it’s consistently at the same time every day.</p>
      <p>If you miss a dose, take it as soon as you remember unless it’s close to the time for your next dose in which case you should skip the missed dose and go back to your normal time.</p>
      <p><em class="strong">Never take two doses at the same time or extra doses.</em></p>

      <h4>If you take too many tablets</h4>
      <p>Ask your doctor immediately for advice as an overdose can lead to potentially serious symptoms such as vomiting, tremor, drowsiness, an increased heart rate and sometimes seizures, coma and severe disturbances in heart rhythms.</p>

      <h3>How long to take citalopram for</h3>
      <p>Once your condition is under control it's likely that you will continue to take citalopram for several more months to prevent the symptoms returning.</p>
      <p>You will need to discuss with your doctor the pros and cons of continuing to take citalopram as a longer-term treatment. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well citalopram worked for you, and whether you've had any bothersome side effects</p>

      <h3>Stopping citalopram</h3>
      <p>Don't stop taking citalopram unless your doctor tells you to.</p>
      <p>If you stop taking citalopram suddenly you may get withdrawal symptoms especially if you've been taking it for a long time.</p>
      <p>Withdrawal symptoms include dizziness, nausea, numbness or tingling in the hands or feet, feeling anxious, palpitations and headaches.</p>
      <p>Although withdrawal symptoms are usually harmless and disappear within a few days you can avoid them completely by reducing your dose gradually when you stop taking this medicine.</p>

      <h3>Dosage</h3>
      <p>Citalopram is available as 10mg, 20mg and 40mg strength tablets and as oral drops of 40mg/ml where 4 drops is equivalent to a 10mg tablet.</p>
      <p>The usual dose of citalopram is 20mg daily in adults. However, the starting dose of citalopram may be lower than 20mg daily and the dose can be increased to a maximum of 40mg daily (unless you are over 65 years of age or have liver problems, in which case you’re advised a maximum dose of 20mg daily).</p>
      <p>Citalopram is not licensed for use in children under 12 years old but in 12-18 years olds the usual dose is 10mg daily which can be increased if necessary to a maximum of 40mg daily.</p>
      <p>With the oral drops (40mg/ml), 4 drops (8mg) is considered equal to taking a 10mg tablet as the liquid medicine is slightly better absorbed.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/multi-page-b/how-it-may-affect-you">
            <span class="prefix">Next page:</span>
            <span class="title">How it may affect you</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/multi-page-b">
            <span class="prefix">Previous page:</span>
            <span class="title">About citalopram</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
