{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal content-multi">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/multi-page-b">About citalopram</a></li>
          <li><a href="/citalopram/multi-page-b/how-to-take-it">How to take it</a></li>
          <li>How it may affect you</li>
          <li><a href="/citalopram/multi-page-b/more-info">More info</a></li>
        </ol>
      </nav>

      <h2>How it may affect you</h2>

      <h3>Possible side effects of citalopram</h3>
      <p>Like all medicines, citalopram can cause side effects in some people but don't worry, many people have no side effects or only minor ones.</p>
      <p>You can lessen the chance of having a side effect if you take citalopram in the evening so that you're asleep when the level of medicine in your body is highest.</p>

      <h4>Common side effects</h4>
      <p>Keep taking the medicine, but tell your doctor if these common side effects bother you or don't go away:</p>

      <ul>
        <li>feeling sleepy and/or unable to sleep</li>
        <li>dry mouth</li>
        <li>sweating a lot</li>
        <li>upset stomach</li>
        <li>dizziness</li>
        <li>loss of appetite</li>
        <li>feeling tired or weak</li>
        <li>diarrhoea</li>
        <li>shakiness</li>
        <li>sweating a lot</li>
        <li>yawning</li>
      </ul>

      <h4>Serious side effects</h4>
      <p>It happens rarely, but some people may have very serious side effects when taking citalopram.</p>
      <p>Tell a doctor <em class="strong">straight away</em> if you develop:</p>

      <ul>
        <li>serotonin syndrome: warning signs include dizziness, very severe headache, agitation, hallucinations, fever, fast heartbeat, a heartbeat that does not feel normal, flushing, seizures, shakiness, sweating a lot, change in balance, change in thinking clearly, very upset stomach and vomiting, or severe diarrhoea.</li>
        <li>low sodium levels: warning signs include headache, trouble focusing, memory problems, not thinking clearly, weakness, seizures, or losing your balance</li>
        <li>bleeding in your gut: warning signs include vomiting blood or vomit that looks like coffee grounds; coughing up blood; blood in your urine; black, red, or tarry stools; bleeding from the gums; unusual vaginal bleeding; bruises that appear without a reason or that get bigger; or any bleeding that is very bad or that you cannot stop</li>
        <li>thoughts about harming yourself or ending your life</li>
        <li>chest pain or pressure</li>
        <li>shortness of breath</li>
        <li>severe dizziness or passing out</li>
        <li>putting on or losing weight without trying to</li>
        <li>changes in your periods such as heavy bleeding, spotting, or bleeding between periods</li>
        <li>Painful erections that last longer than four hours - this may happen even when you are not having sex. <em class="strong">If you develop a painful, prolonged erection it needs to be treated right away or it can lead to permanent sex problems and you may not be able to have sex again.</em></li>
      </ul>

      <h4>Serious allergic reaction</h4>

      <p><em class="strong">It’s rare to have an allergic reaction to citalopram but if this happens to you, stop taking your medication and contact a doctor straight away.</em></p>

      <p>The warning signs of an allergic reaction are developing a skin rash that may include itchy, red, swollen, blistered, or peeling skin; wheezing; tightness in the chest or throat; having trouble breathing or talking or swelling of the mouth, face, lips, tongue or throat.</p>

      <h4>Coping with side effects</h4>
      <p>Some of the common side effects of citalopram will gradually improve as your body adjusts to taking the medicine.</p>

      <ul>
        <li><span class="strong">what to do about nausea or indigestion</span>: take citalopram with food and plenty of water</li>
        <li><span class="strong">what to do about drowsiness</span>: avoid driving or using machinery until the drowsiness wears off. Reduce the amount of alcohol you drink.</li>
        <li><span class="strong">what to do if you’re unable to sleep</span>: take citalopram first thing in the morning</li>
        <li><span class="strong">what to do if you have a dry mouth</span>: chew sugar-free gum or sugar-free sweets</li>
        <li><span class="strong">if you have diabetes</span>: citalopram can affect diabetes control, so monitor your blood glucose more often for the first few weeks and adjust your diabetes treatment if necessary</li>
        <li><span class="strong">if you have anxiety</span>: some people who take citalopram for panic attacks find their anxiety worsens during the first few weeks of treatment. This effect usually wears off after a few weeks but speak to your doctor if it bothers you -  a lower dose may help reduce your symptoms.</li>
      </ul>

      <h3>Alcohol</h3>
      <p>It's advisable to cut down or preferably completely avoid alcohol while you're taking citalopram.</p>

      <h3>If you are taking other medicines</h3>
      <p>Citalopram can interfere with many different medicines to change the way they work or cause unexpected side effects.</p>
      <p>Make sure your doctor and pharmacist know you’re taking citalopram before starting or stopping any other medicine, including over-the-counter and complementary medicines.</p>


      <h3>Taking complementary medicines with citalopram</h3>
      <p>Make sure that your doctor and pharmacist know you are taking citalopram before starting or stopping <em class="strong">any</em> complementary medicine.</p>
      <p>Never take the herbal remedy St John’s wort (Hypericum perforatum) at the same time as citalopram as this will increase your risk of side effects.</p>

      <h3>When will I feel better?</h3>
      <p>You may not notice much improvement in your symptoms for a week or two until citalopram begins to take effect. It usually takes between 4 and 6 weeks before you will feel the full benefits.</p>
      <p><em class="strong">Don't stop taking citalopram after a week or two just because you feel it isn't helping your symptoms. Give the medicine at least six weeks to work.</em></p>


      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/multi-page-b/more-info">
            <span class="prefix">Next page:</span>
            <span class="title">More info</span>
          </a>
        </div>
        <div class="prev-page">
          <a href="/citalopram/multi-page-b/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
