{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal content-multi">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li>About citalopram</li>
          <li><a href="/citalopram/multi-page-b/how-to-take-it">How to take it</a></li>
          <li><a href="/citalopram/multi-page-b/how-it-may-affect-you">How it may affect you</a></li>
          <li><a href="/citalopram/multi-page-b/more-info">More info</a></li>
        </ol>
      </nav>

      <h2>About citalopram</h2>

      <h3>What citalopram does</h3>
      <p>Citalopram is a type of antidepressant medicine that is widely used to treat depression and also sometimes for panic attacks.</p>
      <p>Citalopram is one of a group of antidepressants called selective serotonin reuptake inhibitors, or SSRIs, which are thought to work by increasing the levels of a mood-enhancing chemical called serotonin in the brain.</p>
      <p>Citalopram is available on prescription as tablets and as oral drops for people that have problems swallowing tablets.</p>
      <p>Its brand name is Cipramil.</p>

      <h3>Ask your doctor before taking citalopram</h3>
      <ul>
        <li>If you have an <span class="strong">allergy</span> to citalopram or any of its ingredients. Citalopram tablets contain a small amount of lactose</li>
        <li>If you are taking any <span class="strong">other medicines</span>, including any complementary medicines. Citalopram may not be suitable for you if you already take other medicines which affect your heart rhythm</li>
        <li>If you're trying to <span class="strong">become pregnant</span>, are already <span class="strong">pregnant</span> or <span class="strong">breast feeding</span></li>
        <li>If you have <span class="strong">diabetes</span> citalopram can upset its control. Monitor your blood glucose more often for the first few weeks of treatment with citalopram and adjust your diabetes treatment if necessary</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/multi-page-b/how-to-take-it">
            <span class="prefix">Next page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
