{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal content-multi">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li><a href="/citalopram/multi-page-b">About citalopram</a></li>
          <li><a href="/citalopram/multi-page-b/how-to-take-it">How to take it</a></li>
          <li><a href="/citalopram/multi-page-b/how-it-may-affect-you">How it may affect you</a></li>
          <li>More info</li>
        </ol>
      </nav>

      <h2>More info</h2>

      <h3>Pregnancy and breastfeeding</h3>
      <p>No antidepressants are officially safe to take in pregnancy, but your doctor will want to prescribe them when the benefits of continuing the medicine outweigh the risks of stopping it.</p>
      <p>Citalopram and other SSRI antidepressants have been linked with a small risk of problems for the unborn baby when they're taken in early or late pregnancy.</p>
      <p><em class="strong">It’s important to tell your doctor immediately if you’re trying to become pregnant or become pregnant while taking this medicine.</em></p>
      <p>Citalopram passes into breast milk and has been linked with side effects, including withdrawal effects, in breastfed babies. Talk to your doctor as there may be other antidepressants which are more suitable while you're breastfeeding.</p>

      <h3>Other treatment options</h3>
      <p>Antidepressants, including citalopram, are just one of several approaches to treating depression.</p>
      <p>Other potential treatments include talking therapy (such as cognitive behavioural therapy), exercise programmes and help to get a good night's sleep.</p>
      <p>Choosing a treatment that's most suitable for you depends on how long you’ve had depression, your initial symptoms, whether you’ve had any previous bouts of depression, whether previous treatment has worked, how likely you are to stick with your treatment, the potential side effects and your preferences and priorities.</p>

      <nav role="navigation" class="pagination">
        <div class="prev-page">
          <a href="/citalopram/multi-page-b/how-it-may-affect-you">
            <span class="prefix">Previous page:</span>
            <span class="title">How it may affect you</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
