<section class="u-section-separator">
<h2 class="hidden">Introduction</h2>
  <p>Isotretinoin is a treatment for <a href="http://www.nhs.uk/Conditions/Acne/Pages/Introduction.aspx">acne</a> (spots).</p>
  <p>It is available on prescription as a greenish-yellow gel that you apply to the skin or as capsules to swallow.</p>
  <p>The gel is for mild to moderate acne. It can be used on its own or with other creams, gels or antibiotic tablets.</p>
  <p>Isotretinoin capsules are more powerful and are used to treat severe acne. The capsules can have serious side effects so treatment must be prescribed and supervised by a skin specialist (dermatologist).</p>
  <p>Treatment with isotretinoin capsules and gel is not suitable for children under 12 or who have not started puberty.</p>
  <p>Isotretinoin gel is also called by the brand name Isotrex. Isotretinoin capsules are also called by the brand names Roaccutane or Rizuderm.</p>
</section>
