<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, isotretinoin can cause side effects although not everyone gets them. Side effects will usually go away when you stop using isotretinoin.</p>
  <p>Side effects are more likely to happen with the capsules compared to the gel. This is one reason why the capsules are normally used for more severe acne</p>
  <p>The most common side effects of <strong>isotretinoin capsules</strong> are headaches, aching muscles and joints, dry sensitive skin and skin sensitivity to sunlight.</p>
  <p>For <strong>isotretinoin gel</strong>, the most common side effects are red, sore or dry sensitive skin and skin sensitivity to sunlight.</p>
  <p>It has been reported that <strong>isotretinoin capsules</strong> can cause or worsen <a href="http://www.nhs.uk/conditions/depression/Pages/Introduction.aspx">depression</a> and even make people feel suicidal. These reports are rare and it’s not clear if the medicine is the cause of the mental health illness or if it was there before. So far there is no clear link between this medicine and depression or suicidal behaviour.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-side-effects" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoSideEffects|default('More information') }}</span>
    </summary>
    <div id="details-content-side-effects" aria-hidden="false">
      <h3>Common side effects of isotretinoin capsules</h3>
      <p>The common side effects of isotretinoin capsules happen in around one in 10 people. They include:</p>
      <ul>
        <li>headaches, joint, muscle and back pain</li>
        <li>dry skin and lips – for safety, don’t have any waxing, dermabrasion or laser skin treatment while you are taking this medicine and for at least six months after you stop as this could cause scarring or skin irritation.</li>
        <li>skin becoming more sensitive to sunlight – for safety, try to stay out of bright sun and use a high factor sun cream (SPF 15 or above) even on cloudy days. Do not use a sun-lamp or sun-beds.</li>
        <li>dry eyes</li>
        <li>dry mouth</li>
        <li>dry nose and <a href="http://www.nhs.uk/conditions/Nosebleed/Pages/Introduction.aspx">nosebleeds</a></li>
      </ul>
      <h3>Common side effects of isotretinoin gel</h3>
      <p>Common side effects of isotretinoin gel happen in around one in 10 people. They include:</p>
      <ul>
        <li>redness or peeling of skin</li>
        <li>skin stinging, pain or a feeling of burning</li>
        <li>skin irritation or itching</li>
        <li>dry skin</li>
        <li>skin becoming more sensitive to sunlight – for safety, stay out of bright sun and use a high factor sun cream (SPF 15 or above) even on cloudy days. Do not use a sun-lamp or sun-beds.</li>
      </ul>
      <h3>Serious side effects of isotretinoin capsules</h3>
      <p>Serious side effects are rare and happen in fewer than one in 1,000 people</p>
      <p>Stop taking isotretinoin capsules and tell a doctor straight away if you get:</p>
      <ul>
        <li><strong>depression or mood changes</strong>. Symptoms of depression can include anxiety, aggression and violence, changes in mood or suicidal thoughts.</li>
        <li><strong>stomach problems</strong> – severe pain in your tummy, with or without bloody diarrhoea, feeling sick and being sick can be signs of a serious and sometimes life-threatening problem called <a href="http://www.nhs.uk/conditions/Pancreatitis/Pages/Introduction.aspx">pancreatitis</a>.</li>
        <li><strong>a serious skin rash</strong> that peels or has blisters. The skin rash may come with eye infections, ulcers, a fever and headaches.</li>
        <li><strong>muscle weakness </strong>– including difficulty moving your arms or legs and painful, swollen or bruised areas of the body. Dark pee can also be a sign of muscle weakness.</li>
        <li><strong>yellow skin or eyes</strong>, difficulty peeing or feeling very tired. These are all signs of liver or kidney problems.</li>
        <li><strong>a bad headache</strong> that does not go away and makes you feel sick or vomit.</li>
        <li><strong>sudden changes in eyesight </strong>including not seeing as well at night</li>
      </ul>
      <h4>Serious allergic reaction</h4>
      <p><span class="alertbanner">It's rare to have an allergic reaction to isotretinoin capsules but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
      <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
      <ul>
        <li>skin rash</li>
        <li>wheezing</li>
        <li>tightness in the chest or throat</li>
        <li>having trouble breathing or talking</li>
        <li>unusual hoarseness</li>
        <li>swelling of the mouth, face, lips, tongue, or throat</li>
      </ul>
      <h3>Serious side effects of isotretinoin gel</h3>
      <p>A severe skin reaction can sometimes happen with isotretinoin gel.</p>
      <p>If you have severe burning, peeling, redness or itching of your skin stop using the gel and see a doctor straight away</p>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">These are not all the side effects of isotretinoin. For a full list see the leaflet inside your medicines packet.</p>
      </div>

      <h3>Coping with side effects</h3>
      <h4>What to do about headache, joint, muscle and back pain</h4>
      <p>Ask your pharmacist to recommend a painkiller. Light exercise should not be a problem but try to avoid heavy exercise because it may make joint or muscle pain worse.</p>
      <h4>What to do about dry skin or lips</h4>
      <p>Apply a moisturiser and lip balm regularly. The best type of moisturiser is an oil-free face moisturiser for sensitive skin. Try and keep your showers shorter than two minutes and use lukewarm water rather than hot.</p>
      <h4>What to do about dry eyes</h4>
      <p>Ask your pharmacist or optician to recommend some eye drops. If you wear contact lenses and these become uncomfortable, you might have to wear glasses instead while you are taking this medicine.</p>
      <h4>What to do about dry mouth</h4>
      <p>Try chewing sugar free gum or sweets</p>
      <h4>What to do about dry nose and nosebleeds</h4>
      <p>Try applying a thin layer of Vaseline to the inside edges of your nose.</p>
      <h4>What to do about skin irritation or pain with isotretinoin gel</h4>
      <p>Try using the gel less often, maybe once a day instead of twice, or every other day. Or you could stop using the gel for a few days until the irritation goes away and then try using it again. If the irritation does not go away, stop using the gel and speak to your doctor.</p>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">If you have a side effect from any medicine, including isotretinoin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
      </div>

    </div>
  </details>
</section>
