<section class="u-section-separator">
  <h2 id="taking-with-others" class="content__h2">Taking with other medicines</h2>
  <p>Some medicines and isotretinoin can interfere with each other and make it more likely that you will have side effects.</p>
  <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting treatment with isotretinoin capsules or gel.</span></p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoTakingWithOther|default('More information') }}</span>
    </summary>
    <div id="details-content-9" aria-hidden="false">
      <p>Tell your doctor if you’re taking these medicines before your start isotretinoin treatment:</p>
      <h3>Isotretinoin capsules</h3>
      <ul>
        <li>supplements that contain vitamin A</li>
        <li>tetracycline antibiotics such as doxycycline, oxytetracycline, minocycline and lymecycline</li>
        <li>other acne medicines as using both together may make skin irritation worse.</li>
      </ul>
      <h3>Isotretinoin gel</h3>
      <ul>
        <li>other acne medicines as using both together may make skin irritation worse</li>
        <li>benzoyl peroxide cream or gel (another acne treatment) as it may make isotretinoin gel less effective.</li>
      </ul>
      <h3>Mixing isotretinoin with complementary remedies</h3>
      <p>There is very little information about taking herbal and complementary remedies with isotretinoin capsules or gel.</p>
      <p>For safety, speak to your pharmacist before taking isotretinoin if you routinely take any herbal or alternative remedies.</p>
    </div>
  </details>
</section>
