<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take isotretinoin</h2>
  <p><strong>Isotretinoin capsules</strong> (but not isotretinoin gel) contain soya. You should not take this medicine if you have an allergy to this ingredient.</p>
  <p><strong>Isotretinoin capsules</strong> (but not isotretinoin gel) contain sorbitol. You should not take this medicine if you have an inherited digestive disorder called fructose intolerance.</p>
  <p><strong>Isotretinoin gel</strong> may not be suitable if you get <a href="http://www.nhs.uk/conditions/Eczema-(atopic)/Pages/Introduction.aspx">eczema</a> or you have had <a href="http://www.nhs.uk/conditions/Malignant-melanoma/Pages/Introduction.aspx">skin cancer</a>.</p>
  <p><strong>Isotretinoin capsules or gel</strong> are not recommended for children under the age of 12 or before puberty.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoWhoCanTake|default('More information') }}</span>
    </summary>
    <div id="details-content-8" aria-hidden="false">
      <p>To make sure <strong>isotretinoin capsules</strong> are safe for you tell your doctor if:</p>
      <ul>
      <li>you are pregnant or think you could be or you are breastfeeding</li>
      <li>you have ever had an allergic reaction to isotretinoin or any other medicine</li>
      </ul>
      <ul>
      <li>you have liver or kidney disease</li>
      <li>you have high levels of cholesterol or other fats in your blood</li>
      <li>you have high levels of vitamin A</li>
      <li>you, or a close family member, have a mental health illness</li>
      <li>you have inflammatory bowel disease such as <a href="http://www.nhs.uk/conditions/Crohns-disease/Pages/Introduction.aspx">Crohn’s disease</a> or <a href="http://www.nhs.uk/conditions/Ulcerative-colitis/Pages/Introduction.aspx">ulcerative colitis</a></li>
      </ul>
      <p>To make sure <strong>isotretinoin gel</strong> is safe for you tell your doctor if:</p>
      <ul>
      <li>you are pregnant or think you could be or you are breastfeeding</li>
      <li>you have eczema</li>
      <li>you or close family have had skin cancer</li>
      </ul>
      <p>If you have <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a>, talk to your doctor before beginning treatment with <strong>isotretinoin capsules</strong>. You may need extra monitoring while you take isotretinoin capsules as this medicine can cause a rise in blood sugar levels. Isotretinoin gel does not affect blood sugar levels.</p>
    </div>
  </details>
</section>
