<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Yes, you can drink alcohol while taking metformin. However, alcohol can increase the risk of low blood sugar levels. Try not to drink on an empty stomach.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>How long will I take metformin for?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>Treatment for diabetes is usually for life. Keep taking metformin tablets unless your doctor tells you to stop.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>Will it affect my contraception?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>For women, metformin will not affect contraceptive pills or the morning after pill.</p>
          <p>However, some women might need a small adjustment in their metformin dose after starting contraceptive pills. That's because contraceptive pills change how your body handles glucose.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Will it affect my fertility?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>Metformin can stimulate fertility in women taking it for PCOS regardless of whether they have diabetes or not.</p>
          <p>If you take metformin and you aren't trying to get pregnant, make sure you use suitable contraception if you're sexually active.</p>
          <p>Metformin does not affect fertility in men.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Are there other diabetes medicines?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>Metformin is usually the first choice of medicine prescribed to treat type 2 diabetes.</p>
          <p>There are other groups of medicines that lower blood sugar levels:</p>
          <ul>
            <li>sulphonylureas such as gliclazide</li>
            <li>pioglitazone</li>
            <li>DPP-4 inhibitors such as saxagliptin</li>
            <li>SGLT2 inhibitors such as dapagliflozin</li>
            <li>GLP-1 agonists such as exenatide  </li>
            <li>insulin</li>
          </ul>
          <p>All of these medicines can be taken on their own or at the same time as metformin.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>How does metformin work?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>Metformin reduces the amount of sugar your liver releases into your blood. It also makes your body respond better to insulin. Insulin is the hormone that controls the level of sugar in your blood.</p>
          <p>Metformin also stimulates ovulation in women with PCOS even if they don't have diabetes. It does this by lowering insulin and blood sugar levels.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Can I take metformin for a long time?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>Metformin is safe to take for a long time. It will not make you put on weight - it may even help you lose some weight. It also helps keep your cholesterol level at a healthy level.</p>
          <p>Your doctor will check at least once a year how well your kidneys work. You may need more checks if you are an older person or if your kidneys are not working normally. If your kidneys are not working properly, your doctor will tell you to stop taking metformin.</p>
          <p>Metformin can cause vitamin B12 deficiency if you take it for a long time. Your doctor will regularly check the vitamin B12 level in your blood.  If you become deficient, this can be treated by taking vitamin B12 supplements.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>What will happen when I come off metformin?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>Don't stop taking metformin without talking to your doctor.</p>
          <p>If you stop taking metformin suddenly you may reduce the control over your diabetes.</p>
          <p>Treatment for diabetes is usually for life. However, if your kidneys are not working properly, your doctor will tell you to stop taking metformin.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>Is there any food or drinks to avoid?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>Karela (also known as bitter melon, bitter gourd, balsam pear, cundeamor) is used to flavour foods such as curries.</p>
          <p>Be careful eating food and drink containing karela because it can lower your blood sugar levels and mean your diabetes isn't controlled as well as it should be.</p>
          <p>It's also a good idea to cut down on foods with added sugar. Check the nutrition labels as many foods and drinks are high in sugar such as:</p>
          <ul>
            <li>sweets</li>
            <li>cakes</li>
            <li>biscuits</li>
            <li>chocolate</li>
            <li>some fizzy drinks</li>
            <li>juice drinks</li>
          </ul>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-10" tabindex="0" aria-expanded="false">
          <h3>Can I take metformin before surgery?</h3>
        </summary>
        <div id="questions-10" aria-hidden="true">
          <p><span class="alertbanner">Tell your doctor you are taking metformin if you are going to have an operation or a medical procedure such as an X-ray.</span></p>
          <p>You may need to stop taking metformin a few days before having an operation or a medical tests.</p>
          <p>Metformin may interact with the dye used for an X-ray or CT scan. A general anaesthetic that puts you to sleep can also hide low blood sugar.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Can I get diabetes medicines for free?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>You’re entitled to free prescriptions if you take metformin or any other diabetes medicine.</p>
          <p>To claim your free prescriptions you’ll need to have a medical exemption certificate.</p>
          <p>The application form for the medical exemption certificate is called FP92A. You can get this from your doctor's surgery. You will need to fill in the form, then your doctor will sign it and send it off.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-12" tabindex="0" aria-expanded="false">
          <h3>Will lifestyle changes help my diabetes?</h3>
        </summary>
        <div id="questions-12" aria-hidden="true">
          <p>If you’re at risk of type 2 diabetes or already living with it, there are some lifestyle changes you can make to prevent getting diabetes in the first place or control the symptoms. These are:</p>
          <ul>
            <li>eat a healthy diet</li>
            <li>lose any excess weight</li>
            <li>stop smoking</li>
            <li>don’t drink too much alcohol – no more than two units a day</li>
            <li>exercise regularly – up to 30 minutes a day, five times a week is ideal</li>
          </ul>
          <p>Metformin is usually prescribed when diet and exercise alone have not been enough to control your blood sugar levels.</p>
        </div>
      </details>


    </div>
  </div>
</section>
