<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">How to cope with side effects</h2>
  <h3>What to do about:</h3>
  <ul>
    <li><strong>feeling sick</strong> - take metformin with food to reduce the chances of feeling sick. It may also help to slowly increase your dose over several weeks</li>
    <li><strong>a metallic taste in the mouth</strong> - if you find that metformin is giving you a metallic taste in the mouth, try chewing sugar-free gum</li>
    <li><strong>diarrhoea or vomiting</strong> - have small but frequent sips of water. It may also help to take oral rehydration solutions which you can buy from a pharmacy or supermarket to prevent <a href="http://www.nhs.uk/conditions/dehydration/Pages/Introduction.aspx" title="Dehydration">dehydration</a>. Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor</li>
  </ul>
  <p>If you find you are suffering from side effects talk to your doctor about switching to a slow-release tablet.</p>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
