<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">How to cope with side effects</h2>
  <h3>What to do about:</h3>
  <ul>
    <li><strong>feeling sick or vomiting - </strong>take metformin with food to reduce the chances of feeling sick, vomiting or having diarrhoea or stomach ache. It may also help to start taking metformin at a low dose and slowly increasing it over several weeks</li>
    <li><strong>a metallic taste in the mouth - </strong>if you find that metformin is giving you a metallic taste in the mouth, try chewing sugar-free gum</li>
  </ul>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
