<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>It’s best to take metformin tablets with a meal to reduce the side effects. Swallow your metformin tablets whole with a glass of water. Do not chew them.</p>
  <p>The maximum daily dose is 2000mg a day (for example, four 500mg tablets).</p>
  <p>Metformin tablets come in different strengths. Your doctor will advise you on how many tablets to take a day.  </p>
  <h3>Different types of metformin</h3>
  <p>Metformin comes as 2 different types of tablet - standard-release tablets and slow-release tablets.</p>
  <p>Standard-release tablets release metformin into your body quickly. You may need to take them several times a day depending on your dose.</p>
  <p>Slow-release tablets dissolve slowly so you don’t have to take them as often. One dose in the morning is usually enough.</p>
  <p>Your doctor or pharmacist will explain what type of metformin tablets you are on and how to take them.</p>
  <p>Metformin is also available as a liquid for children and people who find it difficult to swallow tablets. Liquid metformin is called by the brand name Riomet.</p>
  <h3>Will my dose go up or down?</h3>
  <p>Your doctor will check your blood sugar levels regularly and may change your dose of metformin if necessary.</p>
  <p>When you first start taking metformin standard-release tablets you will be advised to increase the dose slowly. This reduces the chances of getting side effects.</p>
  <p>For example:</p>
  <ul>
    <li>one 500mg tablet with or after breakfast for at least 1 week then</li>
    <li>one 500mg tablet with or after breakfast and evening meal for at least 1 week then</li>
    <li>one 500mg tablet with or after breakfast, lunch and evening meal</li>
  </ul>
  <p>If you find you have unpleasant side effects with standard-release metformin, your doctor may suggest that you switch to slow-release tablets.</p>
  <h3>What if I forget to take it?</h3>
  <p>If you miss a dose of metformin, take the next dose at the usual time. Do not take a double dose to make up for a forgotten dose.</p>
  <p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways that are suitable for you and your medicines. </p>
  <h3>What if I take too much?</h3>
  <p>If you take too many metformin tablets by accident, contact your doctor or hospital straight away.</p>
  <p>An overdose of a large number of metformin tablets can cause serious health problems. The symptoms are severe and quick to appear.</p>
  <p>They include:</p>
  <ul>
    <li>tummy pain</li>
    <li>diarrhoea</li>
    <li>fast or shallow breathing</li>
    <li>feeling cold and unusual sleepiness</li>
    <li>tiredness, or weakness</li>
  </ul>
  <p><span class="emergencybanner">If this happens to you, it is an emergency. Go to the nearest hospital accident and emergency (A&amp;E) department straight away.</span></p>
  <p>If you can, take any remaining medicine and the box or leaflet with you.</p>
</section>
