<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Metformin is a medicine used to treat <a href="http://www.nhs.uk/conditions/Diabetes-type2/Pages/Introduction.aspx">type 2 diabetes</a> and sometimes <a href="http://www.nhs.uk/Conditions/Polycystic-ovarian-syndrome/Pages/Introduction.aspx">polycystic ovary syndrome</a>.</p>
  <p>Type 2 diabetes is a condition where the body doesn’t make enough insulin, or the insulin that it makes doesn't work properly. This can cause high blood sugar levels (hyperglycemia).</p>
  <p>Meformin works by lowering your blood sugar levels. It’s available on prescription as tablets and as a liquid that you drink.  </p>
  <p>Metformin may also be called by the brand names Bolamyn, Diagemet, Glucient, Glucophage, and Metabet.</p>
</section>
