<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Metformin is a medicine used to treat <a href="http://www.nhs.uk/conditions/Diabetes-type2/Pages/Introduction.aspx">type 2 diabetes</a> and sometimes <a href="http://www.nhs.uk/Conditions/Polycystic-ovarian-syndrome/Pages/Introduction.aspx">polycystic ovary syndrome</a> (PCOS).</p>
  <p>Type 2 diabetes is an illness where the body doesn’t make enough insulin, or the insulin that it makes doesn't work properly. This can cause <a href="http://www.nhs.uk/conditions/Hyperglycaemia/Pages/Introduction.aspx">high blood sugar levels</a> (hyperglycemia).</p>
  <p>PCOS is a health problem that affects how the ovaries work.</p>
  <p>Metformin lowers your blood sugar levels by improving the way your body handles insulin. It's usually prescribed for diabetes when diet and exercise alone have not been enough to control your blood sugar levels.</p>
  <p>For women with PCOS, metformin stimulates ovulation even if they don't have diabetes. It does this by lowering insulin and blood sugar levels.</p>
  <p>Metformin is available on prescription as tablets and as a liquid that you drink.</p>
</section>
