<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Metformin works by reducing the amount of sugar your liver releases into your blood. It also makes your body respond better to insulin. Insulin is the hormone that controls the level of sugar in your blood.</li>
    <li>It’s best to take metformin with a meal to reduce the side effects.</li>
    <li>The most common side effects are feeling sick, vomiting, diarrhoea, stomach ache and going off your food.</li>
    <li>Metformin does not cause weight gain (unlike some other diabetes medicines).</li>
    <li>Metformin may also be called by the brand names Bolamyn, Diagemet, Glucient, Glucophage, and Metabet.</li>
  </ul>
</section>
