<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>It’s best to take metformin with or after a meal.</li>
    <li>The most common <a href="#side-effects" class="link-internal">side effects</a> are feeling sick, vomiting, diarrhoea, stomach ache and going off your food.</li>
    <li>Unlike some other diabetes medicines, metformin does not cause weight gain.</li>
    <li>Do not drink alcohol on an empty stomach while taking metformin - it may make your blood sugar level drop too low.</li>
  </ul>
  <p><span class="infobanner">Check the leaflet inside your medicine packet for information about the brand that you are taking.</span></p>
</section>
