<section class="">
  <div class="module module--links module--border">
    <div class="module__wrap">
      <div class="module__row">
        <div class="module__col">
          <h2 class="module__header">Related conditions</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Diabetes-type2/Pages/Introduction.aspx">Type 2 diabetes</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Polycystic-ovarian-syndrome/Pages/Introduction.aspx">Polycystic ovary syndrome (PCOS)</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/diabetic-ketoacidosis/Pages/Introduction.aspx">Diabetic ketoacidosis</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/gestational-diabetes/Pages/Introduction.aspx">Diabetes in pregnancy</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Kidney-disease-chronic/Pages/Introduction.aspx">Chronic kidney disease</a></li>
          </ul>
        </div>
        <div class="module__col">
          <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/metformin">Metformin: Healthunlocked forum</a></li>
            <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/healthyeating">Healthy eating: Healthunlocked forum</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/long-term-conditions/diabetes-type-2/topics">Type 2 diabetes: patient stories</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.diabetes.org.uk/">Diabetes UK</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.drwf.org.uk/">Diabetes Research and Wellness Foundation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
