<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p><span class="alertbanner">Tell your doctor if you plan to get pregnant or become pregnant while taking this medicine.</span></p>
  <p>It's not clear if metformin causes an increased risk to an unborn baby. Your doctor may be happy for you to keep taking metformin, either alone or in combination with insulin.</p>
  <p>You can take metformin while you're breastfeeding. Metformin passes into breast milk but the amount is too small to affect your baby.</p>
</section>
