<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, metformin can cause side effects although not everyone gets them.</p>
  <h3>Common side effects</h3>
  <p>These common side effects happen in up to one in 10 people:</p>
  <ul>
    <li>feeling sick</li>
    <li>vomiting</li>
    <li>diarrhoea</li>
    <li>stomach ache</li>
    <li>loss of appetite</li>
    <li>metallic taste in the mouth</li>
  </ul>
  <p>Tell your doctor if they bother you or don't go away.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-side-effects" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoSideEffects|default('More information') }}</span>
    </summary>
    <div id="details-content-side-effects" aria-hidden="false">
      <h3>Serious side effects</h3>
      <p>These serious side effects are rare and affect less than one in 10,000 people.</p>
      <p>Tell your doctor straight away if you get:</p>
      <ul>
        <li>lactic acidosis - warning signs come on quickly and include a general feeling of discomfort with severe tiredness, fast or shallow breathing, being cold and a slow heartbeat</li>
        <li>inflammation of the liver - warning signs include tiredness, loss of appetite, weight loss and yellowing of the skin or whites of the eyes</li>
        <li>a skin rash, redness or itching</li>
        <li>anaemia - warning signs include extreme tiredness, lack of energy, pins and needles, a sore and red tongue, mouth ulcers, muscle weakness and disturbed vision</li>
      </ul>
      <p><span class="infobanner">These are not all the side effects of metformin. For a full list see the leaflet inside your medicine packet.</span></p>
    </div>
  </details>
</section>
