<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, metformin can cause side effects although not everyone gets them.</p>
  <h3>Common side effects</h3>
  <p>Common side effects happen in more than 1 in 100 people. They include:</p>
  <ul>
    <li>feeling sick</li>
    <li>vomiting</li>
    <li>diarrhoea</li>
    <li>stomach ache</li>
    <li>loss of appetite</li>
    <li>metallic taste in the mouth</li>
  </ul>
  <p>Tell your doctor if they bother you or don't go away after 1 week.</p>
  <h3>Serious side effects</h3>
  <p>Serious side effects are rare and happen in less than 1 in 10,000 people.</p>
  <p>Tell your doctor straight away if you get warning signs of:</p>
  <ul>
    <li>a general feeling of discomfort with severe tiredness, fast or shallow breathing, being cold and a slow heartbeat</li>
    <li>inflammation of the liver - including tiredness, loss of appetite, weight loss and yellowing of the skin or whites of the eyes</li>
    <li>anaemia - including extreme tiredness, lack of energy, pins and needles, a sore and red tongue, mouth ulcers, muscle weakness and disturbed vision</li>
    <li>a skin disorder - including a skin rash, redness or itching</li>
  </ul>
  <p><span class="infobanner">These are not all the side effects of metformin. For a full list see the leaflet inside your medicine packet.</span></p>
</section>
