<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take metformin</h2>
  <p>Metformin can be taken by adults.</p>
  <p>It can also be taken by children from 10 years of age on the advice of a doctor.</p>
  <p><strong>Metformin isn't suitable for some people. Tell your doctor before starting the medicine if you</strong>:</p>
  <ul>
    <li>have had an allergic reaction to metformin in the past</li>
    <li>have uncontrolled diabetes</li>
    <li>have liver or kidney problems</li>
    <li>have a severe infection</li>
    <li>are being treated for heart failure or you have recently had a heart attack</li>
    <li>have severe problems with your circulation or breathing difficulties</li>
    <li>drink a lot of alcohol (more than 4 drinks a day)</li>
  </ul>
  <p><strong>You may need to stop taking metformin before having surgery and certain medical tests. Tell your doctor if you need to have:</strong></p>
  <ul>
    <li>a test such as X-ray or scan involving the injection of a dye that contains iodine into your blood</li>
    <li>surgery where you will be put to sleep</li>
  </ul>
</section>
