{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Taking paracetamol in pregnancy and when breastfeeding</h2>

      <p><em class="strong">Paracetamol is safe to take in pregnancy and during breastfeeding.</em></p>

      <p>Paracetamol is the first choice of painkiller during pregnancy as studies have shown it has no ill effects.</p>

      <p>Paracetamol passes into breast milk but not in large enough amounts to affect the baby.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/pregnancy-breastfeeding">
            <span class="prefix">Previous page:</span>
            <span class="title">Pregnancy/breastfeeding</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
