{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Taking paracetamol when you're pregnant or breastfeeding</h2>

      <h3>In pregnancy:</h3>
      <ul>
        <li><em class="strong">it's safe to take paracetamol in pregnancy</em></li>
      </ul>
      <p>It's natural to be concerned about how your medicines will affect your baby but evidence suggests that paracetamol is safe for you and your unborn baby provided you take it in the recommended doses.</p>
      <p>Although it's not possible to say that any medicine is absolutely safe in pregnancy, paracetamol has been used for many years by pregnant women without any obvious harmful effects on the baby.</p>
      <p>For this reason, it's usually recommended as the first choice of painkiller for pregnant women.</p>

      <h3>While breastfeeding:</h3>
      <ul>
        <li><em class="strong">it's safe to take paracetamol while you're breastfeeding</em></li>
      </ul>
      <p>Although paracetamol passes into breast milk, it's not in large enough amounts to have any effect on your baby.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/pregnancy-breastfeeding">
            <span class="prefix">Previous page:</span>
            <span class="title">Pregnancy/breastfeeding</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
