{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Paracetamol: pregnancy and breastfeeding</h2>

      <p>There is no evidence that paracetamol tablets will harm your baby if you are pregnant.</p>

      <p>Paracetamol is excreted in breast milk but in insignificant amounts.</p>

      <p>However, if you are pregnant or breastfeeding, if you think you may be pregnant or if you are trying for a baby, you should let your doctor know.</p>

      <p>Ask your doctor or pharmacist for advice before taking any medicine.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/pregnancy-breastfeeding">
            <span class="prefix">Previous page:</span>
            <span class="title">Pregnancy/breastfeeding</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
