{% extends "templates/layout.html" %}

{% block page_title %}
  Atorvastatin - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/atorvastatin" class="link__unstyled">Atorvastatin</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Atorvastatin</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Atorvastatin belongs to a group of medicines called <a href="http://www.nhs.uk/conditions/Cholesterol-lowering-medicines-statins" title="Statins">statins</a>.</p>
      <p>It’s often used to lower the levels of cholesterol and other fatty substances (triglycerides) in your blood.</p>
      <p>It is also taken by people who have had a <a href="http://www.nhs.uk/conditions/Heart-attack/Pages/Introduction.aspx">heart attack</a> or who have unstable <a href="http://www.nhs.uk/conditions/Angina/Pages/Introduction.aspx">angina</a> to reduce the risk of another heart attack or <a href="http://www.nhs.uk/conditions/stroke/pages/introduction.aspx">stroke.</a> </p>
      <p>If you are at high risk of developing <a href="http://www.nhs.uk/Conditions/cardiovascular-disease" title="Cardiovascular disease">cardiovascular disease</a>, for example, because you have <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx" title="Diabetes">diabetes</a>, atorvastatin also helps reduce this risk.</p>
      <p>The medicine is available as tablets on prescription only.</p>
      <p>Atorvastatin is also called by the brand name of Lipitor.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>Take atorvastatin once a day.</li>
        <li>Common side effects include headaches, feeling sick, diarrhoea and cold-like symptoms.</li>
        <li>Atorvastatin can harm a baby. Tell your doctor if you are pregnant, planning to become pregnant or breastfeeding.</li>
        <li>Don’t drink a lot of grapefruit juice as it increases the concentration of atorvastatin in your blood, making side effects more likely. One or two small glasses a day is safe.</li>
        <li>Take atorvastatin even if you feel well as you will still be getting the benefits. Most people with high cholesterol don’t have any symptoms.</li>
      </ul>

      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Take atorvastatin once a day. You can choose to take it at any time, as long as you stick to the same time every day. Most people take it just before going to bed, as this is when most of your cholesterol is produced.</p>
      <p>In adults, the dose may range from 10mg to 80mg once a day. Your dose depends on the reason for taking it, your cholesterol levels and what other medicines you are taking.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow atorvastatin tablets whole with a glass of water. If you have been given chewable tablets, you can chew them or swallow them whole with a glass of water.</p>
          <p>You can take atorvastatin with or without food.</p>
          <p>Atorvastatin may be used in children aged 10 to 17 years old with high cholesterol or high triglycerides (fatty substances in the blood).</p>
          <p>In children, the usual dose is 10mg to 20mg daily. Sometimes higher doses are used - your doctor will work out the amount of atorvastatin that is right for your child.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take your next dose the next day at the usual time. Never take two doses at the same time or extra doses.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of atorvastatin is unlikely to harm you.</p>
          <p>Call NHS 111 or speak to your pharmacist or doctor if you are worried, or take more than one extra dose.</p>
        </div>
      </details>




      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Not everyone will get side effects with atorvastatin but common ones include feeling sick, headache, back and joint pain and nosebleeds.</p>
      <p>Unexplained muscle pain, tenderness or weakness can be serious. Muscle symptoms related to atorvastatin can indicate muscle breakdown and kidney damage.</p>
      <p><span class="alertbanner">Report any unexplained muscle pain, tenderness or weakness to a doctor straight away.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>Like all medicines, atorvastatin can cause side effects in some people.</p>
          <p>These common side effects of atorvastatin happen in fewer that one in 10 people. Keep taking the medicine, but tell your doctor if they bother you or don’t go away:</p>
          <ul>
          <li>feeling sick</li>
          <li>headache</li>
          <li>pain in the back and joints</li>
          <li>nosebleeds</li>
          <li>sore throat</li>
          <li>cold like symptoms such as runny nose, blocked nose or sneezing</li>
          <li>digestive complaints, such as constipation, wind, indigestion or diarrhoea</li>
          </ul>
          <h3>Serious side effects</h3>
          <p>Serious side effects are rare when taking atorvastatin.</p>
          <p>Stop taking atorvastatin and tell a doctor straight away if you get:</p>
          <ul>
          <li>unexplained muscle pain, tenderness, weakness or cramps</li>
          <li>liver problems: warning signs include yellowing of the skin and eyes, dark-coloured urine, pale coloured poo, itching, feeling tired or weak and loss of appetite</li>
          <li>skin rash with pink-red blotches which may blister especially on palms of hands or soles of feet</li>
          <li>severe tummy pain (a sign of inflammation of the pancreas)</li>
          <li>cough, feeling short of breath and weight loss (signs of interstitial lung disease)</li>
          </ul>
          <h3>Serious allergic reaction</h3>
          <p><span class="alertbanner">It's rare to have a serious allergic reaction to atorvastatin but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
          <ul>
          <li>a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
          <li>wheezing</li>
          <li>tightness in the chest or throat</li>
          <li>trouble breathing or talking</li>
          <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of atorvastatin. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <p>If you have a side effect from any medicine, including atorvastatin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take atorvastatin</h2>
      <p>Atorvastatin isn’t suitable for some people.</p>
      <p>Tell your doctor if you:</p>
      <ul>
      <li>have an allergy or intolerance to atorvastatin</li>
      <li>have liver or kidney problems</li>
      <li>are trying for a baby or not using contraception, pregnant or breastfeeding</li>
      <li>have severe lung disease</li>
      <li>have previously had a stroke caused by bleeding into the brain (haemorrhagic stroke)</li>
      <li>drink large amounts of alcohol (more than two glasses a day)</li>
      <li>have an underactive thyroid</li>
      <li>have muscular side effects when taking a statin</li>
      <li>(or a close relative) have had a muscle disorder</li>
      </ul>
      <p>Lipitor chewable tablets contain aspartame, a source of phenylalanine - check with your doctor before taking these if you have phenylketonuria (an inherited disorder of protein metabolism).</p>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink while taking atorvastatin.</p>
              <p>Drinking a lot of alcohol may increase the risk of muscle and liver side effects with atorvastatin so it’s best not to drink more than two glasses a day.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>How long will I take atorvastatin for?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>In most cases, treatment with a statin such as atorvastatin is for life. The benefits will only continue for as long as you take it. If you stop taking atorvastatin without starting a different treatment your cholesterol level may rise again.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Can I drive while taking atorvastatin?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>Yes – atorvastatin is unlikely to affect your ability to drive.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will it stop my contraception working?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>For women, atorvastatin may slightly increase the hormones released into your system from some contraceptive pills. You will still be protected from pregnancy but this could increase the side effects from these pills.</p>
              <p>If you have any side effects, talk to your doctor or pharmacist.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it reduce my fertility?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>There is no information about the effects of atorvastatin on the fertility of men or women. If you are trying for a baby, it's important to discuss this with your doctor.</p>
              <p>If you want to become pregnant, it's best to stop taking atorvastatin three months before trying to have a baby.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Is atorvastatin addictive?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>No, there is no evidence that atorvastatin is addictive.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking atorvastatin with other medicines</h2>
      <p>Some medicines affect the way atorvastatin works, and can increase the risk of serious side, including muscle damage.</p>
      <p><span class="alertbanner">Tell your doctor and pharmacist if you are taking any other prescription medicine or a medicine you buy before starting atorvastatin.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Medicines that may not mix well with atorvastatin include:</p>
          <ul>
          <li>some antibiotics and antifungals </li>
          <li>some HIV medicines </li>
          <li>some hepatitis C medicines</li>
          <li>warfarin (used to stop blood clotting) </li>
          <li>ciclosporin (taken after having an organ transplant)</li>
          <li>colchicine (a medicines for gout)</li>
          <li>contraceptive pills</li>
          <li>verapamil, diltiazem, amlodipine (used to treat high blood pressure and heart conditions)</li>
          <li>medicines that make your heart beat stable e.g. amiodarone, digoxin</li>
          <li>medicines that lower chlosterol and fatty substances in the blood e.g. fibrates, colestipol, ezetimibe</li>
          </ul>
          <p>If you are taking atorvastatin and need to take one of these medicines, your doctor may:</p>
          <ul>
          <li>prescribe a lower dose of atorvastatin</li>
          <li>prescribe a different statin medicine</li>
          <li>recommend that you temporarily stop taking your atorvastatin</li>
          <li>advise increased monitoring</li>
          </ul>
          <h3>Mixing atorvastatin with complementary remedies</h3>
          <p><span class="alertbanner">Tell your doctor and pharmacist that you are taking atorvastatin before starting or stopping any complementary medicine.</span></p>
          <p>St John’s Wort, a herbal medicine taken for depression, reduces the amount of atorvastatin in your blood.</p>
          <p>Talk to your doctor before starting St John’s Wort, as you may need a higher dose of atorvastatin. If you have been taking atorvastatin and St. John's Wort, talk to your doctor if you wish to stop St. John's Wort as atorvastatin levels may increase, leading to side effects.</p>
        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>There is no evidence that atorvastatin can harm an unborn baby but to be safe it’s best not to take it if you become pregnant, and tell your doctor.</p>
      <p><span class="alertbanner">Tell your doctor if you plan to get pregnant, become pregnant, or wish to breastfeed while taking this medicine.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Atorvastatin and breastfeeding</h3>
          <p>It’s not known if atorvastatin passes into breast milk but it may cause problems for your baby.</p>
          <p>Talk to your doctor, if you are breastfeeding, or wish to breastfeed, and you take atorvastatin. You may be able to stop taking the medicine just while you breastfeed.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about atorvastatin</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How atorvastatin works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Atorvastatin blocks the enzyme (a natural protein) in your liver that helps to make cholesterol. This lowers your blood cholesterol level.</p>
            <p>There are two types of cholesterol:</p>
            <ul>
            <li>bad cholesterol - called low-density lipoprotein (LDL)</li>
            <li>good cholesterol - called high-density lipoprotein (HDL)</li>
            </ul>
            <p>Too much bad cholesterol can lead to fatty deposits building up in your arteries (atherosclerosis) which can cause heart attacks and strokes.</p>
            <p>Atorvastatin reduces the production of bad cholesterol and other bad fats in the blood (triglycerides). It also increased the amount of good cholesterol.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>What are the differences between statins?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>Other statin medicines include:</p>
<ul>
<li>simvastatin</li>
<li>fluvastatin</li>
<li>pravastatin</li>
<li>rosuvastatin</li>
</ul>
<p>Every statin can differ in the amount they lower cholesterol. For example, 20mg of atorvastatin causes a bigger reduction in bad cholesterol than 20mg of simvastatin.</p>
<p>If you have a side effect with one statin, this may not happen with another. Some medicines don’t mix well with one statin but you can take them with a different one.</p>
<p>Your doctor will find the right statin and dose for you, depending on your medical history, cholesterol and other medicines.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Food and drinks to avoid</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>It’s best not to drink more than one or two small glasses grapefruit juice a day if you are taking atorvastatin.</p>
            <p>Large quantities of grapefruit juice increase the concentration of atorvastatin in your blood, making side effects more likely.</p>          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false">
            <h3>Coming off atorvastatin</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
            <p><span class="alertbanner">Talk to your doctor if you stop or want to stop taking atorvastatin.</span></p>
            <p>You may want to stop atorvastatin if you think you are having side effects. Talk to your doctor to see if it is a side effect of atorvastatin or another problem. It may help to lower your dose or change your medicine.</p>
            <p>Stopping atorvastatin may cause your cholesterol to rise. Lowering your cholesterol may reduce your risk of heart attacks and strokes. If you want to stop taking the medicine, it’s important to find another way to lower your cholesterol and reduce the risk of cardiovascular events.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>There are lifestyle changes you can make that will help lower your cholesterol. Reducing your cholesterol may mean you don't need to be prescribed a statin medicine.</p>
            <ul>
            <li>Lose excess weight.</li>
            <li>Eat heart-healthy foods by decreasing saturated fat and increasing fibre, fruits, vegetables, whole grains and fish.</li>
            <li>Stop smoking.</li>
            <li>Reduce the amount of alcohol you drink.</li>
            <li>Exercise every day – start by taking a short walk.</li>
            </ul>
            <p>There are also foods specially designed to lower your cholesterol, including certain dairy spreads and yoghurts containing added ingredients called plant sterols and stanols.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Angina/Pages/Introduction.aspx">Angina</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Heart-attack/Pages/Introduction.aspx">Heart attack</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Stroke/Pages/Introduction.aspx">Stroke</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/cardiovascular-disease/Pages/Introduction.aspx">Cardiovascular disease</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="https://healthunlocked.com">Health unlocked online community</a></li>
								<li class="module__list-item"><a class="link__external" href="https://www.bhf.org.uk/">British Heart Foundation</a></li>
								<li class="module__list-item"><a class="link__external" href="https://www.stroke.org.uk/">Stroke Association</a></li>
							</ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
