{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>How long to take citalopram for</h2>

      <p>Once your condition is under control you're likely to continue taking citalopram for several more months to prevent symptoms returning.</p>
      <p>You will need to discuss with your doctor the pros and cons of continuing to take citalopram as a longer-term treatment. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well citalopram worked for you, and whether the medicine has had any bothersome side effects.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram">
            <span class="prefix">Previous page:</span>
            <span class="title">Citalopram topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
