{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li>About prednisolone</li>
          <li><a href="/prednisolone/pages/side-effects">Side effects</a></li>
          <li><a href="/prednisolone/pages/interactions">Interactions</a></li>
          <li><a href="/prednisolone/pages/dosage">Dosage</a></li>
          <li><a href="/prednisolone/pages/how-to-take-it">How to take it</a></li>
          <li><a href="/prednisolone/pages/how-long-to-take-it-for">How long to take it for</a></li>
          <li><a href="/prednisolone/pages/when-will-i-feel-better">When will I feel better?</a></li>
          <li><a href="/prednisolone/pages/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
          <li><a href="/prednisolone/pages/treatment-options">Other treatment options</a></li>
          <li><a href="/prednisolone/pages/living-with">Living with prednisolone</a></li>
          <li><a href="/prednisolone/pages/who-may-not-be-able-to-take-it">Who may not be able to take it?</a></li>
          <li><a href="/prednisolone/pages/stopping">Stopping prednisolone</a></li>
        </ol>
      </nav>

      <h2>About prednisolone</h2>
      <p>Prednisolone is a type of medicine known as a corticosteroid or 'steroid'. It works by damping down the immune system to reduce inflammation.</p>
      <p>Prednisolone is used to treat a wide range of conditions including allergies, inflammatory diseases (for example affecting the eyes, bowels, joints, skin or lungs), skin diseases, infections, certain cancers and to prevent organ rejection after a transplant.</p>
      <p>Prednisolone is available only on prescription as tablets, an oral solution or liquid eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>
      <p>Its brand names include Deltacortril, Deltastab, Dilacort, Pevanti.</p>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/prednisolone/pages/side-effects">
            <span class="prefix">Next page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
