{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header">Prednisolone</h1>

      <h2>Prednisolone: what it is and what it's used for</h2>

      <p>Prednisolone is one of a group of medicines known as corticosteroids or simply 'steroids'.<p>

      <p>Corticosteroids aren't the same as anabolic steroids which are used to treat a completely different set of health conditions and are known for being taken by body builders to boost muscle.</p>

      <p>Corticosteroids are produced naturally in the body and help control our response to stress, regulate blood electrolyte levels and control our metabolism.</p>

      <p>Prednisolone and other corticosteroids are very important medicines because they can help suppress the immune system and reduce inflammation.</p>

      <h3>What is prednisolone used for?</h3>
      <p>Prednisolone is used to treat a wide range of health conditions including:</p>
      <ul>
        <li>allergies</li>
        <li>inflammatory diseases - for example affecting the eyes, bowels (ulcerative colitis and Crohn's disease), joints (arthritis) or lungs (asthma)</li>
        <li>some skin diseases (psoriasis and eczema)</li>
        <li>some infections</li>
        <li>certain types of cancer</li>
        <li>to prevent organ rejection after a transplant</li>
      </ul>

      <p>Prednisolone must be prescribed by a doctor. It's available as tablets, an oral solution and as eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>

      <p>It may be called by one of many brand names including Deltacortril, Deltastab, Dilacort and Pevanti.</p>


      <h2>Side effects</h2>

      <p><em class="strong">Stop taking prednisolone and seek urgent medical help</em> if you experience any of the following:</p>

      <ul>
        <li>allergic reactions</li>
        <li>low mood or depression</li>
        <li>changes in the way you behave</li>
        <li>adrenal gland problems</li>
        <li>infections</li>
        <li>high blood sugar levels</li>
        <li>chest pain or pressure</li>
        <li>black, tarry, or bloody stools</li>
        <li>vomit blood or vomit that looks like coffee grounds</li>
        <li>development of Cushing's disease</li>
        <li>low potassium levels</li>
        <li>pancreas problems</li>
        <li>shortness of breath</li>
        <li>problematic weight gain</li>
        <li>swelling in the arms or legs</li>
        <li>skin changes</li>
        <li>period changes</li>
        <li>bone or joint pain</li>
        <li>change in eyesight</li>
        <li>seizures</li>
        <li>burning, numbness, or tingling feeling</li>
        <li>bruising or bleeding that is not normal</li>
      </ul>

      <h3>Common side effects</h3>

      <p><em class="strong">Contact your doctor or get medical help</em> if any of these side effects bother you or do not go away</p>

      <ul>
        <li>upset stomach, indigestion, feeling sick</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>significant weight gain</li>
      </ul>

      <h3>After stopping taking prednisolone</h3>

      <p>If you have recently stopped taking prednisolone and you experience any of the following <em class="strong">contact your doctor immediately</em>.</p>

      <ul>
        <li>feel very tired</li>
        <li>weak</li>
        <li>trembling</li>
        <li>having a fast heartbeat</li>
        <li>confused</li>
        <li>sweating</li>
        <li>dizziness</li>
      </ul>


      <h2>Interactions</h2>

      <h3>If you are taking other medicines</h3>

      <p>Prednisolone can interact with a large number of prescription, over-the-counter and alternative medicines.</p>

      <p>It is important to <em class="strong">check with your doctor or pharmacist</em> before starting or stopping <em class="strong">ANY</em> other medication.</p>


      <h2>Dosage</h2>

      <p>The daily dose may be between 5 and 60mg in adults depending on the illness and whether the medicine should be used as a short course or over a longer period.</p>

      <p>Your doctor may change your dosage to a lower one over time or before stopping treatment.</p>

      <p><em class="strong">If you take too many prednisolone tablets, tell your doctor at once or contact your nearest accident and emergency department.</em></p>

      <h3>For children</h3>

      <p>Dosages for children and adolescents depend on the condition and the weight, or a combination of weight and height, of the patient. Follow the doctor’s instructions on the correct dosage.</p>


      <h2>How to take it</h2>

      <p><em class="strong">Take as a single dose in the morning with food.</em></p>

      <p><em class="strong">Take your dose at a similar time each day.</em></p>

      <p>If your dose is 40mg daily, for example, it is usual to take eight tablets (8 x 5mg tablets) all at the same time. Doing this can reduce the chances that you will experience side effects.</p>

      <ul>
        <li>enteric coated tablets these can be taken with or without food.</li>
        <li>sometimes prednisolone is prescribed to be taken on alternate days only</li>
      </ul>

      <p><em class="strong">Do not take two doses at the same time or extra doses.</em></p>

      <p>If you miss a dose then you should take it as soon as you think about it unless it is close to the time for your next dose. If it is too close wait for your next dose instead.</p>

      <h3>If you take too much</h3>
      <p>Taking too much prednisolone on a one-off basis is unlikely to cause any significant side effects but if you are at all concerned contact your doctor or pharmacist for advice.</p>

      <h2>When will I feel better?</h2>

      <p>The period in which you can expect to see some effect will depend on what you have been prescribed prednisolone for. Ask your doctor what to expect from your prescription.</p>

      <h2>Taking prednisolone when you're pregnant or breastfeeding</h2>

      <h3>In pregnancy:</h3>
      <p>It's preferable to not take any medicines during pregnancy, but sometimes prednisolone may be prescribed in pregnancy if it's considered necessary for the health of mother and baby.</p>
      <p>Studies have shown a risk from prednisolone in the first 12 weeks of pregnancy. Prednisolone can also affect the growth of the unborn baby.</p>

      <p><em class="strong">DO NOT STOP YOUR MEDICATION but consult your doctor immediately if you intend to become pregnant or become pregnant while taking prednisolone.</em></p>

      <h3>While breastfeeding:</h3>
      <p>Prednisolone can be taken while breastfeeding, however, it does pass into breast milk so if you are taking a high-dose of prednisolone the baby may need to be monitored for signs of side effects.</p>
      <p>To reduce the amount of prednisolone your baby is exposed to:</p>

      <ul>
        <li>wait four hours between taking your dose of prednisolone and starting to breastfeed, or</li>
        <li>express sufficient breast milk just before taking your dose of prednisolone to cover the four-hour period after taking the dose</li>
      </ul>

      <h2>Other treatment options</h2>

      <p>Prednisolone is usually only prescribed to treat serious health conditions where the choice of other treatments may be limited.</p>

      <p>There are other corticosteroids that you may be able to take instead of prednisolone such as:</p>

      <ul>
        <li>deflazacort</li>
        <li>dexamethasone</li>
        <li>methylprednisolone</li>
        <li>prednisone</li>
      </ul>

      <p>But for most medical conditions there is little to choose between prednisolone and other corticosteroids in terms of effectiveness or safety.</p>

      <p>Sometimes it's possible to reduce or stop treatment with prednisolone or switch to a locally-acting steroid once your condition is under control (for example if you have asthma you may be switched from prednisolone tablets to a steroid inhaler to reduce the risk of side effects).</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone">
            <span class="prefix">Previous page:</span>
            <span class="title">Prednisolone topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
