{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header">Prednisolone</h1>

      <h2>About prednisolone</h2>

      <p>Prednisolone is a type of medicine known as a corticosteroid or 'steroid'. It works by damping down the immune system to reduce inflammation.</p>

      <p>Prednisolone is used to treat a wide range of conditions including allergies, inflammatory diseases (for example affecting the eyes, bowels, joints, skin or lungs), skin diseases, infections, certain cancers and to prevent organ rejection after a transplant.</p>

      <p>Prednisolone is available only on prescription as tablets, an oral solution or liquid eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>

      <p>Its brand names include Deltacortril, Deltastab, Dilacort, Pevanti.</p>

      <h2>Possible side effects</h2>

      <h3>Common side effects</h3>
      <ul>
        <li>weight gain</li>
        <li>indigestion</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>any other side effects that bother you or don’t go away</li>
        <li>bone problems</li>
      </ul>

      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">Call your doctor or get medical help if any of these side effects bother you or don't go away</em></li>
        <li>These are not all of the side effects that you may have while taking prednisolone. If you have questions about side effects, call your doctor or pharmacist for further advice.</li>
      </ul>

      <h3>Serious side effects</h3>
      <ul>
        <li><span class="underline">allergic reactions</span>: warning signs include rash; hives; itching; red, swollen, blistered, or peeling skin with or without fever; wheezing; tightness in the chest or throat; trouble breathing or talking; unusual hoarseness; or swelling of the mouth, face, lips, tongue, or throat</li>
        <li><span class="underline">infections</span>: warning signs include fever, chills, very sore throat, ear or sinus pain, cough, more sputum or change in colour of sputum, pain with passing urine, mouth sores, or wound that will not heal</li>
        <li><span class="underline">high blood sugar levels</span>: warning signs include confusion, feeling sleepy, increased thirst, increased hunger, passing urine more often, flushing, fast breathing, or breath that smells like fruit</li>
        <li><span class="underline">development of Cushing’s disease</span>: warning signs include weight gain in the upper back or belly, moon face, very bad headache, and slow wound healing</li>
        <li><span class="underline">adrenal gland problems</span>: warning signs include a very upset stomach or vomiting, very bad dizziness or passing out, muscle weakness, feeling very tired, mood changes, loss of appetite and weight loss</li>
        <li><span class="underline">low potassium levels</span>: warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that does not feel normal</li>
        <li><span class="underline">pancreas problems</span>: warning signs include severe stomach pain, severe back pain, or severe upset stomach or vomiting</li>
        <li><span class="underline">any of the following</span>: Shortness of breath, significant weight gain, swelling in the arms or legs, skin changes (pimples, stretch marks, slow healing, hair growth), chest pain or pressure, period (menstrual) changes, bone or joint pain, change in eyesight, change in the way you behave, low mood (depression), seizures, burning, numbness, or tingling feeling that is not normal, any bruising or bleeding that is not normal, black, tarry, or bloody stools, vomiting blood or vomit that looks like coffee grounds</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">stop taking prednisolone and seek medical help URGENTLY</em> if you have any of these side effects</li>
      </ul>
      <h3>Side effects after stopping prednisolone</h3>
      <p><em class="strong">Call your doctor or get medical help URGENTLY if</em> you have recently stopped taking prednisolone and you:</p>
      <ul>
        <li>start to feel very tired, weak, trembling</li>
        <li>have a fast heartbeat and feel confused, sweaty or dizzy</li>
      </ul>

      <h3>Coping with side effects</h3>
      <p><span class="strong">What to do about weight gain</span>: It can be quite challenging to maintain your normal body weight because you are likely to find that prednisolone will make you want to eat more than normal. To keep weight gain to a minimum, try to eat a healthy balanced diet including foods that contain calcium, and exercise regularly.</p>
      <p><span class="strong">What to do about indigestion</span>: Take prednisolone with food to reduce the chances that it will cause indigestion, nausea or vomiting. It may also help if you avoid rich or spicy food while you are taking this medicine. If symptoms persist talk with your doctor as it is possible that you will also need another type of medicine prescribed to help protect your stomach.</p>
      <p><span class="strong">What to do about bone loss</span>: Although you may not feel any different, prednisolone, if used for more than a few months, can lead to bone loss and this in turn increases your risk of fractures. If you take prednisolone long term, your bones may be monitored with occasional hospital scans. To reduce the chance of bone problems, try to eat a healthy balanced diet including foods that contain calcium, and exercise regularly.</p>


      <h2>Interactions</h2>

      <h3>Will prednisolone mix badly with other medicines?</h3>
      <p>There are many medicines which can be affected by prednisolone so it's not possible to list of all the ones you should be especially concerned about.</p>
      <ul>
        <li>Some medicines can speed up how quickly prednisolone is broken down by the body, which can result in it not working as well as it should.</li>
        <li>Some medicines can slow down how quickly prednisolone is broken down and this can increase the chances that you might have side effects.</li>
        <li>Some medicines cause similar side effects to prednisolone and taking them together can increase your chances of having that side effect.</li>
        <li>Some of the side effects seen with prednisolone can mean that other medicines you take may not work as well as expected.</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li>Make sure that your doctor and pharmacist know you are taking prednisolone before starting or stopping any other medicine (including those bought over the counter).</li>
      </ul>

      <h3>Will prednisolone interact with food or alcohol?</h3>
      <ul>
        <li>Prednisolone can interact with alcohol, so it may be advisable to reduce or preferably avoid alcohol while taking it.</li>
        <li>You don't have to change your diet while taking prednisolone, however, you should avoid eating liquorice.</li>
      </ul>

      <h3>Will prednisolone interact with complementary medicines?</h3>
      <p>There are many complementary medicines that can be affected by prednisolone and it is not possible to provide a list of all the ones you should be especially concerned about.</p>
      <ul>
        <li>Some complementary medicines can speed up how quickly prednisolone is broken down by the body which can result in prednisolone not working as well as it should.</li>
        <li>Some complementary medicines can slow down how quickly prednisolone is broken down and this can increase the chances that you might experience side effects.</li>
        <li>Some complementary medicines cause similar side effects to prednisolone and taking them together can increase your chances of having that side effect.</li>
      </ul>

      <h4>What to do:</h4>
      <p>Make sure that your doctor and pharmacist knows you are taking prednisolone before starting or stopping <em class="strong">any</em> complementary medicine.</p>


      <h2>Dosage</h2>

      <p>In an adult the dose of prednisolone can vary between 5mg and 60mg every day depending on the condition being treated and whether the medicine is prescribed as a short course or as a regular medicine.</p>
      <p>In children and adolescents the dose depends on both the condition being treated and either weight or surface area (which reflects both weight and height).</p>
      <p>Prednisolone may be prescribed to be taken as a short course of treatment and sometimes the dose prescribed may be reduced over that course as your symptoms improve. In some cases, prednisolone may be prescribed to take regularly over a longer period.</p>

      <p><em class="strong">What to do:</em></p>
      <ul>
        <li>for a short course of prednisolone, follow the dosage instructions you have been given and complete the course as prescribed even if you feel better before the course is complete</li>
        <li>if you’re taking prednisolone for longer, take the medicine regularly until your doctor tells you to stop</li>
      </ul>


      <h2>How to take it</h2>
      <ul>
        <li>Take prednisolone tablets or solution as a single dose in the morning with food. If you are taking enteric coated tablets you can take them with or without food. Sometimes prednisolone is prescribed to be taken on alternate days only.</li>
        <li>If you miss a dose of prednisolone, take it as soon as you remember to unless it is close to the time for your next dose in which case skip the missed dose and go back to your normal time. <em class="strong">Do not take two doses at the same time or extra doses</em>.</li>
        <li>Taking too much prednisolone on a one-off basis is unlikely to be harmful, but if you’re concerned contact your doctor or pharmacist for advice.</li>
      </ul>


      <h2>When will I feel better?</h2>

      <p>As prednisolone is used to treat many different conditions, it’s difficult to say when you might expect to benefit. For some inflammatory conditions, such as arthritis, you would expect to see improvement within a couple of days. However, for some conditions, such as after an organ transplant, you may be taking prednisolone to stop your symptoms getting worse or to prevent a problem, such as organ rejection, happening.</p>
      <p><em class="strong">Please ask your doctor what to expect for your particular medical condition.</em></p>


      <h2>Taking prednisolone in pregnancy and when breastfeeding</h2>

      <p><em class="strong">Prednisolone may not be safe to take in pregnancy.</em></p>

      <p>Prednisolone may cause problems when used in the first trimester of pregnancy and may also affect the growth of the unborn baby.</p>
      <p>Consult with your doctor immediately if you intend to become pregnant or become pregnant whilst taking this medicine.</p>

      <p><em class="strong">Prednisolone may not be safe to take while breastfeeding.</em></p>

      <p>If prednisolone is taken in high doses by a breastfeeding mother, the baby may need to be monitored for signs of side effects.</p>

      <p>It may help to wait four hours between taking a dose of prednisolone and breastfeeding. Alternatively, express sufficient breast milk just before taking a dose of prednisolone to cover the four-hour period after taking the dose.</p>


      <h2>Other treatment options</h2>

      <p>There are unlikely to be treatments available as an alternative to prednisolone.</p>

      <p>Other corticosteroids (for example deflazacort, dexamethasone, methylprednisolone and prednisone) are available but they are similar to prednisolone in terms of effectiveness or safety.</p>

      <p>Sometimes it is possible to switch from prednisolone tablets to a locally acting steroid medicine to reduce the risk of side effects, for example someone with asthma may be switched from tablets to a steroid inhaler.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone">
            <span class="prefix">Previous page:</span>
            <span class="title">Prednisolone topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
