{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header">Prednisolone</h1>

      <h2>Who may not be able to take prednisolone?</h2>
      <p>Some health conditions may interact with prednisolone so <em class="strong">tell your doctor</em> before starting the medicine if:</p>
      <ul>
        <li>you have had an allergic reaction to prednisolone or any other medicine or their ingredients</li>
        <li>you have an ongoing infection (including eye infections), and any treatment that you are taking for it</li>
        <li>you are trying to become pregnant, are already pregnant or breastfeeding</li>
        <li>you have recently been in contact with anyone with shingles, chickenpox or measles unless you are sure you are immune to these infections</li>
        <li>you have recently had, or are about to have, any vaccinations</li>
      </ul>
      <p>Prednisolone treatment can make some health conditions worse if you're not monitored closely so <em class="strong">make your doctor aware</em> if you have:</p>
      <ul>
        <li>any history of liver problems</li>
        <li>any history of mental health problems (either you or close family members)</li>
        <li>any unhealed wounds</li>
        <li>any of the following conditions that they might not be aware of: heart failure, recent heart attack, high blood pressure, diabetes mellitus, epilepsy, glaucoma, underactive thyroid, osteoporosis, obesity, or stomach ulcers</li>
      </ul>


      <h2>Interactions</h2>
      <h3>Will prednisolone mix badly with other medicines?</h3>
      <p>There are many medicines which can be affected by prednisolone so it's not possible to list of all the ones you should be especially concerned about.</p>
      <ul>
        <li>Some medicines can speed up how quickly prednisolone is broken down by the body, which can result in it not working as well as it should.</li>
        <li>Some medicines can slow down how quickly prednisolone is broken down and this can increase the chances that you might have side effects.</li>
        <li>Some medicines cause similar side effects to prednisolone and taking them together can increase your chances of having that side effect.</li>
        <li>Some of the side effects seen with prednisolone can mean that other medicines you take may not work as well as expected.</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li>Make sure that your doctor and pharmacist know you are taking prednisolone before starting or stopping any other medicine (including those bought over the counter).</li>
      </ul>
      <h3>Will prednisolone interact with food or alcohol?</h3>
      <ul>
        <li>Prednisolone can interact with alcohol, so it may be advisable to reduce or preferably avoid alcohol while taking it.</li>
        <li>You don't have to change your diet while taking prednisolone, however, you should avoid eating liquorice.</li>
      </ul>
      <h3>Will prednisolone interact with complementary medicines?</h3>
      <p>There are many complementary medicines that can be affected by prednisolone and it is not possible to provide a list of all the ones you should be especially concerned about.</p>
      <ul>
        <li>Some complementary medicines can speed up how quickly prednisolone is broken down by the body which can result in prednisolone not working as well as it should.</li>
        <li>Some complementary medicines can slow down how quickly prednisolone is broken down and this can increase the chances that you might experience side effects.</li>
        <li>Some complementary medicines cause similar side effects to prednisolone and taking them together can increase your chances of having that side effect.</li>
      </ul>
      <h4>What to do:</h4>
      <p>Make sure that your doctor and pharmacist knows you are taking prednisolone before starting or stopping <em class="strong">any</em> complementary medicine.</p>


      <h2>How to take it</h2>
      <ul>
        <li>Take prednisolone tablets or solution as a single dose in the morning with food. If you are taking enteric coated tablets you can take them with or without food. Sometimes prednisolone is prescribed to be taken on alternate days only.</li>
        <li>If you miss a dose of prednisolone, take it as soon as you remember to unless it is close to the time for your next dose in which case skip the missed dose and go back to your normal time. <em class="strong">Do not take two doses at the same time or extra doses</em>.</li>
        <li>Taking too much prednisolone on a one-off basis is unlikely to be harmful, but if you’re concerned contact your doctor or pharmacist for advice.</li>
      </ul>


      <h2>Dosage</h2>
      <p>In an adult the dose of prednisolone can vary between 5mg and 60mg every day depending on the condition being treated and whether the medicine is prescribed as a short course or as a regular medicine.</p>
      <p>In children and adolescents the dose depends on both the condition being treated and either weight or surface area (which reflects both weight and height).</p>
      <p>Prednisolone may be prescribed to be taken as a short course of treatment and sometimes the dose prescribed may be reduced over that course as your symptoms improve. In some cases, prednisolone may be prescribed to take regularly over a longer period.</p>
      <p><em class="strong">What to do:</em></p>
      <ul>
        <li>for a short course of prednisolone, follow the dosage instructions you have been given and complete the course as prescribed even if you feel better before the course is complete</li>
        <li>if you’re taking prednisolone for longer, take the medicine regularly until your doctor tells you to stop</li>
      </ul>


      <h2>Possible side effects</h2>
      <h3>Common side effects</h3>
      <ul>
        <li>weight gain</li>
        <li>indigestion</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>any other side effects that bother you or don’t go away</li>
        <li>bone problems</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">Call your doctor or get medical help if any of these side effects bother you or don't go away</em></li>
        <li>These are not all of the side effects that you may have while taking prednisolone. If you have questions about side effects, call your doctor or pharmacist for further advice.</li>
      </ul>
      <h3>Serious side effects</h3>
      <ul>
        <li><span class="underline">allergic reactions</span>: warning signs include rash; hives; itching; red, swollen, blistered, or peeling skin with or without fever; wheezing; tightness in the chest or throat; trouble breathing or talking; unusual hoarseness; or swelling of the mouth, face, lips, tongue, or throat</li>
        <li><span class="underline">infections</span>: warning signs include fever, chills, very sore throat, ear or sinus pain, cough, more sputum or change in colour of sputum, pain with passing urine, mouth sores, or wound that will not heal</li>
        <li><span class="underline">high blood sugar levels</span>: warning signs include confusion, feeling sleepy, increased thirst, increased hunger, passing urine more often, flushing, fast breathing, or breath that smells like fruit</li>
        <li><span class="underline">development of Cushing’s disease</span>: warning signs include weight gain in the upper back or belly, moon face, very bad headache, and slow wound healing</li>
        <li><span class="underline">adrenal gland problems</span>: warning signs include a very upset stomach or vomiting, very bad dizziness or passing out, muscle weakness, feeling very tired, mood changes, loss of appetite and weight loss</li>
        <li><span class="underline">low potassium levels</span>: warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that does not feel normal</li>
        <li><span class="underline">pancreas problems</span>: warning signs include severe stomach pain, severe back pain, or severe upset stomach or vomiting</li>
        <li><span class="underline">any of the following</span>: Shortness of breath, significant weight gain, swelling in the arms or legs, skin changes (pimples, stretch marks, slow healing, hair growth), chest pain or pressure, period (menstrual) changes, bone or joint pain, change in eyesight, change in the way you behave, low mood (depression), seizures, burning, numbness, or tingling feeling that is not normal, any bruising or bleeding that is not normal, black, tarry, or bloody stools, vomiting blood or vomit that looks like coffee grounds</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li><em class="strong">stop taking prednisolone and seek medical help URGENTLY</em> if you have any of these side effects</li>
      </ul>
      <h3>Side effects after stopping prednisolone</h3>
      <p><em class="strong">Call your doctor or get medical help URGENTLY if</em> you have recently stopped taking prednisolone and you:</p>
      <ul>
        <li>start to feel very tired, weak, trembling</li>
        <li>have a fast heartbeat and feel confused, sweaty or dizzy</li>
      </ul>


      <h2>Living with prednisolone</h2>
      <p>Taking prednisolone shouldn't affect your normal daily routine too much although it's a good idea to cut down on or avoid alcohol completely while you’re taking it.</p>
      <p>Be prepared to experience some troublesome side effects, particularly if you take a high dose and/or for longer than a couple of weeks. Here are some simple lifestyle changes you can make to lessen side effects and help you stay healthy while taking prednisolone:</p>
      <ul>
        <li><span class="strong">Prevent stomach problems</span><span class="hidden"> - </span> Try taking prednisolone with food to reduce the chances that it will give you indigestion, nausea or vomiting. It may also help if you avoid rich or spicy food while you’re taking this medicine. If symptoms persist, ask your doctor if you may benefit from taking an additional medicine to help protect your stomach.</li>
        <li><span class="strong">Limit weight gain</span><span class="hidden"> - </span> Prednisolone can make you hungrier so it can be quite challenging to avoid putting on weight while you’re taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don’t gain too much weight. Regular exercise will also help to keep your weight stable.</li>
        <li><span class="strong">Protect your bones</span><span class="hidden"> - </span> Taking prednisolone for a long time can increase your risk of osteoporosis. Osteoporosis is when bones become thin and have a higher chance of breaking. Take regular exercise and make sure you get enough calcium in your diet to help strengthen your bones. Calcium-rich foods include milk, cheese and leafy greens.</li>
      </ul>
      <h3>Blue steroid treatment card</h3>
      <p>If you're likely to be taking prednisolone for longer than three weeks (or you've been prescribed a high dose of more than 40mg daily) you will be given a blue steroid treatment card. Carry this card around with you and show it to any healthcare professional treating you. The card has advice on how to reduce the risks of side effects and provides details of the prescriber, drug, dosage and the duration of treatment.</p>
      <h3>Tests and monitoring</h3>
      <p>If you will be taking prednisolone for a long time, you'll probably have regular tests to monitor your blood pressure, weight, blood sugar and potassium levels.</p>
      <p>Your doctor may also arrange for you to have an occasional bone scan to check for any bone loss.</p>
      <p>If you have diabetes you may need to have your blood sugar measured more frequently, as prednisolone tablets may affect the levels of sugar in your blood.</p>
      <p>Prednisolone can increase your risk of eyesight problems over time, so if you're taking prednisolone long-term, it's important to visit an optometrist every 6-12 months to check for high pressure in your eye (glaucoma) and cataract.</p>


      <h2>How long to take prednisolone for</h2>
      <p>Prednisolone may be prescribed as a short course of treatment for up to a week or it may be prescribed for a longer period of time.</p>
      <p>If you have been prescribed a short course of prednisolone, it is very important that you closely follow the dosage instructions and complete the course as prescribed even if you feel better before the course is complete.</p>
      <p>If you have been prescribed a longer course of prednisolone, you should take the medicine regularly until your doctor tells you to stop.</p>
      <p>If you take prednisolone at doses of more than 40mg daily or for more than three weeks, stopping treatment suddenly can cause side effects, so your doctor is likely to advise you to reduce your dose gradually before you stop taking the medicine.</p>


      <h2>Stopping prednisolone</h2>
      <p>If you've taken prednisolone for more than three weeks or have taken more than 40mg every day for more than a week it's very important that you do not go 'cold turkey' and stop taking the medicine suddenly.</p>
      <p>This is because:</p>
      <ul>
        <li>suddenly stopping the medicine may lead to your condition flaring up again even though it appears to be under control</li>
        <li>you may have dangerous withdrawal symptoms such as severe fatigue, weakness, body aches and joint pain</li>
      </ul>
      <p>Prednisolone is similar to cortisol, a hormone naturally made by your adrenal glands. If you take prednisolone for more than a few weeks, your adrenal glands decrease cortisol production.</p>
      <p>To prevent withdrawal symptoms, gradually reduce the prednisolone dose over a few weeks. By tapering the dose in this way your adrenal glands have time to resume their normal function.</p>
      <p>If you were on prednisolone for less than three weeks it's alright to stop suddenly.</p>


      <h2>When will I feel better?</h2>
      <p>As prednisolone is used to treat many different conditions, it’s difficult to say when you might expect to benefit. For some inflammatory conditions, such as arthritis, you would expect to see improvement within a couple of days. However, for some conditions, such as after an organ transplant, you may be taking prednisolone to stop your symptoms getting worse or to prevent a problem, such as organ rejection, happening.</p>
      <p><em class="strong">Please ask your doctor what to expect for your particular medical condition.</em></p>


      <h2>Taking prednisolone when you're pregnant or breastfeeding</h2>
      <h3>In pregnancy:</h3>
      <p>It's preferable to not take any medicines during pregnancy, but sometimes prednisolone may be prescribed in pregnancy if it's considered necessary for the health of mother and baby.</p>
      <p>Studies have shown a risk from prednisolone in the first 12 weeks of pregnancy. Prednisolone can also affect the growth of the unborn baby.</p>
      <p><em class="strong">DO NOT STOP YOUR MEDICATION but consult your doctor immediately if you intend to become pregnant or become pregnant while taking prednisolone.</em></p>
      <h3>While breastfeeding:</h3>
      <p>Prednisolone can be taken while breastfeeding, however, it does pass into breast milk so if you are taking a high-dose of prednisolone the baby may need to be monitored for signs of side effects.</p>
      <p>To reduce the amount of prednisolone your baby is exposed to:</p>
      <ul>
        <li>wait four hours between taking your dose of prednisolone and starting to breastfeed, or</li>
        <li>express sufficient breast milk just before taking your dose of prednisolone to cover the four-hour period after taking the dose</li>
      </ul>


      <h2>Prednisolone: what it is and what it's used for</h2>
      <p>Prednisolone is one of a group of medicines known as corticosteroids or simply 'steroids'.<p>
      <p>Corticosteroids aren't the same as anabolic steroids which are used to treat a completely different set of health conditions and are known for being taken by body builders to boost muscle.</p>
      <p>Corticosteroids are produced naturally in the body and help control our response to stress, regulate blood electrolyte levels and control our metabolism.</p>
      <p>Prednisolone and other corticosteroids are very important medicines because they can help suppress the immune system and reduce inflammation.</p>
      <h3>What is prednisolone used for?</h3>
      <p>Prednisolone is used to treat a wide range of health conditions including:</p>
      <ul>
        <li>allergies</li>
        <li>inflammatory diseases - for example affecting the eyes, bowels (ulcerative colitis and Crohn's disease), joints (arthritis) or lungs (asthma)</li>
        <li>some skin diseases (psoriasis and eczema)</li>
        <li>some infections</li>
        <li>certain types of cancer</li>
        <li>to prevent organ rejection after a transplant</li>
      </ul>
      <p>Prednisolone must be prescribed by a doctor. It's available as tablets, an oral solution and as eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>
      <p>It may be called by one of many brand names including Deltacortril, Deltastab, Dilacort and Pevanti.</p>


      <h2>Other treatment options</h2>
      <p>There are unlikely to be treatments available as an alternative to prednisolone.</p>
      <p>Other corticosteroids (for example deflazacort, dexamethasone, methylprednisolone and prednisone) are available but they are similar to prednisolone in terms of effectiveness or safety.</p>
      <p>Sometimes it is possible to switch from prednisolone tablets to a locally acting steroid medicine to reduce the risk of side effects, for example someone with asthma may be switched from tablets to a steroid inhaler.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone">
            <span class="prefix">Previous page:</span>
            <span class="title">Prednisolone topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
