{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal">
      <h1 class="page-content-header">Prednisolone</h1>

      <h2>Who may not be able to take prednisolone?</h2>
      <h3>Check with your doctor first if:</h3>
      <ul>
        <li><span class="strong">you have ever had severe depression or manic-depression</span> (bipolar disorder). This includes having had depression before while taking steroid medicines like prednisolone.</li>
        <li><span class="strong">any of your close family</span> has had these illnesses</li>
      </ul>
      <h3>Do not take prednisolone if you are:</h3>
      <ul>
        <li>allergic to prednisolone</li>
        <li>suffering from a serious infection that is not being treated</li>
        <li>suffering from a herpes infection of the eye</li>
        <li>suffering from galactose or lactose intolerance or glucose-galactose malabsorption.</li>
      </ul>
      <h3>Warnings and precautions</h3>
      <p>Before you take prednisolone tell your doctor if you:</p>
      <ul>
        <li>suffer from or have ever been treated for tuberculosis (TB)</li>
        <li>have high blood pressure</li>
        <li>have a heart condition</li>
        <li>have liver or kidney problems</li>
        <li>suffer from diabetes or diabetes runs in your family</li>
        <li>have osteoporosis (thinning of the bone), particularly if you are past the menopause (the change of life)</li>
        <li>are going through or are past the menopause</li>
        <li>suffer from epilepsy (fits)</li>
        <li>suffer from stomach ulcers</li>
        <li>have taken prednisolone (or other steroids) before and had muscular problems (steroid myopathy)</li>
        <li>are receiving treatment for a condition called myasthenia gravis (a rare muscle weakness disorder)</li>
        <li>have ever had blood clots, (for example, deep vein thrombosis [DVT], or thromboembolism)</li>
        <li>are planning to have a vaccination</li>
        <li>have Cushing's disease (a hormone disorder that can cause symptoms including gaining weight very quickly, especially on the trunk and face, thinning of the skin and sweating)</li>
        <li>suffer from hypothyroidism (an underactive thyroid gland that can cause tiredness or weight gain)</li>
        <li>have Duchenne's muscular dystrophy</li>
        <li>have inflammatory bowel disease such as Crohn's disease</li>
        <li>have an eye disease caused by fluid build-up at the back of the eye that causes visual impairment.</li>
        <li>are undergoing immunosuppression therapy for example in the treatment of cancer</li>
      </ul>


      <h2>Interactions</h2>
      <h3>If you are taking other medicines</h3>
      <p>Prednisolone can interact with a large number of prescription, over-the-counter and alternative medicines.</p>
      <p>It is important to <em class="strong">check with your doctor or pharmacist</em> before starting or stopping <em class="strong">ANY</em> other medication.</p>


      <h2>How to take it</h2>
      <p><em class="strong">Take as a single dose in the morning with food.</em></p>
      <p><em class="strong">Take your dose at a similar time each day.</em></p>
      <p>If your dose is 40mg daily, for example, it is usual to take eight tablets (8 x 5mg tablets) all at the same time. Doing this can reduce the chances that you will experience side effects.</p>
      <ul>
        <li>enteric coated tablets these can be taken with or without food.</li>
        <li>sometimes prednisolone is prescribed to be taken on alternate days only</li>
      </ul>
      <p><em class="strong">Do not take two doses at the same time or extra doses.</em></p>
      <p>If you miss a dose then you should take it as soon as you think about it unless it is close to the time for your next dose. If it is too close wait for your next dose instead.</p>
      <h3>If you take too much</h3>
      <p>Taking too much prednisolone on a one-off basis is unlikely to cause any significant side effects but if you are at all concerned contact your doctor or pharmacist for advice.</p>


      <h2>Dosage</h2>
      <p>The daily dose may be between 5 and 60mg in adults depending on the illness and whether the medicine should be used as a short course or over a longer period.</p>
      <p>Your doctor may change your dosage to a lower one over time or before stopping treatment.</p>
      <p><em class="strong">If you take too many prednisolone tablets, tell your doctor at once or contact your nearest accident and emergency department.</em></p>
      <h3>For children</h3>
      <p>Dosages for children and adolescents depend on the condition and the weight, or a combination of weight and height, of the patient. Follow the doctor’s instructions on the correct dosage.</p>



      <h2>Side effects</h2>
      <p><em class="strong">Stop taking prednisolone and seek urgent medical help</em> if you experience any of the following:</p>
      <ul>
        <li>allergic reactions</li>
        <li>low mood or depression</li>
        <li>changes in the way you behave</li>
        <li>adrenal gland problems</li>
        <li>infections</li>
        <li>high blood sugar levels</li>
        <li>chest pain or pressure</li>
        <li>black, tarry, or bloody stools</li>
        <li>vomit blood or vomit that looks like coffee grounds</li>
        <li>development of Cushing's disease</li>
        <li>low potassium levels</li>
        <li>pancreas problems</li>
        <li>shortness of breath</li>
        <li>problematic weight gain</li>
        <li>swelling in the arms or legs</li>
        <li>skin changes</li>
        <li>period changes</li>
        <li>bone or joint pain</li>
        <li>change in eyesight</li>
        <li>seizures</li>
        <li>burning, numbness, or tingling feeling</li>
        <li>bruising or bleeding that is not normal</li>
      </ul>
      <h3>Common side effects</h3>
      <p><em class="strong">Contact your doctor or get medical help</em> if any of these side effects bother you or do not go away</p>
      <ul>
        <li>upset stomach, indigestion, feeling sick</li>
        <li>not able to sleep</li>
        <li>restlessness</li>
        <li>sweating a lot</li>
        <li>significant weight gain</li>
      </ul>
      <h3>After stopping taking prednisolone</h3>
      <p>If you have recently stopped taking prednisolone and you experience any of the following <em class="strong">contact your doctor immediately</em>.</p>
      <ul>
        <li>feel very tired</li>
        <li>weak</li>
        <li>trembling</li>
        <li>having a fast heartbeat</li>
        <li>confused</li>
        <li>sweating</li>
        <li>dizziness</li>
      </ul>



      <h2>Living with prednisolone</h2>
      <p>Prednisolone treatment should not greatly affect normal daily routine for the majority of people, although it may be advisable to reduce or preferably avoid alcohol while taking this medicine.</p>
      <h3>Coping with side effects</h3>
      <p>Severe side effects are rare when taking a short course of steroid tablets. Prolonged treatment at high doses can cause problems in some people. For example:</p>
      <ul>
        <li><span class="strong">Indigestion, nausea or vomiting</span> - Taking prednisolone with food will reduce the chances that it will cause stomach upsets. Avoiding rich or spicy food can also help. If stomach problems persist, an additional medicine can be prescribed to protect the stomach.</li>
        <li><span class="strong">Weight gain</span> - Prednisolone increases appetite which can potentially lead to weight gain. To keep weight gain to a minimum it’s important to eat a healthy balanced diet, control portion size, and do regular exercise where possible.</li>
        <li><span class="strong">Bone thinning</span> - Taking prednisolone for a long time can cause bone thinning. A diet containing calcium-rich foods such as dairy foods and leafy greens will help to protect bone strength. Regular exercise is also recommended.</li>
      </ul>
      <h3>Blue steroid treatment card</h3>
      <p>If prednisolone has been prescribed for longer than three weeks (or at a high dose of more than 40mg daily) a blue steroid treatment card will be issued. It’s important that this card is carried with you and shown to any healthcare professional that is providing treatment. The card provides advice on how to reduce the risks of adverse effects and provides details of the prescriber, drug, dosage and the duration of treatment.</p>
      <h3>Tests and monitoring</h3>
      <p>Taking prednisolone for months or years increases the chances of certain side effects such as bone thinning and diabetes. Long term users of prednisolone should be monitored for side effects. This monitoring may include:</p>
      <ul>
        <li>regular checks of blood pressure, weight, blood sugar and potassium levels (if you have diabetes your blood glucose may be checked more frequently as prednisolone tablets may affect the levels of sugar in your blood)</li>
        <li>an occasional bone scan</li>
      </ul>
      <h3>Eyesight checks</h3>
      <p>Prednisolone, if taken long term, can increase the risk of certain eyesight conditions, so an optometrist should be visited every 6-12 months to check for high pressure in the eye (glaucoma) and cataract.</p>



      <h2>Stopping prednisolone</h2>
      <p>If you have taken prednisolone for more than three weeks or have taken more than 40mg every day for more than a week <em class="strong">do not stop taking the medicine suddenly</em>.</p>
      <p>Stopping the medicine suddenly may cause your condition to flare up again or lead to potentially dangerous withdrawal symptoms including:</p>
      <ul>
        <li>severe fatigue</li>
        <li>weakness</li>
        <li>body aches</li>
        <li>joint pain</li>
      </ul>


      <h2>When will I feel better?</h2>
      <p>The period in which you can expect to see some effect will depend on what you have been prescribed prednisolone for. Ask your doctor what to expect from your prescription.</p>
      <h2>Taking prednisolone in pregnancy and when breastfeeding</h2>
      <p><em class="strong">Prednisolone may not be safe to take in pregnancy.</em></p>
      <p>Prednisolone may cause problems when used in the first trimester of pregnancy and may also affect the growth of the unborn baby.</p>
      <p>Consult with your doctor immediately if you intend to become pregnant or become pregnant whilst taking this medicine.</p>
      <p><em class="strong">Prednisolone may not be safe to take while breastfeeding.</em></p>
      <p>If prednisolone is taken in high doses by a breastfeeding mother, the baby may need to be monitored for signs of side effects.</p>
      <p>It may help to wait four hours between taking a dose of prednisolone and breastfeeding. Alternatively, express sufficient breast milk just before taking a dose of prednisolone to cover the four-hour period after taking the dose.</p>



      <h2>Taking prednisolone when you're pregnant or breastfeeding</h2>
      <h3>In pregnancy:</h3>
      <p>It's preferable to not take any medicines during pregnancy, but sometimes prednisolone may be prescribed in pregnancy if it's considered necessary for the health of mother and baby.</p>
      <p>Studies have shown a risk from prednisolone in the first 12 weeks of pregnancy. Prednisolone can also affect the growth of the unborn baby.</p>
      <p><em class="strong">DO NOT STOP YOUR MEDICATION but consult your doctor immediately if you intend to become pregnant or become pregnant while taking prednisolone.</em></p>
      <h3>While breastfeeding:</h3>
      <p>Prednisolone can be taken while breastfeeding, however, it does pass into breast milk so if you are taking a high-dose of prednisolone the baby may need to be monitored for signs of side effects.</p>
      <p>To reduce the amount of prednisolone your baby is exposed to:</p>
      <ul>
        <li>wait four hours between taking your dose of prednisolone and starting to breastfeed, or</li>
        <li>express sufficient breast milk just before taking your dose of prednisolone to cover the four-hour period after taking the dose</li>
      </ul>


      <h2>How long to take prednisolone for</h2>
      <h3>Short courses</h3>
      <p>You may be prescribed a short course of prednisolone treatment, for up to a week or so. Sometimes the dose prescribed may be reduced over a short course as your symptoms improve.</p>
      <p>If you're taking a short course of prednisolone, take care to closely follow the dosage instructions you've been given by your doctor or pharmacist. It’s important to complete the full course as prescribed even if you feel better before it's complete.</p>
      <h3>Long courses</h3>
      <p>In some cases, you may be prescribed a longer course of prednisolone treatment. If this is the case, take the medicine regularly until your doctor tells you to stop.</p>
      <p>If you take prednisolone at doses of more than 40mg daily or for more than three weeks, stopping treatment suddenly can cause side effects, so your doctor is likely to advise you to reduce your dose gradually before you stop taking the medicine.</p>



      <h2>About prednisolone</h2>
      <p>Prednisolone is a type of medicine known as a corticosteroid or 'steroid'. It works by damping down the immune system to reduce inflammation.</p>
      <p>Prednisolone is used to treat a wide range of conditions including allergies, inflammatory diseases (for example affecting the eyes, bowels, joints, skin or lungs), skin diseases, infections, certain cancers and to prevent organ rejection after a transplant.</p>
      <p>Prednisolone is available only on prescription as tablets, an oral solution or liquid eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>
      <p>Its brand names include Deltacortril, Deltastab, Dilacort, Pevanti.</p>



      <h2>Other treatment options</h2>
      <p>Prednisolone is usually only prescribed to treat serious health conditions where the choice of other treatments may be limited.</p>
      <p>There are other corticosteroids that you may be able to take instead of prednisolone such as:</p>
      <ul>
        <li>deflazacort</li>
        <li>dexamethasone</li>
        <li>methylprednisolone</li>
        <li>prednisone</li>
      </ul>
      <p>But for most medical conditions there is little to choose between prednisolone and other corticosteroids in terms of effectiveness or safety.</p>
      <p>Sometimes it's possible to reduce or stop treatment with prednisolone or switch to a locally-acting steroid once your condition is under control (for example if you have asthma you may be switched from prednisolone tablets to a steroid inhaler to reduce the risk of side effects).</p>


      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone">
            <span class="prefix">Previous page:</span>
            <span class="title">Prednisolone topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
