{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="index">Prednisolone</h1>
      <ul>
        <li><a href="/prednisolone/dosage">Dosage</a>
        <li><a href="/prednisolone/how-to-take-it">How to take it</a></li>
        <li><a href="/prednisolone/interactions">Interactions</a></li>
        <li><a href="/prednisolone/side-effects">Side effects</a></li>
        <li><a href="/prednisolone/when-will-i-feel-better">When will I feel better?</a></li>
        <li><a href="/prednisolone/about">About</a></li>
        <li><a href="/prednisolone/pregnancy-breastfeeding">Pregnancy/breastfeeding</a></li>
        <li><a href="/prednisolone/treatment-options">Other treatment options</a></li>
        <li><a href="/prednisolone/living-with">Living with</a></li>
        <li><a href="/prednisolone/who-may-not-be-able-to-take-it">Who may not be able to take it?</a></li>
        <li><a href="/prednisolone/stopping">Stopping prednisolone</a></li>
        <li><a href="/prednisolone/how-long-to-take-it-for">How long to take it for</a></li>
        <li><a href="/prednisolone/allcontent1">All content 1</a></li>
        <li><a href="/prednisolone/allcontent2">All content 2</a></li>
        <li><a href="/prednisolone/allcontent3">All content 3</a></li>
        <li><a href="/prednisolone/all-content-pages">All content pages</a></li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/">
            <span class="prefix">Previous page:</span>
            <span class="title">Medicines</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
