{% extends "templates/layout.html" %}

{% block page_title %}
  Prednisolone - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/prednisolone" class="link__unstyled">Prednisolone</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Prednisolone</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle" onclick="try {trackHTML('Burger menu toggle');} catch(e) {}"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link" onclick="try {trackHTML('Key facts - top nav');} catch(e) {}">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link" onclick="try {trackHTML('How and when to take - top nav');} catch(e) {}">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link" onclick="try {trackHTML('Side effects - top nav');} catch(e) {}">Side effects</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link" onclick="try {trackHTML('Taking with other medicines - top nav');} catch(e) {}">Taking with other medicines</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link" onclick="try {trackHTML('Common questions - top nav');} catch(e) {}">Common questions</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link" onclick="try {trackHTML('Before using it - top nav');} catch(e) {}">Before using it</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button" onclick="try {trackHTML('More link to show more nav');} catch(e) {}">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link" onclick="try {trackHTML('Pregnancy advice - top nav');} catch(e) {}">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link" onclick="try {trackHTML('More info - top nav');} catch(e) {}">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Prednisolone is a type of medicine known as a <a href="http://www.nhs.uk/conditions/Corticosteroid-(drugs)/Pages/Introduction.aspx" class="link__external">corticosteroid</a> or 'steroid'. Corticosteroids are not the same as <a href="http://www.nhs.uk/conditions/anabolic-steroid-abuse/Pages/Introduction.aspx" class="link__external">anabolic steroids</a>.</p>
      <p>Prednisolone is used to treat a wide range of health problems including allergies, <a href="http://www.nhs.uk/Conditions/Arthritis/Pages/Introduction.aspx" class="link__external">arthritis</a>, blood disorders, skin diseases, infections, certain cancers and to prevent organ rejection after a transplant.</p>
      <p>Prednisolone is available only on prescription as tablets, a liquid to swallow and as eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>
      <p>It’s also called by the brand names Deltacortril, Deltastab, Dilacort and Pevanti.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts:</h2>
      <ul class="key-facts">
        <li>Take prednisolone once a day in the morning</li>
        <li>Prednisolone can cause withdrawal problems. Do not stop  the medicine suddenly if you’ve been on it for more than a few weeks.</li>
        <li>Taking prednisolone can mean you are more likely to get infections. Tell your doctor if you're exposed to infectious illnesses like chickenpox or shingles.</li>
        <li>The most common side effects of prednisolone are weight gain, indigestion, insomnia and sweating a lot.</li>
      </ul>


      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Take prednisolone as a single dose once a day straight after breakfast.</p>
      <p>For example, if your dose is 40mg daily, it's usual to take eight tablets (8 x 5mg) all at the same time.</p>
      <p>Try and take your prednisolone at a similar time every day. Taking prednisolone in the morning means it is less likely to affect your sleep.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true" onclick="try {trackHTML('How and when to take - more');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Generally, it’s better to take prednisolone with breakfast so it doesn't upset your stomach. The food helps to protect the lining of your stomach from any irritation. If you have enteric coated (red or brown) tablets, you can take these with or without food.</p>
          <p>Sometimes, you may be advised to take prednisolone on alternate days only.</p>

          <h3>How much to take</h3>
          <p>The usual dose of prednisolone varies between 5mg and 60mg daily.</p>
          <p>The dose depends on your illness and whether you are taking prednisolone as a short course or for longer.</p>
          <p>In children, the dose may be lower than for an adult with the same illness because it is calculated according to their height and weight.</p>

          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take it as soon as you remember. If you don't remember until the following day, skip the missed dose.</p>
          <p class="callout">Do not take two doses at the same time or extra doses.</p>

          <h3>What if I take too much?</h3>
          <p>Accidentally taking too many prednisolone tablets only once is unlikely to harm you. If you're worried, talk to your doctor or pharmacist.</p>

          <h3>Will the amount I take go up or down?</h3>
          <p>Once your illness starts to get better, it's likely that your dose will go down.</p>
          <p>Your doctor will probably reduce your dose before you stop treatment completely.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Like all medicines, prednisolone can cause side effects although not everyone gets them.</p>
      <p>The higher the dose of prednisolone that you take, the greater the chance of side effects. In general, you are far less likely to get side effects if you take a relatively low dose of less than 20mg prednisolone daily.</p>
      <p>Some side effects, such as stomach upset or mood changes, can happen straight away. Others, such as getting a rounder face, happen after weeks or months.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-2" tabindex="0" aria-expanded="true" onclick="try {trackHTML('Side effects - more');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-2" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>These common side effects affect up to one in 10 people. Keep taking the medicine, but tell your doctor if they bother you or don't go away:</p>
          <ul>
            <li>weight gain</li>
            <li>indigestion</li>
            <li>not able to sleep</li>
            <li>restlessness
            <li>sweating a lot</li>
            <li>bone problems</li>
          </ul>

          <h3>Serious side effects</h3>
          <p>Serious side effects are rare and affect fewer than one in 10,000 people.</p>
          <p>You are more likely to have a serious side effect if you take a higher dose (more than 20mg daily) of prednisolone or if you have been taking it for more than a few weeks.</p>

          <p class="strong">Tell a doctor straight away if you get:</p>
          <ul>
          	<li><span class="strong">An infection:</span> warning signs include fever, chills, very sore throat, ear or sinus pain, a cough, more saliva or change in colour of saliva, pain with passing urine, mouth sores, or wound that will not heal.</li>
            <li><span class="strong"><a href="http://www.nhs.uk/conditions/Hyperglycaemia/Pages/Introduction.aspx" class="link__external">High blood sugar</a>:</span> warning signs include feeling sleepy or confused, feeling very thirsty or hungry, passing urine more often, flushing, breathing quickly, or breath that smells like fruit.</li>
            <li><span class="strong"><a href="http://www.nhs.uk/conditions/Cushings-syndrome/Pages/Introduction.aspx" class="link__external">Cushing's syndrome</a>:</span> warning signs include weight gain in the upper back or belly, moon face, very bad headache, and slow wound healing.</li>
            <li><span class="strong">Adrenal gland problems:</span> warning signs include a very upset stomach or vomiting, very bad dizziness or passing out, muscle weakness, feeling very tired, mood changes, loss of appetite and weight loss.</li>
            <li><span class="strong">Low potassium levels:</span> warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that does not feel normal.</li>
            <li><span class="strong">Pancreas problems:</span> warning signs include severe stomach pain, severe back pain, or severe upset stomach or vomiting.</li>
           </ul>

           <p class="strong">You should also tell a doctor straight away if you get:</p>

           <ul>
             <li>breathless</li>
             <li>swelling in your arms or legs</li>
             <li>changes in your eyesight</li>
             <li>any bruising or bleeding that isn’t normal</li>
             <li>black poo</li>
             <li>black or dark brown vomit or vomiting blood</li>
           </ul>

           <h3>Serious allergic reaction</h3>
           <p class="callout">It's extremely rare to have an allergic reaction to prednisolone but if this happens to you, stop taking the medicine and contact a doctor straight away.</p>
           <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx" class="link__external">serious allergic reaction</a> are:</p>

           <ul>
             <li>skin rash</li>
             <li>wheezing</li>
             <li>tightness in the chest or throat</li>
             <li>having trouble breathing or talking</li>
             <li>unusual hoarseness</li>
             <li>swelling of the mouth, face, lips, tongue, or throat</li>
           </ul>

           <h3>Children and teenagers</h3>
           <p>Long periods of prednisolone treatment can slow down the normal growth of children and teenagers.</p>
           <p>Your child's doctor will watch their growth carefully while they are taking steroids. That way any slowing of growth can be picked up promptly and treatment changed if necessary.</p>
           <p>Talk to your doctor about the risks of giving prednisolone to your child if you are concerned.</p>

           <div class="disclaimer__info">
             <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
             <p class="disclaimer__info-text">These are not all the side effects of prednisolone. For a full list see the leaflet inside your medicines packet.</p>
           </div>

           <h3>Coping with side effects</h3>
           <h4>What to do about stomach problems</h4>
           <p>Try taking prednisolone with food to reduce the chances that you have indigestion, nausea or vomiting. It may also help if you avoid rich or spicy food while you're taking this medicine. If symptoms carry on, ask your doctor if you may benefit from taking an additional medicine to protect your stomach.</p>
           <h4>What to do about weight gain</h4>
           <p>Prednisolone can make you hungrier so it can be quite challenging to keep from putting on weight while you're taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don't gain too much weight. Regular exercise will also help to keep your weight stable.</p>
           <h4>What to do to protect your bones</h4>
           <p>Taking prednisolone for a long time can increase your risk of <a href="http://www.nhs.uk/conditions/Osteoporosis/Pages/Introduction.aspx" class="link__external">osteoporosis</a> - when bones become thinner and have a higher chance of breaking. Take regular exercise and make sure you get enough calcium in your diet to help strengthen your bones. Calcium-rich foods include milk, cheese and leafy greens.</p>

         </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking with other medicines</h2>
      <p>There are many medicines that affect the way prednisolone works.</p>
      <p class="callout">Tell your doctor and pharmacist that you're taking prednisolone before starting or stopping any other prescription medicine or a medicine you buy including herbal remedies and supplements. </p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false" onclick="try {trackHTML('Taking with other medicines - more');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">
          <p>Some medicines speed up how quickly prednisolone is broken down by the body which means it doesn’t work as well as it should.</p>
          <p>Some medicines can slow down how quickly prednisolone is broken down by the body which means you are more likely to have side effects.</p>
          <p>Some medicines cause similar side effects to prednisolone so taking them together means you are more likely to have that particular side effect.</p>
          <p>Some of the side effects you may have with prednisolone mean that other medicines do not work as well as expected.</p>
        </div>
      </details>


      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>
          <details role="group">
            <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Can I drink alcohol');} catch(e) {}">
              <h3>Can I drink alcohol with prednisolone?</h3>
            </summary>
            <div id="questions-1" aria-hidden="true">
              <p>Yes, you can drink alcohol in moderation (14 units a week for men and women).</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - When will I feel better');} catch(e) {}">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>This can vary.</p>
              <p>For some illnesses, you can expect to feel better after a couple of days.</p>
              <p>For other illnesses, you may not feel any better even though the medicine is helping you.</p>
              <p>This may be the case if you’re taking prednisolone to stop your symptoms getting worse or to prevent a problem happening (for example after an organ transplant).</p>
              <p>Ask your doctor what to expect for people with your illness.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - How long will I take it for');} catch(e) {}">
              <h3>How long will I take prednisolone for?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>You may only need a short course of prednisolone for up to a week. Or you may need to take it for longer - even for many years or the rest of your life.</p>
              <p>If you've been prescribed a short course of prednisolone, it's very important that you finish the course of medicine as prescribed even if you feel better before you reach the end.</p>
              <p>If you've been prescribed a longer course of prednisolone, keep taking the medicine as prescribed until your doctor tells you to stop.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Are there any foods');} catch(e) {}">
              <h3>Are there any foods I shouldn't eat?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>You should not eat liquorice while taking prednisolone. It's thought that real liquorice increases the amount of prednisolone in the body and also increases the risk of low potassium.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Will it affect my fertility');} catch(e) {}">
              <h3>Will it affect my fertility?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
            <p>Prednisolone will not affect your fertility.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false" onclick="try {trackHTML('CQ - Will it affect my contraception');} catch(e) {}">
              <h3>Will it affect my contraception?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
            <p>For women, prednisolone will not affect contraceptive pills or the morning after pill.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take prednisolone</h2>
      <p>Prednisolone isn't suitable for certain people.</p>
      <p class="strong">Tell your doctor before starting the medicine if:</p>
      <ul>
        <li>you have had an allergic reaction to prednisolone or any other medicine or their ingredients</li>
        <li>you have an infection (including eye infections)</li>
        <li>you are trying to get pregnant, are already pregnant or breastfeeding</li>
        <li>you have recently been in contact with someone with <a href="http://www.nhs.uk/conditions/Shingles/Pages/Introduction.aspx" class="link__external">shingles</a>, <a href="http://www.nhs.uk/conditions/Chickenpox/Pages/Introduction.aspx" class="link__external">chickenpox</a> or <a href="http://www.nhs.uk/conditions/Measles/Pages/Introduction.aspx" class="link__external">measles</a> (unless you are sure you are immune to these infections)</li>
        <li>you have recently had, or are about to have, any vaccinations</li>
      </ul>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-4" tabindex="0" aria-expanded="false" onclick="try {trackHTML('Who may not be able to take it - more');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-4" aria-hidden="true">
          <p>Prednisolone can make some health problems worse if you are not monitored carefully.</p>
          <p class="strong">Make sure your doctor is aware if you have:</p>
          <ul>
            <li>a history of liver problems</li>
            <li>a history of mental health problems (either you or close family members)</li>
            <li>any unhealed wounds</li>
            <li>heart failure or a recent heart attack</li>
            <li>high blood pressure</li>
            <li>diabetes</li>
            <li>epilepsy</li>
            <li>glaucoma</li>
            <li>underactive thyroid</li>
            <li>osteoporosis (thinning bones)</li>
            <li>a stomach ulcer</li>
          </ul>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Prednisolone has occasionally been linked to problems when used in the first 12 weeks of pregnancy and can affect the growth of the baby but it is generally considered safe to take in pregnancy.</p>
      <p>Prednisolone is not usually recommended in pregnancy unless the potential benefits outweigh the risks.</p>
      <p class="callout">Tell your doctor if you plan to get pregnant or become pregnant while taking this medicine.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-5" tabindex="0" aria-expanded="true" onclick="try {trackHTML('Pregnancy and breastfeeding - more');} catch(e) {}">
          <span>More information</span>
        </summary>
        <div id="details-content-5" aria-hidden="false">
          <h3>Taking whilst breastfeeding</h3>
          <p>You can take prednisolone while you're breastfeeding. However, it passes into breast milk so it you are taking a high dose of prednisolone the baby may need to be monitored for signs of side effects.</p>
          <p>As a precaution, it's usually recommended that you wait three to four hours after taking your dose of prednisolone before feeding your baby or expressing milk.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about prednisolone</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - How predisolone works');} catch(e) {}">
            <h3>How prednisolone works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
          	<p>Steroids mimic the effects of hormones your body naturally produces in your adrenal glands, which sit on top of your kidneys.</p>
            <p>When prescribed in doses higher than your body's usual levels, steroids like prednisolone dampen inflammation. This can reduce the symptoms of inflammatory conditions, such as arthritis and <a href="http://www.nhs.uk/conditions/Asthma/Pages/Introduction.aspx" class="link__external">asthma</a>.</p>
            <p>Steroids also damp down your immune system, which can help in 'autoimmune' illnesses where your immune system mistakenly attacks its own tissues.</p>
          </div>
        </details>


        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Getting infections');} catch(e) {}">
            <h3>Getting infections</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
          	<p>Taking prednisolone means you are more likely to catch infections.</p>
            <p>Keep away from people with an infectious disease, especially chickenpox or shingles. If you have never had these illnesses they could make you very ill.</p>
            <p class="callout">If you come into contact with someone who has an infectious disease such as chickenpox or shingles tell your doctor straight away. Your doctor  may be able to prescribe a medicine to protect you.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Prednisolone and vaccinations');} catch(e) {}">
            <h3>Prednisolone and vaccinations</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
          	<p>Some vaccines are not suitable for you while you are taking prednisolone.</p>
            <p>Taking prednisolone lowers your immune system. If you have a 'live' vaccine, like the shingles vaccine, while you are taking prednisolone your immune system might not be able to handle it. This may lead to an infection. Inactive vaccinations, like the flu vaccine, are safe.</p>
            <p>If you need any vaccinations, mention that you are taking a steroid.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-4" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - The blue steroid card');} catch(e) {}">
            <h3>The blue steroid card</h3>
          </summary>
          <div id="more-4" aria-hidden="true">
          	<p>If you are taking prednisolone for longer than three weeks or you have been prescribed a high dose of more than 40mg daily, your doctor or pharmacist will give you a blue steroid treatment card.</p>
            <p>The card is the size of a credit card and fits in your wallet or purse. It gives advice on how you can reduce the risks of side effects. It also gives details of your doctor, how much prednisolone you take and how long the treatment will last for.</p>
            <p class="callout">If you need any medical or dental treatment show your blue steroid card to the doctor or dentist so they know that you are taking prednisolone. This is because you may need to take a higher dose of prednisolone for a short while.</p>
            <p>If you don’t have a blue steroid card, ask your doctor or pharmacist for one.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Long term effects');} catch(e) {}">
            <h3>Long term effects</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
          	<p>Taking prednisolone for  many months or years can have several harmful effects on your body. It can lead to:</p>
            <ul>
              <li>thinner bones</li>
              <li>poorly controlled <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx" class="link__external">diabetes</a></li>
              <li>eyesight problems</li>
              <li>slower growth and development in children and teenagers</li>
            </ul>

            <p>To check your bones, your doctor may arrange for you to have an occasional bone scan.</p>
            <p>If you have diabetes, you may need to check your blood glucose more often. Your doctor can advise you more about this.</p>
            <p>To reduce the chances of eyesight problems, try to visit an optometrist every 12 months to check for high pressure in your eye (<a href="http://www.nhs.uk/conditions/Glaucoma/Pages/Introduction.aspx" class="link__external">glaucoma</a>) and cataract.</p>
            <p>To reduce the long-term effects of prednisolone on growth, children and teenagers should have their height monitored regularly so that any slowing of growth can be picked up promptly.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Coming off prednisolone');} catch(e) {}">
            <h3>Coming off prednisolone</h3>
          </summary>
          <div id="more-6" aria-hidden="true">
          	<p class="callout">Don't stop taking prednisolone without talking to your doctor – you may need to reduce the dose gradually. </p>
            <p>If you stop taking prednisolone suddenly you may cause your condition to flare up again. You may also get potentially dangerous withdrawal symptoms including:</p>
            <ul>
              <li>severe tiredness</li>
              <li>weakness</li>
              <li>body aches</li>
              <li>joint pain</li>
            </ul>
            <p>Withdrawal problems are most likely to happen if you have taken prednisolone for more than a few weeks or you take more than 40mg daily.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false" onclick="try {trackHTML('More about - Other treatments');} catch(e) {}">
            <h3>Other treatments</h3>
          </summary>
          <div id="more-7" aria-hidden="true">
          	<p>There are other steroids available, for example:</p>
            <ul>
              <li>deflazacort</li>
              <li>dexamethasone</li>
              <li>methylprednisolone</li>
              <li>prednisone</li>
            </ul>
            <p>For most health problems, these steroids are very similar to prednisolone in terms of how well they work and how safe they are.</p>

            <h4>Non-medical treatment options</h4>
            <p>Prednisolone is usually only prescribed to treat serious health problems. Generally, there are no other non-medical treatment options.</p>
          </div>
        </details>
      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a href="http://www.nhs.uk/Conditions/Arthritis/Pages/Introduction.aspx" class="link__external">Arthritis</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/conditions/lupus/pages/introduction.aspx" class="link__external">Lupus</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/conditions/psoriasis/Pages/Introduction.aspx" class="link__external">Psoriasis</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/conditions/ulcerative-colitis/Pages/Introduction.aspx" class="link__external">Ulcerative colitis</a></li>
                <li class="module__list-item"><a href="http://www.nhs.uk/Conditions/Asthma/Pages/Introduction.aspx" class="link__external">Asthma</a></li>
              </ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list module__list-nomarginbottom">
                <li class="module__list-item"><a href="https://healthunlocked.com/" class="link__external">HealthUnlocked online community</a></li>
                <li class="module__list-item"><a href="https://www.asthma.org.uk/" class="link__external">Asthma UK</a></li>
                <li class="module__list-item"><a href="http://www.arthritisresearchuk.org/arthritis-information/conditions/arthritis.aspx" class="link__external">Arthritis Research UK</a></li>
                <li class="module__list-item"><a href="https://www.psoriasis-association.org.uk/" class="link__external">The Psoriasis Association</a></li>
                <li class="module__list-item"><a href="http://www.mollysfund.org/" class="link__external">Lupus: Molly’s Fund</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn3.userzoom.com/uz.js?cuid=AE08A9785B32E2119DA70022196C4538"></script>

{% endblock %}
