{% extends "templates/layout.html" %}

{% block page_title %}
  Pravastatin - NHS Medicines alpha
{% endblock %}

{% block hotjar %}
<script>
  (function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:265857,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
  $('.content a[href^="http"]').click(function(e) {
    e.preventDefault();
  });
});
</script>

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/pravastatin" class="link__unstyled">Pravastatin</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Pravastatin</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who shouldn't take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>Pravastatin belongs to a group of medicines called <a href="http://www.nhs.uk/conditions/Cholesterol-lowering-medicines-statins">statins</a>.</p>
      <p>It’s often used to lower the levels of cholesterol and other fatty substances (triglycerides) in the blood.</p>
      <p>It is also taken by people who have had a <a href="http://www.nhs.uk/conditions/Heart-attack/Pages/Introduction.aspx">heart attack</a> or who have unstable <a href="http://www.nhs.uk/conditions/Angina/Pages/Introduction.aspx">angina</a> to reduce the risk of another heart attack or <a href="http://www.nhs.uk/conditions/stroke/pages/introduction.aspx">stroke.</a> </p>
      <p>If you are at high risk of developing <a href="http://www.nhs.uk/Conditions/cardiovascular-disease">cardiovascular disease</a>, for example, because you have <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx" title="Diabetes">diabetes</a>, pravastatin also helps reduce this risk.</p>
      <p>Pravastatin can be taken by children over the age of 8.</p>
      <p>The medicine is available as tablets on prescription only.</p>


      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul class="key-facts">
        <li>Pravastatin works better if you take it in the evening.</li>
        <li>Pravastatin seems to be a very safe medicine. It is rare to have any side effects.</li>
        <li>Pravastatin can harm a baby. Tell your doctor if you are pregnant, planning to become pregnant or breastfeeding.</li>
        <li>Take pravastatin even if you feel well as you will still be getting the benefits. Most people with high cholesterol don’t have any symptoms.</li>
        <li>Unlike with other statins, it is safe to drink grapefruit juice with pravastatin</li>
      </ul>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
      </div>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Take pravastatin once a day in the evening.</p>
      <p>Pravastatin doesn't upset the stomach so you can take it with or without food.</p>
      <p>The usual dose is between 10mg and 40mg daily.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow pravastatin tablets whole with a glass of water.</p>
          <h3>How much will I take?</h3>
          <p>Your dose depends on the reason for taking it, your cholesterol levels and what other medicines you are taking.</p>
          <p>In adults, the usual dose is 10mg to 40mg once a day.</p>
          <p>In children aged 8 to 13 years old the usual dose is 10mg to 20mg once a day. In children aged 14 to 17 years old, the dose may range from 10mg to 40mg daily. Your doctor will work out the amount of pravastatin that is right for your child.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take your next dose the next day at the usual time. Never take two doses at the same time or extra doses.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of atorvastatin is unlikely to harm you.</p>
          <p>Speak to your pharmacist or doctor if you are worried, or take more than one extra dose.</p>
        </div>
      </details>




      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>Pravastatin seems to be a very safe medicine. It is rare to have side effects with it.</p>
      <p>One rare but serious side effect is unexplained muscle pain, tenderness or weakness.</p>
      <p><span class="alertbanner">Report any unexplained muscle pain, tenderness or weakness to a doctor straight away.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Serious side effects</h3>
          <p>It happens rarely but up to one in 1000 people taking pravastatin may have a serious side effect.</p>
          <p>Stop taking pravastatin and tell a doctor or go to hospital straight away if you develop:</p>
          <ul>
          <li>unexplained muscle pain, tenderness, weakness or cramps (a sign of muscle breakdown and kidney damage)</li>
          <li>liver problems: warning signs include yellowing of the skin and eyes, dark-coloured urine, pale coloured poo, itching, feeling tired or weak and loss of appetite</li>
          <li>severe tummy pain (a sign of inflammation of the pancreas)</li>
          <li>cough, feeling short of breath and weight loss (signs of interstitial lung disease)</li>
          </ul>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">These are not all the side effects of pravastatin. For a full list see the leaflet inside your medicine packet.</p>
          </div>

          <h3>Serious allergic reaction</h3>
          <p><span class="alertbanner">It's very rare to have an allergic reaction to pravastatin but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
          <ul>
          <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
          <li>wheezing</li>
          <li>tightness in the chest or throat</li>
          <li>trouble breathing or talking</li>
          <li>swelling of the mouth, face, lips, tongue or throat</li>
          </ul>
          <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including pravastatin, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>


      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who may not be able to take pravastatin</h2>
      <p>Pravastatin isn’t suitable for some people.</p>
      <p>Tell your doctor if you:</p>
      <ul>
      <li>have an allergy or intolerance to pravastatin</li>
      <li>have liver or kidney problems</li>
      <li>are trying for a baby, might become pregnant, are pregnant or breastfeeding</li>
      <li>have severe lung disease</li>
      <li>drink large amounts of alcohol (more than two glasses a day)</li>
      <li>have an <a href="http://www.nhs.uk/Conditions/Thyroid-under-active/Pages/Introduction.aspx">underactive thyroid</a></li>
      <li>have had muscular side effects when taking a statin in the past</li>
      <li>(or a close relative) have had a muscle disorder</li>
      </ul>

      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol while taking pravastatin.</p>
              <p>However, drinking a lot of alcohol may increase the risk of muscle and liver side effects.  Try not to drink more than two glasses a day.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>How long will I take pravastatin for?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>In most cases, treatment with a statin, such as pravastatin, is for life. The benefits will only continue for as long as you take it. If you stop taking pravastatin without starting a different treatment your cholesterol level may rise again.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
              <h3>Can I drive while taking pravastatin?</h3>
            </summary>
            <div id="questions-5" aria-hidden="true">
              <p>Most people can drive as normal while taking pravastatin. Occasionally, pravastatin can cause dizziness and blurred or double vision.</p>
              <p><span class="alertbanner">Don't drive or use machines or tools if you are suffering from dizziness or blurred or double vision.</span></p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Will it affect my contraception?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>For women, pravastatin will not affect contraceptive pills or the morning after pill.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it affect my fertility?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>There is no evidence atorvastatin will reduce your fertility.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Is this medicine addictive?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>No, there is no evidence that pravastatin is addictive.</p>
            </div>
          </details>

        </div>
      </div>


      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking pravastatin with other medicines</h2>
      <p>Some medicines affect the way pravastatin works and can increase the risk of serious side effects with pravastatin such as muscle damage. Pravastatin can also affect the way some medicines work.</p>
      <p><span class="alertbanner">Tell your doctor and pharmacist that you are taking any other medicines, including herbal remedies or supplements, before starting pravastatin.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Examples of medicines that may not mix well with pravastatin:</p>
<ul>
<li>some antibiotics and antifungals </li>
<li>some HIV medicines </li>
<li>some hepatitis C medicines</li>
<li>ciclosporin (treats <a href="http://www.nhs.uk/conditions/Psoriasis/Pages/Introduction.aspx">psoriasis</a> and <a href="http://www.nhs.uk/conditions/Rheumatoid-arthritis/Pages/Introduction.aspx">rheumatoid arthritis</a>)</li>
<li>colchicine (a medicine for <a href="http://www.nhs.uk/conditions/Gout/Pages/Introduction.aspx">gout</a>)</li>
</ul>

<p>If you are taking pravastatin and need to take one of these medicines, your doctor may:</p>

<ul>
  <li>prescribe a lower dose of pravastatin</li>
  <li>prescribe a different statin</li>
  <li>recommend that you temporarily stop taking your pravastatin</li>
</ul>

<h3>Mixing pravastatin with complementary remedies</h3>

<p>St John’s Wort, a herbal medicine taken for depression, reduces the amount of atorvastatin in your blood so it doesn't work as well.</p>
<p>Talk to your doctor before starting St John’s Wort as you may need a higher dose of atorvastatin.</p>
<p><span class="alertbanner">Tell your doctor and pharmacist that you are taking pravastatin before starting or stopping any complementary medicine.</span></p>

        </div>
      </details>

      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Pravastatin may harm a baby. Do not take it if you are pregnant or breastfeeding.</p>
      <p>If you become pregnant while taking atorvastatin, stop taking the medicine and tell your doctor.</p>
      <p><span class="alertbanner">Tell your doctor if you plan to get pregnant, become pregnant, or wish to breastfeed while taking this medicine.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <h3>Pravastatin and breastfeeding</h3
          <p>It's not known if pravastatin passes into breast milk but it may causes problems for your baby.</p>
          <p>Talk to your doctor, if you are breastfeeding, or wish to breastfeed, and you take pravastatin. You may be able to stop taking the medicine just while you breastfeed.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about pravastatin</h2>
      <div class="concertinas">
        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How pravastatin works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Pravastatin acts on the liver to stop it making cholesterol. This lowers your overall blood cholesterol level.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>Are there other cholesterol-lowering medicines?</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>There are several other cholesterol-lowering 'statin' medicines including:</p>
            <ul>
            <li>simvastatin</li>
            <li>fluvastatin</li>
            <li>atorvastatin</li>
            <li>rosuvastatin</li>
            </ul>
            <p>Statins all work in the same way, but they differ in how well they lower cholesterol.</p>
            <p>If you have a side effect with one statin, this may not happen with another. And some medicines don’t mix well with one statin but you can take them with a different one.</p>
            <p>Your doctor will find the right statin and dose for you, depending on your medical history, cholesterol level and the other medicines you take.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Coming off pravastatin</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p><span class="alertbanner">Talk to your doctor if you stop or want to stop taking pravastatin.</span></p>
            <p>You may want to stop pravastatin if you think you are having side effects. Talk to your doctor to see if it really is a side effect of pravastatin or another problem. It may help to lower your dose or change your medicine.</p>
            <p>Stopping pravastatin may cause your cholesterol to rise, this may increase your risk of heart attacks and strokes. If you want to stop taking the medicine, it's important to find another way to lower your cholesterol.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-5" aria-hidden="true">
            <p>There are lifestyle changes you can make that will help lower your cholesterol. Reducing your cholesterol may mean you don't need to be prescribed a statin medicine.</p>
            <ul>
            <li>Lose excess weight.</li>
            <li>Eat heart-healthy foods by decreasing saturated fat and increasing fibre, fruits, vegetables, whole grains and fish.</li>
            <li>Stop smoking.</li>
            <li>Reduce the amount of alcohol you drink.</li>
            <li>Exercise every day</li>
            </ul>
            <p>As part of a healthy diet, it can also help to include foods fortified with plant sterols and stanols which are proven to help lower cholesterol. You can buy spreads, cheese, cereals, granola bars, orange juice, wholemeal bread and <a href="http://www.webmd.boots.com/healthy-eating/features/health-benefits-yoghurt">yoghurt</a>-style drinks which have been fortified with plant sterols and stanols from most supermarkets.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Heart-attack/Pages/Introduction.aspx">Heart attack</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Angina/Pages/Introduction.aspx">Angina</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/stroke/pages/introduction.aspx">Stroke</a></li>
								<li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/cardiovascular-disease/Pages/Introduction.aspx">Cardiovascular disease</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
								<li class="module__list-item"><a class="link__external" href="https://www.bhf.org.uk/">British Heart Foundation</a></li>
								<li class="module__list-item"><a class="link__external" href="https://www.stroke.org.uk/">Stroke Association</a></li>
								<li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/">Health unlocked online community</a></li>
							</ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
