{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Taking prednisolone when you're pregnant or breastfeeding</h2>

      <h3>In pregnancy:</h3>
      <p>It's preferable to not take any medicines during pregnancy, but sometimes prednisolone may be prescribed in pregnancy if it's considered necessary for the health of mother and baby.</p>
      <p>Studies have shown a risk from prednisolone in the first 12 weeks of pregnancy. Prednisolone can also affect the growth of the unborn baby.</p>

      <p><em class="strong">DO NOT STOP YOUR MEDICATION but consult your doctor immediately if you intend to become pregnant or become pregnant while taking prednisolone.</em></p>

      <h3>While breastfeeding:</h3>
      <p>Prednisolone can be taken while breastfeeding, however, it does pass into breast milk so if you are taking a high-dose of prednisolone the baby may need to be monitored for signs of side effects.</p>
      <p>To reduce the amount of prednisolone your baby is exposed to:</p>

      <ul>
        <li>wait four hours between taking your dose of prednisolone and starting to breastfeed, or</li>
        <li>express sufficient breast milk just before taking your dose of prednisolone to cover the four-hour period after taking the dose</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/pregnancy-breastfeeding">
            <span class="prefix">Previous page:</span>
            <span class="title">Pregnancy/breastfeeding</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
