{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Taking prednisolone in pregnancy and when breastfeeding</h2>

      <p><em class="strong">There are risks associated with taking prednisolone in pregnancy.</em></p>

      <p>Prednisolone may cause problems when used in the first trimester of pregnancy and may also affect the growth of the unborn baby.</p>
      <p>Consult with your doctor immediately if you intend to become pregnant or become pregnant whilst taking this medicine.</p>

      <p><em class="strong">There are risks associated with taking high dose prednisolone when breastfeeding.</em></p>

      <p>If prednisolone is taken in high doses by a breastfeeding mother, the baby may need to be monitored for signs of side effects.</p>

      <p>It may help to wait four hours between taking a dose of prednisolone and breastfeeding. Alternatively, express sufficient breast milk just before taking a dose of prednisolone to cover the four-hour period after taking the dose.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/pregnancy-breastfeeding">
            <span class="prefix">Previous page:</span>
            <span class="title">Pregnancy/breastfeeding</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
