{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>Citalopram: dosage information</h2>

      <h3>Tablets</h3>
      <p>Citalopram is available as 10mg, 20mg and 40mg strength tablets.</p>
      <p>The usual dose is 20mg daily in adults. However, the starting dose of citalopram may be lower than 20mg daily and the dose can be increased to a maximum of 40mg daily <em class="italic">(unless you are over 65 years of age or have liver problems, in which case you’re advised a maximum dose of 20mg daily).</em></p>
      <p>Citalopram is not licensed for use in children under 12 years old. In 12 to 18-years-olds the usual dose is 10mg daily that can be increased if necessary to a maximum of 40mg daily.</p>

      <h3>Oral drops</h3>
      <p>Citalopram is available as oral drops of 40mg/ml where four drops (8mg) is equivalent to a 10mg tablet.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
