{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>Citalopram: dosage information</h2>

      <p>Citalopram is available as tablets (10mg, 20mg and 40mg) and as oral drops (40mg/ml).</p>
      <p>The usual dose of citalopram is 20mg daily in adults. However, citalopram may be started at a lower dose and can be increased to a maximum of 40mg daily (unless you are over 65 years or have liver problems when a maximum dose of 20mg daily is recommended).</p>
      <p>Citalopram is not licensed for use in children under 12 years old but in 12-18 years olds the usual dose is 10mg daily increased to 40mg daily if necessary.</p>
      <p>If you are taking the oral drops, four drops (8mg) is equivalent to taking ONE 10mg tablet.</p>

      <h3>Overdose warning!</h3>
      <p>If you take too much citalopram, contact your doctor immediately for advice. Overdose can be dangerous.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram/dosage">
            <span class="prefix">Previous page:</span>
            <span class="title">Dosage</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
