{% extends "templates/layout.html" %}

{% block page_title %}
  Pregabalin - NHS Medicines beta
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'More information on how and when to take' %}
{% set moreinfoSideEffects = 'More information on side effects' %}
{% set moreinfoWhoCanTake = 'More information on who can take pregabalin' %}
{% set moreinfoTakingWithOther = 'More information on taking with other medicines' %}
{% set moreinfoPregnancy = 'More information on pregnancy and breastfeeding' %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/pregabalin" class="link__unstyled">Pregabalin</a></h1>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Pregabalin</h2>
        <ol class="page-nav-list page-nav-list--numbered list-numbered">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#how-to-cope">How to cope with side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Pregnancy and breastfeeding</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ol>
      </div>
    </div>

    <div class="column-two-thirds tabs-content">
{% include "./includes/intro.html" %}

<details>
  <summary>Show/Hide me</summary>
  <div>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  </div>
</details>

<br /><br /><br />

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-test" tabindex="0" aria-expanded="true">
    Show hide with attributes
  </summary>
  <div id="details-content-test" aria-hidden="false">
    <p>Content inside a div with aria-hidden attribute</p>
  </div>
</details>

<br /><br /><br />

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-test" tabindex="0" aria-expanded="true">Show hide with attributes and no space between summary tag</summary>
  <div id="details-content-test" aria-hidden="false">
    <p>Content inside a div with aria-hidden attribute and no space in summary tag</p>
  </div>
</details>

<br /><br /><br />

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-how" tabindex="0" aria-expanded="true">
    <span>Show hide with span</span>
  </summary>
  <div id="details-content-how" aria-hidden="false">
    <p>To prevent side effects, your doctor will prescribe a low dose to start with and then increase it over a few days.</p>
    <p>Swallow pregabalin capsules whole with a drink of water or juice. Do not chew them.</p>
    <p>If you are taking pregabalin as a liquid, it will come with a syringe or spoon to measure your dose. If you don’t have a syringe or spoon, ask your pharmacist for one.</p>
  </div>
</details>
</section>

<br /><br /><br />

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-how" tabindex="0" aria-expanded="true"><span>Show hide with span and no space</span></summary>
  <div id="details-content-how" aria-hidden="false">
    <p>To prevent side effects, your doctor will prescribe a low dose to start with and then increase it over a few days.</p>
    <p>Swallow pregabalin capsules whole with a drink of water or juice. Do not chew them.</p>
    <p>If you are taking pregabalin as a liquid, it will come with a syringe or spoon to measure your dose. If you don’t have a syringe or spoon, ask your pharmacist for one.</p>
  </div>
</details>
</section>

<br /><br /><br />

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-how" tabindex="0" aria-expanded="true">
    <span>Show hide without span</span>
  </summary>
  <div id="details-content-how" aria-hidden="false">
    <p>To prevent side effects, your doctor will prescribe a low dose to start with and then increase it over a few days.</p>
    <p>Swallow pregabalin capsules whole with a drink of water or juice. Do not chew them.</p>
    <p>If you are taking pregabalin as a liquid, it will come with a syringe or spoon to measure your dose. If you don’t have a syringe or spoon, ask your pharmacist for one.</p>
  </div>
</details>
</section>

<br /><br /><br />


<ol class="list-numbered">
<li>{% include "./includes/keyfacts.html" %}</li>
<li>{% include "./includes/how-when-to-take.html" %}</li>
<li>{% include "./includes/side-effects.html" %}</li>
<li>{% include "./includes/how-to-cope.html" %}</li>
<li>{% include "./includes/taking-with-others.html" %}</li>
<li>{% include "./includes/common-questions.html" %}</li>
<li>{% include "./includes/who-can-take.html" %}</li>
<li>{% include "./includes/pregnancy-breastfeeding.html" %}</li>
<li>{% include "./includes/more-about.html" %}
</ol>
{% include "./includes/links.html" %}
    </div>
  </div>
</main>

<script>
  /* window.addEventListener('touchstart', function() {
    $('summary').blur();
  }); */
$('summary > span').on("click", function() {
  $(this).blur();
});
/*
$('summary').on("click", function() {
  console.log('clicked');
  $(this).blur();
});
*/
</script>

<script src="/public/javascripts/scroll-to-content.js"></script>

{% endblock %}
