{% extends "templates/layout.html" %}

{% block page_title %}
  Pregabalin - NHS Medicines beta
{% endblock %}

{% block content %}

{% set moreinfoHowWhen = 'More information on how and when to take' %}
{% set moreinfoSideEffects = 'More information on side effects' %}
{% set moreinfoWhoCanTake = 'More information on who can take pregabalin' %}
{% set moreinfoTakingWithOther = 'More information on taking with other medicines' %}
{% set moreinfoPregnancy = 'More information on pregnancy and breastfeeding' %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap u-floatnone">
      <div class="header__content">
        <h1 class="header__main"><a href="/pregabalin" class="link__unstyled">Pregabalin</a></h1>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row floating-nav">

    <div class="column-one-third page-nav" date-module="highlight-active-section-heading">
      <div class=" js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
        <h2 class="page-nav-title">Pregabalin</h2>
        <ol class="page-nav-list page-nav-list--numbered list-numbered">
          <li class=""><a href="#key-facts">Key facts</a></li>
          <li class=""><a href="#how-when">How and when to take</a></li>
          <li class=""><a href="#side-effects">Side effects</a></li>
          <li class=""><a href="#how-to-cope">How to cope with side effects</a></li>
          <li class=""><a href="#taking-with-others">Taking with other medicines</a></li>
          <li class=""><a href="#common-questions">Common questions</a></li>
          <li class=""><a href="#who-can-take">Who can take it</a></li>
          <li class=""><a href="#pregnancy">Pregnancy and breastfeeding</a></li>
          <li class=""><a href="#more">More about</a></li>
        </ol>
      </div>
    </div>

    <div class="column-two-thirds tabs-content">
{% include "./includes/intro.html" %}

<details>
  <summary>Show/Hide me</summary>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</details>

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-test" tabindex="0" aria-expanded="true">
    Show hide with attributes
  </summary>
  <div id="details-content-test" aria-hidden="false">
    <p>Content inside a div with aria-hidden attribute</p>
  </div>
</details>

<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-test" tabindex="0" aria-expanded="true">Show hide with attributes and no space between summary tag</summary>
  <div id="details-content-test" aria-hidden="false">
    <p>Content inside a div with aria-hidden attribute and no space in summary tag</p>
  </div>
</details>


<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-how-when" tabindex="0" aria-expanded="true">
    <span>How and when to take</span>
  </summary>
  <div id="details-content-how-when" aria-hidden="false">
    <p>To prevent side effects, your doctor will prescribe a low dose to start with and then increase it over a few days.</p>
    <p>Swallow pregabalin capsules whole with a drink of water or juice. Do not chew them.</p>
    <p>If you are taking pregabalin as a liquid, it will come with a syringe or spoon to measure your dose. If you don’t have a syringe or spoon, ask your pharmacist for one.</p>
    <h3>Will my dose go up or down?</h3>
    <p>Pregabalin capsules come in a variety of different strengths.</p>
    <p>The dose of pregabalin you have been prescribed depends on your illness, your age, how well your kidneys work, and how severe your symptoms are.</p>
    <p>When you first start taking pregabalin your dose might be gradually increased. This is to let your body get used to it and find a dose that works well for you.</p>
    <p>Once you find a dose that suits you your dose will not usually change any more.</p>
    <h3>How long will I take it for?</h3>
    <p>If you have epilepsy, it is likely that once your illness is under control you will continue to take pregabalin for many years.</p>
    <p>If you have nerve pain or anxiety it is likely that once your symptoms have gone you will continue to take pregabalin for several months to stop them coming back.</p>
    <h3>What if I forget to take it?</h3>
    <p>If you forget a dose, take it as soon as you remember. If it is within 2 hours of the next dose, it is better to leave out the missed dose and take your next dose as normal.</p>
    <p>Never take two doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
    <p>If you have epilepsy, it’s important to take the medicine regularly as recommended by your doctor. Missing doses may trigger a seizure. If you forget doses often, it may help to get a special pillbox or a watch with an alarm to remind you.</p>
    <h3>What if I take too much?</h3>
    <p>Taking too much pregabalin by accident may cause unpleasant side effects. These include feeling sleepy, confused or agitated, seizures, and passing out.</p>
    <p>If this happens, call your doctor straight away, or go to the nearest hospital accident and emergency department.</p>
    <p>Take with you any pregabalin that you have left, and the labelled container so the hospital can see what you have taken.</p>
  </div>
</details>
</section>


<ol class="list-numbered">
<li>{% include "./includes/keyfacts.html" %}</li>
<li>{% include "./includes/how-when-to-take.html" %}</li>
<li>{% include "./includes/side-effects.html" %}</li>
<li>{% include "./includes/how-to-cope.html" %}</li>
<li>{% include "./includes/taking-with-others.html" %}</li>
<li>{% include "./includes/common-questions.html" %}</li>
<li>{% include "./includes/who-can-take.html" %}</li>
<li>{% include "./includes/pregnancy-breastfeeding.html" %}</li>
<li>{% include "./includes/more-about.html" %}
</ol>
{% include "./includes/links.html" %}
    </div>
  </div>
</main>

<script src="/public/javascripts/scroll-to-content.js"></script>

{% endblock %}
