<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>How does ibuprofen work?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Ibuprofen is a type of medicine called a non-steroidal anti-inflammatory drug (NSAID). It works by reducing hormones that cause pain and swelling in the body.</p>
          <p>When you apply ibuprofen to your skin, it works in the same way as when you take it by mouth, but it only works in the area that you have applied it to.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>Is ibuprofen or paracetamol better?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>Ibuprofen and paracetamol are similar strengths but they work in different ways. So ibuprofen is better for some types of pain than paracetamol.</p>
          <p>Paracetamol is usually best for most types of pain, including headache, stomach ache and nerve pain such as sciatica. </p>
          <p>Ibuprofen is better for period pain or toothache. Some people find ibuprofen better than paracetamol for back pain.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>It's usually safe to drink alcohol while taking ibuprofen, but drinking too much alcohol (more than 14 units a week) may irritate your stomach.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>When will I feel better?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>You should start to feel less pain 20 to 30 minutes after taking ibuprofen by mouth.</p>
          <p>For some types of long-term pain, you will need to take ibuprofen regularly for up to 3 weeks for it to work properly.</p>
          <p>If you are applying ibuprofen to your skin, it should start to work within a day or two.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>How long will I take ibuprofen for?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>If you are taking ibuprofen for a short-lived pain like toothache or period pain, you may only need to take it for a day or two.</p>
          <p>You may need to take ibuprofen for longer if you have a long-term health problem such as rheumatoid arthritis.</p>
          <p>If you do need to take ibuprofen for more than 6 months, your doctor may prescribe a medicine to help protect your stomach from any side effects.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Can I take paracetamol with ibuprofen?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>You can take paracetamol and ibuprofen together to reduce pain and fever if one doesn’t work well enough on its own.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Will ibuprofen affect my fertility?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>Taking ibuprofen, in large doses or for a long time can affect ovulation in women, possibly making it more difficult for you to get pregnant. This is usually reversible when you stop taking ibuprofen.</p>
          <p>Don’t take ibuprofen if you are trying for a baby. Paracetamol is a better option.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>Will ibuprofen affect my contraception?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>Ibuprofen does not affect any contraceptives including the contraceptive pill and the morning after pill.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>What if I don’t get better?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>If you need to take ibuprofen tablets for more than 10 days, or if your symptoms don’t improve or get worse, talk to your doctor.</p>
          <p>If you need to apply ibuprofen to your skin for more than 2 weeks, or if your symptoms don’t improve or get worse, talk to your doctor.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-10" tabindex="0" aria-expanded="false">
          <h3>Can I take ibuprofen with other painkillers?</h3>
        </summary>
        <div id="questions-10" aria-hidden="true">
          <p>It's safe to take ibuprofen with other types of painkiller such as paracetamol and codeine.</p>
          <p>Do not take ibuprofen with similar painkillers such as aspirin and naproxen.</p>
          <p>Ibuprofen is a type of medicine called a non steroidal anti-inflammatory drugs (NSAID). Aspirin and naproxen are also NSAIDs. Taking two NSAIDs together can make side effects worse.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Can I take ibuprofen for a long time?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>It's safe to take ibuprofen regularly for many years if you need to as long as you don't take more than the recommended dosage.</p>
          <p>If you need to take ibuprofen for a long time and you are at risk of getting a stomach ulcer, your doctor may prescribe a medicine to help protect your stomach.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-12" tabindex="0" aria-expanded="false">
          <h3>Does ibuprofen cause stomach ulcers?</h3>
        </summary>
        <div id="questions-12" aria-hidden="true">
          <p>Ibuprofen can cause ulcers in your stomach or gut especially if you take it for a long time or in big doses, or if you're elderly or in poor general health.</p>
          <p>If you need to take ibuprofen and you are at risk of getting a stomach ulcer, your doctor may prescribe a medicine to help protect your stomach.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-13" tabindex="0" aria-expanded="false">
          <h3>What if ibuprofen doesn’t work?</h3>
        </summary>
        <div id="questions-13" aria-hidden="true">
          <p>If ibuprofen doesn’t work, there are other pharmacy painkillers that you can try such as:</p>
          <ul>
            <li>paracetamol</li>
            <li>aspirin</li>
            <li>co-codamol (paracetamol combined with low-dose codeine)</li>
          </ul>
          <p>If pharmacy painkillers don’t work, your doctor may be able to prescribe a stronger painkiller or recommend another treatment such as <a href="http://www.nhs.uk/livewell/fitness/Pages/Fitnesshome.aspx">exercise</a> or <a href="http://www.nhs.uk/conditions/physiotherapy/Pages/Introduction.aspx">physiotherapy</a>.</p>
          <p>Ibuprofen doesn’t work for certain types of pain, for example, nerve pain such as sciatica. Your doctor will have to prescribe a different medicine if your pain is related to your nerves.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-14" tabindex="0" aria-expanded="false">
          <h3>Is there any food or drink to avoid?</h3>
        </summary>
        <div id="questions-14" aria-hidden="true">
          <p>You can eat and drink normally while taking ibuprofen.</p>
          <p>It is best to give ibuprofen with, or just after, a meal, so that it does not upset your child’s stomach. Do not give it on an empty stomach.</p>
        </div>
      </details>

    </div>
  </div>
</section>
