<section class="u-section-separator">
  <h2 class="content__h2">Key facts</h2>
  <ul>
    <li>Ibuprofen takes 20 to 30 minutes to work if you take it by mouth. It takes a day or two to work if you apply it to your skin.</li>
    <li>Ibuprofen is an anti-inflammatory drug (NSAID). It works by reducing hormones that cause pain and swelling in the body.</li>
    <li>Paracetamol is usually the best treatment for most types of pain but ibuprofen is better for period pain or toothache. Some people find ibuprofen better than paracetamol for back pain.</li>
    <li>If you have muscle or joint pain in a particular part of your body, such as a strain, sprain or a sports injury, applying ibuprofen directly to your skin is a good option to try before tablets. You are less likely to get side effects if you use ibuprofen in this way.</li>
    <!-- <li>Ibuprofen is called by different brand names, including Nurofen, Brufen, Calprofen, Fenbid, Ibugel and Ibuleve.</li> -->
  </ul>

  <div class="callout callout--info callout--info--full">
    <h3 class="u-nomargintop u-font16">Common brand names</h3>
    <p>Nurofen, Brufen, Calprofen, Fenbid, Ibugel, Ibuleve</p>
  </div>

</section>
