<ul class="u-marginbottom10 list-nobullet">
  <li class="u-inline"><a href="#" class="link-share">Share</a></li>
  <li class="u-inline"><a href="#" onclick="window.print(); return false;" class="link-print">Print this information</a></li>
</ul>

<div class="share-options-wrap js-popup">
  <div class="share-options">
    <ul class="share-options__list list-nobullet">
      <li><a href="#" class="share-twitter">Twitter</a></li>
      <li><a href="#" class="share-facebook">Facebook</a></li>
      <li><a href="#" class="share-whatsapp">Whatsapp</a></li>
      <li><a href="#" class="share-email">Email</a></li>
    </ul>
    <a href="#" class="share-close">Close popup</a>
  </div>
</div>
