{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Who may not be able to take paracetamol</h2>

      <p><em class="strong">Do not take paracetamol if:</em></p>

      <ul>
        <li>you are allergic to paracetamol or any of the other ingredients listed in the tablets or liquid</li>
        <li>you suffer from any kidney or liver impairment or alcoholic liver disease</li>
      </ul>

      <p><em class="strong">Important information about some of the ingredients of paracetamol tablets</em></p>

      <p>Sodium metabisulphite can cause allergic type reactions including anaphylactic symptoms and bronchospasm in susceptible people, especially those with a history of asthma or allergy.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/who-may-not-be-able-to-take">
            <span class="prefix">Previous page:</span>
            <span class="title">Who may not be able to take paracetamol</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
