{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Who may not be able to take paracetamol</h2>

      <p>Ask your doctor or pharmacist about the safe dose of paracetamol if you:</p>

      <ul>
        <li>are very thin</li>
        <li>have a history of liver or kidney problems</li>
        <li>are a heavy drinker</li>
        <li>take medicines for epilepsy or tuberculosis</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/who-may-not-be-able-to-take">
            <span class="prefix">Previous page:</span>
            <span class="title">Who may not be able to take paracetamol</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
