{% extends "templates/layout.html" %}

{% block page_title %}
  Trimethoprim - NHS Medicines alpha
{% endblock %}

{% block content %}

<div class="header__nav-container">
  <div class="header__nav-container-wrap clear">
    <div class="header__wrap">
      <div class="header__content">
        <h1 class="header__main"><a href="/trimethoprim" class="link__unstyled">Trimethoprim</a></h1>
      </div>
    </div>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav__header-wrap">
        <h2 class="nav__header"><span class="nav__header-title">Trimethoprim</span> <span class="nav__header-text">contents</span></h2>
        <div class="nav__dropdown">
          <a role="button" aria-expanded="false" aria-controls="nav__list-container" href="#toggle-nav" class="nav__toggle"><span class="sr-only">Toggle navigation</span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span><span class="nav__burger-bar"></span></a>
        </div>
      </div>
      <div id="nav__list-wrap" class="nav__list-wrap" aria-hidden="true">
        <ul class="nav__list nav__list-nomore nav__list-column3">
          <li class="nav__list-item"><a href="#key-facts" class="nav__list-link">Key facts</a></li>
          <li class="nav__list-item"><a href="#how-when" class="nav__list-link">How and when to take</a></li>
          <li class="nav__list-item"><a href="#side-effects" class="nav__list-link">Side effects</a></li>
          <li class="nav__list-item"><a href="#not-be-able" class="nav__list-link">Who can take it</a></li>
          <li class="nav__list-item"><a href="#common-questions" class="nav__list-link">Common questions</a></li>
          <li class="nav__list-item"><a href="#taking-with-others" class="nav__list-link">Taking with other medicines</a></li>
          <li class="nav__more arrow-down" aria-hidden="true"><a href="" class="nav__more-link" role="button">More</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#pregnancy" class="nav__list-link">Pregnancy advice</a></li>
          <li class="nav__list-item nav__list-more-item"><a href="#more" class="nav__list-link">More info</a></li>
        </ul>
        <ul class="nav__list nav__list-more clear">
        </ul>
      </div>
    </nav>
  </div>
</div>

<main id="content" role="main" class="content">
  <div class="grid-row">

    <div class="column-two-thirds">
      <p>Trimethoprim is a type of medicine known as an antibiotic.</p>
      <p>It is widely used to treat <a href="http://www.nhs.uk/conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">urine infections</a> such as <a href="http://www.nhs.uk/Conditions/cystitis/Pages/Introduction.aspx">cystitis</a>.</p>
      <p>Occasionally, trimethoprim is used to treat other types of infections, such as <a href="http://www.nhs.uk/conditions/respiratory-tract-infection/pages/introduction.aspx">chest infections</a> and <a href="http://www.nhs.uk/Conditions/Acne/Pages/Introduction.aspx">acne</a>. </p>
      <p>Trimethoprim is available on prescription as tablets and as a liquid that you drink.</p>

      <h2 id="key-facts" class="content__h2 noborder">Key facts</h2>
      <ul>
        <li>Trimethoprim is usually taken twice a day to treat infections.</li>
        <li>For most infections you will feel better within a few days.</li>
        <li>Side effects may include itching or a mild skin rash but this is usually mild and short-lived.</li>
        <li>You can drink alcohol while taking trimethoprim.</li>
        <li>It’s unlikely that drinking cranberry juice or taking cranberry supplements helps to treat or prevent urine infections.</li>
      </ul>


      <h2 class="content__h2 content__h2--separator" id="how-when">How and when to take</h2>
      <p>Trimethoprim is usually taken twice a day to treat an infection – once in the morning and once in the evening. You can take it with or without food.</p>
      <p>Usually, the dose of trimethoprim to treat urine infections is 200mg twice a day. Your doctor might recommend you double the first dose to 400mg.</p>
      <p>Doses are usually lower for elderly people and people with kidney problems.</p>
      <p><span class="alertbanner">Carry on taking this medicine until the course is completed even if you feel better. If you stop your treatment early your problem could come back.</span></p>


      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-1" aria-hidden="false">
          <p>Swallow trimethoprim tablets whole with a drink of water. Do not chew or break them.</p>
          <p>Trimethoprim is available as a liquid for people who find it difficult to swallow tablets.</p>
          <p>If you are taking trimethoprim as a liquid, it will usually be made up for you by your pharmacist. The medicine will come with a dose-measuring plastic syringe or spoon to help you take the right amount. If you don’t have a dose-measuring device, ask your pharmacist for one.</p>
          <p>The dose of trimethoprim that you need to take depends on your illness, your age, and how well your kidneys work.</p>
          <p>The usual dose of trimethoprim to:</p>
          <ul>
            <li>prevent infections is 100mg once a day</li>
            <li>treat cystitis that comes on after having sex is a one-off dose of 100mg</li>
            <li>treat acne is 300mg twice a day. This dose might be reduced over time</li>
          </ul>
          <p>If you’re taking trimethoprim to prevent an infection, take it at bedtime.</p>
          <p>If you have been prescribed trimethoprim as a treatment for cystitis that comes on after having sex, take it as a single dose within two hours of having sex.</p>
          <h3>How long will I take it for?</h3>
          <p>The length of time you will need to take trimethoprim for depends on how bad and where your infection is, your age, whether you are male or female, and whether you have any other health problems.</p>
          <ul>
            <li>Women with straightforward urine infections usually take a three day course of treatment.</li>
            <li>Men and pregnant women with straightforward urine infections usually take a 14 day course of treatment.</li>
            <li>People with a particularly severe or complicated urine infection, or a catheter, usually take a 14 day course of treatment.</li>
            <li>A treatment course for 4 to 6 weeks could be needed if the urine infection causes swelling of the prostate gland in men (<a href="http://www.nhs.uk/conditions/Prostatitis/Pages/Introduction.aspx">prostatitis</a>).</li>
            <li>For preventing urine infections, or as a treatment for acne, treatment may continue for at least six months.</li>
          </ul>
          <p>It’s very important that you continue taking trimethoprim until your course is finished, even if you feel better, to help to stop the infection coming back.</p>
          <h3>What if I forget to take it?</h3>
          <p>If you forget to take a dose, take one as soon as you remember, unless it is nearly time for your next dose. In this case just leave out the missed dose and take your next dose as normal. Never take two doses at the same time or an extra dose to make up for a forgotten one.</p>
          <h3>What if I take too much?</h3>
          <p>Accidentally taking an extra dose of trimethoprim is unlikely to harm you but it may increase the chances of temporary side effects such as feeling sick, vomiting and diarrhoea.</p>
          <p>Speak to 111 or your doctor or pharmacist if you:</p>
          <ul>
            <li>are worried or get severe side effects</li>
            <li>have taken more than one extra dose</li>
          </ul>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="side-effects">Side effects</h2>
      <p>You're unlikely to get side effects from trimethoprim. Some people get itching or a skin rash, but this is usually mild and goes away after you stop taking the medicine.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-3" aria-hidden="false">
          <h3>Common side effects</h3>
          <p>The most common side effects with trimethoprim are itching or a mild rash.</p>
          <p>It can also make you feel sick or have diarrhoea. Trimethoprim may also cause headaches.</p>
          <h3>Serious side effects</h3>
          <p>In general, side effects are rare and happen in fewer than one in 10,000 people.</p>
          <p>Tell a doctor or call NHS 111 straight away if you have:</p>
          <ul>
            <li>high potassium in your blood. Warning signs include muscle weakness; being unable to move or feel anything, an abnormal heart beat; chest pains, and feeling sick</li>
            <li>low salt in your blood. Warning signs include muscle cramps, tiredness, feeling or being sick, feeling confused and headache</li>
            <li>serious skin reactions or rashes. These might include irregular, circular red patches, peeling, blisters, skin ulcers, or swelling of the skin that looks like burns</li>
            <li><a href="http://www.nhs.uk/conditions/Meningitis/Pages/Introduction.aspx">meningitis</a> - this is very rare, but warning signs include headache, fever, stiff neck, tiredness, feeling ill and your eyes becoming very sensitive to bright light</li>
            <li>diarrhoea, possibly with stomach cramps, that is also severe, contains blood or mucus or lasts for longer than four days</li>
            <li>a problem with your blood: warning signs include bruising or bleeding which you can’t explain (including nose bleeds), sore throat, mouth ulcers, a high temperature, feeling tired or generally unwell</li>
          </ul>
          <h3>Serious allergic reactions</h3>
          <p><span class="alertbanner">It’s rare to have a serious allergic reaction to trimethoprim but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
          <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
          <ul>
            <li>difficulty breathing</li>
            <li>swelling of the face, lips or throat</li>
            <li>severe skin reactions including large fluid-filled blisters, sores and ulcers</li>
            <li>ulcers in the throat and mouth</li>
          </ul>
          <h3>Coping with side effects</h3>
          <h4>What to do about itching or a mild rash</h4>
          <p>Try rubbing in a gentle, fragrance-free skin moisturiser over the affected skin.</p>
          <p>It may also help to take an antihistamine which you can buy from a pharmacy. Check with the pharmacist to see what type is suitable for you.</p>
          <h4>What to do about feeling sick</h4>
          <p>Try taking trimethoprim with or after food to see if that helps to ease feelings of sickness. It may also help if you avoid rich or spicy food while you're taking this medicine.</p>
          <h4>What to do about diarrhoea and vomiting</h4>
          <p>Drink plenty of water or other fluids if you have <a href="http://www.nhs.uk/conditions/Diarrhoea/Pages/Introduction.aspx">diarrhoea</a> or you are being sick. It may also help to take oral rehydration solutions which you can buy from a pharmacy to prevent <a href="http://www.nhs.uk/conditions/dehydration/Pages/Introduction.aspx">dehydration</a>.</p>
          <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
          <h4>What to do about headaches</h4>
          <p>Make sure you rest and drink plenty of fluids. Don’t drink too much alcohol.</p>
          <p>Painkillers that you can buy such as <a href="http://www.nhs.uk/conditions/painkillers-paracetamol/pages/introduction.aspx">paracetamol</a> and <a href="http://www.nhs.uk/conditions/Painkillers-ibuprofen/Pages/Introduction.aspx">ibuprofen</a> are safe to take with trimethoprim. Speak to your doctor if these don’t help with the headaches or if you have other symptoms, particularly those of meningitis (see serious side effects).</p>

          <div class="disclaimer__info">
            <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
            <p class="disclaimer__info-text">If you have a side effect from any medicine, including trimethoprim, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
          </div>

        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="not-be-able">Who can take trimethoprim</h2>
      <p>To make sure trimethoprim is safe for you, tell your doctor if you:</p>
      <ul>
        <li>have ever had an allergic reaction to trimethoprim</li>
        <li>have liver or kidney problems</li>
        <li>have anaemia, or low amounts of folic acid (folate) in your blood</li>
        <li>have porphyria (a rare inherited blood disorder) or any other blood disorder</li>
        <li>are trying to get pregnant, are already pregnant or breastfeeding</li>
      </ul>



      <div class="concertinas concertinas--separator" id="common-questions">
        <div class="concertinas--bg">
          <h2 class="content__h2 content__h2--inconcertina">Common questions</h2>

          <details role="group">
            <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
              <h3>Can I drink alcohol?</h3>
            </summary>
            <div id="questions-3" aria-hidden="true">
              <p>Yes, you can drink alcohol with trimethoprim.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
              <h3>Will it give me thrush?</h3>
            </summary>
            <div id="questions-4" aria-hidden="true">
              <p>Some people get a fungal infection called thrush after taking a course of antibiotics like trimethoprim. Antibiotics kill the normal harmless bacteria which help to defend against thrush. Symptoms include redness and itching in the mouth. Women may have vaginal itching. If this happens to you, speak with your doctor or pharmacist for advice.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
              <h3>Can I drive?</h3>
            </summary>
            <div id="questions-6" aria-hidden="true">
              <p>Yes, trimethoprim should not affect your ability to drive.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>When will I feel better?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>You should feel better within a few days.  </p>
              <p>It’s important that you continue taking trimethoprim until your course is finished, even if you feel better, to stop the infection coming back.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
              <h3>Will it reduce my fertility?</h3>
            </summary>
            <div id="questions-7" aria-hidden="true">
              <p>For men and women, trimethoprim will not reduce fertility.</p>
            </div>
          </details>

          <details role="group">
            <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
              <h3>Will it stop my contraception working?</h3>
            </summary>
            <div id="questions-8" aria-hidden="true">
              <p>No, trimethoprim doesn’t stop contraceptive pills, or any other type of contraceptive, from working.</p>
              <p>However, if trimethoprim makes you vomit or have diarrhoea for more than 24 hours, your contraceptive pills (but not other types of contraceptive) may not protect you from pregnancy as well as they should. If this happens, follow the instructions in the leaflet provided with your contraceptive pills.</p>
            </div>
          </details>

        </div>
      </div>



      <h2 class="content__h2 content__h2--separator" id="taking-with-others">Taking trimethoprim with other medicines</h2>
      <p>There are many medicines that do not mix well with trimethoprim and can change the way it works.</p>
      <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements, before starting trimethoprim.</span></p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-8" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-8" aria-hidden="false">
          <p>Tell your doctor if you are taking these medicines before starting trimethoprim:</p>
          <ul>
            <li>an antibiotic called rifampicin</li>
            <li>a blood thinner, such as warfarin </li>
            <li>digoxin (a heart medicine)</li>
            <li>phenytoin (an epilepsy medicine)</li>
            <li>diabetes medicines called replaglinide and pioglitazone</li>
          </ul>
          <p>Typhoid vaccine given by mouth may not work properly if you’re taking trimethoprim. This doesn’t apply to typhoid vaccines given by injection.</p>
          <h3>Mixing trimethoprim with complementary remedies</h3>
          <p>There are no known problems with taking herbal and complementary remedies with trimethoprim.</p>
          <p>For safety, speak to your pharmacist or doctor before taking trimethoprim if you routinely take any herbal or alternative remedies.</p>
        </div>
      </details>



      <h2 class="content__h2 content__h2--separator" id="pregnancy">Pregnancy and breastfeeding</h2>
      <p>Trimethoprim isn’t the safest antibiotic to take in pregnancy but doctors generally agree that you can take it if the benefits outweigh the risks.</p>
      <p>For safety, tell your doctor if you are pregnant or become pregnant while taking this medicine.</p>
      <p>It is safe to breastfeed while taking trimethoprim.</p>

      <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-9" tabindex="0" aria-expanded="true">
          <span>More information</span>
        </summary>
        <div id="details-content-9" aria-hidden="false">
          <p>Trimethoprim has been linked with a small risk of problems for the unborn baby if it is taken in early pregnancy.</p>
          <p>A substance called folic acid is important for normal development of the unborn baby. Pregnant women are routinely advised to take a 400mcg folic acid supplement every day for the first 12 weeks.</p>
          <p>Trimethoprim lowers levels of folic acid in the bloodstream. Therefore, if you take this medicine during the first 12 weeks of pregnancy, your doctor will probably prescribe a high dose of folic acid (5mg daily) for you to take along with the trimethoprim.</p>
          <p>There are no known risks to a pregnant woman or her unborn baby from taking trimethoprim after the first 12 weeks.</p>
          <h3>Breastfeeding</h3>
          <p>General advice is that you can breastfeed as normal while taking trimethoprim.</p>
          <p>Trimethoprim passes into breast milk, but only in tiny amounts which are not harmful to the baby.</p>
          <p>Talk to your pharmacist or doctor if you are worried.</p>
        </div>
      </details>


      <h2 class="content__h2 content__h2--separator content__h2--outconcertina" id="more">More about trimethoprim</h2>
      <div class="concertinas">

        <details role="group">
          <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
            <h3>How does trimethoprim works</h3>
          </summary>
          <div id="more-1" aria-hidden="true">
            <p>Trimethoprim kills bacteria by stopping them from making a substance called folic acid, which they need to survive. This is why trimethoprim can sometimes cause low folic acid levels in your blood over time.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>If symptoms don't improve</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>Tell your doctor if you don’t start feeling better after taking trimethoprim for three days, or at any time if you start to feel worse.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
            <h3>Non-medical treatment options</h3>
          </summary>
          <div id="more-3" aria-hidden="true">
            <p>It’s possible that a straightforward urine infection may clear up on its own without any treatment. However, it’s usually best to treat a urine infection with an antibiotic or it could spread to the kidneys and lead to more serious problems.</p>
            <p>Once treated, there are many non-medical things you can do to try to stop urine infections coming back:</p>
            <ul>
              <li>avoid perfumed bubble bath, soap or talcum powder around your genitals – use plain, unperfumed varieties, and have a shower rather than a bath</li>
              <li>go to the toilet as soon as you need to pee and always empty your bladder fully</li>
              <li>stay well hydrated. Aim to drink six to eight glasses of fluid a day. Water, lower fat milk and sugar-free drinks including tea and coffee all count</li>
              <li>wipe your bottom from front to back when you go to the toilet</li>
              <li>empty your bladder as soon as possible after having sex</li>
              <li>don’t use a contraceptive diaphragm or condoms with spermicidal lubricant on them - use another method of contraception instead</li>
              <li>wear underwear made from cotton, rather than synthetic material such as nylon. Avoid tight jeans and trousers</li>
            </ul>
            <p>Although they won’t do any harm, there is little evidence to show that drinking cranberry juice or taking cranberry supplements helps to treat or prevent urine infections.</p>
          </div>
        </details>

        <details role="group">
          <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
            <h3>Food and drink to avoid</h3>
          </summary>
          <div id="more-2" aria-hidden="true">
            <p>There are no food or drinks you need to avoid while taking trimethoprim.</p>
          </div>
        </details>

      </div>


      <div class="module module--separator module--links">
        <div class="module__wrap module__wrap--bg">
          <div class="module__row">
            <div class="module__col">
              <h2 class="module__header">Related conditions</h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/cystitis/Pages/Introduction.aspx">Cystitis</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Kidney-infection/Pages/Introduction.aspx">Kidney infection</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Urinary-tract-infection-adults/Pages/Introduction.aspx">Urine infections in adults</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Urinary-tract-infection-children/Pages/Introduction.aspx">Urine infections in children</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/respiratory-tract-infection/pages/introduction.aspx">Chest infection</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Acne/Pages/Introduction.aspx">Acne</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Pneumonia/Pages/Introduction.aspx">Pneumonia</a></li>
							</ul>
            </div>
            <div class="module__col">
              <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
              <ul class="module__list">
                <li class="module__list-item"><a class="link__external" href="http://www.eric.org.uk/">The Children&#39;s Bowel &amp; Bladder Charity</a></li>
                <li class="module__list-item"><a class="link__external" href="https://www.blf.org.uk/">The British Lung Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.britishskinfoundation.org.uk/">British Skin Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="http://www.cobfoundation.org/">The Cystitis &amp; Overactive Bladder Foundation</a></li>
                <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/search/urinary%20tract%20infections">Health Unlocked online community</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>

<script src="/public/javascripts/nav.js"></script>

{% endblock %}
