<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>You can drink alcohol while taking prednisolone.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>When will I feel better?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>This can vary.</p>
          <p>For some illnesses, you will feel better after a couple of days.</p>
          <p>For other illnesses, you may not feel any better even though the medicine is helping you. This may be the case if you’re taking prednisolone to stop your symptoms getting worse or to prevent a problem happening (for example after an organ transplant).</p>
          <p>Ask your doctor what to expect for your illness.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>How long will I take prednisolone for?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>You may only need a short course of prednisolone for up to a week. Or you may need to take it for longer - even for many years or the rest of your life.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Are there any foods I shouldn't eat?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>You should not eat liquorice while taking prednisolone. It's thought that real liquorice increases the amount of prednisolone in the body and also increases the risk of low potassium.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Will it affect my fertility?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>Prednisolone does not reduce the fertility of men or women.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Will it affect my contraception?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>For women, prednisolone will not affect contraceptive pills or the morning after pill.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Will it affect my mood?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>You may notice mood changes and mental health problems while taking prednisolone including:</p>
          <ul>
            <li>feeling depressed (including thinking about suicide)</li>
            <li>feeling `high' or moods that go up and down</li>
            <li>feeling anxious, having problems sleeping, difficulty in thinking or being confused and losing your memory</li>
            <li>feeling, seeing or hearing things which do not exist.</li>
            <li>having strange and frightening thoughts, changing how you act or having feelings of being alone.</li>
          </ul>
          <p>The higher the dose, the more intense the mood changes can be.</p>
          <p>If this happens to you, talk to your doctor.</p>
        </div>
      </details>

    </div>
  </div>
</section>
