<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>Prednisolone is a strong medicine. It's important to take it as your doctor has instructed.</p>
  <p>The usual dose of prednisolone varies between 5mg and 60mg daily.</p>
  <p>It's usual to take prednisolone as a single dose once a day straight after breakfast. For example, if your dose is 40mg daily, it's usual to take 8 tablets (8 x 5mg) all at the same time.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-how-when" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoHowWhen|default('More information') }}</span>
    </summary>
    <div id="details-content-how-when" aria-hidden="false">
      <p>It’s best to take prednisolone with breakfast so it doesn't upset your stomach. If you have enteric coated (red or brown) tablets, you can take these with or without food.</p>
      <p>Taking prednisolone in the morning also means it's less likely to affect your sleep.</p>
      <p>Sometimes, you may be advised to take prednisolone on alternate days only.</p>
      <h3>How much will I take?</h3>
      <p>The dose depends on your illness and whether you are taking prednisolone as a short course or for longer.</p>
      <p>In children, the dose may be lower than for an adult with the same illness because it is calculated according to their height and weight.</p>
      <h3>Will my dose go up or down?</h3>
      <p>Once your illness starts to get better, it's likely that your dose will go down.</p>
      <p>Your doctor will probably reduce your dose before you stop treatment completely.</p>
      <h3>What if I forget to take it?</h3>
      <p>If you miss a dose of predisolone, take it as soon as you remember. If you don't remember until the following day, skip the missed dose.</p>
      <p>Don't take a double dose to make up for a forgotten one.</p>
      <h3>What if I take too much?</h3>
      <p>Taking too many prednisolone tablets by accident is unlikely to harm you.</p>
      <p>If you're worried, talk to your doctor or pharmacist.</p>
    </div>
  </details>
</section>
