<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">Coping with side effects</h2>
  <h3>What to do about stomach problems</h3>
  <p>Take prednisolone with food to reduce the chances of indigestion, nausea or vomiting. It may also help if you avoid rich or spicy food while you're taking this medicine. If symptoms carry on, ask your doctor if you may benefit from taking an additional medicine to protect your stomach.</p>
  <h3>What to do about weight gain</h3>
  <p>Prednisolone can make you hungrier so it can be quite challenging to keep from putting on weight while you're taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don't gain too much weight. Regular exercise will also help to keep your weight stable.</p>
  <h3>What to do to protect your bones</h3>
  <p>Taking prednisolone for a long time can increase the risk of <a href="http://www.nhs.uk/conditions/Osteoporosis/Pages/Introduction.aspx" class="link__external">osteoporosis</a> - when bones become thinner and have a higher chance of breaking. Take regular exercise and make sure you get enough calcium in your diet to help strengthen your bones. Calcium-rich foods include milk, cheese and leafy greens.</p>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
