<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Prednisolone is a type of medicine known as a <a href="http://www.nhs.uk/conditions/Corticosteroid-(drugs)/Pages/Introduction.aspx" class="link__external">corticosteroid</a> or steroid. Corticosteroids are not the same as <a href="http://www.nhs.uk/conditions/anabolic-steroid-abuse/Pages/Introduction.aspx" class="link__external">anabolic steroids</a>.</p>
  <p>Prednisolone is used to treat a wide range of health problems including allergies, <a href="http://www.nhs.uk/Conditions/Arthritis/Pages/Introduction.aspx" class="link__external">arthritis</a>, blood disorders, skin diseases, infections, certain cancers and to prevent organ rejection after a transplant.</p>
  <p>Prednisolone is available only on prescription as tablets, a liquid to drink and as eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>
  <p>It’s also called by the brand names Deltacortril, Deltastab, Dilacort and Pevanti.</p>
</section>
