<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Take prednisolone once a day in the morning.</li>
    <li>Prednisolone can cause withdrawal problems. Do not stop the medicine suddenly if you’ve been on it for more than a few weeks.</li>
    <li>Taking prednisolone can make you more likely to get infections. Tell your doctor if you're exposed to infectious illnesses like chickenpox or shingles.</li>
    <li>The most common side effects of prednisolone are weight gain, indigestion, insomnia and sweating a lot.</li>
  </ul>
  <p><span class="infobanner">Check the leaflet inside your medicine packet for information about the brand that you are taking.</span></p>
</section>
