<section class="">
  <div class="module module--links">
    <div class="module__wrap module__wrap--bg">
      <div class="module__row">
        <div class="module__col">
          <h2 class="module__header">Related conditions</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Arthritis/Pages/Introduction.aspx">Arthritis</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/lupus/pages/introduction.aspx">Lupus</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/psoriasis/Pages/Introduction.aspx">Psoriasis</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/ulcerative-colitis/Pages/Introduction.aspx">Ulcerative colitis</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Asthma/Pages/Introduction.aspx">Asthma</a></li>
          </ul>
        </div>
        <div class="module__col">
          <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="https://healthunlocked.com/">Healthunlocked forum</a></li>
            <li class="module__list-item"><a class="link__external" href="https://www.asthma.org.uk/">Asthma UK</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.arthritisresearchuk.org/arthritis-information/conditions/arthritis.aspx">Arthritis Research UK</a></li>
            <li class="module__list-item"><a class="link__external" href="https://www.psoriasis-association.org.uk/">The Psoriasis Association</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.mollysfund.org/">Lupus: Molly’s Fund</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
