<section class="u-section-separator">
  <h2 id="more" class="content__h2">More about prednisolone</h2>
  <div class="concertinas">
    <details role="group">
      <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
        <h3>How prednisolone works</h3>
      </summary>
      <div id="more-1" aria-hidden="true">
        <p>Steroids mimic the effects of hormones your body naturally produces in your adrenal glands. The adrenal glands sit on top of your kidneys.</p>
        <p>When prescribed in doses higher than your body's usual levels, steroids like prednisolone dampen inflammation. This can reduce the symptoms of inflammatory conditions, such as arthritis and <a href="http://www.nhs.uk/conditions/Asthma/Pages/Introduction.aspx" class="link__external">asthma</a>.</p>
        <p>Steroids also damp down your immune system, which can help in 'autoimmune' illnesses, like rheumatoid arthritis, where your immune system mistakenly attacks its own tissues.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
        <h3>Getting infections</h3>
      </summary>
      <div id="more-2" aria-hidden="true">
        <p>Taking prednisolone makes you more likely to catch infections.</p>
        <p>Keep away from people with an infectious disease, especially chickenpox or shingles. If you have never had these illnesses they could make you very ill.</p>
        <p><span class="alertbanner">If you come into contact with someone who has an infectious disease such as chickenpox or shingles tell your doctor straight away. Your doctor may be able to prescribe a medicine to protect you.</span></p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
        <h3>Prednisolone and vaccinations</h3>
      </summary>
      <div id="more-3" aria-hidden="true">
        <p>Some vaccines are not suitable for you while you are taking prednisolone.</p>
        <p>Taking prednisolone lowers your immune system. If you have a 'live' vaccine, like the shingles vaccine, while you are taking prednisolone your immune system might not be able to handle it. This may lead to an infection. Inactive vaccinations, like the flu vaccine, are safe.</p>
        <p>If you need any vaccinations, mention that you are taking a steroid.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
        <h3>The blue steroid card</h3>
      </summary>
      <div id="more-5" aria-hidden="true">
        <p>If you are taking prednisolone for longer than 3 weeks or you have been prescribed a high dose of more than 40mg daily, your doctor or pharmacist will give you a blue steroid treatment card.</p>
        <p>The card is the size of a credit card and fits in your wallet or purse. It tells you how you can reduce the risks of side effects. It also gives details of your doctor, how much prednisolone you take and how long the treatment will last for.</p>
        <p><span class="alertbanner">If you need any medical or dental treatment show your blue steroid card to the doctor or dentist so they know that you are taking prednisolone. This is because you may need to take a higher dose of prednisolone for a short while.</span></p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
        <h3>Taking prednisolone for a long time</h3>
      </summary>
      <div id="more-6" aria-hidden="true">
        <p>Taking prednisolone for many months or years can have several harmful effects on your body. It can lead to:</p>
        <ul>
          <li>thinner bones</li>
          <li>poorly controlled <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx" class="link__external">diabetes</a></li>
          <li>eyesight problems</li>
          <li>slower growth and development in children and teenagers</li>
        </ul>
        <p>To check your bones, your doctor may arrange for you to have an occasional bone scan.</p>
        <p>If you have diabetes, you may need to check your blood glucose more often. Your doctor can advise you more about this.</p>
        <p>To reduce the chances of eyesight problems, try to visit an optometrist every 12 months to check for high pressure in your eye (<a href="http://www.nhs.uk/conditions/Glaucoma/Pages/Introduction.aspx" class="link__external">glaucoma</a>) and cataract.</p>
        <p>To reduce the long-term effects of prednisolone on growth, children and teenagers will have their height monitored regularly so that any slowing of growth can be picked up promptly.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false">
        <h3>Coming off prednisolone</h3>
      </summary>
      <div id="more-7" aria-hidden="true">
        <p><span class="alertbanner">Don't stop taking prednisolone without talking to your doctor – you may need to reduce the dose gradually.</span></p>
        <p>If you stop taking prednisolone suddenly your condition may flare up again. You may also get withdrawal symptoms including:</p>
        <ul>
          <li>severe tiredness</li>
          <li>weakness</li>
          <li>body aches</li>
          <li>joint pain</li>
        </ul>
        <p>Withdrawal problems are most likely to happen if you have taken prednisolone for more than a few weeks or you take more than 40mg daily.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-8" tabindex="0" aria-expanded="false">
        <h3>Other steroid treatments</h3>
      </summary>
      <div id="more-8" aria-hidden="true">
        <p>There are other steroids available, for example:</p>
        <ul>
          <li>deflazacort</li>
          <li>dexamethasone</li>
          <li>methylprednisolone</li>
          <li>prednisone</li>
        </ul>
        <p>For most health problems, these steroids are very similar to prednisolone in terms of how well they work and how safe they are.</p>
      </div>
    </details>

  </div>
</section>
