<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p><span class="alertbanner">Tell your doctor if you're trying get pregnant, pregnant or breastfeeding while taking this medicine.</span></p>
  <p>Prednisolone has occasionally been linked to problems when taken in the first 12 weeks of pregnancy and can affect the growth of the baby.</p>
  <p>Prednisolone is not usually recommended in pregnancy unless the potential benefits outweigh the risks.</p>
  <p>You can take prednisolone while you're breastfeeding. However, it passes into breast milk so it you are taking a high dose of prednisolone the baby may need to be monitored for signs of side effects.</p>
  <p>As a precaution, it's usually recommended that you wait 3 to 4 hours after taking your dose of prednisolone before feeding your baby or expressing milk.</p>
</section>
