<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>The higher the dose of prednisolone that you take, the greater the chance of side effects. You are less likely to get side effects if you take a relatively low dose of less than 20mg prednisolone daily.</p>
  <p>Some side effects, such as stomach upset or mood changes, can happen straight away. Others, such as getting a rounder face, happen after weeks or months.</p>
  <h3>Common side effects</h3>
  <p>These common side effects affect up to one in 10 people. Keep taking the medicine, but tell your doctor if they bother you or don't go away:</p>
  <ul>
    <li>weight gain</li>
    <li>indigestion</li>
    <li>not able to sleep</li>
    <li>restlessness</li>
    <li>sweating a lot</li>
    <li>bone problems</li>
  </ul>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-side-effects" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoSideEffects|default('More information') }}</span>
    </summary>
    <div id="details-content-side-effects" aria-hidden="false">
      <h3>Serious side effects</h3>
      <p>Serious side effects are rare and happen in less than one in 10,000 people.</p>
      <p>You are more likely to have a serious side effect if you take a higher dose (more than 20mg daily) of prednisolone or if you have been taking it for more than a few weeks.</p>
      <p>Tell a doctor straight away if you get:</p>
      <ul>
        <li>an infection - warning signs include fever, chills, very sore throat, ear or sinus pain, a cough, more saliva or change in colour of saliva, pain with passing urine, mouth sores, or wound that will not heal</li>
        <li><a href="http://www.nhs.uk/conditions/Hyperglycaemia/Pages/Introduction.aspx" class="link__external">high blood sugar</a> -  warning signs include feeling sleepy or confused, feeling very thirsty or hungry, passing urine more often, flushing, breathing quickly, or breath that smells like fruit</li>
        <li><a href="http://www.nhs.uk/conditions/Cushings-syndrome/Pages/Introduction.aspx" class="link__external">Cushing's syndrome</a> - warning signs include weight gain in the upper back or belly, moon face, very bad headache, and slow wound healing</li>
        <li>adrenal gland problems - warning signs include a very upset stomach or vomiting, very bad dizziness or passing out, muscle weakness, feeling very tired, mood changes, loss of appetite and weight loss</li>
        <li>low potassium levels - warning signs include muscle pain or weakness, muscle cramps, or a heartbeat that does not feel normal</li>
        <li>pancreas problems - warning signs include severe stomach pain, severe back pain, severe upset stomach or vomiting</li>
      </ul>
      <p>You should also tell a doctor straight away if you get:</p>
      <ul>
        <li>breathless</li>
        <li>swelling in your arms or legs</li>
        <li>changes in your eyesight</li>
        <li>any bruising or bleeding that isn’t normal</li>
        <li>black poo</li>
        <li>black or dark brown vomit or vomiting blood</li>
      </ul>
      <h4>Serious allergic reaction</h4>
      <p><span class="alertbanner">It's extremely rare to have an allergic reaction to prednisolone but if this happens to you, stop taking the medicine and contact a doctor straight away.</span></p>
      <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx" class="link__external">serious allergic reaction</a> are:</p>
      <ul>
        <li>skin rash</li>
        <li>wheezing</li>
        <li>tightness in the chest or throat</li>
        <li>having trouble breathing or talking</li>
        <li>unusual hoarseness</li>
        <li>swelling of the mouth, face, lips, tongue, or throat</li>
      </ul>
      <h3>Stunted growth in children</h3>
      <p>Long periods of prednisolone treatment can slow down the normal growth of children and teenagers.</p>
      <p>Your child's doctor will watch their growth carefully while they are taking steroids. That way any slowing of growth can be picked up promptly and treatment changed if necessary.</p>
      <p>Talk to your doctor about the risks of giving prednisolone to your child if you are concerned.</p>
      <p><span class="infobanner">These are not all the side effects of prednisolone. For a full list see the leaflet inside your medicine packet.</span></p>
    </div>
  </details>
</section>
