<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take prednisolone</h2>
  <p>Prednisolone isn't suitable for certain people.</p>
  <p>Tell your doctor before starting the medicine if you:</p>
  <ul>
    <li>have had an allergic reaction to prednisolone or any other medicine or their ingredients</li>
    <li>have an infection (including eye infections)</li>
    <li>are trying to get pregnant, are already pregnant or breastfeeding</li>
    <li>have recently been in contact with someone with <a href="http://www.nhs.uk/conditions/Shingles/Pages/Introduction.aspx" class="link__external">shingles</a>, <a href="http://www.nhs.uk/conditions/Chickenpox/Pages/Introduction.aspx" class="link__external">chickenpox</a> or <a href="http://www.nhs.uk/conditions/Measles/Pages/Introduction.aspx" class="link__external">measles</a> (unless you are sure you are immune to these infections)</li>
    <li>have recently had, or are about to have, any vaccinations</li>
  </ul>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-who-take" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoPregnancy|default('More information') }}</span>
    </summary>
    <div id="details-content-who-take" aria-hidden="false">
      <p>Make sure your doctor is aware if you have:</p>
      <ul>
        <li>had liver problems</li>
        <li>had mental health problems (either you or close family members)</li>
        <li>any unhealed wounds</li>
        <li>heart failure or have had a recent heart attack</li>
        <li>high blood pressure</li>
        <li>diabetes</li>
        <li>epilepsy</li>
        <li>glaucoma</li>
        <li>underactive thyroid</li>
        <li>osteoporosis (thinning bones)</li>
        <li>a stomach ulcer</li>
      </ul>
    </div>
  </details>

</section>
