{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Paracetamol</h1>
      <h2>How to take it</h2>

      <p>Take paracetamol when needed for pain relief or to reduce fever for as long as the symptoms continue.</p>
      <ul>
        <li>Take up to a maximum of four times a day</li>
        <li>Repeat doses must be at least four hours apart</li>
        <li>Paracetamol can be taken with or without food</li>
      </ul>
      <p>Follow any specific instructions that are outlined on the packaging or leaflet with your medicine.</p>
    </div>
  </div>
</main>

{% endblock %}
