{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>How to take it</h2>
      <ul>
        <li>Most people take paracetamol as needed for pain relief or to reduce fever up to a maximum of four times a day for as long as symptoms continue.</li>
        <li>If you have constant pain, you can take paracetamol regularly up to four times a day, spreading out the doses as evenly as possible.</li>
        <li>Paracetamol can be taken with or without food.</li>
        <li class="strong">Paracetamol doses must be at least four hours apart.</li>
        <li>When taking paracetamol check that you are not taking any other medicines (including over-the-counter medicines) that also contain paracetamol as you may end up taking too much and this can cause overdose and serious or fatal liver damage.</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/how-to-take-it">
            <span class="prefix">Previous page:</span>
            <span class="title">How to take it</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
