{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Paracetamol</h1>
      <ul>
        <li><a href="/paracetamol/how-to-take-it/how-to-take-it-ID">How to take it ID</a>
        <li><a href="/paracetamol/how-to-take-it/how-to-take-it-KB">How to take it KB</a>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
