{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>
      <h2>How to take it</h2>
      <ul>
        <li><a href="/paracetamol/how-to-take-it/how-to-take-it-ID">Option A <span class="print">- How to take it ID</span></a>
        <li><a href="/paracetamol/how-to-take-it/how-to-take-it-KB">Option B <span class="print">- How to take it KB</span></a>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol">
            <span class="prefix">Previous page:</span>
            <span class="title">Paracetamol topics</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
