{% extends "layout_unbranded.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Paracetamol</h1>
      <h2>Dosage</h2>

      <p>Paracetamol 500g tablets</p>

      <h3>How to take paracetomol tablets</h3>

      <p>The normal dose for adults, the elderly and children over 12 years of age, is one or two tablets to be swallowed with a drink of water.</p>

      <p>The dose may be taken every 4 - 6 hours, as required. Do not exceed 8 tablets in one day.</p>

      <p>For children between 6 and 12 years, a half to one tablet can be given up to 4 times a day. Do not exceed 4 tablets in one day. Not for use in under 6 year olds.</p>

      <p>Do not take more frequently than every 4 hours. If symptoms persist for more
      than three days, consult your doctor.</p>

      <h4>If you forget to take Paracetamol Tablets:</h4>
      <p>If you forget to take one dose, you should never make up for the missing dose by doubling the dose next time. Instead you should simply continue with the next dose when it is due.</p>

      <p><strong class="strong">Do not exceed the stated dose. Immediate medical advice should be sought in the event of an overdose, even if you feel well, because of the risk of delayed, serious liver damage.</strong></p>

      <p>If you have any further questions on the use of this product, ask your doctor or pharmacist.</p>




    </div>
  </div>
</main>

{% endblock %}
