{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="index">Medicines</h1>

      <ul>
        <li><a href="/paracetamol/single-page">Paracetamol</a></li>
        <li><a href="/prednisolone/single-page">Prednisolone</a></li>
        <li><a href="/citalopram/single-page">Citalopram</a></li>
        <li><a href="/salbutamol/single-page">Salbutamol</a></li>
        <li><a href="/fluoxetine/single-page">Fluoxetine</a></li>
        <li><a href="/sertraline/single-page">Sertraline</a></li>
        <li><a href="/venlafaxine/single-page">Venlafaxine</a></li>
        <li><a href="/amoxicillin/single-page">Amoxicillin</a></li>
        <li><a href="/erythromycin/single-page">Erythromycin</a></li>
        <li><a href="/nitrofurantoin/single-page">Nitrofurantoin</a></li>
        <li><a href="/trimethoprim/single-page">Trimethoprim</a></li>
        <li><a href="/flucloxacillin/single-page">Flucloxacillin</a></li>
        <li><a href="/gabapentin/">Gabapentin</a></li>
        <li><a href="/atorvastatin/single-page">Atorvastatin</a></li>
        <li><a href="/simvastatin/single-page">Simvastatin</a></li>
        <li><a href="/pravastatin/single-page">Pravastatin</a></li>
        <li><a href="/lactulose/single-page">Lactulose</a></li>
        <li><a href="/senna/single-page">Senna</a></li>
        <li><a href="/fybogel/single-page">Fybogel</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
