<section class="u-section-separator">
  <h2 id="cautions" class="content__h2">Cautions with other medicines</h2>
  <p>There are some medicines that interfere with the way gliclazide works.</p>
  <p><span class="alertbanner">Tell your doctor and pharmacist if you are taking any other medicines, including herbal remedies and supplements.</span></p>
  <p>If you are taking any of the following medicines, your blood sugar levels may need to be checked more often and your dose adjusted:</p>
  <ul>
    <li>steroid tablets such as prednisolone</li>
    <li>some medicines used to treat heart problems and high blood pressure</li>
    <li>medicines to treat bacterial or fungal infections such as clarithromycin or fluconazole</li>
    <li>painkillers such as ibuprofen and aspirin (but not paracetamol)</li>
    <li>medicines used to treat asthma such as salbutamol</li>
    <li>male and female hormones such as testosterone, oestrogen and progesterone</li>
    <li>other diabetes medicines</li>
  </ul>
  <p>Gliclazide may also increase the effects of medicines that thin your blood such as warfarin.</p>
  <p>Some women might need a small adjustment in their gliclazide dose after starting contraceptive pills as in rare cases they can increase blood sugar levels.</p>
  <h3>Mixing gliclazide with herbal remedies and supplements</h3>
  <p>Do not take the herbal remedy for depression, St John's wort. It may change the way your body processes gliclazide.</p>
</section>
