<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Yes, you can drink alcohol while taking gliclazide but try not to have more than 2 glasses (2 units) a day as it can increase the risk of low blood sugar level.</p>
          <p>Don’t drink on an empty stomach.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>When will I feel better?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>You may not have had any symptoms of diabetes so you won’t necessarily feel any different when you take gliclazide. This doesn’t mean that gliclazide isn’t working and it is important to keep taking it.</p>
          <p>Gliclazide will help keep your blood sugar level stable and reduce your chances of complications in the future.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>How long will I take gliclazide for?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>Treatment for diabetes is usually for life. Do not stop taking your gliclazide tablets without talking to your doctor.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Can I take painkillers?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>It’s safe to take paracetamol with gliclazide. Don’t take aspirin or ibuprofen, though, as these can interfere with gliclazide to lower your blood sugar levels too much.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Can I drive or ride a bike?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>If your blood sugar levels are well controlled, your ability to drive, cycle or use machines or tools should not be affected. However, if your blood sugar levels become too low, this can affect your concentration.</p>
          <p><span class="alertbanner">Do not drive or use machines or tools if you start to feel the symptoms of low blood sugar.</span></p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Will it affect my fertility?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>For men and women, gliclazide will not affect your fertility.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Will it affect my contraception?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>For women, gliclazide will not affect contraceptive pills or the morning after pill.</p>
          <p>However, some women might need a small adjustment in their gliclazide dose after starting contraceptive pills as in rare cases they can increase blood sugar levels.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>How does gliclazide work?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>Gliclazide is a type of medicine known as a sulfonylurea. Sulfonylureas increase the amount of insulin that’s produced by your pancreas. Insulin is the hormone that controls the level of sugar in your blood.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>Can I take gliclazide for a long time?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>Gliclazide is safe to take for a long time. There’s no evidence it harms your pancreas or your general health.</p>
          <p>However, gliclazide may stop working properly after a while. Your doctor may then want to stop it or add a different medicine to help keep your blood sugar level stable.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-10" tabindex="0" aria-expanded="false">
          <h3>What will happen when I come off gliclazide?</h3>
        </summary>
        <div id="questions-10" aria-hidden="true">
          <p>Don't stop taking gliclazide without talking to your doctor.</p>
          <p>If you stop taking gliclazide suddenly you may reduce the control over your diabetes.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Is there any food or drinks to avoid?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>Karela (also known as bitter melon, bitter gourd, balsam pear, cundeamor) is used to flavour foods such as curries. It may lower blood sugar levels. </p>
          <p>Eating food and drink containing karela could cause unexplained changes in the control of your diabetes.</p>
          <p>Check nutrition labels as many foods and drinks are high in sugar. Try to cut down on foods with added sugar such as:</p>
          <ul>
            <li>sweets</li>
            <li>cakes</li>
            <li>biscuits</li>
            <li>chocolate</li>
            <li>some fizzy drinks</li>
            <li>juice drinks</li>
          </ul>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-12" tabindex="0" aria-expanded="false">
          <h3>Can I take gliclazide before surgery?</h3>
        </summary>
        <div id="questions-12" aria-hidden="true">
          <p>If you are going to have an operation, tell your doctor you are taking gliclazide.</p>
          <p>Don’t take gliclazide on the morning of surgery. Your doctor may temporarily switch you to insulin instead.</p>
          <p>If you take gliclazide before surgery there is a risk of low blood sugar. Low blood sugar can be difficult to detect when anesthetics are used.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-13" tabindex="0" aria-expanded="false">
          <h3>Are other diabetes medicines better?</h3>
        </summary>
        <div id="questions-13" aria-hidden="true">
          <p>There are other groups of medicines that can lower blood sugar levels:</p>
          <ul>
            <li>metformin</li>
            <li>pioglitazone</li>
            <li>DPP-4 inhibitors such as saxagliptin</li>
            <li>SGLT2 inhibitors such as dapagliflozin</li>
            <li>GLP-1 agonists such as exenatide</li>
            <li>insulin</li>
          </ul>
          <p>Gliclazide is usually prescribed if you can't take metformin, or if metformin is no longer keeping your blood sugar level under control when used by itself.</p>
          <p>Gliclazide is a sulfonylurea. There are 4 other sulfonylureas available:</p>
          <ul>
            <li>glibenclamide</li>
            <li>glimepiride</li>
            <li>glipizide</li>
            <li>tolbutamide</li>
          </ul>
          <p>These all work in the same way – by increasing the amount of insulin your body produces.</p>
          <p>Gliclazide can be prescribed on its own or in combination with the above medicines.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-14" tabindex="0" aria-expanded="false">
          <h3>Can I get diabetes medicines for free?</h3>
        </summary>
        <div id="questions-14" aria-hidden="true">
          <p>You’re entitled to free prescriptions if you take gliclazide or any other diabetes medicine.</p>
          <p>To claim your free prescriptions you’ll need to have a medical exemption certificate.</p>
          <p>The application form for the medical exemption certificate is called FP92A. You can get this from your doctor's surgery. You will need to fill in the form, then your doctor will sign it and send it off.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-15" tabindex="0" aria-expanded="false">
          <h3>Will lifestyle changes help my diabetes?</h3>
        </summary>
        <div id="questions-15" aria-hidden="true">
          <p>If you’re at risk of type 2 diabetes or already living with it, there are some lifestyle changes you can make to prevent it or control your symptoms. These are:</p>
          <ul>
            <li>eat a healthy diet</li>
            <li>lose any excess weight</li>
            <li>stop smoking</li>
            <li>don’t drink too much alcohol – no more than two glasses a day</li>
            <li>exercise regularly – up to 30 minutes a day, five times a week is ideal</li>
          </ul>
        </div>
      </details>

    </div>
  </div>
</section>
