<section class="u-section-separator">
  <h2 class="content__h2">Common questions</h2>
  <div id="common-questions" class="concertinas">
    <div class="concertinas--bg">
      
      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Yes, you can drink alcohol while taking gliclazide but try not to have more than 2 glasses (2 units) a day as it can increase the risk of low blood sugar level. Don’t drink on an empty stomach.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>When will I feel better?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>You may not have had any symptoms of diabetes so you won’t necessarily feel any different when you take gliclazide. This doesn’t mean that gliclazide isn’t working and it is important to keep taking it. Gliclazide will help keep your blood sugar level stable and reduce your chances of complications in the future.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>How long will I take gliclazide for?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>Treatment for diabetes is usually for life. Do not stop taking your gliclazide tablets without talking to your doctor.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Can I take painkillers?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>It’s safe to take paracetamol with gliclazide. Don’t take aspirin or ibuprofen, though, as these can interfere with gliclazide to lower your blood sugar levels too much.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Can I drive or ride a bike?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>If your blood sugar levels are well controlled, your ability to drive, cycle or use machines or tools should not be affected. However, if your blood sugar levels become too low, this can affect your concentration.</p>
          <p><span class="alertbanner">Do not drive or use machines or tools if you start to feel the symptoms of low blood sugar.</span></p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Will it affect my fertility?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>For men and women, gliclazide will not affect your fertility.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Will it affect my contraception?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>For women, gliclazide will not affect contraceptive pills or the morning after pill.</p>
          <p>However, some women might need a small adjustment in their gliclazide dose after starting contraceptive pills as in rare cases they can increase blood sugar levels.</p>
        </div>
      </details>

    </div>
  </div>
</section>
