<section class="u-section-separator">
  <h2 id="how-when" class="content__h2" >How and when to take</h2>
  <p>The dose of gliclazide can vary. Take this medicine as prescribed by your doctor.</p>
  <p>Gliclazide comes as 2 different types of tablets – normal (standard release) and long-acting (extended release).</p>
  <p>For standard release gliclazide, the maximum daily dose is 320mg which may be split into up to 4 tablets. If you need to take more than 2 tablets a day, take the tablets twice a day with your morning and evening meal.</p>
  <p>For extended release gliclazide, the maximum daily dose is 120mg. Take your dose once a day before breakfast.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-how-when" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoHowWhen|default('More information') }}</span>
    </summary>
    <div id="details-content-how-when" aria-hidden="false">
      <p>Standard release tablets release gliclazide into your body quickly so you may need to take them several times a day depending on your dose.</p>
      <p>Extended release tablets dissolve slowly which means you don’t have to take them as regularly as the standard ones. One dose in the morning is usually enough.</p>
      <p>Your doctor or pharmacist will explain what type of gliclazide tablets you are on and how to take them.</p>
      <p>Swallow your gliclazide tablets whole with a glass of water, do not chew them.</p>
      <h3>Will my dose go up or down?</h3>
      <p>Your doctor will check your blood sugar levels regularly and may adjust your dose of gliclazide if necessary.</p>
      <h3>What if I forget to take it?</h3>
      <p>If you miss a dose of gliclazide, take the next dose at the usual time. Do not take a double dose to make up for a forgotten dose.</p>
      <h3>What if I take too much?</h3>
      <p>If you take too many gliclazide tablets, contact your doctor or the nearest hospital straight away. An overdose of gliclazide can cause low blood sugar.</p>
      <p>If you think you have low blood sugar, have some food or drink that quickly gets sugar into your bloodstream such as sugar cubes or fruit juice. This type of sugar will not last long in your blood so you may also need to eat a starchy carbohydrate, like a sandwich or a biscuit. This will last longer.</p>
    </div>
  </details>
</section>
