<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">How to cope with side effects</h2>
  <h3>What to do about feeling sick</h3>
  <p>Take your tablets before a meal. Stick to simple meals and avoid rich or spicy food.</p>
  <h3>What to do about diarrhoea and vomiting</h3>
  <p>Drink plenty of water if you have diarrhoea or you are being sick – have small, frequent sips. It may also help to take oral rehydration solutions. You can buy these from a pharmacy or supermarket to prevent dehydration.</p>
  <p>Do not take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
  <h3>What to do about constipation</h3>
  <p>If you have constipation, eat more high-fibre foods such as fresh fruit and vegetables and cereals, and drink plenty of water. Also exercise more regularly, for example, by going for a daily walk or run. If this does not help, talk to your pharmacist or doctor.</p>
  <h3>What to do about weight gain</h3>
  <p>Gliclazide can make you hungrier and retain water so it can be quite challenging to not put on weight while you're taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don't gain too much weight. Regular exercise will also help to keep your weight stable.</p>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
