<section class="u-section-marginbottom-md u-section-margintop-xs">
  <h2 class="hidden">Introduction</h2>
  <p>Gliclazide is a medicine used to treat type 2 diabetes.</p>
  <p>Type 2 diabetes is a condition where the body doesn’t make enough insulin, or the body can’t use insulin in the right way. This causes high blood sugar levels (hyperglycemia).</p>
  <p>Gliclazide works by lowering your blood sugar. It’s available as tablets on prescription.</p>
  <p>Gliclazide may also be called by the brand names Bilxona, Dacadis, Diamicron, Laaglyda, Nazdol, Vamju, Vitile, Ziclaseg, and Zicron.</p>
</section>
