<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Gliclazide is a medicine used to treat <a href="http://www.nhs.uk/conditions/Diabetes-type2/Pages/Introduction.aspx">type 2 diabetes</a>.</p>
  <p>Type 2 diabetes is a condition where the body doesn’t make enough insulin, or the insulin that is made can't work properly. This causes <a href="http://www.nhs.uk/conditions/Hyperglycaemia/Pages/Introduction.aspx">high blood sugar levels</a> (hyperglycemia).</p>
  <p>Gliclazide lowers your blood sugar by increasing the amount of insulin your body produces.</p>
  <p>It’s available on prescription as tablets.</p>
</section>
