<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>

  <div class="clear">
    <div class="callout callout--info u-floatright u-marginleft30">
      <h3 class="u-nomargintop u-font16">Common brand names</h3>
      <ul class="list-nobullet">
        <li class="list-item-dash">Diamicron</li>
        <li class="list-item-dash">Zicron</li>
        <li class="list-item-dash">Dacadis</li>
      </ul>
    </div>
    <p>Gliclazide is a medicine used to treat type 2 diabetes.</p>
    <p>Type 2 diabetes is a condition where the body doesn’t make enough insulin, or the insulin that is made can't work properly. This causes high blood sugar levels (hyperglycemia).</p>
    <p>Gliclazide works by lowering your blood sugar. It’s available as tablets on prescription.</p>
  </div>

</section>
