<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>If you take gliclazide once a day, it’s best to take it in the morning before breakfast.</li>
    <li>If you take it more than once a day, take it before a meal so your blood sugar level doesn’t go too low.</li>
    <li>Gliclazide can sometimes make your blood sugar level too low (hypoglycaemia). Carry some sweets or fruit juice with you to help when this happens.</li>
    <li>Gliclazide may make you put on weight.</li>
    <li>Do not drink alcohol on an empty stomach while taking gliclazide - it may make you blood sugar level drop too low.</li>
  </ul>

  <div class="disclaimer__info">
    <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
    <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
  </div>
</section>
