<section class="u-section-separator u-margintop30">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>If you take gliclazide once a day, it’s best to take it in the morning before breakfast.</li>
    <li>If you take it more than once a day, always take it before a meal so that your blood sugar level doesn’t go too low.</li>
    <li>Gliclazide can sometimes make your blood sugar level too low. Carry some sweets or fruit juice with you to help when this happens.</li>
    <li>Gliclazide may cause you to gain weight.</li>
    <li>You can drink alcohol while taking gliclazide but be aware that it can make your blood sugar level dip too low.</li>
  </ul>

  <div class="disclaimer__info">
    <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
    <p class="disclaimer__info-text">Check the leaflet inside your medicine packet for specific information about the brand that you are taking.</p>
  </div>
</section>
