<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Gliclazide works by increasing the amount of insulin that’s produced by your pancreas. Insulin is the hormone that controls the level of sugar in your blood.</li>
    <li>If you take gliclazide once a day, it’s best to take it in the morning before breakfast.</li>
    <li>Gliclazide can sometimes make your blood sugar level too low (hypoglycaemia). Carry some sweets or fruit juice with you to help when this happens.</li>
    <li>Gliclazide may make you put on weight.</li>
    <li>Gliclazide may also be called by the brand names Bilxona, Dacadis, Diamicron, Laaglyda, Nazdol, Vamju, Vitile, Ziclaseg, and Zicron.</li>
  </ul>
</section>
