<section class="">
  <div class="module module--links">
    <div class="module__wrap module__wrap--bg">
      <div class="module__row">
        <div class="module__col">
          <h2 class="module__header">Related conditions</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/Conditions/Diabetes-type2/Pages/Introduction.aspx">Type 2 diabetes</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/hypoglycaemia/Pages/Introduction.aspx">Low blood sugar (hypoglycaemia)</a></li>
          </ul>
        </div>
        <div class="module__col">
          <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources <span class="header-text__small">(external links)</span></h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.diabetes.org.uk/">Diabetes UK</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.drwf.org.uk/">Diabetes Research and Wellness Foundation</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/long-term-conditions/diabetes-type-2/topics">Type 2 diabetes: patient stories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
