<section class="u-section-separator">
  <h2 id="more" class="content__h2">More about gliclazide</h2>
  <div class="concertinas">
    <details role="group">
      <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
        <h3>How gliclazide works</h3>
      </summary>
      <div id="more-1" aria-hidden="true">
        <p>Gliclazide is a type of medicine known as a sulfonylurea. Sulfonylureas increase the amount of insulin that’s produced by your pancreas. Insulin is the hormone that controls the level of sugar in your blood.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
        <h3>Taking gliclazide for a long time</h3>
      </summary>
      <div id="more-2" aria-hidden="true">
        <p>Gliclazide is safe to take for a long time, even many years. There’s no evidence it harms your pancreas or your general health.</p>
        <p>However, gliclazide may stop working properly after a while. Your doctor may then want to stop it or add a different medicine to help keep your blood sugar level stable.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
        <h3>Coming off gliclazide</h3>
      </summary>
      <div id="more-3" aria-hidden="true">
        <p>Don't stop taking gliclazide without talking to your doctor.</p>
        <p>If you stop taking gliclazide suddenly you may reduce the control over your diabetes.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
        <h3>Food and drink</h3>
      </summary>
      <div id="more-5" aria-hidden="true">
        <p>Karela (also known as bitter melon, bitter gourd, balsam pear, cundeamor) is used to flavour foods such as curries. It may lower blood sugar levels. </p>
        <p>Irregular consumption of karela could cause unexplained changes in the control of diabetes.</p>
        <p>Check nutrition labels as many foods and drinks are high in sugar. Try to cut down on foods with added sugar such as:</p>
        <ul>
          <li>sweets</li>
          <li>cakes</li>
          <li>biscuits</li>
          <li>chocolate</li>
          <li>some fizzy drinks</li>
          <li>juice drinks</li>
        </ul>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
        <h3>Taking gliclazide before surgery</h3>
      </summary>
      <div id="more-6" aria-hidden="true">
        <p>If you are going to have an operation, tell your doctor you are taking gliclazide.</p>
        <p>Don’t take gliclazide on the morning of surgery, your doctor may temporarily switch you to insulin instead.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false">
        <h3>Are other diabetes medicines better?</h3>
      </summary>
      <div id="more-7" aria-hidden="true">
        <p>There are other groups of medicines that can lower blood sugar levels:</p>
        <ul>
          <li>biguanides such as metformin</li>
          <li>pioglitazone</li>
          <li>DPP-4 inhibitors such as saxagliptin</li>
          <li>SGLT2 inhibitors such as dapagliflozin</li>
          <li>GLP-1 agonists such as exenatide</li>
          <li>insulin</li>
        </ul>
        <p>Gliclazide is usually prescribed if you can't take metformin, or if metformin is no longer keeping your blood sugar level under control when used by itself.</p>
        <p>Gliclazide is a sulfonylurea. There are four other sulfonylureas available – they all work in the same way – by increasing the amount of insulin your body produces:</p>
        <ul>
          <li>glibenclamide</li>
          <li>glimepiride</li>
          <li>glipizide</li>
          <li>tolbutamide</li>
        </ul>
        <p>Gliclazide can be prescribed on its own or in combination with the above medicines.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-8" tabindex="0" aria-expanded="false">
        <h3>Lifestyle changes</h3>
      </summary>
      <div id="more-8" aria-hidden="true">
        <p>If you’re at risk of type 2 diabetes or already living with it, there are some lifestyle changes you can make to prevent it or control your symptoms. These are:</p>
        <ul>
          <li>eat a healthy diet</li>
          <li>lose any excess weight</li>
          <li>stop smoking</li>
          <li>don’t drink too much alcohol – no more than two glasses a day</li>
          <li>exercise regularly – up to 30 minutes a day, five times a week is ideal</li>
        </ul>
      </div>
    </details>

  </div>
</section>
