<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>Gliclazide is not generally recommended in pregnancy and while breastfeeding.</p>
  <p>It’s not clear whether gliclazide affects an unborn baby. For safety, your doctor will most likely change your medicine to insulin before you become pregnant or as soon as you find out you’re pregnant.</p>
  <p>If you take gliclazide while breastfeeding there is a risk of your baby getting low blood sugar. Talk to your doctor if you want to breastfeed.</p>
  <p><span class="alertbanner">Tell your doctor if you plan to get pregnant or become pregnant while taking this medicine.</span></p>
</section>
