<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p><span class="alertbanner">Tell your doctor if you plan to get pregnant or become pregnant while taking this medicine.</span></p>
  <p>It’s not clear whether gliclazide affects an unborn baby. For safety, your doctor will most likely change your medicine to insulin before you become pregnant or as soon as you find out you’re pregnant.</p>
  <p>There is a risk of your baby getting low blood sugar if you take gliclazide while breastfeeding. Talk to your doctor if you want to breastfeed.</p>
</section>
