<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, gliclazide can cause side effects although not everyone gets them.</p>
  <h3>Common side effects</h3>
  <p>Common side effects happen in more than 1 in 100 people. They include:</p>
  <ul>
    <li>stomach ache</li>
    <li>feeling sick</li>
    <li>vomiting</li>
    <li>indigestion</li>
    <li>diarrhoea</li>
    <li>constipation</li>
  </ul>
  <p>Side effects can be less likely if you take gliclazide tablets before a meal.</p>
  <h3>Serious side effects</h3>
  <p>Serious side effects are rare and happen in less than 1 in 10,000 people.</p>
  <p>Tell your doctor straight away if you get warning signs of a:</p>
  <ul>
    <li>liver disorder - including yellowing of the skin or whites of the eye</li>
    <li>blood disorder - including paleness, prolonged bleeding, bruising, sore throat and fever</li>
    <li>skin disorder - including rash, redness, itching and hives. You can also have sudden swelling of eyelids, face, lips, mouth, tongue or throat that may make it hard to breathe.</li>
  </ul>
  <p>Your eyesight may be affected for a short time especially at the start of treatment because of changes in your blood sugar levels.</p>
  <h3>Low blood sugar</h3>
  <p>Gliclazide can sometimes cause your blood sugar to go too low. The name for this is hypoglycaemia - or a 'hypo'.</p>
  <p>Early warning signs of low blood sugar include:</p>
  <ul>
    <li>feeling hungry</li>
    <li>trembling or shaking</li>
    <li>sweating</li>
    <li>confusion</li>
    <li>difficulty concentrating</li>
  </ul>
  <p>It’s also possible for your blood sugar to go too low while you’re asleep. If this happens, it can make you feel sweaty, tired and confused when you wake up.</p>
  <p>Low blood sugar may happen if you:</p>
  <ul>
    <li>take too much gliclazide</li>
    <li>eat meals irregularly or skip meals</li>
    <li>are fasting</li>
    <li>don’t eat a healthy diet with enough nutrients in</li>
    <li>change what you eat</li>
    <li>increase your physical activity without eating more to compensate</li>
    <li>drink alcohol, especially after skipping a meal</li>
    <li>take other medicines or natural remedies at the same time</li>
    <li>have a hormone disorder such as hypothyroidism</li>
    <li>have kidney or liver problems</li>
  </ul>
  <p>To prevent hypoglycaemia, it's important to have regular meals, including breakfast. Never miss or delay a meal.</p>
  <p>If you're planning to exercise more than usual, make sure you eat carbohydrates (bread, pasta, cereals) before, during or afterwards.</p>
  <p>Always carry a fast-acting carbohydrate with you, like sugar cubes, fruit juice, or some sweets in case your blood sugar level gets low. Artificial sweeteners won’t help. You may also need to eat a starchy carbohydrate, like a sandwich or a biscuit, to maintain your blood sugar for longer.</p>
  <p>If taking sugar does not help or if the hypo symptoms come back, contact your doctor or the nearest hospital.</p>
  <p>Make sure your friends and family know about your diabetes and the symptoms of low blood sugar level so they can recognize a hypo if it happens.</p>
  <p><span class="infobanner">These are not all the side effects of gliclazide. For a full list see the leaflet inside your medicine packet.</span></p>
</section>
