<section class="u-section-separator u-section-separator--withmorelink">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, gliclazide can cause side effects although not everyone gets them.</p>
  <p>The most common side effects of gliclazide are tummy upsets. If they happen, side effects are usually mild and happen in fewer than one in 10 people.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-side-effects" tabindex="0" aria-expanded="true">
      <span>More information</span>
    </summary>
    <div id="details-content-side-effects" aria-hidden="false">
      <h3>Common side effects</h3>
      <p>These common side effects happen in up to one in 10 people:</p>
      <ul>
        <li>stomach ache</li>
        <li>feeling sick</li>
        <li>vomiting</li>
        <li>indigestion</li>
        <li>diarrhoea</li>
        <li>constipation</li>
      </ul>
      <p>Side effects can be less if you take gliclazide tablets before a meal.</p>
      <h3>Serious side effects</h3>
      <p>These serious side effects are rare and affect fewer than one in 10,000 people.</p>
      <p>Tell your doctor straight away if you get:</p>
      <ul>
        <li>liver disorder - warning signs include yellowing of the skin or whites of the eye</li>
        <li>blood disorder - warning signs include paleness, prolonged bleeding, bruising, sore throat and fever</li>
        <li>skin disorders such as rash, redness, itching, hives; you can also have rapid swelling of eyelids, face, lips, mouth, tongue or throat that may result in breathing difficulty</li>
        <li>eye disorders - your vision may be affected for a short time especially at the start of treatment due to changes in your blood sugar levels</li>
      </ul>
      <h3>Low blood sugar</h3>
      <p>Gliclazide can sometimes cause your blood sugar to go too low. The medical name for this is hypoglycaemia. Early warning signs of low blood sugar include:</p>
      <ul>
        <li>feeling hungry</li>
        <li>trembling or shaking</li>
        <li>sweating</li>
        <li>confusion</li>
        <li>difficulty concentrating</li>
      </ul>
      <p>It’s also possible for your blood sugar to go too low while you’re asleep. If this happens, it can cause make you feel sweaty, tired and confused when you wake up.</p>
      <p>Low blood sugar may happen if you:</p>
      <ul>
        <li>eat meals irregularly or skip meals</li>
        <li>are fasting</li>
        <li>don’t eat a healthy diet with enough nutrients in</li>
        <li>change what you eat</li>
        <li>increase your physical activity without eating more to compensate</li>
        <li>drink alcohol, especially after skipping a meal</li>
        <li>take other medicines or natural remedies at the same time</li>
        <li>take too much gliclazide</li>
        <li>suffer from a hormone disorder such as hypothyroidism</li>
        <li>have kidney or liver problems</li>
      </ul>
      <h4>What to do about low blood sugar</h4>
      <p>Have regular meals, including breakfast, and never miss or delay a meal.</p>
      <p>If you are planning to increase your physical activity, eat carbohydrates (bread, pasta, cereals) before, during or after exercise.</p>
      <p>Always carry a rapid-acting carbohydrate with you, like sugar cubes, fruit juice, or some sweets in case your blood sugar level gets low. Artificial sweeteners won’t help. You may also need to eat a starchy carbohydrate, like a sandwich or a biscuit</p>
      <p>If taking sugar does not help or if the symptoms come back, contact your doctor or the nearest hospital.</p>
      <p>Make sure your friends and family know about your diabetes and the symptoms of low blood sugar level.</p>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">These are not all the side effects of gliclazide. For a full list see the leaflet inside your medicine packet.</p>
      </div>

      <h3>How to cope with side effects</h3>
      <h4>What to do about feeling sick</h4>
      <p>Take your tablets after a meal (should we say this when it may mean your blood sugar drops? Plus it contradicts what we’ve said before – perhaps leave out?). Stick to simple meals and avoid rich or spicy food.</p>
      <h4>What to do about diarrhoea and vomiting</h4>
      <p>Drink plenty of water if you have diarrhoea or you are being sick – have small, frequent sips. It may also help to take oral rehydration solutions which you can buy from a pharmacy or supermarket to prevent dehydration.</p>
      <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
      <h4>What to do about constipation</h4>
      <p>If you have constipation, eat more high-fibre foods such as fresh fruit and vegetables and cereals, and drink plenty of water. Also exercise more regularly, for example, by going for a daily walk or run. If this does not help, talk to your pharmacist or doctor.</p>
      <h4>What to do about weight gain</h4>
      <p>Gliclazide can make you hungrier and retain water so it can be quite challenging to keep from putting on weight while you're taking it. Try to eat a healthy balanced diet without increasing your portion sizes so you don't gain too much weight. Regular exercise will also help to keep your weight stable.</p>

      <div class="disclaimer__info">
        <span class="disclaimer__info-icon"><span class="disclaimer__info-round">I<span class="disclaimer__info-hide">nfo: </span></span></span>
        <p class="disclaimer__info-text">If you have a side effect from any medicine, including gliclazide, you can report it using the <a href="http://www.nhs.uk/chq/Pages/1962.aspx?CategoryID=73&amp;SubCategoryID=101">Yellow Card Scheme</a>.</p>
      </div>

    </div>
  </details>
</section>
