<section class="u-section-separator">
  <h2 id="taking-with-others" class="content__h2">Taking gliclazide with other medicines</h2>
  <p>There are some medicines that interfere with the way gliclazide works.</p>
  <p>Tell your doctor and pharmacist that you're taking gliclazide before starting or stopping any other prescription medicine or a medicine you buy including herbal remedies and supplements.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-with-others" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoTakingWithOther|default('More information') }}</span>
    </summary>
    <div id="details-content-with-others" aria-hidden="false">
      <p>There are some medicines that interfere with the way gliclazide works.</p>
      <p>Tell your doctor and pharmacist that you're taking gliclazide before starting or stopping any other prescription medicine or a medicine you buy including herbal remedies and supplements.</p>
      <p>If you are taking any of the following medicines, your blood sugar levels may need to be checked more often and your dose adjusted:</p>
      <ul>
        <li>steroid tablets such as prednisolone</li>
        <li>some medicines used to treat heart problems and high blood pressure</li>
        <li>medicines to treat bacterial or fungal infections such as clarithromycin or fluconazole</li>
        <li>painkillers such as ibuprofen and aspirin (but not paracetamol)</li>
        <li>medicines used to treat asthma such as salbutamol</li>
        <li>male and female hormones such as testosterone, oestrogen and progesterone</li>
        <li>other diabetes medicines</li>
      </ul>
      <p>Gliclazide may also increase the effects of medicines that thin your blood such as warfarin.</p>
      <h3>Mixing gliclazide with complementary remedies</h3>
      <p>Avoid the herbal remedy for depression, St John's wort, as it may have an effect on the metabolism of gliclazide.</p>
    </div>
  </details>
</section>
