<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take gliclazide</h2>
  <p>Gliclazide isn't suitable for certain people.</p>
  <p>Tell your doctor before starting the medicine if you:</p>
  <ul>
    <li>have had an allergic reaction to gliclazide or its ingredients, to other medicines from the same group (sulfonylureas), to other related medicines (sulfonamides)</li>
    <li>have <a href="http://www.nhs.uk/Conditions/Diabetes-type1/Pages/Introduction.aspx">insulin-dependent diabetes (type 1)</a></li>
    <li>have <a href="http://www.nhs.uk/Conditions/diabetic-ketoacidosis/Pages/Introduction.aspx">ketone bodies and sugar in your urine</a></li>
    <li>have severe kidney or liver disease</li>
    <li>have a health problem called porphyria</li>
    <li>are taking miconazole (a treatment for fungal infections)</li>
    <li>are breastfeeding</li>
    <li>suffer from a condition called G6PD-deficiency</li>
    <li>need to have surgery</li>
  </ul>

</section>
