{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Interactions</h2>

      <p><em class="strong">Tell your doctor or pharmacist if you are taking, have recently taken or might take any of the following medicines as they may affect, or be affected by, prednisolone.</em></p>
      <ul>
        <li>antifungals such as ketoconazole and amphotericin which are used to treat fungal infections</li>
        <li>drugs for diabetes including insulin</li>
        <li>ciclosporin which is used to treat rheumatic disease, skin complaints or after a transplant</li>
        <li>antibiotics such as erythromycin and rifamycin which are used to treat bacterial infections</li>
        <li>cardiac glycosides for example digoxin which is used to help strengthen a weak heart</li>
        <li>antiepileptic drugs such as carbamazepine, phenobarbital, phenytoin and primidone which are used to treat epilepsy</li>
        <li>non-steroidal anti-inflammatory drugs (NSAIDs) for example aspirin, ibuprofen and indometacin used for pain relief or to treat rheumatic disease</li>
        <li>oestrogens, for example in the contraceptive pill or HRT</li>
        <li>mifepristone, used to induce labour or abortion</li>
        <li>thiazide diuretics ("water tablets"), for example bendroflumethiazide used for water retention or high blood pressure</li>
        <li>cytotoxic drugs, for example methotrexate which is used to treat cancer</li>
        <li>medicines to treat high blood pressure</li>
        <li>vaccinations: You must tell your doctor or nurse that you are taking a steroid before you are given any vaccinations. Steroids affect your immune response and you must not be given any live vaccines</li>
        <li>anticoagulants, for example warfarin which is used to thin the blood</li>
        <li>somatropin which is a growth hormone</li>
        <li>carbenoxolone which is used for ulcers</li>
        <li>acetazolamide which is used in the treatment of glaucoma and epilepsy</li>
        <li>salbutamol, formoterol, bambuterol, fenoteral, ritodrine, salmeterol and terbutaline used to treat asthma</li>
        <li>loop diuretics, for example furosemide which is used to treat heart failure</li>
        <li>antimuscarinics/anticholinergics</li>
        <li>theophylline which is used for asthma and chronic obstructive pulmonary disease (COPD)</li>
        <li>immunosuppressants which dampen down the activity of the body’s immune system</li>
        <li>antithyroids such as carbimazole</li>
        <li>antacids such as magnesium trisilicate or aluminium hydroxide, used to treat the symptoms of heartburn and indigestion</li>
      </ul>

      <h3>Prednisolone with food and drink</h3>
      <p>Prednisolone tablets should be swallowed with water. You can take prednisolone tablets before or after a meal. Avoid eating liquorice whilst taking prednisolone.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
