{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Interactions</h2>

      <h3>Will prednisolone mix badly with other medicines?</h3>
      <p>There are many medicines which can be affected by prednisolone so it's not possible to list of all the ones you should be especially concerned about.</p>
      <ul>
        <li>Some medicines can speed up how quickly prednisolone is broken down by the body, which can result in it not working as well as it should.</li>
        <li>Some medicines can slow down how quickly prednisolone is broken down and this can increase the chances that you might have side effects.</li>
        <li>Some medicines cause similar side effects to prednisolone and taking them together can increase your chances of having that side effect.</li>
        <li>Some of the side effects seen with prednisolone can mean that other medicines you take may not work as well as expected.</li>
      </ul>
      <h4>What to do:</h4>
      <ul>
        <li>Make sure that your doctor and pharmacist know you are taking prednisolone before starting or stopping any other medicine (including those bought over the counter).</li>
      </ul>

      <h3>Will prednisolone interact with food or alcohol?</h3>
      <ul>
        <li>Prednisolone can interact with alcohol, so it may be advisable to reduce or preferably avoid alcohol while taking it.</li>
        <li>You don't have to change your diet while taking prednisolone, however, you should avoid eating liquorice.</li>
      </ul>

      <h3>Will prednisolone interact with complementary medicines?</h3>
      <p>There are many complementary medicines that can be affected by prednisolone and it is not possible to provide a list of all the ones you should be especially concerned about.</p>
      <ul>
        <li>Some complementary medicines can speed up how quickly prednisolone is broken down by the body which can result in prednisolone not working as well as it should.</li>
        <li>Some complementary medicines can slow down how quickly prednisolone is broken down and this can increase the chances that you might experience side effects.</li>
        <li>Some complementary medicines cause similar side effects to prednisolone and taking them together can increase your chances of having that side effect.</li>
      </ul>

      <h4>What to do:</h4>
      <p>Make sure that your doctor and pharmacist knows you are taking prednisolone before starting or stopping <em class="strong">any</em> complementary medicine.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
