{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>
      <h2>Interactions</h2>

      <h3>If you are taking other medicines</h3>

      <p>Prednisolone can interact with a large number of prescription, over-the-counter and alternative medicines.</p>

      <p>It is important to <em class="strong">check with your doctor or pharmacist</em> before starting or stopping <em class="strong">ANY</em> other medication.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/interactions">
            <span class="prefix">Previous page:</span>
            <span class="title">Interactions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
