{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>About paracetamol</h2>

      <p>Paracetamol is a type of painkiller. It can also be used to reduce fever.</p>

      <p>It's available as tablets, capsules, soluble tablets, oral liquid suspension and suppositories. Paracetamol is also available as an injection but this is usually only used in hospitals.</p>

      <p>Paracetamol is sometimes combined with other painkillers such as codeine or dihydrocodeine or with an anti-sickness medicine. It's also an ingredient in many remedies bought over the counter to control pain, congestion and the symptoms of cold and flu.</p>

      <p>Paracetamol may be known by one of its brand names such as Calpol, Disprol, Hedex, Medinol, and Panadol.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/about">
            <span class="prefix">Previous page:</span>
            <span class="title">About</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
