{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>What paracetamol tablets are and what they are used for</h2>

      <p>Each tablet contains 500mg of the active ingredient paracetamol.</p>

      <p>Paracetamol 500mg tablets are analgesics (pain relievers) that may be used for the treatment of mild to moderate pain including headache, migraine, neuralgia, toothache, period pains and the symptomatic relief of rheumatic aches and pains.</p>

      <p>They also reduce temperature and can be used for the symptomatic relief of feverishness, feverish colds and influenza.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/about">
            <span class="prefix">Previous page:</span>
            <span class="title">About</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
