{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/paracetamol" class="link-no-style">Paracetamol</a></h1>

      <h2>Paracetamol: what it is and what it's for</h2>

      <p>Paracetamol is a type of painkiller that can be used to treat many conditions including headache, toothache, period pains and to relieve rheumatic aches and pains. It can also be used to reduce fever.</p>

      <p>We don't fully understood how paracetamol works, but it's thought to interfere with prostaglandins, which are naturally occurring hormones that are important in changing the pain threshold and reducing fever.</p>

      <p>Paracetamol is available as tablets, capsules, soluble tablets, oral liquid suspension and suppositories. It's also available as an injection but this is usually only used in hospitals.</p>

      <p>Paracetamol may be known by one of its brand names and these include Calpol, Disprol, Hedex, Medinol, and Panadol.</p>

      <h3>Stronger pain relief</h3>
      <p>Paracetamol is also available combined with other painkillers such as codeine (known as co-codamol) or dihydrocodeine (known as co-dydramol) for pain that can’t be relieved with paracetamol alone.</p>

      <h3>Pain plus anti-sickness relief</h3>
      <p>Paracetamol is also combined with anti-sickness medicines such as metoclopramide in a single tablet for people who want both pain and nausea relief, for example to treat migraine.</p>

      <h3>Cold, flu and congestion remedies</h3>
      <p>Paracetamol is also an ingredient in a large range of medicines bought over the counter to control pain, congestion and the symptoms of cold and flu.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/paracetamol/about">
            <span class="prefix">Previous page:</span>
            <span class="title">About</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
