<section class="u-section-separator">
  <h2 id="cautions" class="content__h2">Cautions with other medicines</h2>
  <p>Some medicines and zopiclone can interfere with each other and increase the chances of you having side effects.</p>
  <p>The following medicines may increase the sedating effects of zopiclone:</p>
  <ul>
    <li>medicines to treat schizophrenia and bipolar illness (antipsychotics)</li>
    <li>medicines to treat depression</li>
    <li>medicines for epilepsy</li>
    <li>medicines used in surgery (anaesthetics)</li>
    <li>medicines to calm or reduce anxiety or for sleep problems</li>
    <li>medicines for hay fever, rashes or other allergies that can make you sleepy (sedative antihistamines) such as chlorphenamine or promethazine</li>
    <li>strong painkillers such as codeine, methadone, morphine, oxycodone, pethidine or tramadol</li>
    <li>erythromycin or clarithromycin (antibiotics used to treat infections)</li>
    <li>some medicines used to treat fungal infections (such as ketoconazole and itraconazole)</li>
    <li>Ritonavir (a medicine used to treat HIV infections)</li>
  </ul>
  <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements.</span></p>
</section>
