<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>How does zopiclone work?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Zopiclone boosts the effectiveness of a chemical in the brain called gamma-aminobutyric acid (GABA) by attaching to the receptor sites in the brain where GABA normally works.</p>
          <p>GABA is a chemical that blocks transmission across nerves in the brain and has a ‘calming effect’.</p>
          <p>If the effectiveness of GABA in the brain is boosted then sleep is improved.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>How long will it take to work?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>Zopiclone starts to work in about an hour.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>How long can I take zopiclone for?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>Zopiclone is usually prescribed for just 2 to 4 weeks. This is because your body gets used to this medicine quickly, and after this time it is unlikely to have the same effect. Your body can also become dependent on it.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Can I get addicted to zopiclone?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>If you just take it for a few weeks, zopiclone is unlikely to be addictive. Your body may become dependent on zopiclone if you take if for longer than 4 weeks.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Do you sleepwalk with zopiclone?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>Some people have reported doing things like <a href="http://www.nhs.uk/conditions/sleepwalking/Pages/Introduction.aspx">sleepwalking</a>, making food and making phone calls while asleep after taking zopiclone. They don’t remember when they wake up.</p>
          <p>If you take zopiclone with alcohol or other medicines for mental health problems like depression or anxiety, this is more likely to happen. If this happens to you, go back to your doctor to try another medicine.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>How long will it stay in my system?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>Zopiclone doesn’t stay in your system for more than about 12 hours. However, some people feel sleepy the next morning when they wake up.</p>
          <p>If this does happens to you, don’t do any activities that require you to be fully alert such as driving, cycling or using tools or machinery.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>What will happen when I come off it?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>Don’t suddenly stop taking this medicine without telling your doctor. You may get withdrawal symptoms. This is when, for a few days or weeks, your insomnia returns more intensely than before. You may also feel anxious, restless and have mood changes and become very sensitive to light, noise and being touched.</p>
          <p>Your doctor may suggest that you reduce your dose of zopiclone slowly over a few days or weeks to prevent withdrawal symptoms.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>Can I drive or ride a bike?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>You might feel sleepy or confused in the first few days after taking zopiclone – do not drive a car, ride a bike or use tools or machines until you see how this medicine affects you.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>Will it affect my fertility?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>There is no evidence that zopiclone affects the fertility of men or women.</p>
          <p>If you want to get pregnant, however, you should not take zopiclone.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-10" tabindex="0" aria-expanded="false">
          <h3>Will it affect my contraception?</h3>
        </summary>
        <div id="questions-10" aria-hidden="true">
          <p>Zopiclone does not affect how contraception works, including the contraceptive pill and the morning after pill.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Is there any food or drink to avoid?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>Do not drink caffeine drinks like coffee, cola or energy drinks while you are on zopiclone. Caffeine has the opposite effect of zopiclone in your body and stops it working.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-12" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol?</h3>
        </summary>
        <div id="questions-12" aria-hidden="true">
          <p>Do not drink alcohol while you are on zopiclone. Alcohol and zopiclone together can make you sleep very deeply so that you don’t breathe properly or have difficulty waking up.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-13" tabindex="0" aria-expanded="false">
          <h3>Can I take it with street drugs?</h3>
        </summary>
        <div id="questions-13" aria-hidden="true">
          <p>Using cannabis with zopiclone will make its sleep-inducing effects worse. You could go into a very deep sleep where you may have difficulty waking up.</p>
          <p>Using heroin or methadone with zopiclone may also increase the sedative effects of both of them. You may have difficulty waking up.</p>
          <p>Using cocaine or other stimulants (like ecstasy, amphetamines, MDA, 6-APB) with zopiclone might lead to over-sedation.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-14" tabindex="0" aria-expanded="false">
          <h3>Can lifestyle advice help?</h3>
        </summary>
        <div id="questions-14" aria-hidden="true">
          <p>There are a number of things you can try to help yourself get a good night's sleep if you have insomnia.</p>
          <ul>
            <li>set regular times for going to bed and waking up</li>
            <li>relax before bed time – try taking a warm bath or listening to calming music</li>
            <li>use thick curtains or blinds, an eye mask and earplugs to stop you being woken up by light and noise</li>
            <li>avoid caffeine, cigarettes (or e-cigarettes), alcohol, heavy meals and exercise for a few hours before going to bed</li>
            <li>don’t watch TV or use phones, tablets or computers just before going to bed</li>
            <li>don’t nap during the day</li>
            <li>write a list of your worries, and any ideas about how to solve them, before you go to bed to help you forget about them until the morning</li>
          </ul>
          <p>Some people find over-the-counter sleeping tablets helpful, but they don't address the underlying problem and can have troublesome side effects.</p>
        </div>
      </details>

    </div>
  </div>
</section>
