<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>Zopiclone tablets come in 2 different strengths – 3.5mg and 7.5mg.</p>
  <p>The usual dose is to take one 7.5mg tablet just before you go to bed.</p>
  <p>A lower dose of one 3.5mg tablet may be recommended if you are over 65 years old or if you have kidney or liver problems.</p>
  <p>Swallow the tablet whole. Do not crush or chew it. You can take zopiclone with or without food.</p>
  <p>Zopiclone is a strong medicine so it’s important to take it exactly as your doctor has said to. You could be asked to take a tablet on only 2 or 3 nights each week, rather than every night.</p>
  <h3>What if I forget to take it?</h3>
  <p>If you forget to take it by bedtime, just start again on the next night.</p>
  <p>Never take two doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
  <h3>What if I take too much?</h3>
  <p>If you take too much zopiclone by accident, you must get help quickly even if you don't feel any different.</p>
  <p>Go to the nearest hospital accident and emergency department straight away.</p>
  <p>If you can, take with you any zopiclone that you have left, and the packet it comes in so the hospital can see what you have taken. Tell them how much you have taken.</p>
  <p>It’s a good idea to get a friend or family member to go with you, in case you feel ill on the way.</p>
</section>
