<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Zopiclone is a type of sleeping pill which can be taken to treat bad bouts of <a href="http://www.nhs.uk/conditions/Insomnia/Pages/Introduction.aspx">insomnia</a>. It helps you fall asleep more quickly and also helps stop you waking up during the night.</p>
  <p>Zopiclone is available on prescription as tablets. It also comes as a liquid for people who find it hard to swallow tablets, but this has to be ordered specially by your doctor.</p>
  <p>Do not give zopiclone to children.</p>
</section>
