<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Zopiclone takes about an hour to work.</li>
    <li>Zopiclone is usually prescribed for just 2 to 4 weeks. This is because your body gets used to it quickly, and after this time it is unlikely to have the same effect. Your body can also become dependent on it.</li>
    <li>Common side effects are a metallic taste in your mouth, a dry mouth and daytime sleepiness.</li>
    <li>Do not drink alcohol while you are on zopiclone. Having the two together can make you go into a deep sleep where you find it difficult to wake up.</li>
    <li>Zopiclone is also called by the brand name Zimovane.</li>
  </ul>
</section>
