<section class="">
  <div class="module module--links module--border">
    <div class="module__wrap">
      <div class="module__row">
        <div class="module__col">
          <h2 class="module__header">Related conditions</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.nhs.uk/conditions/Insomnia/Pages/Introduction.aspx">Insomnia</a></li>
          </ul>
        </div>
        <div class="module__col">
          <h2 class="module__header module__header--bordertop module__header--nobordertop">Useful resources</h2>
          <ul class="module__list">
            <li class="module__list-item"><a class="link__external" href="http://www.mind.org.uk/information-support/types-of-mental-health-problems/sleep-problems/#.VfAGnht0yUk">Mind charity: coping with sleep problems</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.moodjuice.scot.nhs.uk/sleepproblems.asp">Moodjuice: get to sleep tips</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.rcpsych.ac.uk/expertadvice/problemsdisorders/tirednesssleepproblems.aspx">Royal College of Psychiatrists: sleep advice</a></li>
            <li class="module__list-item"><a class="link__external" href="http://www.healthtalk.org/peoples-experiences/later-life/sleep-problems-later-life/topics">Healthtalk.org: insomnia real stories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
