<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>Do not take zopiclone if you are pregnant as it may harm the developing baby and cause side effects in newborn babies.</p>
  <p>There’s some evidence that taking zopiclone can increase your risk of having a baby born early (before 37 weeks) and the baby having a lower birth weight. Taking zopiclone right up to labour may increase the chance of the baby having withdrawal symptoms at birth.</p>
  <p>Sometimes, however, your doctor may decide that it’s best for you to continue taking zopiclone while you’re pregnant.</p>
  <p><span class="alertbanner">Tell your doctor immediately if you’re trying to get pregnant or become pregnant while taking this medicine.</span></p>
  <h3>Zopiclone and breastfeeding</h3>
  <p>Zopiclone passes into breast milk in small amounts. If you have to take zopiclone, talk to your doctor or midwife about your feeding options.</p>
</section>
