<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Not everyone will get side effects with zopiclone.</p>
  <p>Common side effects happen in more than 1 in 100 people and include:</p>
  <ul>
    <li>a bitter or metallic taste in your mouth</li>
    <li>a dry mouth</li>
    <li>daytime sleepiness  </li>
  </ul>
  <h3>Serious side effects</h3>
  <p>Serious side effects are rare and happen in less than 1 in 1000 people.</p>
  <p>Tell your doctor as soon as possible if you:</p>
  <ul>
    <li>lose your memory (amnesia)</li>
    <li>see or hear things that are not real (hallucinations)</li>
    <li>fall over (especially in the elderly)</li>
    <li>think things are not true (delusions)</li>
    <li>feel low or sad (depressed mood)</li>
  </ul>
  <h3>Serious allergic reaction</h3>
  <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
  <ul>
    <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
    <li>wheezing</li>
    <li>tightness in the chest or throat</li>
    <li>having trouble breathing or talking</li>
    <li>swelling of the mouth, face, lips, tongue or throat</li>
  </ul>
  <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>
  <p><span class="infobanner">These are not all the side effects of zopiclone. For a full list see the leaflet inside your medicine packet.</span></p>
</section>
