<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take zopiclone</h2>
  <p>Zopiclone can be taken by adults over the age of 18.</p>
  <p>Zopiclone is not suitable for everyone. To make sure zopiclone is safe for you tell your doctor if you:</p>
  <ul>
    <li>have an allergy to zopiclone or any of its ingredients</li>
    <li>have liver or kidney problems</li>
    <li>have severe muscle weakness (myasthenia gravis)</li>
    <li>have breathing problems or you have <a href="http://www.nhs.uk/conditions/Sleep-apnoea/Pages/Introduction.aspx">sleep apnoea</a> (where you stop breathing for short bouts while sleeping)</li>
    <li>have had mental health problems</li>
    <li>have had issues with alcoholism or drug abuse</li>
    <li>are trying to get pregnant, are already pregnant or are breastfeeding</li>
  </ul>
</section>
