{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <h2>Side effects</h2>

      <h3>Tell a doctor straight away if you experience these potentially serious side effects:</h3>

      <ul>
        <li>serotonin syndrome: warning signs include dizziness, severe headache, hallucinations, fast heartbeat and severe diarrhoea</li>
        <li>low sodium levels: warning signs include headache, trouble focusing, memory problems, not thinking clearly, weakness, seizures, or losing your balance</li>
        <li>bleeding in your gut: warning signs include vomiting or coughing up blood; blood in the urine; black, red, or tarry stools; bleeding from the gums; unusual vaginal bleeding; bruises that appear without a reason or that get bigger; or any bleeding that is very bad or that you cannot stop</li>
        <li>thoughts about harming yourself or ending your life</li>
        <li>chest pain or pressure</li>
        <li>shortness of breath</li>
        <li>severe dizziness or passing out</li>
        <li>putting on or losing weight without trying to</li>
        <li>changes in your periods such as heavy bleeding, spotting, or bleeding between periods</li>
        <li>painful erections that last longer than four hours</li>
      </ul>

      <h3>Medical emergency! Stop taking the medicine and seek urgent medical help if you have:</h3>
      <p>A serious allergic reaction to citalopram. Warning signs include itchy skin rash; wheezing; tightness in the chest or throat; having trouble breathing or swelling of the mouth, face, lips, tongue, or throat.</p>

      <h3>Keep taking the medicine, but tell your doctor if you have any of these very common side effects:</h3>
      <p><span class="strong">(affects at least one in 10 people)</span></p>
      <ul>
        <li>feeling sleepy and/or unable to sleep</li>
        <li>dry mouth</li>
        <li>sweating a lot</li>
      </ul>

      <h3>Keep taking the medicine, but tell your doctor if you have any of these common side effects:</h3>
      <p><span class="strong">(affects between 1 in 10 and 1 in 100 people)</span></p>
      <ul>
        <li>upset stomach</li>
        <li>dizziness</li>
        <li>loss of appetite</li>
        <li>feeling tired or weak</li>
        <li>diarrhoea</li>
        <li>shakiness</li>
        <li>sweating a lot</li>
        <li>yawning</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/citalopram/side-effects">
            <span class="prefix">Previous page:</span>
            <span class="title">Side effects</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
