<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>Pregabalin is a prescription medicine. It's important to take it as instructed by your doctor.</p>
  <p>The usual dose of pregabalin is between 150mg and 600mg a day, taken in 2 or 3 separate doses.</p>
  <p>If you are taking pregabalin as a liquid, 2.5ml is the same as taking a single 50mg capsule.</p>
  <p>Try to space your doses evenly through the day.</p>
  <p>You can take pregabalin with or without food, but it’s best to be consistent each day.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-how-when" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoHowWhen|default('More information') }}</span>
    </summary>
    <div id="details-content-how-when" aria-hidden="false">
      <p>To prevent side effects, your doctor will prescribe a low dose to start with and then increase it over a few days.</p>
      <p>Swallow pregabalin capsules whole with a drink of water or juice. Do not chew them.</p>
      <p>If you are taking pregabalin as a liquid, it will come with a syringe or spoon to measure your dose. If you don’t have a syringe or spoon, ask your pharmacist for one.</p>
      <h3>Will my dose go up or down?</h3>
      <p>Pregabalin capsules come in a variety of different strengths.</p>
      <p>The dose of pregabalin you have been prescribed depends on your illness, your age, how well your kidneys work, and how severe your symptoms are.</p>
      <p>When you first start taking pregabalin your dose might be gradually increased. This is to let your body get used to it and find a dose that works well for you.</p>
      <p>Once you find a dose that suits you your dose will not usually change any more.</p>
      <h3>How long will I take it for?</h3>
      <p>If you have epilepsy, it is likely that once your illness is under control you will continue to take pregabalin for many years.</p>
      <p>If you have nerve pain or anxiety it is likely that once your symptoms have gone you will continue to take pregabalin for several months to stop them coming back.</p>
      <h3>What if I forget to take it?</h3>
      <p>If you forget a dose, take it as soon as you remember. If it is within 2 hours of the next dose, it is better to leave out the missed dose and take your next dose as normal.</p>
      <p>Never take two doses at the same time. Never take an extra dose to make up for a forgotten one.</p>
      <p>If you have epilepsy, it’s important to take the medicine regularly as recommended by your doctor. Missing doses may trigger a seizure. If you forget doses often, it may help to get a special pillbox or a watch with an alarm to remind you.</p>
      <h3>What if I take too much?</h3>
      <p>Taking too much pregabalin by accident may cause unpleasant side effects. These include feeling sleepy, confused or agitated, seizures, and passing out.</p>
      <p>If this happens, call your doctor straight away, or go to the nearest hospital accident and emergency department.</p>
      <p>Take with you any pregabalin that you have left, and the labelled container so the hospital can see what you have taken.</p>
    </div>
  </details>
</section>
