<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">How to cope with side effects</h2>
  <h3>What to do about feeling sleepy, tired or dizzy</h3>
  <p>Don’t drive or use tools or machinery if you are feeling this way.</p>
  <p>As your body gets used to pregabalin, these side effects should wear off.</p>
  <p>If they don’t wear off within a week or two, your doctor may reduce your dose or increase it more slowly. If that doesn’t work you may need to switch to a different medicine.</p>
  <h3>What to do about feeling sick</h3>
  <p>Take pregabalin with or after a meal or snack to ease feelings of sickness. It may also help if you don’t eat rich or spicy food while you're taking this medicine.</p>
  <h3>What to do about diarrhoea and vomiting</h3>
  <p>Have small but frequent sips of water if you have diarrhoea or you are vomiting. It may also help to take oral rehydration solutions which you can buy from a pharmacy or supermarket to prevent dehydration.</p>
  <p>Don’t take any other medicines to treat diarrhoea or vomiting without speaking to a pharmacist or doctor.</p>
  <h3>What to do about constipation</h3>
  <p>If you have constipation, eat more high-fibre foods such as fresh fruit and vegetables and cereals, and try to drink several glasses of water or other fluid each day. It may also help to exercise more regularly, for example, by going for a daily walk or run.</p>
  <h3>What to do about weight gain</h3>
  <p>Pregabalin can make you hungrier so it can be quite a challenge to stop yourself putting on weight.</p>
  <p>Try to eat a healthy balanced diet without increasing your portion sizes. Don’t snack on foods that contain a lot of calories, such as crisps, cakes, biscuits and sweets.</p>
  <p>If you feel hungry between meals, eat fruit and vegetables and low-calorie foods.</p>
  <p>Regular exercise will also help to keep your weight stable.</p>
  <h3>What to do about a dry mouth</h3>
  <p>Try chewing sugar-free gum or sucking sugar-free sweets.</p>
  <p><span class="infobanner">You can <a href="https://yellowcard.mhra.gov.uk/">report any suspected side effect</a> to a UK safety scheme.</span></p>
</section>
