<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Pregabalin is used to treat <a href="http://www.nhs.uk/CONDITIONS/EPILEPSY/Pages/Introduction.aspx">epilepsy</a> and <a href="http://www.nhs.uk/conditions/Anxiety/Pages/Introduction.aspx">anxiety</a>.</p>
  <p>It is also taken to treat nerve pain. This type of pain can be caused by different illnesses including <a href="http://www.nhs.uk/Conditions/Diabetes/Pages/Diabetes.aspx">diabetes</a> and <a href="http://www.nhs.uk/conditions/shingles/Pages/Introduction.aspx">shingles</a> or an injury.</p>
  <p>Pregabalin is only available on prescription. It can be taken as capsules or a liquid that you drink.</p>
  <p>The medicine is also called by various brand names, including Lyrica, Alzain, Lecaent and Rewisca.</p>
</section>
