<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Pregabalin is usually taken 2 or 3 times a day. You can take it with or without food.</li>
    <li>The side effects of pregabalin are usually mild and go away by themselves. The most common ones are feeling sleepy, dizziness and headaches.</li>
    <li>It takes at least a few weeks for pregabalin to work.</li>
    <li>You don’t have to have epilepsy for pregabalin to help with pain or anxiety.</li>
    <li>You can drink alcohol while taking pregabalin but it may make you feel sleepy or tired.</li>
  </ul>
  <p><span class="infobanner">Check the leaflet inside your medicine packet for information about the brand that you are taking.</span></p>
</section>
