<section class="u-section-separator">
  <h2 id="more" class="content__h2">More about gabapentin</h2>
  <div class="concertinas">
    <details role="group">
      <summary role="button" aria-controls="more-1" tabindex="0" aria-expanded="false">
        <h3>How pregabalin works</h3>
      </summary>
      <div id="more-1" aria-hidden="true">
        <p>It’s not clear exactly how pregabalin works.</p>
        <p>In epilepsy, it’s thought that it stops seizures by reducing the abnormal electrical activity in the brain.</p>
        <p>With nerve pain, it’s thought to block pain by interfering with pain messages travelling through the brain and down the spine.</p>
        <p>In anxiety, it’s thought that it stops your brain from releasing the chemicals that make you feel anxious.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-2" tabindex="0" aria-expanded="false">
        <h3>Coming off pregabalin</h3>
      </summary>
      <div id="more-2" aria-hidden="true">
        <p><span class="alertbanner">Don't stop taking pregabalin without talking to your doctor. Stopping pregabalin suddenly can cause serious problems.</span></p>
        <p>Do not stop taking pregabalin suddenly even if you feel fine.</p>
        <p>If you have epilepsy, stopping pregabalin suddenly can cause seizures that will not stop.</p>
        <p>If you are taking it for any reason and stop suddenly, you may have a severe withdrawal syndrome. This can have unpleasant symptoms that include:</p>
        <ul>
          <li>anxiety</li>
          <li>difficulty sleeping</li>
          <li>feeling sick</li>
          <li>pain</li>
          <li>sweating</li>
        </ul>
        <p>It's possible to prevent withdrawal seizures and other symptoms by reducing the dose of pregabalin bit by bit.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-3" tabindex="0" aria-expanded="false">
        <h3>Pregabalin and addiction</h3>
      </summary>
      <div id="more-3" aria-hidden="true">
        <p>Some people have become addicted to pregabalin after taking it for a long time. If this happens, you will have withdrawal symptoms after you stop taking the medicine.</p>
        <p>Talk to your doctor if you’re concerned you are becoming physically dependant on pregabalin.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-5" tabindex="0" aria-expanded="false">
        <h3>Pregabalin and street drugs</h3>
      </summary>
      <div id="more-5" aria-hidden="true">
        <p>Pregabalin can make you feel relaxed, calm and ‘high’. It can also intensify the highs of street drugs like cannabis and heroin. So, if you use street drugs alongside pregabalin, there may be more chance of unpleasant side effects like panic attacks, anxiety and memory loss.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-6" tabindex="0" aria-expanded="false">
        <h3>Pregabalin and contraception</h3>
      </summary>
      <div id="more-6" aria-hidden="true">
        <p>Pregabalin doesn't stop contraception working. You can safely use any type of contraception, including contraceptive pills, alongside pregabalin.</p>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="more-7" tabindex="0" aria-expanded="false">
        <h3>Pregabalin and fertility</h3>
      </summary>
      <div id="more-7" aria-hidden="true">
        <p>Pregabalin does not reduce fertility in men or women.</p>
      </div>
    </details>

  </div>
</section>
