<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>There is no firm evidence that pregabalin is harmful to an unborn baby but for safety women are usually advised to take it in pregnancy only if the benefits outweigh the risks.  </p>
  <p><span class="alertbanner">Tell your doctor immediately if you’re trying to get pregnant or become pregnant while taking this medicine.</span></p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-pregnancy" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoPregnancy|default('More information') }}</span>
    </summary>
    <div id="details-content-pregnancy" aria-hidden="false">
      <p>If you take pregabalin for epilepsy and become pregnant, do not stop the medicine without talking to your doctor first. It is very important that epilepsy is treated during pregnancy as seizures can harm you and your unborn baby.</p>
      <p>Women who are trying to get pregnant or have become pregnant are routinely recommended to take at least 400mcg of a vitamin called folic acid every day. It helps the unborn baby grow normally.</p>
      <p>Pregabalin has not been linked with low folic acid levels. However, all pregnant women who take medicines that can be used to treat epilepsy are recommended to take a higher dose of folic acid. Your doctor might prescribe a high dose of folic acid (5mg a day) for you to take during the first 12 weeks of pregnancy.</p>
      <p>If you take pregabalin around the time of giving birth, your baby may need extra monitoring for a few days after they’re born because they may have pregabalin withdrawal symptoms.</p>
      <h3>Pregabalin and breastfeeding</h3>
      <p>Tiny amounts of pregabalin can get into breast milk, but it is not clear whether it has any side effects on babies.</p>
      <p>Talk to your doctor, as other drugs might be better while you are breastfeeding.</p>
    </div>
  </details>

</section>
