<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Not everyone will get side effects with pregabalin, it seems to be a very safe medicine.</p>
  <h3>Common side effects</h3>
  <p>These very common side effects may happen in more than one in 10 people. They are usually mild and go away by themselves. Keep taking the medicine but tell your doctor if they bother you or don't go away:</p>
  <ul>
    <li>headaches</li>
    <li>feeling sleepy</li>
    <li>dizziness</li>
    <li>diarrhoea</li>
    <li>mood changes</li>
    <li>feeling sick</li>
    <li>swollen hands, arms, legs and feet</li>
    <li>blurred vision</li>
    <li>for men, difficulties with getting an erection</li>
  </ul>
  <p>You may find you put on weight because pregabalin can make you feel hungry.</p>
  <p>If you have diabetes, pregabalin can upset your blood sugar control. Monitor your blood sugar more often for the first few weeks of treatment with pregabalin and adjust your diabetes treatment if you need to. Talk to your doctor or diabetes nurse if you want more advice on what to do.</p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-side-effects" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoSideEffects|default('More information') }}</span>
    </summary>
    <div id="details-content-side-effects" aria-hidden="false">
      <h3>Serious side effects</h3>
      <p>Very few people taking pregabalin have serious problems. </p>
      <p>Tell a doctor straight away if notice a serious side effect. These are:</p>
      <ul>
        <li>thoughts of harming or killing yourself. A small number of people taking pregabalin have had suicidal thoughts. They can happen after only a week of treatment.</li>
        <li>finding if difficult to breathe</li>
        <li>severe dizziness or passing out</li>
        <li>problems going to the toilet, including blood in your pee, needing to pee more often, or constipation</li>
      </ul>
      <h4>Serious allergic reaction</h4>
      <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
      <ul>
        <li>a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
        <li>wheezing</li>
        <li>tightness in the chest or throat</li>
        <li>having trouble breathing or talking</li>
        <li>swelling of the mouth, face, lips, tongue or throat</li>
      </ul>
      <p>Serious allergic reaction is an emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>
      <p><span class="infobanner">These are not all the side effects of pregabalin. For a full list see the leaflet inside your medicine packet.</span></p>
    </div>
  </details>
</section>
