<section class="u-section-separator">
  <h2 id="taking-with-others" class="content__h2">Taking pregabalin with other medicines</h2>
  <p>Pregabalin can usually be safely mixed with other medicines.</p>
  <p>You can safely use any type of contraception, including contraceptive pills, alongside pregabalin.</p>
  <p>The side effects of pregabalin can make you feel sleepy or dizzy. Taking pregabalin at the same time as other medicines which also make you sleepy or dizzy might make these side effects worse.</p>
  <p>Before taking pregabalin, tell your doctor if you are taking strong painkillers such as morphine.</p>
  <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicine, including herbal remedies and supplements, before starting pregabalin.</span></p>

  <details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-with-others" tabindex="0" aria-expanded="true">
      <span>{{ moreinfoTakingWithOther|default('More information') }}</span>
    </summary>
    <div id="details-content-with-others" aria-hidden="false">
      <h3>Mixing pregabalin with herbal remedies and supplements</h3>
      <p>There are no known problems with taking herbal remedies and supplements with pregabalin.</p>
      <p>However, for safety, speak to your pharmacist before taking pregabalin if you routinely take any herbal or alternative remedies.</p>
    </div>
  </details>
</section>
