<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take gabapentin</h2>
  <p>Pregabalin capsules contain gelatin so they are not suitable for vegetarians and vegans.</p>
  <p>Pregabalin liquid contains sodium. If you are on a controlled sodium diet, or your kidneys don’t work well, speak to your doctor before taking this liquid.</p>
  <p>To make sure pregabalin is safe for you, tell your doctor if you:</p>
  <ul>
    <li>have ever had an allergic reaction to pregabalin or another medicine</li>
    <li>have kidney problems</li>
    <li>have ever abused or been addicted to a medicine</li>
    <li>are trying to become pregnant, are already pregnant or are breastfeeding</li>
  </ul>
</section>
