{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds content-normal content-multi">
      <h1 class="page-content-header"><a href="/citalopram" class="link-no-style">Citalopram</a></h1>

      <nav class="list-nav" role="navigation">
        <ol>
          <li>About citalopram</li>
          <li><a href="/citalopram/multi-page-a/precautions">Precautions</a></li>
          <li><a href="/citalopram/multi-page-a/pregnancy-breastfeeding">Pregnancy &amp; breastfeeding</a></li>
          <li><a href="/citalopram/multi-page-a/other-options">Other options</a></li>
        </ol>
      </nav>

      <h2>About citalopram</h2>

      <h3>What citalopram does</h3>
      <p>Citalopram is a type of antidepressant medicine that is widely used to treat depression and also sometimes for panic attacks.</p>
      <p>Citalopram is one of a group of antidepressants called selective serotonin reuptake inhibitors, or SSRIs, which are thought to work by increasing the levels of a mood-enhancing chemical called serotonin in the brain.</p>
      <p>Citalopram is available on prescription as tablets and as oral drops for people that have problems swallowing tablets.</p>
      <p>Its brand name is Cipramil.</p>

      <h3>How to take citalopram</h4>
      <p>Take citalopram once a day with or without food. You can take it at any time of day but make sure it's at the same time every day.</p>
      <p>If you miss a dose, take it as soon as you remember unless it’s close to the time for your next dose in which case you should skip the missed dose and go back to your normal time.</p>
      <p><em class="strong">Never take two doses at the same time or extra doses.</em></p>
      <h4>If you take too many tablets</h4>
      <p>Ask your doctor immediately for advice as an overdose can lead to potentially serious symptoms such as vomiting, tremor, drowsiness, an increased heart rate and sometimes seizures, coma and severe disturbances in heart rhythms.</p>


      <h3>How long to take citalopram for</h3>
      <p>Once your condition is under control it’s likely that you will continue to take citalopram for several more months to prevent the symptoms returning.</p>
      <p>You will need to discuss with your doctor the pros and cons of continuing to take citalopram as a longer-term treatment. The decision will depend on the type and severity of your initial symptoms, whether it's a one-off or recurring problem, how well citalopram worked for you, and whether you've had any bothersome side effects.</p>


      <h3>Stopping citalopram</h3>
      <p>Don't stop taking citalopram unless your doctor tells you to.</p>
      <p>If you stop taking citalopram suddenly you may get withdrawal symptoms especially if you've been taking it for a long time.</p>
      <p>Withdrawal symptoms include dizziness, nausea, numbness or tingling in the hands or feet, feeling anxious, palpitations and headaches.</p>
      <p>Although withdrawal symptoms are usually harmless and disappear within a few days you can avoid them completely by reducing your dose gradually when you stop taking this medicine.</p>


      <h3>When will I feel better?</h3>
      <p>You may not notice much improvement in your symptoms for a week or two until citalopram begins to take effect. It usually takes between four and six weeks before you will feel the full benefits.</p>
      <p><em class="strong">Don't stop taking citalopram after a week or two just because you feel it isn't helping your symptoms. Give the medicine at least six weeks to work.</em></p>


      <h3>Dosage</h3>
      <p>Citalopram is available as 10mg, 20mg and 40mg strength tablets and as oral drops of 40mg/ml where four drops is equivalent to a 10mg tablet.</p>
      <p>The usual dose of citalopram is 20mg daily in adults. However, the starting dose of citalopram may be lower than 20mg daily and the dose can be increased to a maximum of 40mg daily (unless you are over 65 years of age or have liver problems, in which case you’re advised a maximum dose of 20mg daily).</p>
      <p>Citalopram is not licensed for use in children under 12 years old but in 12 to 18-years-olds the usual dose is 10mg daily that can be increased if necessary to a maximum of 40mg daily.</p>
      <p>With the oral drops (40mg/ml), four drops (8mg) is considered equal to taking a 10mg tablet as the liquid medicine is slightly better absorbed.</p>


      <h3>Possible side effects</h3>
      <p>Like all medicines, citalopram can cause side effects in some people but don't worry, many people have no side effects or only minor ones.</p>
      <p>You can lessen the chance of having a side effect if you take citalopram in the evening so that you’re asleep when the level of medicine in your body is highest.</p>
      <h4>Common side effects</h4>
      <p>Keep taking the medicine, but tell your doctor if these common side effects bother you or don't go away:</p>
      <ul>
        <li>feeling sleepy and/or unable to sleep</li>
        <li>dry mouth</li>
        <li>sweating a lot</li>
        <li>upset stomach</li>
        <li>dizziness</li>
        <li>loss of appetite</li>
        <li>feeling tired or weak</li>
        <li>diarrhoea</li>
        <li>shakiness</li>
        <li>sweating a lot</li>
        <li>yawning</li>
      </ul>
      <h4>Serious side effects</h4>
      <p>It happens rarely, but some people may have very serious side effects when taking citalopram.</p>
      <p>Tell a doctor <em class="strong">straight away</em> if you develop:</p>
      <ul>
        <li>serotonin syndrome: warning signs include dizziness, very severe headache, agitation, hallucinations, fever, fast heartbeat, a heartbeat that does not feel normal, flushing, seizures, shakiness, sweating a lot, change in balance, change in thinking clearly, very upset stomach and vomiting, or severe diarrhoea</li>
        <li>low sodium levels: warning signs include headache, trouble focusing, memory problems, not thinking clearly, weakness, seizures, or losing your balance</li>
        <li>bleeding in your gut: warning signs include vomiting blood or vomit that looks like coffee grounds; coughing up blood; blood in your urine; black, red, or tarry stools; bleeding from the gums; unusual vaginal bleeding; bruises that appear without a reason or that get bigger; or any bleeding that is very bad or that you cannot stop.</li>
        <li>thoughts about harming yourself or ending your life</li>
        <li>chest pain or pressure</li>
        <li>shortness of breath</li>
        <li>severe dizziness or passing out</li>
        <li>putting on or losing weight without trying to</li>
        <li>changes in your periods such as heavy bleeding, spotting, or bleeding between periods</li>
        <li>Painful erections that last longer than four hours - this may happen even when you are not having sex. <em class="strong">If you develop a painful, prolonged erection it needs to be treated right away or it can lead to permanent sex problems and you may not be able to have sex again.</em></li>
      </ul>
      <h4>Serious allergic reaction</h4>
      <p><em class="strong">It's rare to have an allergic reaction to citalopram but if this happens to you, stop taking your medication and contact a doctor straight away.</em></p>
      <p>The warning signs of an allergic reaction are developing a skin rash that may include itchy, red, swollen, blistered, or peeling skin; wheezing; tightness in the chest or throat; having trouble breathing or talking or swelling of the mouth, face, lips, tongue, or throat.</p>
      <h4>Coping with side effects</h4>
      <p>Some of the common side effects of citalopram will gradually improve as your body adjusts to taking the medicine.</p>
      <ul>
        <li><span class="strong">what to do about nausea or indigestion</span>: take citalopram with food and plenty of water</li>
        <li><span class="strong">what to do about drowsiness</span>: avoid driving or using machinery until the drowsiness wears off. Reduce the amount of alcohol you drink.</li>
        <li><span class="strong">what to do if you’re unable to sleep</span>: take citalopram first thing in the morning</li>
        <li><span class="strong">what to do if you have a dry mouth</span>: chew sugar-free gum or sugar-free sweets</li>
        <li><span class="strong">if you have anxiety</span>: some people who take citalopram for panic attacks find their anxiety worsens during the first few weeks of treatment. This effect usually wears off after a few weeks but speak to your doctor if it bothers you -  a lower dose may help reduce your symptoms.</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="next-page">
          <a href="/citalopram/multi-page-a/precautions">
            <span class="prefix">Next page:</span>
            <span class="title">Precautions</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
