{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>About prednisolone</h2>

      <p>Prednisolone is a type of medicine known as a corticosteroid or 'steroid'. It works by damping down the immune system to reduce inflammation.</p>

      <p>Prednisolone is used to treat a wide range of conditions including allergies, inflammatory diseases (for example affecting the eyes, bowels, joints, skin or lungs), skin diseases, infections, certain cancers and to prevent organ rejection after a transplant.</p>

      <p>Prednisolone is available only on prescription as tablets, an oral solution or liquid eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>

      <p>Its brand names include Deltacortril, Deltastab, Dilacort, Pevanti.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/about">
            <span class="prefix">Previous page:</span>
            <span class="title">About</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
