{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>What prednisolone is and what it's used for</h2>

      <p>Prednisolone belongs to a group of medicines called steroids. Their full name is <em class="italic">corticosteroids</em>. These corticosteroids occur naturally in the body and help to maintain health and wellbeing. Boosting your body with a corticosteroid (such as prednisolone) is an effective way to treat various illnesses involving inflammation in the body. Prednisolone reduces this inflammation, which could otherwise go on making your condition worse. You must take this medicine regularly to get maximum benefit from it.</p>

      <p>Prednisolone is used in a wide range of inflammatory and auto-immune conditions including:</p>
      <ul>
        <li>allergies, including severe allergic reactions</li>
        <li>inflammation affecting
          <ul>
            <li>the lungs, including asthma</li>
            <li>blood vessels and heart</li>
            <li>bowel or kidneys</li>
            <li>muscles and joints, including rheumatoid arthritis</li>
            <li>eye or nervous system</li>
          </ul>
        </li>
        <li>skin conditions</li>
        <li>some infections</li>
        <li>some cancers, including leukaemia, lymphoma and myeloma</li>
        <li>to prevent organ rejection after a transplant</li>
      </ul>

      <p>Prednisolone is also used to:</p>
      <ul>
        <li>boost steroid levels when the body is not making enough natural steroid on its own</li>
        <li>treat high calcium levels</li>
      </ul>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/about">
            <span class="prefix">Previous page:</span>
            <span class="title">About</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
