{% extends "templates/layout.html" %}

{% block page_title %}
  NHS Medicines alpha
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge"><a href="/prednisolone" class="link-no-style">Prednisolone</a></h1>

      <h2>Prednisolone: what it is and what it's used for</h2>

      <p>Prednisolone is one of a group of medicines known as corticosteroids or simply 'steroids'.<p>

      <p>Corticosteroids aren't the same as anabolic steroids which are used to treat a completely different set of health conditions and are known for being taken by body builders to boost muscle.</p>

      <p>Corticosteroids are produced naturally in the body and help control our response to stress, regulate blood electrolyte levels and control our metabolism.</p>

      <p>Prednisolone and other corticosteroids are very important medicines because they can help suppress the immune system and reduce inflammation.</p>

      <h3>What is prednisolone used for?</h3>
      <p>Prednisolone is used to treat a wide range of health conditions including:</p>
      <ul>
        <li>allergies</li>
        <li>inflammatory diseases - for example affecting the eyes, bowels (ulcerative colitis and Crohn's disease), joints (arthritis) or lungs (asthma)</li>
        <li>some skin diseases (psoriasis and eczema)</li>
        <li>some infections</li>
        <li>certain types of cancer</li>
        <li>to prevent organ rejection after a transplant</li>
      </ul>

      <p>Prednisolone must be prescribed by a doctor. It's available as tablets, an oral solution and as eye and ear drops. It can also be given by injection but this is usually only done in hospital.</p>

      <p>It may be called by one of many brand names including Deltacortril, Deltastab, Dilacort and Pevanti.</p>

      <nav role="navigation" class="pagination">
        <div class="previous-page">
          <a href="/prednisolone/about">
            <span class="prefix">Previous page:</span>
            <span class="title">About</span>
          </a>
        </div>
      </nav>

    </div>
  </div>
</main>

{% endblock %}
