<section class="u-section-separator">
  <h2 id="cautions" class="content__h2">Cautions with other medicines</h2>
  <p>Some medicines and morphine interfere with each other and increase the chances of you having side effects.</p>
  <p>Tell your doctor if you are taking any medicines:</p>
  <ul>
    <li>to help you sleep</li>
    <li>for depression - some types cannot be taken with morphine</li>
    <li>for high blood pressure</li>
    <li>to help stop you feeling sick or vomiting</li>
    <li>to treat symptoms of an allergy</li>
  </ul>
  <h3>Mixing morphine with everyday painkillers</h3>
  <p>Some everyday painkillers that you can buy over-the-counter from pharmacies contain codeine, which is a similar medicine to morphine. Codeine-containing painkillers that you can buy from pharmacies include co-codamol, Nurofen Plus and Solpadeine.</p>
  <p>Do not take codeine-containing painkillers that you can buy alongside prescribed morphine (and prescribed codeine). You will be more likely to get side effects.</p>
  <p>It is fine to take paracetamol, ibuprofen or aspirin with morphine.</p>
  <h3>Mixing morphine with everyday medicines and herbal remedies</h3>
  <p>Complementary medicines and herbal teas are not tested in the same way as pharmacy and prescription medicines, and they are generally not tested for the effect they have on other medicines. It is not possible to say that they are safe to take with morphine.</p>
  <p><span class="c-callout__alert">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements.</span></p>
</section>
