<section class="u-section-separator">
  <h2 id="cautions" class="content__h2">Cautions with other medicines</h2>
  <p>Some medicines and morphine interfere with each other and increase the chances of you having side effects.</p>
  <p>Do not take morphine if you are taking or have taken a particular type of medicine for depression known as a mono amine oxidase inhibitor (MAOI) in the last 2 weeks. Examples include:</p>
  <ul>
    <li>phenelzine</li>
    <li>isocarboxazid</li>
    <li>moclobemide</li>
    <li>linezolid</li>
  </ul>
  <p>Tell your doctor if you are taking any medicines:</p>
  <ul>
    <li>to help you sleep</li>
    <li>for depression or other mental illness</li>
    <li>for high blood pressure</li>
    <li>to help stop you feeling sick or vomiting</li>
    <li>to treat symptoms of an allergy</li>
  </ul>
  <h3>Mixing morphine with other painkillers</h3>
  <p>Some everyday painkillers that you can buy contain codeine, which is a similar medicine to morphine. Examples of codeine-containing painkillers are co-codamol, Nurofen Plus and Solpadeine.</p>
  <p>Do not take codeine-containing painkillers with morphine because you are more likely to get side effects.</p>
  <p>It is fine to take paracetamol, ibuprofen or aspirin with morphine.</p>
  <h3>Mixing morphine with everyday medicines and herbal remedies</h3>
  <p>Complementary medicines and herbal teas are not tested in the same way as pharmacy and prescription medicines, and they are generally not tested for the effect they have on other medicines. It is not possible to say that they are safe to take them with morphine.</p>
  <p><span class="alertbanner">Tell your doctor or pharmacist if you’re taking any other medicines, including herbal remedies and supplements.</span></p>
</section>
