<section class="u-section-separator">
  <h2 id="common-questions" class="content__h2">Common questions</h2>
  <div class="concertinas">
    <div class="concertinas--bg">

      <details role="group">
        <summary role="button" aria-controls="questions-1" tabindex="0" aria-expanded="false">
          <h3>How does it work?</h3>
        </summary>
        <div id="questions-1" aria-hidden="true">
          <p>Morphine is from a group of medicines called opiates, or narcotics.</p>
          <p>It affects pain receptors in the central nervous system and the brain to block pain signals to the rest of the body. It also reduces the anxiety and stress caused by pain.</p>
          <p>When morphine blocks the pain receptors, there are other effects - for example slowed or shallow breathing. It also slows down digestion, which is why morphine can cause constipation.</p>
          <p>Morphine given by injection may also cause a chemical called histamine to be released into the blood, causing a skin reaction around the place the injection is given.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-2" tabindex="0" aria-expanded="false">
          <h3>How long will it take to work?</h3>
        </summary>
        <div id="questions-2" aria-hidden="true">
          <p>This depends on the type of morphine you are taking.</p>
          <p>A morphine injection into a vein gives the quickest pain relief. It works almost straight away.</p>
          <p>Fast-acting morphine taken by mouth works in 30 to 60 minutes but it wears off after a few hours. Slow-acting morphine taken by mouth can take a day or two to start working but the pain relief will last for longer.</p>
          <p>It’s difficult to say how long morphine suppositories take to work because it can be very different from one person to the next.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-3" tabindex="0" aria-expanded="false">
          <h3>Can I become addicted to morphine?</h3>
        </summary>
        <div id="questions-3" aria-hidden="true">
          <p>Yes, morphine is addictive. But in reality, if you’re taking it to relieve pain (rather than using it as a street drug) it’s very unlikely you will get addicted to it because you are not taking it to get a ‘high’.</p>
          <p>If you need to take morphine for a long time your body can become tolerant to it. That means that morphine may get less effective and you may need higher doses to control your pain.</p>
          <p>However, this isn’t usually a problem when you stop taking morphine, because withdrawal symptoms can be prevented by reducing treatment gradually.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-4" tabindex="0" aria-expanded="false">
          <h3>Will I get withdrawal symptoms?</h3>
        </summary>
        <div id="questions-4" aria-hidden="true">
          <p>Morphine can cause unpleasant withdrawal symptoms when you come off it suddenly such as: </p>
          <ul>
            <li>feeling agitated</li>
            <li>feeling anxious</li>
            <li>shaking</li>
            <li>sweating</li>
          </ul>
          <p>It's very important that you do not suddenly stop taking morphine.</p>
          <p>If you want to stop taking morphine, talk to your doctor first. You will normally start by reducing the dose gradually so you do not get unpleasant withdrawal effects.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-5" tabindex="0" aria-expanded="false">
          <h3>Will it make me so sleepy I can't function?</h3>
        </summary>
        <div id="questions-5" aria-hidden="true">
          <p>When you first take morphine, you will probably feel sleepy for a few days. But your body usually builds up a resistance to morphine’s sedating effects.</p>
          <p>Most people whose pain is well controlled on morphine are not bothered by unusual sleepiness. Some people, however, notice they are less alert and might choose to have less than perfect pain control as a tradeoff.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-6" tabindex="0" aria-expanded="false">
          <h3>Can children have morphine?</h3>
        </summary>
        <div id="questions-6" aria-hidden="true">
          <p>Morphine can be used safely in babies and children of all ages, although the dose is usually lower than for adults.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-7" tabindex="0" aria-expanded="false">
          <h3>Will it be affected by recreational drugs?</h3>
        </summary>
        <div id="questions-7" aria-hidden="true">
          <p>If you take recreational drugs, such as cannabis, cocaine and heroin, while you are taking morphine, you are more likely to get the serious side effects of morphine including breathing difficulties, heart problems, seizures and even going into a coma.</p>
          <p>Some recreational drugs, such as cannabis, will also increase morphine symptoms such as sleepiness and dizziness.</p>
          <p>Taking heroin while you are on prescribed morphine is especially dangerous. You are more likely to get all the side effects of morphine, including addiction.</p>
          <p><span class="c-banner__alert">Morphine has not been properly tested with recreational drugs. If you think you may take recreational drugs while you are on morphine, tell your doctor.</span></p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-8" tabindex="0" aria-expanded="false">
          <h3>Can I drink alcohol with it?</h3>
        </summary>
        <div id="questions-8" aria-hidden="true">
          <p>You can drink alcohol while taking morphine but it may make you feel more sleepy or increase the risk of serious side effects.</p>
          <p>It's best to stop drinking alcohol during the first few days of treatment until you see how the morphine affects you.</p>
          <p>If you notice that when you drink alcohol you feel sleepy, it may be best to stop drinking alcohol while you are taking morphine.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-9" tabindex="0" aria-expanded="false">
          <h3>Can I drive while on morphine?</h3>
        </summary>
        <div id="questions-9" aria-hidden="true">
          <p>Morphine can make you feel sleepy or dizzy or give you blurred or double vision. If this happens to you, do not drive or ride a bike until you feel better.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-10" tabindex="0" aria-expanded="false">
          <h3>Is morphine only used at the end of life?</h3>
        </summary>
        <div id="questions-10" aria-hidden="true">
          <p>It's a myth that morphine is only used at the end of a terminal illness. It's the amount of pain you have, not the stage of your illness, which decides whether you can benefit from morphine. You can live for a very long time on morphine.</p>
        </div>
      </details>

      <details role="group">
        <summary role="button" aria-controls="questions-11" tabindex="0" aria-expanded="false">
          <h3>Is morphine a 'controlled' medicine?</h3>
        </summary>
        <div id="questions-11" aria-hidden="true">
          <p>Morphine is a 'controlled' medicine. This means there are strict rules on how it's prescribed and dispensed to make sure it's not given to the wrong person or misused.</p>
          <p>When you collect morphine, your pharmacist will ask for proof of your identity, such as your passport or driving licence. You'll also be asked to sign the back of your prescription, to confirm that you've received it.</p>
          <p>If you're collecting morphine for someone else, you're legally required to show the pharmacist proof of your identity if asked. </p>
          <p>If you're prescribed morphine, it's particularly important that you:</p>
          <ul>
            <li>store it properly and safely at home</li>
            <li>keep it out of the sight and reach of children</li>
            <li>never give your medicine to anyone else</li>
          </ul>
          <p>Return any unused morphine to your pharmacist who will dispose of it.</p>
        </div>
      </details>

    </div>
  </div>
</section>
