<section class="u-section-separator">
  <h2 id="how-to-cope" class="content__h2">How to cope with side effects</h2>
  <h3>What to do about:</h3>
  <ul>
    <li><strong>constipation</strong> - try to eat more high-fibre foods such as fresh fruit and vegetables and cereals, and try to drink several glasses of water or other non-alcoholic liquid each day. If you can, it may also help to do some gentle exercise. Speak to your doctor about medicine to help prevent or treat constipation caused by morphine if your symptoms do not go away.</li>
    <li><strong>feeling sleepy, tired or dizzy</strong> – these side effects should wear off within a week or two as your body gets used to morphine. Talk to your doctor if they carry on for longer</li>
    <li><strong>feeling sick or vomiting</strong> - take morphine with or just after a meal or snack to ease feelings of sickness. This side effect should normally wear off after a few days. Talk to your doctor about taking anti-sickness medicine if it carries on for longer</li>
    <li><strong>dry mouth</strong> - try chewing sugar-free gum or sucking sugar-free sweets. Your doctor may also prescribe an artificial saliva substitute to keep your mouth moist. This comes as a spray, gel or lozenge.</li>
    <li><strong>breathing problems</strong> – speak to your doctor as starting with a lower dose and increasing it gradually can help prevent breathing problems</li>
  </ul>
  <p>Don’t take any other medicines to treat the side effects of morphine without speaking to your pharmacist or doctor.</p>
</section>
