<section class="u-section-separator">
  <h2 id="how-when" class="content__h2">How and when to take</h2>
  <p>It’s important to take morphine according to the instructions on the pharmacy label or as your doctor has asked you to.</p>
  <p>Take morphine with or just after a meal or snack so it is less likely to make you feel sick.</p>
  <h3>Different types of morphine</h3>
  <p>Morphine comes as:</p>
  <ul>
    <li>tablets</li>
    <li>capsules</li>
    <li>granules (that you dissolve in water to make a drink)</li>
    <li>a liquid that you swallow</li>
    <li>suppositories</li>
    <li>injection</li>
  </ul>
  <p>Morphine suppositories are useful if you can't swallow tablets or liquids.</p>
  <p>Morphine liquid, suppositories and injections and some morphine tablets and capsules are fast-acting. They are used for pain which is expected to last for a short time. Fast-acting morphine is often used when you start taking morphine to help find the right dose.</p>
  <p>Morphine granules and some morphine tablets and capsules are slow-release. This means the morphine is gradually released into your body over either 12 or 24 hours. This type of morphine takes longer to start working but lasts longer. It's used for long-term pain.</p>
  <p>Sometimes you may take both a fast-acting morphine and a slow-release morphine to manage long term pain and sudden flares of pain that break through the long-acting medicine.</p>
  <p>There is no such thing as a morphine skin patch. However, there are skin patches available for similar morphine-like painkillers such as fentanyl.</p>
  <h3>How often will I take it?</h3>
  <p>How often you take it depends on the type of morphine that you have been prescribed.</p>
  <p>You can choose to take your morphine at any time of day but try to take it at the same time every day and space your doses evenly. For example, if you take morphine twice a day and have your first dose at 8am, take your second dose at 8pm.</p>
  <ul>
    <li>fast-acting tablets and capsules - usually 4 to 6 times a day</li>
    <li>slow-release granules, tablets and capsules - usually once or twice a day</li>
    <li>liquid - usually 4 to 6 times a day</li>
    <li>suppositories - usually 4 to 6 times a day</li>
    <li>injections - usually 4 to 6 times a day (sometimes in a pump that you control yourself)</li>
  </ul>
  <p>It’s important to swallow slow-release morphine tablets and capsules whole with a drink of water. Don’t break, crush, chew or suck them or the slow-release system won’t work and the whole dose might get into your body in one go. This could cause a potentially fatal overdose.</p>
  <h3>Will my dose go up or down?</h3>
  <p>Usually, you start on a low dose of morphine and this is increased slowly until your pain is well controlled.</p>
  <p>Once your pain is under control, talk to your doctor about swapping to slow-release morphine as this may reduce the number of doses you have to take each day.</p>
  <p>When you stop taking morphine the dose will be reduced gradually, especially if you have been taking it for a long time.</p>
  <h3>What if I forget to take it?</h3>
  <p>This will vary depending on which type of morphine you are taking.</p>
  <p>If you forget to take a dose, check the information on the patient information leaflet inside the packaging or ask your pharmacist or doctor for advice on what to do.</p>
  <p>Never take two doses at the same time to make up for a forgotten one.</p>
  <p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways that are suitable for you and your medicines.</p>
  <h3>What if I take too much?</h3>
  <p>Taking too much morphine can be dangerous.</p>
  <p>If you have taken an overdose you may feel very sleepy, sick or dizzy. You may also find it difficult to breathe. In serious cases you can become unconscious and may need emergency treatment in hospital.</p>
  <p>The amount of morphine that can lead to an overdose varies between people.</p>
  <p><span class="c-banner__alert">If you take too much morphine by accident, call your doctor straight away.</span></p>
  <p>Take any remaining medicine and the box or leaflet inside it with you when you see the doctor.</p>
  <h3>Where to store morphine</h3>
  <p>If you're prescribed morphine, it's particularly important that you:</p>
  <ul>
    <li>store it properly and safely at home</li>
    <li>keep it out of the sight and reach of children</li>
    <li>never give your medicine to anyone else</li>
  </ul>
  <p>Return any unused morphine to your pharmacist who will dispose of it.</p>
</section>
