<section class="u-section-separator">
  <h2 class="hidden">Introduction</h2>
  <p>Morphine is a very strong painkiller. It's used to treat severe pain, for example after an operation or a serious injury, or pain from <a href="http://www.nhs.uk/conditions/Cancer/Pages/Introduction.aspx">cancer</a> or a <a href="http://www.nhs.uk/conditions/Heart-attack/Pages/Introduction.aspx">heart attack</a>.</p>
  <p>It's also used for other types of long-standing pain when weaker painkillers no longer work.</p>
  <p>Morphine is available only on prescription as tablets, capsules, granules that you dissolve in water, a liquid to swallow, suppositories (pellets inserted into the back passage) and as an injection. Morphine injections are usually only done in hospital.</p>
</section>
