<section class="u-section-separator">
  <h2 id="key-facts" class="content__h2">Key facts</h2>
  <ul>
    <li>Morphine works by blocking pain signals from travelling along the nerves to the brain.</li>
    <li>The most common side effects of morphine are constipation, feeling sick and sleepiness.</li>
    <li>It’s possible to become addicted to morphine, but this is rare if you’re taking it to relieve pain under medical supervision.</li>
    <li>Do not drink alcohol while taking morphine as this will make you more likely to get side effects like feeling sleepy.</li>
    <li>Morphine is also called by the brand names MST, Zomorph, Sevredol, Morphgesic, MXL or Oramorph.</li>
  </ul>
</section>
