<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>Morphine isn’t thought to be completely safe if you take it during pregnancy. In early pregnancy, it’s been linked to some problems for your unborn baby. If you take morphine through to the end of pregnancy there is a risk that your newborn baby may get withdrawal symptoms or be addicted to morphine.</p>
  <p>However, it’s important to treat pain in pregnancy. For some pregnant women with severe pain, morphine might be the best option. Your doctor is the best person to help you decide what is right for you and your baby.</p>
  <p>For more information about how morphine can affect you and your baby during pregnancy see the <a href="http://www.medicinesinpregnancy.org/Medicine--pregnancy/Morphine/">BUMPS leaflet</a>.</p>
  <h3>Morphine and breastfeeding</h3>
  <p>Small amounts of morphine pass into the breast milk but usually it is safe to continue breastfeeding while taking morphine. There's a risk that your baby may get some of the side effects of morphine such as breathing difficulties, limpness or difficulty walking. If that happens, see your doctor straight away.</p>
  <p><span class="alertbanner">It may be possible to keep taking morphine if you are pregnant or breastfeeding but for  safety, talk to your doctor about this first.</span></p>
</section>
