<section class="u-section-separator">
  <h2 id="pregnancy" class="content__h2">Pregnancy and breastfeeding</h2>
  <p>Morphine isn’t thought to be completely safe to take during pregnancy.</p>
  <p>In early pregnancy, it’s been linked to some problems for your unborn baby. If you take morphine at the end of pregnancy there is a risk that your newborn baby may get withdrawal symptoms or be born addicted to morphine.</p>
  <p>However, it’s important to treat pain in pregnancy. For some pregnant women with severe pain, morphine might be the best option. Your doctor is the best person to help you decide what is right for you and your baby.</p>
  <p>For more information about how morphine can affect you and your baby during pregnancy see the <a href="http://www.medicinesinpregnancy.org/Medicine--pregnancy/Morphine/">BUMPS leaflet</a>.</p>
  <h3>Morphine and breastfeeding</h3>
  <p>Morphine is not usually recommended for breastfeeding women. Small amounts of morphine pass into breast milk and cause breathing problems in the baby.</p>
  <p><span class="c-banner__alert">Talk to your doctor if you are pregnant or breastfeeding before taking morphine.</span></p>
</section>
