<section class="u-section-separator">
  <h2 id="side-effects" class="content__h2">Side effects</h2>
  <p>Like all medicines, morphine can cause side effects in some people, but many people have no side effects or only minor ones.</p>
  <p>The higher the dose of morphine the more chance that you will get side effects.</p>
  <h3>Common side effects</h3>
  <p>Common side effects happen in more than 1 in 100 people. They generally get better after you’ve been taking morphine for a few days. Tell your doctor if they bother you or don't go away. Common side effects include:</p>
  <ul>
    <li>constipation</li>
    <li>feeling and being sick</li>
    <li>dizziness and vertigo (a sensation of spinning)</li>
    <li>confusion</li>
    <li>feeling sleepy</li>
    <li>headache</li>
    <li>itchiness and rash</li>
  </ul>
  <h3>Serious side effects</h3>
  <p>Serious side effects are rare and happen in less than 1 in 10,000 people. Tell your doctor if you get:</p>
  <ul>
    <li>heart problems</li>
    <li>seizures</li>
    <li>breathing difficulty or short shallow breathing</li>
    <li>muscle stiffness</li>
    <li>low blood pressure which can make you feel dizzy, tired, and have low energy</li>
  </ul>
  <h4>Serious allergic reaction</h4>
  <p>The warning signs of a <a href="http://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">serious allergic reaction</a> are:</p>
  <ul>
    <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
    <li>wheezing</li>
    <li>tightness in the chest or throat</li>
    <li>having trouble breathing or talking</li>
    <li>swelling of the mouth, face, lips, tongue or throat</li>
  </ul>
  <p>Serious allergic reaction is a medical emergency. Contact a doctor straight away if you think you or someone else is having a serious allergic reaction.</p>
  <p><span class="c-callout__info">These are not all the side effects of morphine. For a full list see the leaflet inside your medicine packet.</span></p>
</section>
