<section class="u-section-separator">
  <h2 id="who-can-take" class="content__h2">Who can take morphine</h2>
  <p>Morphine can be taken by children and adults of all ages. However babies, young children and older people may be more likely to get side effects.</p>
  <p><strong>Morphine is not suitable for some people. Tell your doctor before starting the medicine if you have</strong>:</p>
  <ul>
    <li>breathing difficulties</li>
    <li>a lung problem</li>
    <li>an addiction to alcohol</li>
    <li>an illness which causes seizures</li>
    <li>a head injury</li>
    <li>low thyroid levels</li>
    <li>adrenal gland problems</li>
    <li>kidney or liver problems</li>
    <li>an enlarged prostate</li>
    <li>low blood pressure</li>
    <li>myasthenia gravis (a rare illness that causes muscle weakness)</li>
  </ul>
</section>
